@import "improver-mixins";

layout-footer {
  background-color: #E7F6FE;;
}

:host {
  background-color: $white;
}

.all-services-wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto 52px;
  display: flex;
  justify-content: flex-start;
  min-height: 300px;

  @include response-to(lg) {
    padding: 0 24px;
  }

  @include response(sm) {
    margin: 0 auto 48px;
  }

  @include response(xs) {
    padding: 0 20px;
    margin: 0 auto 48px;
  }

}

.no-results-message-block {
  margin-top: -20px;
  width: 100%;
  font-size: 22px;
  color: $grey-600;

  @include response-to(sm) {
    font-size: 18px;
  }
}

.all-services-header-content {
  background: #E7F6FD;
  height: 310px;
  width: 100%;
  justify-content: center;

  @include response-to(lg) {
    padding: 0 24px;
  }

  @include response(xs) {
    padding: 0 20px;
    height: 260px;
  }

  @include response(sm) {
    padding: 0 24px;
    height: 260px;
  }

  .all-services-header-search {
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    margin: 72px auto;

    @include response(xs, sm) {
      margin: 34px auto;
    }
  }
}

.title {
  font-family: Merriweather;
  font-size: 36px;
  font-weight: 700;
  color: $black-800;
  margin-bottom: 40px;

  @include response(xs, sm) {
    margin-bottom: 25px;
    font-size: 24px;
  }
}

.search-wrapper {
  width: 100%;
}

.search-content {
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 80px;
  width: 100%;
  max-width: 1000px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(38, 47, 86, 0.12);

  @include response(xs, sm) {
    flex-direction: column;
    justify-content: center;
    height: auto;
    box-shadow: none;
  }

  .services-filter {
    height: 100%;
    font-size: 24px;
    padding-left: 30px;
    width: 80%;
    max-width: 800px;
    border: none;
    border-radius: 20px 0 0 20px;

    &:active {
      border-color: $primary-600;
    }

    @include response(xs, sm) {
      font-size: 14px;
      height: 50px;
      width: 100%;
      border-radius: 12px;
      padding-left: 20px;
      box-shadow: 0 5px 15px rgba(38, 47, 86, 0.12);
    }

    @include response-from(md) {
      min-width: 600px;
    }

  }

  .search-button {
    max-width: 200px;
    width: 20%;
    height: 100%;
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: $blue-primary;
    color: $white;
    font-weight: bold;
    font-size: 24px;

    @include response(xs, sm) {
      margin-top: 20px;
      font-size: 18px;
      border-radius: 12px;
      max-width: 100%;
      width: 100%;
      height: 50px;
    }
  }
}

.all-services {
  padding-top: 70px;
  width: 100%;

  @include response-to(md) {
    width: 100%;
  }

  @include response(xs, sm) {
    padding-top: 40px;
  }

  .main-block {
    width: 100%;

    .all-services-card {
      justify-content: space-between;
      box-shadow: none;

      @include response(xs) {
        width: 100%;
      }

      .main-wrapper {
        column-count: 3;
        column-gap: 24px;

        @include response-to(md) {
          column-count: 2;
        }

        @include response-to(xs) {
          column-count: 1;
          text-align: center;
        }

        .trade-wrapper {
          margin-bottom: 24px;
          text-align: left;
          -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
          break-inside: avoid;

          .trade-icon {
            cursor: pointer;
            margin-bottom: 24px;
            width: 80px;
            height: 80px;
          }

          .trade-name {
            cursor: pointer;
            font-size: 24px;
            font-weight: 600;
            color: $dark;
            margin-bottom: 22px;

            @include response(xs, sm) {
              font-size: 16px;
            }
          }

          .service-type-wrapper {
            padding-bottom: 8px;
            cursor: pointer;

            &:hover {
              .service-type-name {
                color: $primary-600;
              }
            }
            .service-type-name {
              color: rgba(39, 49, 73, 0.8);
              font-size: 16px;
              text-align: left;

              @include response-to(xs) {
                border-left: none;
              }

              @include response(xs, sm) {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

