
<div class="all-services-header-content">
  <div class="all-services-header-search">
    <div class="title">All Services</div>
    <div class="search-wrapper">
      <div class="search-content">
        <input cv-input trim placeholder="Pipe, carpet, paint etc."
               class="services-filter"
               [(ngModel)]="model"
               (ngModelChange)="onFilter($event)">
        <button class="search-button" type="submit" (click)="onFilter(model)">Search</button>
      </div>
    </div>
    </div>
</div>

<div class="all-services-wrapper">
  <div class="all-services">

    <div class="no-results-message-block" *ngIf="searchResultMessageText != ''">{{searchResultMessageText}}</div>

    <div class="main-block">

      <div class="all-services-card card">

        <div class="main-wrapper">

          <ng-template ngFor [ngForOf]="filteredTrades" let-trade [ngForTrackBy]="trackByFn" let-i="index">

            <div class="trade-wrapper">

              <a [routerLink]="['/category', trade.id]">
                <img class="trade-icon" [src]="'assets/trades/icons/' + trade.name + '.svg'"
                     onerror="this.src='assets/trades/icons/default.svg';">
                <div class="trade-name">{{trade.name}}</div>
              </a>

              <ng-template ngFor [ngForOf]="trade.services" let-service [ngForTrackBy]="trackByFn">
                <div class="service-type-wrapper">
                  <div class="service-type-name"
                       (click)="projectActionService.openQuestionaryWithLastZipCode(service)">{{service.name}}</div>
                </div>
              </ng-template>
            </div>

          </ng-template>

        </div>

      </div>

    </div>

  </div>
</div>

<layout-footer></layout-footer>









