<div class="header">
  <h3>Request review</h3>
  <div class="close" (click)="close()">
    <cv-icon icon="imp-icon-cancel"></cv-icon>
  </div>
</div>
<div class="content" [cvSpinner]="processing" [cvSpinnerSize]="40" [cvSpinnerBackground]="true"
     cvSpinnerBackgroundColor="white">
  <form action="" #form="ngForm" (ngSubmit)="form.valid && submit()">

    <div *ngIf="reviewRequestOption && reviewRequestOption.available">
    <p>For fast ramp up, you can ask clients from previous projects to rate you on Home Improve.</p>
    <p>Send requests for review for up to {{reviewRequestOption.available}} clients. Each client will receive a separate mail.</p>

    <cv-input-field>
      <cv-field-label>Emails (comma-separated)</cv-field-label>
      <textarea maxlength="500"
                multipleEmailsValidator
                #emailsEl="ngModel"
                placeholder="client1@mail.com, client2@mail.com, client3@mail.com"
                required
                cv-input
                name="emails"
                cols="30"
                rows="2"
                [(ngModel)]="emails"
                [(cv_trim)]="emails"></textarea>
      <cv-field-hint>{{emailsEl.value ? emailsEl.value.length : 0}}/500</cv-field-hint>
      <cv-field-error *ngIf="emailsEl.dirty || emailsEl.touched || form.submitted">
        <span *ngIf="emailsEl.errors?.required">{{messages.errors.default.required}}</span>
        <span *ngIf="emailsEl.errors?.multipleEmails">Please enter a valid email</span>
        <span *ngIf="emailsEl.errors?.maxlength">{{messages.errors.default.maxlength}}</span>
      </cv-field-error>
    </cv-input-field>
    <cv-input-field >
      <cv-field-label>Subject</cv-field-label>
      <input minlength="10" maxlength="50" #subjectEl="ngModel" required cv-input type="text" name="subject" [(ngModel)]="subject" autocomplete="new-password">
      <cv-field-hint>{{subjectEl.value ? subjectEl.value.length : 0}}/50</cv-field-hint>
      <cv-field-error *ngIf="subjectEl.dirty || subjectEl.touched || form.submitted">
        <span *ngIf="subjectEl.errors?.required">{{messages.errors.default.required}}</span>
        <span *ngIf="subjectEl.errors?.minlength">Subject is too short</span>
        <span *ngIf="subjectEl.errors?.maxlength">{{messages.errors.default.maxlength}}</span>
      </cv-field-error>
    </cv-input-field>
    <cv-input-field >
      <cv-field-label>Message</cv-field-label>
      <textarea #messageEl="ngModel" minlength="10" maxlength="255" required cv-input name="message" id=""
                cols="30" rows="6" [(ngModel)]="message"></textarea>
      <cv-field-hint>{{messageEl.value ? messageEl.value.length : 0}}/255</cv-field-hint>
      <cv-field-error *ngIf="messageEl.dirty || messageEl.touched || form.submitted">
        <span *ngIf="messageEl.errors?.required">Please enter a message</span>
        <span *ngIf="messageEl.errors?.minlength">Please more details</span>
        <span *ngIf="messageEl.errors?.maxlength">{{messages.errors.default.maxlength}}</span>
      </cv-field-error>
    </cv-input-field>
    <div class="actions">
      <button cv-button-flat flatStyle="dark" (click)="close()" type="button">Cancel</button>
      <button cv-button type="submit">Send</button>
    </div>
    </div>

    <div *ngIf="reviewRequestOption && !reviewRequestOption.available">
      <p>You can ask clients for review when you complete the project. <br/>To request review on particular project please go to projects dashboard.</p>
    <div class="actions">
      <button cv-button-flat flatStyle="dark" (click)="close()" type="button">Ok</button>
      <button cv-button type="button" routerLink="/pro/dashboard" (click)="close()">Dashboard</button>
    </div>
    </div>

  </form>
</div>
