<div class="panel-header">
  <div class="panel-title">Invitations</div>
  <div class="table-header-buttons">
    <button pButton (click)="displayInviteDialog = true" icon="fa fa-plus" label="Invite" class="ui-button-success"
            *ngIf="securityService.hasRole(Role.ADMIN)"></button>
    <button pButton (click)="refresh()" icon="pi pi-refresh" label="&nbsp;&nbsp;Refresh"></button>
  </div>

</div>

<p-table #dt [value]="invitationsPage?.content"
             [tableStyle]="{'table-layout':'auto'}"
             sortMode="single"
             selectionMode="single"
             [lazy]="true"
             [loading]="fetching"
             sortField="created" [sortOrder]="1"
             [rows]="rowsPerPage[0]" [totalRecords]="invitationsPage.totalElements"
             [rowsPerPageOptions]="rowsPerPage"
             (onLazyLoad)="onLazyLoad($event)"
             [paginator]="true"
             (onContextMenuSelect)="selectInvitation($event)"
             [contextMenu]="securityService.getRole() == Role.ADMIN && cm"
             [filters]="filters"
             [responsive]="true">

  <!--Column selector-->
  <ng-template pTemplate="caption">
    <div style="text-align:left">
      <p-multiSelect [options]="columns" [(ngModel)]="selectedColumns" optionLabel="header"
                     selectedItemsLabel="{0} columns selected" [style]="{minWidth: '300px'}" defaultLabel="Select columns"
                     (onChange)="onColumnSelect($event)"></p-multiSelect>
    </div>
  </ng-template>

  <!--Header-->

  <ng-template pTemplate="header" let-columns>

    <!--Titles-->

    <tr>

      <ng-container *ngFor="let col of selectedColumns" [ngSwitch]="col.field">

        <th *ngSwitchDefault [pSortableColumn]="col.field" >
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>

      </ng-container>

    </tr>

    <tr>

      <th *ngFor="let col of selectedColumns" [ngSwitch]="col.field">

        <input *ngSwitchCase="'id'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'equals')" class="table-filter">
        <input *ngSwitchCase="'name'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'equals')" class="table-filter">
        <input *ngSwitchCase="'email'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'equals')" class="table-filter">
        <div *ngSwitchCase="'bonus'">
          ${{this.bonusFromTo[0]}} — ${{this.bonusFromTo[1]}}
          <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="bonusFromTo" [min]="bonusMinMax[0]"
                    [max]="bonusMinMax[1]" [step]="1" (onSlideEnd)="dt.filter(bonusFromTo, col.field, 'rangeMoney')" [range]="true"></p-slider>
        </div>

        <div *ngSwitchCase="'created'">
          <p-calendar
            [(ngModel)]="createdFilters"
            appendTo="body"
            selectionMode="range"
            [readonlyInput]="true"
            dateFormat="dd.mm.yy"
            (onSelect)="dt.filter(createdFilters, col.field, 'zonedDateTimeRange')"
            (onClearClick)="dt.filter(createdFilters, col.field, 'zonedDateTimeRange')"
            [showButtonBar]="true">
          </p-calendar>
        </div>

      </th>

    </tr>

  </ng-template>

  <!--Rows-->

  <ng-template pTemplate="body" let-row let-expanded="expanded" let-columns="columns">
    <tr [pContextMenuRow]="row">

      <td *ngFor="let col of selectedColumns" [ngSwitch]="col.field">

        <span *ngSwitchDefault>
          {{row[col.field]}}
        </span>

        <span *ngSwitchCase="'bonus'">
          {{row[col.field] / 100 | currency:'USD'}}
        </span>

        <span *ngSwitchCase="'created'">
          {{row[col.field] | date: 'MMM d, y, h:mm a'}}
        </span>

        <span *ngSwitchCase="'activated'">
          <i class="pi pi-check" *ngIf="row[col.field]"></i>
          <i class="pi pi-ban" *ngIf="!row[col.field]"></i>
        </span>

      </td>
    </tr>
  </ng-template>

</p-table>

<p-dialog header="Invite Contractor" [(visible)]="displayInviteDialog" showEffect="fade"
          [modal]="true" [contentStyle]="{'overflow':'visible'}" (onHide)="closeDialog(form)">
  <form #form="ngForm" (ngSubmit)="form.valid && postInvitation(form)" class="add-invitation-from">
    <div class="ui-grid ui-grid-responsive ui-fluid">

      <div class="ui-grid-row ui-grid-field">
        <div class="ui-grid-col-4"><label>Emails of Contractor</label></div>
        <div class="ui-grid-col-8">
          <div class="ui-inputgroup">
            <p-chips name="email" #email="ngModel" [(ngModel)]="invitation.emails"
                     [allowDuplicate]="false" [addOnTab] = true [addOnBlur]="true"
                     inputStyleClass="email-chips-input" (onAdd)="onInvitationEmailAdd($event)"></p-chips>
          </div>
        </div>
      </div>

      <div class="ui-grid-row ui-grid-field">
        <div class="ui-grid-col-4"></div>
        <div class="ui-grid-col-8">
          <div class="input-hint">
            Type Pro's email and push <b>Enter</b> or <b>Tab</b> to add it
          </div>
        </div>
      </div>

      <div class="ui-grid-row ui-grid-field">
        <div class="ui-grid-col-4"><label for="bonus">Initial bonus</label></div>
        <div class="ui-grid-col-8">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">$</span>
            <input pInputText type="number" id="bonus" name="bonus" #bonus="ngModel" [(ngModel)]="invitation.bonus"
                   maxlength="3" pKeyFilter="pnum" [min]="bonusMinMax[0] / 100" [max]="bonusMinMax[1] / 100" required/>
            <span class="ui-inputgroup-addon">.00</span>
          </div>
        </div>
      </div>

      <div class="ui-grid-row ui-grid-field">
        <div class="ui-grid-col-4"></div>
        <div class="ui-grid-col-8">
          <div class="ui-message ui-messages-error ui-corner-all"
               *ngIf="(bonus.dirty || bonus.touched || form.submitted) && !bonus.valid && bonus.errors">
            <span *ngIf="bonus.errors?.required">Required</span>
            <span *ngIf="bonus.errors?.min || bonus.errors?.max">{{bonusMinMax[0] / 100}} - {{bonusMinMax[1] / 100}}</span>
          </div>
        </div>
      </div>

      <div class="ui-grid-row ui-grid-field">
        <div class="ui-grid-col-4"><label>Description</label></div>
        <div class="ui-grid-col-8">
          <div class="ui-inputgroup">
          <textarea id="description"
                    type="text"
                    placeholder="Description"
                    [(ngModel)]="invitation.description"
                    pInputTextarea
                    name="description"
                    #description="ngModel"
                    maxlength="500"
                    rows="4">
          </textarea>
          </div>
        </div>
      </div>


    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="submit" pButton icon="pi pi-check" label="Submit"
                class="ui-button-success" [disabled]="processing"></button>
      </div>
    </p-footer>

  </form>
</p-dialog>

<p-contextMenu #cm [model]="contextMenuItems" [hidden]="contextMenuItems.length <= 0 || (contextMenuItems | where: ['visible', true]).length <= 0"></p-contextMenu>
