@import "../../../../../improver-mixins.scss";
@import "../../account.component.scss";

.account-top-line {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 72px;
}

.account-nav-title {
  font-size: 24px;
  font-weight: 600;
  color: $black-primary;
}

.trades-and-services-card {
  padding: 24px;
  color: #616161;
  font-size: 14px;

  .card-content {
  }

  .buttons-block {
    display: flex;
    flex-direction: row;
    margin-top: 20px;

    .save-button {
      margin-left: auto;
    }
  }

}

.card {
  border-radius: 2px;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 24px;

  @include response-to(xs) {
    padding: 8px;
  }
}

.content-wrapper {
  @include response-to(sm) {
    width: 100%;
  }
}
