<div class="container">
  <div class="row">

    <div class="col-md-3 sm-none xs-none">
      <div class="account-top-line"></div>
      <account-nav></account-nav>
    </div>

    <div class="col-md-9 col-sm-12">

      <div class="account-top-line">
        <div class="account-nav-title">Provided Services</div>
      </div>

      <div [cvSpinner]="!tradesAndServiceTypes" [cvSpinnerSize]="24">
        <div class="trades-and-services-card card">

          <div class="card-content">

            <services-selector *ngIf="tradesAndServiceTypes" [initialData]="tradesAndServiceTypes"
                               (onUpdate)="onTradesAndServicesChange($event)"
                               (onInitialized)="selectorInitialized = true">
            </services-selector>


          </div>

          <div class="buttons-block" *ngIf="tradesAndServiceTypes && selectorInitialized">
            <!--<button cv-button-flat flatStyle="dark" >CANCEL</button>-->
            <button class="save-button" cv-button (click)="updateCompanyTradesAndServiceTypes()">SAVE</button>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>

<layout-footer></layout-footer>
