<div class="hiw-wizard-wrapper">
  <div class="container">
    <div class="hiw-wizard-title">How it works</div>
    <div class="hiw-wizard-subtitle">Four easy steps to get your job done</div>

    <div class="hiw-wizard-content">

      <div class="wizard-step">
        <div class="wizard-step-content">
          <div class="wizard-step-header">
            <div class="wizard-step-image-block step-1">
              <span>1</span>
            </div>
            <div class="wizard-step-title">Tell us what you need</div>
          </div>
          <div class="wizard-step-text-block">
            <div class="wizard-step-text">First, answer a few quick questions about what type of pro you’re looking
              for
            </div>
          </div>
        </div>
      </div>

      <div class="wizard-step">
        <div class="wizard-step-content">
          <div class="wizard-step-header">
            <div class="wizard-step-image-block step-2">
              <span>2</span>
            </div>
            <div class="wizard-step-title">Review free quotes</div>
          </div>
          <div class="wizard-step-text-block">
            <div class="wizard-step-text">Within hours, you’ll receive up to five custom quotes based on your specific
              needs
            </div>
          </div>
        </div>
        <div class="wizard-step-border-bottom"></div>
        <div class="wizard-step-border-bottom-fill"></div>
      </div>

      <div class="wizard-step">
        <div class="wizard-step-content">
          <div class="wizard-step-header">
            <div class="wizard-step-image-block step-3">
              <span>3</span>
            </div>
            <div class="wizard-step-title">Hire the right Pro</div>
          </div>
          <div class="wizard-step-text-block">
            <div class="wizard-step-text">Compare quotes, profiles and reviews, then hire the pro that's right for you
            </div>
          </div>
        </div>
        <div class="wizard-step-border-bottom"></div>
        <div class="wizard-step-border-bottom-fill"></div>
      </div>

      <div class="wizard-step">
        <div class="wizard-step-content">
          <div class="wizard-step-header">
            <div class="wizard-step-image-block step-4">
              <span>4</span>
            </div>
            <div class="wizard-step-title">Enjoy done work</div>
          </div>
          <div class="wizard-step-text-block">
            <div class="wizard-step-text">Enjoy the results and leave a review. See you with your next project</div>
          </div>
        </div>
        <div class="wizard-step-border-bottom"></div>
        <div class="wizard-step-border-bottom-fill"></div>
      </div>
    </div>
  </div>
</div>

