<div class="hiw-wizard-wrapper">
  <div class="container">
    <div class="hiw-wizard-title">Four Simple Steps</div>
    <div class="hiw-wizard-subtitle">With Home Improve you’ll be on your way to finding the right home services pro in no time</div>

    <div class="hiw-wizard-content">

      <div class="wizard-step">
        <div class="wizard-step-content">
          <div class="wizard-step-header">
            <div class="wizard-step-image-block step-1">
              <span>1</span>
            </div>
            <div class="wizard-step-title">Describe your project</div>
          </div>
          <div class="wizard-step-text-block">
            <div class="wizard-step-text">Answer a few quick questions about the home renovation job you have in mind.</div>
          </div>
        </div>
      </div>

      <div class="wizard-step">
        <div class="wizard-step-content">
          <div class="wizard-step-header">
            <div class="wizard-step-image-block step-2">
              <span>2</span>
            </div>
            <div class="wizard-step-title">Review your free quotes</div>
          </div>
          <div class="wizard-step-text-block">
            <div class="wizard-step-text">Within a few hours of your submission, you’ll receive up to five personalized quotes to look over.</div>
          </div>
        </div>
        <div class="wizard-step-border-bottom"></div>
        <div class="wizard-step-border-bottom-fill"></div>
      </div>

      <div class="wizard-step">
        <div class="wizard-step-content">
          <div class="wizard-step-header">
            <div class="wizard-step-image-block step-3">
              <span>3</span>
            </div>
            <div class="wizard-step-title">Hire the right expert</div>
          </div>
          <div class="wizard-step-text-block">
            <div class="wizard-step-text">Select the best Home Improve Pro for your project based on cost, reviews, and business profiles</div>
          </div>
        </div>
        <div class="wizard-step-border-bottom"></div>
        <div class="wizard-step-border-bottom-fill"></div>
      </div>

      <div class="wizard-step">
        <div class="wizard-step-content">
          <div class="wizard-step-header">
            <div class="wizard-step-image-block step-4">
              <span>4</span>
            </div>
            <div class="wizard-step-title">Enjoy the job done!</div>
          </div>
          <div class="wizard-step-text-block">
            <div class="wizard-step-text">Take a deep breath and enjoy your newly renovated home!</div>
          </div>
        </div>
        <div class="wizard-step-border-bottom"></div>
        <div class="wizard-step-border-bottom-fill"></div>
      </div>
    </div>
  </div>
</div>

