:host {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.content {
  margin-left: 70px;
  padding-left: 20px;
  padding-top: 15px;
  padding-right: 20px;
  transition: margin-left .2s ease;
  &.-opened {
    margin-left: 250px;
  }
}
.scroll-holder {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 49px;
  height: calc(100% - 50px);
}

