$white:           #ffffff;
$black-100:       #fafafa;
$black-150:       #f5f5f5;
$black-200:       #eeeeee;
$black-250:       #e8e8e8;
$black-300:       #d8d8d8;
$black-400:       #bdbdbd;
$black-450:       #bbbbbb;
$black-500:       #9e9e9e;
$black-600:       #626262;
$black-secondary: #757575;
$label:           #959595;
$placeholder:     #d3d2d3;
$black-primary:   #212121;
$black:           #000000;

//Green theme
//$primary-dark:    #67984D;
//$primary:         #81A96A;
//$primary-light:   #9BBB89;
//$primary-soft:    #B9CEAB;

//Blue theme light
//$primary-dark:    #009EDE;
//$primary:         #14ABE3;
//$primary-medium:  #14ABE3;
//$primary-soft:    #66BCEA;
//$primary-light:   #9BCFF0;

$primary-600:   #009EDE;
$primary-500:   #14ABE3;
$primary-400:   #66BCEA;
$primary-300:   #9BCFF0;
$primary-200:   #CBE5F7;
$primary-100:   #E1F1FC;

//project statuses
$red:             #f83144;
$red-500:         #c44957;
$red-400:         #d27374;
$red-300:         #DF9B98;
$green:           #00b43c;
$link:            #3366bb;
$link-dark:       #274fad;

// secondary colors
$green-600:    #0c9b25;
$green-500:    #1eb237;
$green-450:    #81A96A;
$green-400:    #9bbb89;
$green-300:    #b9ceab;
$green-200:    #abceb0;
$green-100:    #f4f8f1;

$primary-rating:    #ff8b04;
$secondary-rating:  #ffa94d;
