$white:          #ffffff;
$grey-50:        #fbfbfb;
$grey-100:       #fafafa;
$grey-150:       #f5f5f5;
$grey-200:       #eeeeee;
$grey-250:       #e8e8e8;
$grey-300:       #d8d8d8;
$grey-400:       #bdbdbd;
$grey-450:       #bbbbbb;
$grey-500:       #9e9e9e;
$grey-600:       #757575;
$grey-700:       #626262;

$black-800:      #212121;
$black-900:      #191919;
$black:          #000000;

$label:          #959595;
$placeholder:    #bdbdbd;

$primary-600:   #009EDE;
$primary-500:   #14ABE3;
$primary-400:   #66BCEA;
$primary-300:   #9BCFF0;
$primary-200:   #CBE5F7;
$primary-100:   #E1F1FC;

//project statuses
$red:             #f83144;
$red-500:         #c44957;
$red-400:         #d27374;
$red-300:         #DF9B98;
$green:           #00b43c;
$link:            #3366bb;
$link-dark:       #274fad;

// secondary colors
$green-600:    #0c9b25;
$green-500:    #1eb237;
$green-450:    #81A96A;
$green-400:    #9bbb89;
$green-300:    #b9ceab;
$green-200:    #abceb0;
$green-100:    #f4f8f1;

$primary-rating:    #ff8b04;
$secondary-rating:  #ffa94d;

// new design
$dark:           #273149;
// logo colors
$dark-primary:   #2B4F6E;
$red-primary:    #F17776;
$blue-primary:   #3EB7F4;
$green-primary:  #14B8B8;
