<div class="header-background">
  <h1>Terms of use</h1>
</div>

<div class="container-wide">
  <p>
    Welcome to <a href="https://www.homeimprove.com" target="_blank">homeimprove.com</a> website, including any of our
    affiliates’ websites (referred to as the “Website”). If you
    continue to browse and use the Website you are agreeing to comply with and be bound by the following terms and
    conditions of use (“Terms”), which together with our privacy policy govern the relationship between HOME IMPROVE LLC
    and any of its affiliates (“HOME IMPROVE”, “we” or “us”) and you in relation to the Website.
  </p>
  <p>
    <i class="imp-icon-bookmark-empty"></i> This Website contains material which is owned by or licensed to HOME IMPROVE
    This material includes, but is not
    limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance
    with the
    copyright notice, which forms part of these terms and conditions.
  </p>
  <p>
    <i class="imp-icon-bookmark-empty"></i> The Website offers various services which may include the Customer’s
    Cabinet; Professional’s Cabinet; Cost Guide;
    Find Professionals and other sections and information (referred to as the “Services”).
  </p>
  <p>
    <i class="imp-icon-bookmark-empty"></i> We may modify these Terms at any time by posting a revised version on our
    Website. Any changes to the Terms will
    be
    effective immediately upon posting. Please review the Terms each time you use log on to the Website or use the
    Services as your continued use of the Services after such changes will constitute acceptance of, and agreement to,
    such changes. You waive any right you may have to receive specific notice of such changes.
  </p>
  <p>
    <i class="imp-icon-bookmark-empty"></i> You affirm that you are at least 18 years of age or the age of majority in
    your jurisdiction, whichever is
    greater, and are fully able and competent to enter into, and comply with, these Terms. If you are accessing and
    using the
    Services on behalf of a company or other legal entity or third party, you represent that you have the authority to
    bind that entity to these Terms. In that situation, "you" and "your" will refer to both you and that entity.
  </p>
  <p>
    <i class="imp-icon-bookmark-empty"></i> You must not use this Website in any way that causes, or may cause, damage
    to the Website or impairment of the
    availability or accessibility of the Website; or in any way which is unlawful, illegal, fraudulent or harmful, or
    in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.
  </p>
  <p>
    <i class="imp-icon-bookmark-empty"></i> You must not use this Website to copy, store, host, transmit, send, use,
    publish or distribute any material which
    consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger or other malicious
    computer software.
  </p>
  <p>
    <i class="imp-icon-bookmark-empty"></i> You must not conduct any systematic or automated data collection
    activities (including without limitation
    scraping, data mining, data extraction and data harvesting) on or in relation to the Website without HOME IMPROVE’s
    express
    written consent.
  </p>
  <p>
    <i class="imp-icon-bookmark-empty"></i> You must not use this Website to transmit or send unsolicited commercial
    communications.
  </p>
  <p>
    <i class="imp-icon-bookmark-empty"></i> You must not use this Website for any purposes related to marketing
    without HOME IMPROVE’s express written consent.
  </p>
  <p>
    <i class="imp-icon-bookmark-empty"></i> From time to time the Website may also include links to other websites.
    These links are provided for your
    convenience to provide further information. They do not signify that HOME IMPROVE endorses the website(s). HOME
    IMPROVE has
    no responsibility for the content of the linked website(s).
  </p>
  <p>
    <i class="imp-icon-bookmark-empty"></i> You may not, except with HOME IMPROVE’s express written permission,
    distribute
    or commercially exploit the content. Nor
    may you transmit it or store it in any other website or other form of electronic retrieval system.
  </p>
  <p>
    <i class="imp-icon-bookmark-empty"></i> Our Privacy Policy, which describes how we collect and use information
    from our users, is available
    at <a href="/privacy-policy" target="_blank">privacy</a>, as well as through the link titled "Privacy" on our
    homepage.
  </p>
  <p>
    <i class="imp-icon-bookmark-empty"></i> Access to certain areas of this Website is restricted. HOME IMPROVE reserves
    the right to restrict access to certain
    areas or sections of the Website, or the entire Website in its sole discretion.
  </p>
  <p>
    <i class="imp-icon-bookmark-empty"></i> If HOME IMPROVE provides you with a user ID and password to enable you to
    access restricted areas of this website or
    other content or services, you must ensure that the user ID and password are kept confidential.
  </p>
  <p>
    <i class="imp-icon-bookmark-empty"></i> HOME IMPROVE may disable your user ID and password in HOME IMPROVE’s sole
    discretion
    without notice or explanation.
  </p>
  <p>
    <i class="imp-icon-bookmark-empty"></i> The Website is provided “as is” without any representations or warranties,
    express or implied. HOME IMPROVE makes no
    representations or warranties in relation to the Website or the information and materials provided on this
    Website.
  </p>
  <p>
    Without prejudice to the generality of the foregoing paragraph, HOME IMPROVE does not warrant that:<br>
    <i class="imp-icon-dot-circled"></i> the Website will be constantly available, or available at all; or<br>
    <i class="imp-icon-dot-circled"></i> the information on the Website is complete, true, accurate or non-misleading.
  </p>
  <p>
    Nothing on this website constitutes, or is meant to constitute, advice of any kind. If you require advice in
    relation to any legal, financial or medical, technical, etc. matter you should consult an appropriate
    professional.
  </p>
  <h3> Agreement to Use:</h3>
  <h4>
    The use of the Website and the Services is subject to the following terms of use:
  </h4>
  <p>
    1) You acknowledge and agree that any content you post or provide, including without limitation, reviews,
    material,
    text, images, audio material, video material and audio-visual material, account information, comments and the like
    (referred to as “Content”), may be viewed by the general public and will not be treated as private, proprietary or
    confidential. Your Content must not be illegal or unlawful, must not infringe any third party's legal rights, and
    must not be capable of giving rise to legal action whether against you or HOME IMPROVE or a third party (in each
    case
    under any applicable law).
  </p>
  <p>
    2) You agree that the contact information (such as your name, email address, phone number, address and the like)
    that
    you provide to HOME IMPROVE when you create your profile and request a Professional from <a
    href="https://www.homeimprove.com" target="_blank">homeimprove.com</a> will be saved in
    our database automatically upon you clicking the “submit” button.
  </p>
  <p>
    3) You must not submit any Content to the Website that is or has ever been the subject of any threatened or actual
    legal proceedings or other similar complaint.
  </p>
  <p>
    4) HOME IMPROVE reserves the right to edit or remove any material submitted to this website, or stored on HOME
    IMPROVE’s
    servers,
    or hosted or published upon this website.
  </p>
  <p>
    5) Notwithstanding HOME IMPROVE’s rights under these terms and conditions in relation to user content, HOME IMPROVE
    does not
    undertake to monitor the submission of such content to, or the publication of such content on, the Website.
  </p>
  <p>
    6) You authorize HOME IMPROVE and its licensees and agents, without compensation to you or others, to copy, adapt,
    create
    derivative works of, reproduce, incorporate, distribute, publicly display or otherwise use or exploit such Content
    throughout the world in any format or media (whether now known or hereafter created) for the duration of any
    copyright or other rights in such Content, and such permission shall be perpetual and may not be revoked for any
    reason. Further, to the extent permitted under applicable law, you waive and release and covenant not to assert
    any moral rights that you may have in any Content posted or provided by you.
  </p>
  <p>
    7) Customers, professionals and other third parties using the Services (“Users”) will be asked to set up an
    account
    in the relevant section of the Website and disclose certain information about the user and the service
    requirements
    for professionals being sought through the Website. Accordingly, such users agree to provide us with accurate,
    truthful, complete and up to date information and to keep it updated, complete and correct at all times.
  </p>
  <p>
    8) User hereby grants to HOME IMPROVE a perpetual, non-exclusive, royalty-free, transferable, assignable,
    sub-licensable,
    worldwide license to use, store, display, reproduce, modify, create derivative works, perform, distribute, print,
    publish, disseminate and place advertising near and adjacent to User’s Content in any format or media (regardless
    of when created) on the Website and any of its applications in any manner that we deem appropriate or necessary,
    including, if submitted, your name, voice and likeness throughout the world, and such permission shall be
    perpetual and cannot be revoked for any reason.
  </p>
  <p>
    9) By posting or providing any Content to our website, User hereby represents and warrants to HOME IMPROVE that such
    User
    owns or has all necessary rights to use the Content, and grants to HOME IMPROVE the rights granted below. The
    forgoing
    representation includes, but is not limited to a representation and warranty that User owns or has the necessary
    rights (including any necessary releases) to grant all rights granted below in relation to any persons, places or
    intellectual property pictured in any photographic Content that User provides. In addition, if User posts or
    otherwise provides any Content that is protected by copyright, User hereby represents that User has obtained any
    necessary permissions or releases from the applicable copyright owner.
  </p>
  <p>
    10) HOME IMPROVE reserves the right, but not the obligation, to edit or abridge, or to refuse to post, or to remove
    any
    Content that you or any other users post on the Website and/or any applications owned or operated by HOME IMPROVE if
    HOME IMPROVE determines (in its sole discretion) that such content contains or features any of the following: (i)
    Offensive, harmful and/or abusive language, including without limitation: expletives, profanities, obscenities,
    harassment, vulgarities, sexually explicit language and hate speech (e.g., racist/discriminatory speech.); (ii)
    References to illegal activity; (iii) Language that violates the standards of good taste or the standards of this
    website; (iv) Statements that are or appear to be false; (v) Comments that disparage HOME IMPROVE.
  </p>
  <p>
    11) Users should only post reviews of professionals that have actually provided services to such User. Reviews
    shall
    be truthful, accurate and shall not contain any information which User cannot verify. HOME IMPROVE reserves the
    right
    to
    take down, modify, edit and/or respond to any review or Content in its sole discretion.
  </p>
  <p>
    12) Professionals and services providers (“Professionals”) using the Services to solicit and obtain customers
    shall
    provide complete, truthful and accurate information about their backgrounds, licensing and credentials (if
    relevant), experience and other such information. Professionals shall endeavor to provide diligent and
    conscientious and professional service to Users. Professionals using the Professional’s Cabinet shall monitor
    his/her/its
    account on the Website and shall be responsive and courteous to actual and potential customers and other third
    parties
    seeking to have a business relationship with such professionals.
  </p>
  <p>
    13) Although we take certain steps to examine the credentials of the Professionals and other third parties listed
    on
    the Website or whom you may book using our Services and/or exchange information, we make no guarantees, warranties
    or
    representations regarding the information exchanged or presented or the skills or undertakings of such
    Professional and third parties or the quality of the job or project. HOME IMPROVE does not endorse or recommend the
    services of any
    particular Professional or third party. It is entirely up to you to evaluate the Professional and his/her/its
    credentials, licenses, qualifications and information provided by such professional. We do not guarantee or
    warrant any Professional's performance for a project or the outcome or quality of the services performed. The
    Professionals
    are not employees or agents of HOME IMPROVE, nor is HOME IMPROVE an agent of the Professionals.
  </p>

  <h3>Additional Terms and Conditions:</h3>
  <h4>
    If you are a Professional, you agree to be bound by and adhere to the following additional terms and conditions
    which are fully incorporated into these Terms:
  </h4>
  <p>1) You agree that will only solicit, accept and conduct the work if you are qualified and have the requisite
    skill
    and experience that is necessary and customary in accordance with industry standards to perform the work. You will
    perform the work competently, and will diligence and care as necessary by customary industry and professional
    standards. If a license is necessary in order for you to perform this work, you shall ensure that you possess such
    license and remain in good standing at all times with all necessary governmental authorities.
  </p>
  <p>
    2) You should ensure that the information that you provide to HOME IMPROVE is updated and accurate. You shall notify
    HOME IMPROVE immediately if you receive any notice of a complaint or any adverse action being taken against you with
    respect to your work and/or your licensing credentials.
  </p>
  <p>
    3) You shall provide a link on your own website that allows your users to review your projects and endorsements on
    <a href="https://www.homeimprove.com" target="_blank">homeimprove.com</a>. You agree that <a
    href="https://www.homeimprove.com" target="_blank">homeimprove.com</a> may contact any past or current customer
    regarding your work and project
    if
    such customer’s email address and other contact information is provided.
  </p>
  <p>
    4) You agree that HOME IMPROVE may access and monitor your account with <a href="https://www.homeimprove.com"
                                                                               target="_blank">homeimprove.com</a> for
    quality control and other
    purposes, including your communications with customers/users and other third parties for various reasonable
    purposes.
  </p>
  <p>
    5) You agree to treat any information that you receive from HOME IMPROVE that is confidential and/or proprietary in
    nature with confidence and not use or disclose such information other than as necessary to perform your
    obligations
    contemplated hereby. This information may include, but is not limited to, HOME IMPROVE’s fees, marketing plans and
    strategies, financial results, product information, technology, trade secrets and other information that is not
    generally known to the public.
  </p>
  <p>
    6) You agree and acknowledge that no agency, partnership, joint venture or employee-employer relationship with
    HOME IMPROVE is intended or created by these Terms or any relationship between us, that you have no power or
    authority
    to
    make any commitments on behalf of HOME IMPROVE, and that HOME IMPROVE has no power or authority to make any
    commitments on
    your behalf.
  </p>
  <p>
    7) You will be solely responsible for the supervision, direction and control, compensation, benefits and
    withholdings of all of your personnel, agents and any other third parties who perform services on your behalf.
  </p>

  <h3>Limitations of liability</h3>
  <p>
    HOME IMPROVE WILL NOT BE LIABLE TO USER (WHETHER UNDER THE LAW OF CONTACT, THE LAW OF TORTS OR OTHERWISE) IN
    RELATION
    TO
    THE CONTENTS OF, OR USE OF, OR OTHERWISE IN CONNECTION WITH, THIS WEBSITE:
  </p>
  <p>
    <i class="imp-icon-dot-circled"></i> FOR ANY INDIRECT, SPECIAL OR CONSEQUENTIAL LOSS; OR<br>
    <i class="imp-icon-dot-circled"></i> FOR ANY BUSINESS LOSSES, LOSS OF REVENUE, INCOME, PROFITS OR ANTICIPATED
    SAVINGS, LOSS OF CONTRACTS OR BUSINESS
    RELATIONSHIPS, LOSS OF REPUTATION OR GOODWILL, OR LOSS OR CORRUPTION OF INFORMATION OR DATA.
  </p>
  <p>
    THESE LIMITATIONS OF LIABILITY APPLY EVEN IF HOME IMPROVE HAS BEEN EXPRESSLY ADVISED OF THE POTENTIAL LOSS.
  </p>
  <p>
    By using the Website, you agree that the exclusions and limitations of liability set out in this website
    disclaimer
    are reasonable.
    If you do not think they are reasonable, you must not use this Website.
  </p>
  <p>
    This website and its content is copyright of HOME IMPROVE - © HOME IMPROVE 2019. All rights reserved.
  </p>
</div>

<pro-banner></pro-banner>
<layout-footer></layout-footer>
