@import "../../../improver-mixins";

:host {
  position: fixed;
  right: 12px;
  top: 72px;
  bottom: 12px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include response-to(sm) {
    top: initial;
  }

}


.info {
  span {
    &:last-child {
      margin-top: 12px;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}
