<div class="panel-header">
  <h1>Questionaries</h1>
  <div class="table-header-buttons">
    <button type="button" pButton icon="fa fa-plus" label="Add" class="ui-button-success" routerLink="add" *ngIf="securityService.hasRole(Role.ADMIN)"></button>
    <button type="button" pButton icon="pi pi-fw pi-refresh" label="&nbsp;&nbsp;Refresh" (click)="refresh()"></button>
  </div>
</div>

<p-table #dt
         [tableStyle]="{'table-layout':'auto'}"
         [value]="questionaries.content"
         [lazy]="true"
         [loading]="processing"
         (onLazyLoad)="onLazyLoad($event)"
         sortField="id"
         [sortOrder]="1"
         selectionMode="single"
         [responsive]="true" [contextMenu]="cm" [paginator]="true"
         [rows]="rowsPerPage[0]" [totalRecords]="questionaries.totalElements" [rowsPerPageOptions]="rowsPerPage"
         [(contextMenuSelection)]="selectedQuestionary">

  <!--Header-->

  <ng-template pTemplate="header" let-columns>

    <!--Titles-->

    <tr>

      <ng-container *ngFor="let col of selectedColumns" [ngSwitch]="col.field">

        <th *ngSwitchDefault [pSortableColumn]="col.field" >
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>

        <th *ngSwitchCase="'serviceType'" pSortableColumn="serviceType.name">
          {{col.header}}
          <p-sortIcon field="serviceType.name"></p-sortIcon>
        </th>

        <th *ngSwitchCase="'description'">
          {{col.header}}
        </th>

      </ng-container>

    </tr>

    <!--Filters-->

    <tr>

      <th *ngFor="let col of selectedColumns" [ngSwitch]="col.field">

        <input *ngSwitchCase="'id'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'equals')" class="table-filter">
        <input *ngSwitchCase="'name'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'equals')" class="table-filter">

      </th>

    </tr>

  </ng-template>

  <!--Rows-->

  <ng-template pTemplate="body" let-row let-expanded="expanded" let-columns="columns">
    <tr [pContextMenuRow]="row">

      <td *ngFor="let col of selectedColumns" [ngSwitch]="col.field">

        <span *ngSwitchDefault>
          {{row[col.field]}}
        </span>

        <span *ngSwitchCase="'serviceTypes'">
            <span *ngFor="let serviceType of row[col.field]">
              {{serviceType.name}}
            </span>
        </span>

      </td>
    </tr>
  </ng-template>

</p-table>
<p-contextMenu #cm [model]="contextMenuItems"></p-contextMenu>
