<div class="cv-password-hint" [@openHints]="animationState" (click)="animationState='inactive'">

    <div class="error-wrapper" *ngIf="alwaysVisible || inputHasFocus || checkedInputRef.ngControl.dirty || checkedInputRef.ngControl.touched || isFormSubmitted">

        <span class="error-title">
            Password must:
        </span>

        <div class="error-message" [ngClass]="{'success-message': minLength}">
            <mat-icon >fiber_manual_record</mat-icon>
            <span>
                {{messages.errors.password.minlength}}
            </span>
        </div>

        <div *ngIf="isComplexPassword" class="error-message" [ngClass]="{'success-message': specialChar}">
            <mat-icon>fiber_manual_record</mat-icon>
            <span>
            {{messages.errors.password.specialCharacter}}
            </span>
        </div>

        <div class="error-message" [ngClass]="{'success-message': number}">
            <mat-icon>fiber_manual_record</mat-icon>
            <span>
            {{messages.errors.password.number}}
            </span>
        </div>

        <div class="error-message" [ngClass]="{'success-message': letter && lowercase && uppercase}">
            <mat-icon>fiber_manual_record</mat-icon>
            <span>
            {{messages.errors.password.letterCase}}
            </span>
        </div>

    </div>
</div>
