:host {
  z-index: 9999999999;
  position: fixed;
  top: 0;
  right: 0;
  padding: 16px 16px 0 16px ;
  background-clip: content-box;
  max-width: 400px;
  width: 100%;
}

.pop-up-message-container-wrapper {

}
