@import "improver-mixins.scss";

:host {
  width: 430px;
  &.-glue {
    .notifications-popup {
      left: -332px;
      top: 25px;
      right: inherit;
    }
  }
}

.backdrop {
  position: fixed;
  background: transparent;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 111;

  @include response-to(sm) {
    top: 60px;
  }
}

.notifications-popup {
  position: absolute;
  left: -100px;
  top: 30px;
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 412px;
  height: auto;
  z-index: 9999;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.23);
  opacity: 0;
  border-radius: 8px;

  @include response-to(sm) {
    border-radius: 0 0 0 8px;

    ::ng-deep perfect-scrollbar{
      .ps {
        border-radius: 0 0 0 8px!important;
      }
    }
  }

  @include response(xs) {
    width: 320px;
  }

  &.mobile {
    left: initial !important;
    top: $header-height !important;
    right: 0px !important;
  }

  &.tablet {
    left: -240px;
    top: 25px;
    right: inherit;
  }

  &.large {
    left: -240px;
    top: 25px;
    right: inherit;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .popup-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 16px 16px 12px;

    .title {
      display: flex;
      align-items: baseline;
      font-size: 20px;
      color: $black-800;
      .counter {
        margin-left: 8px;
        font-size: 14px;
        background-color: $primary-500;
        color: white;
        padding: 2px 6px;
        border-radius: 50%;
        line-height: 120%;
      }
    }

    .mark-read {
      border: none;
      padding: 0px;
      color: $primary-500;
      background-color: transparent;
    }

  }

  .popup-body {
    perfect-scrollbar {
      max-height: 412px;
    }

    .no-notifications {
      padding: 8px 16px;
      font-size: 14px;
      border-top: solid 1px $grey-200;
      color: $grey-400;
    }

    .item {
      font-size: 12px;
      padding: 8px;
      border-top: 1px solid $grey-200;
      background-color: transparent;
      display: flex;
      border-left: 4px solid transparent;

      .logo-wrapper {
        display: flex;
        justify-content: center;
        margin-right: 8px;
        height: 50px;
        width: 50px;
        min-width: 50px;
        div {
          height: 50px;
          width: 50px;
          background-size: cover;
          background-position: center;
          border-radius: 50%;
          &.icon-present {
            height: 36px;
            width: 36px;
            margin-top: 8px;
          }
        }
      }

      &:last-child {
        border-bottom: 1px solid $grey-200;
      }

      &.new {
        //background-color: rgba($primary-100, 0.4);
        border-left: 4px solid $green-500;
        background-color: $green-100;
      }

      .top-line {
        color: $black-800;
        margin-bottom: 8px;
      }

      .bottom-line {
        color: $grey-500;
      }

    }

  }

  .popup-footer {
    //padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    a {
      width: 100%;
    }

  }

}



