<div class="category-services-header-content">
    <div class="category-services-header-search">
        <div class="left-header">
            <div class="header-title-content" *ngIf="trade">
                <img class="trade-icon" [src]="'assets/trades/icons/' + trade.name + '.svg'"
                     onerror="this.src='assets/trades/icons/default.svg';">
                <div class="header-title-text">
                    <div class="title">{{trade.name}}</div>
                    <div class="sub-title">Simply check/uncheck services you provide specify exactly what job you
                        do/don’t do so you always receive work you interested in.
                    </div>
                </div>
            </div>
            <div class="search-wrapper">
                <div class="search-content">
                    <input cv-input trim placeholder="Pipe, carpet, paint etc." class="services-filter"
                           [(ngModel)]="model"
                           (ngModelChange)="onFilter($event)">
                    <button class="search-button" type="submit" (click)="onFilter(model)">Search</button>
                </div>
            </div>
        </div>

        <div class="right-header" *ngIf="trade.imageUrls && trade.imageUrls.length > 0 && (mediaQuery.lg || mediaQuery.xlg)">
            <div class="swiper-container pagination-bulet">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let image of trade.imageUrls">
                        <div class="image"
                             [ngStyle]="image && image != '' && {'background-image':'url(' + image + ')'} || {'background-image':'url(https://via.placeholder.com/2000x1000)'}"></div>
                    </div>
                </div>

                <!-- Pagination -->
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </div>
</div>

<div class="category-services-wrapper">
    <div class="category-services">

        <div class="no-results-message-block" *ngIf="searchResultMessageText != ''">{{searchResultMessageText}}</div>

        <div class="main-block">
            <div class="category-services-card card" *ngIf="trade">
                <div class="main-wrapper">
                    <div class="trade-wrapper">
                        <ng-template ngFor [ngForOf]="filteredServices" let-service [ngForTrackBy]="trackByFn">
                            <div class="service-type-wrapper">
                                <div class="service-type-name"
                                     (click)="projectActionService.openQuestionaryWithLastZipCode(service)">{{service.name}}</div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<layout-footer></layout-footer>









