@import "../../../../improver-mixins.scss";

.category-services-wrapper {
  width: 1020px;
  max-width: 100%;
  margin: 0px auto 0;
  padding: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include response-to(sm) {
    max-width: 100%;
  }

  @include response-to(xs) {
    padding: 0px;
  }

  .trade-header {
    display: flex;
    margin-bottom: 36px;

    .trade-icon {
      //width: 60px;
      height: 60px;
    }

    .title {
      text-align: left;
      font-size: 24px;
      font-weight: 700;
      color: $black-primary;
    }

    .description {
      margin-left: 16px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      .trade-name {
        font-size: 18px;
        font-weight: 600;
        color: $black-primary;
        margin-bottom: 6px;
      }

      .hint {
        color: $black-secondary;
      }

    }

  }

}

.category-services {
  padding-top: 24px;
  width: 100%;

  .main-block {
    width: auto;
    max-width: 996px;


    .category-services-card {
      padding: 24px;
      //text-align: center;

      .services-filter {
        height: 59px;
        font-size: 16px;
        margin-bottom: 36px;
        width: 600px;
        //border-color: $orange-primary;
        border-width: 2px;

        &:active {
          border-color: $primary-600;
        }

      }

      .main-wrapper {

        .trade-wrapper {
          margin-bottom: 24px;
          text-align: left;
          -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
          break-inside: avoid;

          column-count: 3;
          column-gap: 24px;


          @include response-to(sm) {
            column-count: 2;
          }

          @include response-to(xs) {
            column-count: 1;
            text-align: center;
          }



          @include response-to(xs) {
            text-align: center;
          }



          .service-type-wrapper {
            padding-bottom: 8px;
            cursor: pointer;
            &:hover {
              .service-type-name {
                color: $primary-600;
              }
            }
            .service-type-name {
              //margin-bottom: 4px;
              color: $black-secondary;
              font-size: 14px;
              text-align: left;
              @include response-to(xs) {
                border-left: none;
                text-align: center;
              }

            }
          }
        }

      }

    }

  }



}

.card {
  margin-bottom: 24px;
}

