@import "improver-mixins.scss";

.dialog-content-wrapper {

}

.dialog-content-wrapper {

  @include response-to(sm) {
    width: 100%;
  }


  .dialog-content-container {
    @include response-to(sm) {
      width: 100%;
    }
  }

  .header {

    .header-content {
      padding: 16px 48px 16px 24px;
      background-color: $grey-100;
      font-size: 20px;
      font-weight: 600;
      text-align: left;
      color: $grey-600;
    }

  }

  .content {
    margin: 0 24px 24px;

    @include response-to(sm) {
      margin: 0 12px 24px;
    }

    .add-money-form {
      display: flex;
      flex-direction: column;
      padding-top: 24px;

      cv-input-field  {
        input {
          padding: 11px 30px 11px 30px
        }
        cv-icon {
          width: 32px;
          font-size: 14px;
          line-height: 16px;
          color: #212121;
        }
      }

      .hint {
        position: relative;
        padding: 11px 16px;
        background-color: $grey-150;
        font-size: 14px;
        line-height: 1.43;
        color: #8c8c8c;
        border-radius: 8px;

        &.input-hint {
          margin-top: 16px;
        }

      }

      .balance-block {
        border: solid 1px $grey-200;
        border-radius: 8px;

        @include response-to(xs) {
          margin-bottom: 16px;
        }

        &:last-child {
          border-bottom: solid 1px transparent;
        }

        .block {
          font-size: 14px;
          padding: 24px;
          border-bottom: solid 1px $grey-200;

          .group {
            .label {
              color: #757575;
            }
            .value {
              color: $black-800;

              .card-wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                .card-image {
                  width: 27px;
                  height: 19px;
                  margin-right: 16px;
                  background-position: center center;
                  background-size: contain;
                  background-repeat: no-repeat;
                }
                .card-line-title {
                  font-size: 16px;
                  color: rgba(117, 117, 117, 0.87);
                }
              }

            }
          }

        }

      }

      .buttons-wrapper {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
      }

    }

  }

}

::ng-deep .mat-dialog-container {
  padding: 0px;
}

.close-modal {
  position: relative;
  right: 32px;
  top: 32px;
}

.stripe-badge-block {
  color: $grey-500;
  margin-top: 16px;
  display: flex;
  flex-direction: row;

  mat-icon {
    color: $grey-500;
    font-size: 46px;
    width: 46px;
    height: 46px;
  }

  .text-wrapper {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;

    .text {
      font-size: 14px;
      color: $grey-600;
    }

  }

  .stripe-budge {
    display: flex;
  }

}
