@import "../../account.component.scss";
@import "improver-mixins";

.account-nav-title {
  font-size: 24px;
  font-weight: 600;
  color: $black-800;
}

.card {
  background-color: $white;
  border-radius: 10px;
  padding: 24px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 24px;

  @include response-to(xs) {
    padding: 8px;
    margin-bottom: 12px;
  }

  h3 {
    font-size: 20px;
    text-align: left;
    font-weight: 500;
    padding: 0;
    color: $black-800;
    margin-top: 0px;
    margin-bottom: 18px;
    @include response-to(xs) {
      margin: 8px 8px 16px 8px;
    }
  }
}

.avatar-content {

  @include response-to(sm) {
    margin-bottom: 12px;
  }
}

.account-wrapper {
  min-height: 80px;
}

.personal-info-card {
  .avatar-wrapper {
    width: 90px;
    height: 90px;
    border-radius: 100px;
    background-color: $white;
    box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.24);
    position: relative;

    @include response-to(xs) {
      margin-bottom: 18px;
    }

    .avatar {
      width: 80px;
      height: 80px;
      border-radius: 100px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .actions {
      position: absolute;
      top: 8px;
      right: -6px;
      bottom: 8px;
      display: flex;
      flex-direction: column;
      .icon {
        cursor: pointer;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.-delete {
          background-color: $red;
        }
        &.-edit {
          margin-top: auto;
          background-color: $primary-500;
        }
        .mat-icon {
          color: $white;
          font-size: 16px;
        }
      }
    }
  }

  .save-personal-info {
    float: right;
  }

  .personal-info-form-content {

    @include response-to(xs) {
      margin-top: 0px;
    }

    ::ng-deep .-medium {

      @include response-to(sm) {
        padding: 5px 8px !important;
      }
    }

    ::ng-deep .row > div[class^='col-'] {
      margin-bottom: 24px;
      @include response-to(xs) {
        margin-bottom: 18px;
      }
    }

    .edit-buttons {
      display: block;

      button.cv-button {
        margin-left: -12px;
        width: 60px;

        @include response-from(sm) {
          margin-right: 24px;
        }

      }

    }

  }

  .email-edit-button {
    color: #aaaaaa;
    cursor: pointer;
    font-size: 18px;
  }

  .personal-info-form-submit-button {

  }

}

.input-label {
  width: 100%;
  margin-bottom: 6px;
  font-size: 12px;
  color: $grey-600;
}

.spacer {
  flex-grow: 1;
}

.action {
  display: flex;
  .delete-account {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 24px;
    color: $grey-500;
    transition: color .3s ease;
    cursor: pointer;
    &:hover {
      color: $black-800;
    }
    @include response-to(xs) {
      margin-top: 12px;
    }
  }
}

.social-connection {
  .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:last-child) {
      padding-bottom: 16px;
      margin-bottom: 16px;
      position: relative;
      &:after {
        content: '';
        display: block;
        height: 1px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $grey-300;
        margin-left: -24px;
        margin-right: -24px;
      }
    }
    &:first-of-type {
      cv-icon {
        background-color: #3b5998;
      }
      span {
        color: #3b5998;
      }
    }
    span {
      max-width: 100px;
      width: 100%;
      display: inline-block;
      font-size: 15px;
    }
    cv-icon {
      color: #ec3c1e;
    }
  }
  .meta {
    display: flex;
    align-items: center;
    @include response(xs) {
      margin-bottom: 8px;
    }
    cv-icon {
      display: flex;
      width: 38px;
      height: 38px;
      border-radius: 10px;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      color: #fff;
      background-color: #ec3c1e;
      margin-right: 8px;
      flex: none;
    }
    span {
      color: #ec3c1e;
      font-weight: 700;
    }
  }
  p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: $grey-600;
    @include response(xs) {
      display: none;
    }
  }
}

.password-hints-wrapper {
  min-height: 168px;
  background-color: $grey-100;
  padding: 16px;

  ::ng-deep .error-message {
    padding-bottom: 8px;
  }
}

.password-hints-wrapper {
  ::ng-deep .error-wrapper {
    padding-top: 0 !important;
  }
}

.editable-group {
  width: 100%;
  display: flex;
  flex-direction: column;

  .row-group {
    display: flex;
    flex-direction: row;
  }

  input {
    border-radius: 8px 0 0 8px;

    &::placeholder {
      color: $grey-500 !important;
    }
  }

  button {
    border-radius:  0 8px 8px 0;
    height: max-content;

    ::ng-deep .cv-spinner-holder {
      background-color: $blue-primary!important;
      border-radius: 0 8px 8px 0;

      .cv-spinner {
        border-color: $white;
      }
    }

    @include response-to(sm){
      font-size: 16px;
      padding: 5px 8px;
    }
  }
}

.group-wrapper {
  width: 100%;
  margin-bottom: 24px;
}
