<div class="account-page-wrapper" fxLayout="column">
  <div class="account-page-container" fxLayout="column">

    <div class="account-page">

      <div class="account-page-content">

        <div fxLayout="column" fxLayout.gt-sm="row">

          <div fxFlex="30" class="account-menu" fxShow.gt-sm="true" fxLayout="column">
            <account-nav></account-nav>
          </div>

          <div fxFlex="" class="account-settings-block" fxFlexOffset="24px">

            <div class="account-nav-wrapper">

              TODO

            </div>

          </div>

        </div>

      </div>

    </div>
  </div>
</div>









