@import "improver-mixins";

.dialog-content-wrapper {
  height: max-content;
  position: relative;
  min-height: 300px;

  .header {

    .header-content {
      padding: 16px 48px 16px 24px;
      background-color: $grey-100;
      font-size: 20px;
      font-weight: 600;
      text-align: left;
      color: $grey-600;
    }

  }

  .content {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.92);
    padding: 24px;

    @include response-to(sm) {
      padding: 20px;
    }
  }
}

.spinner-wrapper {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.group-wrapper {
  margin-bottom: 24px;
}

.buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.close-modal {
  position: relative;
  right: 32px;
  top: 32px;
}

.company-location-form {

  .-bottom-space {
    @include response(xs){
      margin-bottom: 24px;
    }
  }
}
