<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let banner of banners">
      <div class="image" [ngStyle]="banner.image && banner.image != '' && {'background-image':'url(' + banner.image + ')'} || {'background-image':'url(https://via.placeholder.com/2000x1000)'}">
        <div class="banner-content">
          <div class="info-block">
            <div class="title">{{banner.title}}</div>
            <div class="description">{{banner.description}}</div>
          </div>
          <div class="button-wrapper">
            <button>Find out more</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="controls noselect">
    <div class="previous" (click)="swiper.slidePrev()">
      <img src="assets/icons/round_arrow_left.svg" alt="Arrow left">
    </div>
    <div class="next" (click)="swiper.slideNext()">
      <img src="assets/icons/round_arrow_right.svg" alt="Arrow right">
    </div>
  </div>
</div>

<!-- Pagination -->
<div class="swiper-pagination" ></div>

