<div class="labels">
  <div class="label">{{leadsReport?.current.month}}</div>
  <div class="label">Pay & go</div>
</div>
<div class="money-spent-count" *ngIf="leadsReport">
  <span>{{leadsReport.current.payAndGoSpend/100 | currency:'USD':'symbol': '1.0-0'}}</span>
  <div class="deals">{{leadsReport.current.payAndGoDeals}}
    <ng-container [ngPlural]="leadsReport.current.payAndGoSpend">
      <ng-template ngPluralCase="=0">leads</ng-template>
      <ng-template ngPluralCase="=1">lead</ng-template>
      <ng-template ngPluralCase="few">leads</ng-template>
      <ng-template ngPluralCase="other">leads</ng-template>
    </ng-container>
  </div>
</div>
