:host {
  width: 70px;
  display: block;
  position: fixed;
  left: 0;
  top: 49px;
  bottom: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  transition: width .2s ease;
  z-index: 1;
  background-color: #33454d;
  color: #fff;

  admin-info::ng-deep {
    .admin-info {
      padding: 24px 0;
      justify-content: center;

      .logo {
        width: 45px;
        height: 45px;
      }

      .info {
        display: none;
        justify-content: inherit;
      }
    }
  }

  .go-to-site {
    position: absolute;
    bottom: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    left: 0;
    right: 0;
    height: 50px;
    background: #367700;
    cursor: pointer;

    span {
      display: none;
    }
  }

  &.-opened {
    width: 250px;

    admin-info::ng-deep {
      .admin-info {
        padding: 24px;
        justify-content: inherit;

        .logo {
          width: 49px;
          height: 49px;

        }

        .info {
          display: flex;
          justify-content: center;
        }
      }
    }

    .go-to-site {
      position: absolute;
      bottom: 0;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      left: 0;
      right: 0;
      height: 50px;
      background: #367700;
      cursor: pointer;

      span {
        display: inline-block;
      }

      i {
        font-size: 18px;
        margin-right: 10px;
      }
    }
  }
}
