@import "../../../improver-mixins.scss";

:host {
  height: 100%;
  display: flex;
  overflow: hidden;
}
h1 {
  font-size: 100px;
  margin-top: 0;
  @include response(sm, md) {
    font-size: 60px;
  }
  @include response(xs) {
    font-size: 40px;
  }
}

.container {
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  text-align: center;
  h1 {
    font-weight: 600;
    letter-spacing: 2.7px;
    font-size: 68px;
    color: #fff;
    line-height: 0.9;
    margin: 0;
  }
  p {
    color: #fff;
    margin: 0;
    font-size: 14px;
    margin-bottom: 20px;
    letter-spacing: 2.2px;
  }
}

button {
  &::ng-deep {
    background-color: transparent;
    border-color: white;
    color: white;
  }
  &:hover, &:focus, &:active {
    border-color: white;
    color: white;
  }
}

.bg {
  position: relative;
  width: 370px;
  transform: rotate(31deg);
  left: 45px;
}

.sketch {
  position: relative;
  height: 148px;
  top: 15px;
  left: -95px;
  transform: rotate(6deg);
  background-color: $red-300;
  &:before {
    content: '';
    display: block;
    height: 100%;
    width: 87px;
    position: absolute;
    left: -33px;
    top: 10px;
    background-image: url('/assets/img/404-img-1.png');
    background-repeat: no-repeat;
    transform: rotate(-36deg);
    background-size: contain;
  }

  &:after {
  content: '';
    display: block;
    height: 100%;
    width: 80px;
    position: absolute;
    right: -50px;
    top: 8px;
    background-image: url('/assets/img/404-img-2.png');
    background-repeat: no-repeat;
    transform: rotate(-34deg);
    background-size: contain;
  }
}

.sketch-stick {
  position: relative;
  height: 148px;
  background-color: $red-300;
  &:before {
    content: '';
    display: block;
    height: 100%;
    width: 80px;
    position: absolute;
    left: -37px;
    top: 1px;
    background-image: url('/assets/img/404-img-3.png');
    background-repeat: no-repeat;
    transform: rotate(-30deg);
    background-size: contain;
  }
  &:after {
    content: '';
    display: block;
    height: 221px;
    width: 276px;
    position: absolute;
    right: -231px;
    top: -55px;
    background-image: url('/assets/img/404-img-4.png');
    background-repeat: no-repeat;
    transform: rotate(-31deg);
  }
}

button {
  position: relative;
  z-index: 22;
}
