<div class="container">
  <div class="row">
    <div class="col-md-3 sm-none xs-none">
      <div class="account-top-line"></div>
      <account-nav></account-nav>
    </div>

    <div class="col-md-9 col-sm-12 account-content-wrapper">

      <div class="account-nav-wrapper">

        <div class="account-top-line">
          <div class="account-nav-title">Messaging Settings</div>
        </div>
        <div [cvSpinner]="!notificationSettings" [cvSpinnerSize]="24">
          <div class="notification-settings-card card" *ngIf="notificationSettings">

            <div class="account-title-wrapper">
              <div class="account-title">Notification Settings</div>
              <div class="account-subtitle">Choose the notifications you want to receive from Home Improve:</div>
            </div>

            <div class="notification-methods-wrapper" fxLayout="column" fxLayoutAlign="start end">

              <div class="notification-settings-form-content">

                  <div class="notifications-row title-row">
                    <div class="title-block">
                    </div>
                    <div class="values">
                      <div class="email-value">
                        Email
                      </div>
                      <div class="sms-value">
                        SMS
                      </div>
                    </div>
                  </div>

                  <div class="notifications-row">
                    <div class="title-block">
                      <div class="label">New subscription leads</div>
                      <div class="hint">Notifications about receiving of new lead by subscription</div>
                    </div>
                    <div class="values">
                      <div class="email-value">
                        <cv-checkbox name="email" [(ngModel)]="notificationSettings.receiveNewSubscriptionLeadsEmail"
                                     disabled>
                        </cv-checkbox>
                      </div>
                      <div class="sms-value">
                        <cv-checkbox name="sms" [(ngModel)]="notificationSettings.receiveNewSubscriptionLeadsSms">
                        </cv-checkbox>
                      </div>
                    </div>
                  </div>

                  <!--                  TODO: Uncomment after implementation on backend-->
                  <!--                  <div class="notifications-row">-->
                  <!--                    <div class="title-block">-->
                  <!--                      <div class="label">New leads</div>-->
                  <!--                      <div class="hint">Notifications of new leads available in your area</div>-->
                  <!--                    </div>-->
                  <!--                    <div class="values">-->
                  <!--                      <div class="email-value">-->
                  <!--                        <cv-checkbox name="email" [(ngModel)]="notificationSettings.receiveNewLeadsEmail">-->
                  <!--                        </cv-checkbox>-->
                  <!--                      </div>-->
                  <!--                      <div class="sms-value">-->
                  <!--                        <cv-checkbox name="sms" [(ngModel)]="notificationSettings.receiveNewLeadsSms">-->
                  <!--                        </cv-checkbox>-->
                  <!--                      </div>-->
                  <!--                    </div>-->
                  <!--                  </div>-->

                  <div class="notifications-row">
                    <div class="title-block">
                      <div class="label">New messages</div>
                      <div class="hint">Notifications about new chat messages from Customers</div>
                    </div>
                    <div class="values">
                      <div class="email-value">
                        <cv-checkbox name="email" [(ngModel)]="notificationSettings.receiveMessagesEmail">
                        </cv-checkbox>
                      </div>
                      <div class="sms-value">
                      </div>
                    </div>
                  </div>

                  <div class="notifications-row">
                    <div class="title-block">
                      <div class="label">Suggestions & tips</div>
                      <div class="hint">Personalized tips and suggestion</div>
                    </div>
                    <div class="values">
                      <div class="email-value">
                        <cv-checkbox name="email" [(ngModel)]="notificationSettings.receiveSuggestionsEmail">
                        </cv-checkbox>
                      </div>
                      <div class="sms-value">
                      </div>
                    </div>
                  </div>

            </div>

              <button cv-button type="button"
                      class="notification-settings-submit-button"
                      (click)="updateNotificationSettings()" [loading]="settingsUpdating">
                Save
              </button>

          </div>
        </div>
      </div>

      <quick-reply></quick-reply>

      </div>
    </div>
  </div>
</div>

<layout-footer></layout-footer>
