@import "improver-mixins.scss";

:host {
  background-color: white;

  @include response-to(sm) {
    padding: 0px 24px;
  }

  @include response-to(xs) {
    padding: 0px 0px 0px 20px;
  }

}

.swiper-container {
  position: relative;
  height: 100%;
  max-width: $content-grid-max-width;
  border-radius: 16px;

  @include response-to(xs) {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }

  @include response-from(md) {
    width: calc(100% - 48px);
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: white;

    .image {
      height: 360px;
      width: 100%;
      background-size: cover;

      .banner-content {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.6) 34.9%, rgba(255, 255, 255, 0) 51.56%);
        padding: 70px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include response-to(sm) {
          padding: 38px 30px;
          background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.6) 50.52%, rgba(255, 255, 255, 0) 100%);
        }

        .info-block {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          .title {
            font-family: Merriweather;
            font-weight: bold;
            font-size: 36px;
            line-height: 140%;
            color: $dark;
            margin-bottom: 24px;

            @include response-to(sm) {
              font-size: 22px;
            }

          }

          .description {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 140%;
            color: $dark;
            opacity: 0.8;
            max-width: 430px;
            text-align: left;

            @include response-to(sm) {
              font-size: 14px;
            }
          }

        }

        .button-wrapper {
          display: flex;
          button {
            background: $dark-primary;
            border-radius: 8px;
            font-weight: 600;
            font-size: 18px;
            color: white;
            border-style: none;
            padding: 14px 20px;

            @include response-to(sm) {
              width: 100%;
            }

          }
        }

      }
    }

  }

  .controls {
    z-index: 100;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    flex-direction: row;

    @include response-to(xs) {
      display: none;
    }

    .previous {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: grey;
      margin-right: 10px;
    }

    .next {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid white;
      color: white;
    }

  }

  ::ng-deep .swiper-pagination-bullet-active {
    background: $blue-primary;
  }

}

