<div class="customer-banner-wrapper">

  <div class="customer-banner-container">

    <div class="customer-banner-content">

      <div class="main-header">Reasons To Choose Home Improve To Get Your House Work Done</div>
      <div class="secondary-header">The Home Improve Guarantee gives you peace of mind for all of your home improvement projects</div>

      <div class="buttons-block">
        <div class="learn-more-button" (click)="scrollService.scrollToElementByTag('hiw-wizard');">
          Learn More
        </div>
        <div class="buttons-separator">
          or
        </div>
        <a class="connect-with-us-button" routerLink="/ticket">
          CONNECT WITH US
        </a>
      </div>

    </div>

  </div>

</div>

