<div class="container">
  <div class="row">

    <div class="col-md-3 sm-none xs-none md-padding">
      <div class="account-top-line"></div>
      <account-nav></account-nav>
    </div>

    <div class="col-md-9 col-sm-12 account-content-wrapper">
      <div class="account-top-line">
        <div class="account-nav-title">User Account</div>
      </div>
      <div [cvSpinner]="!account" [cvSpinnerSize]="24" class="account-wrapper">
        <ng-container *ngIf="account">
          <div class="personal-info-card card">
            <h3>User information</h3>
            <div class="row">

              <div class="avatar-content col-md-3 col-sm-3 col-xs-12">
                <div class="avatar-wrapper" fxLayout="row" fxLayoutAlign="center center">
                  <div class="avatar" *ngIf="securityService.isAuthenticated() && !securityService.hasRole(Role.CONTRACTOR)"
                       [ngStyle]="account.iconUrl && account.iconUrl != '' && {'background-image':'url(' + account.iconUrl + ')'} || {'background-image':'url(/assets/img/customer_avatar.svg)'}">
                  </div>

                  <div class="avatar" *ngIf="securityService.isAuthenticated() && securityService.hasRole(Role.CONTRACTOR)"
                       [style.background-image]="companyInfoService.makeTrustedImageURL(companyIconUrl) || 'url(/assets/img/pro_avatar.svg)'">
                  </div>

                  <div class="actions">
                    <div class="icon -delete" title="Delete icon" *ngIf="account.iconUrl && !securityService.hasRole(Role.CONTRACTOR)"
                         (click)="deleteAccountImage()">
                      <mat-icon class="delete">delete</mat-icon>
                    </div>
                    <div class="icon -edit" title="Edit icon" (click)="openDialogPhoto()">
                      <mat-icon class="edit">edit</mat-icon>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-9 col-sm-9 col-xs-12">

                <form class="personal-info-form"
                      name="personal-info-form"
                      #personalInfoForm="ngForm"
                      (ngSubmit)="personalInfoForm.valid && updateUserInfo(personalInfoForm)"
                      novalidate>

                  <div class="personal-info-form-content">
                    <div class="row">
                      <div class="col-xs-12">
                          <div class="input-label">Email</div>
                        <cv-input-field>
                          <cv-editable-input #email="ngModel"
                                             name="email"
                                             [(ngModel)]="newEmail"
                                             [emailUniqueValidator]="currentEmail"
                                             required
                                             trim
                                             pattern="{{constants.patterns.email}}"
                                             (onSave)="changeEmailConfirm($event)">
                            <input cv-input type="text" inputmode="email" placeholder="Email">
                          </cv-editable-input>
                          <cv-field-error *ngIf="email.dirty || email.touched || personalInfoForm.submitted">
                            <span *ngIf="email.errors?.required">
                            {{messages.errors.email.required}}
                            </span>
                                  <span *ngIf="email.errors?.pattern">
                            {{messages.errors.email.pattern}}
                            </span>
                                  <span *ngIf="email.errors?.emailUnique">
                            {{messages.errors.email.emailUnique}}
                            </span>
                          </cv-field-error>
                        </cv-input-field>
                      </div>
                    </div>

                    <div class="editable-group">

                        <div class="input-label">Password</div>

                        <div class="row-group">
                            <div class="group-wrapper">
                                <cv-input-field>
                                    <input cv-input type="password" placeholder="Change password" value="**********" disabled>
                                </cv-input-field>
                              <button [cvSpinner]="passwordUpdateProcessing"
                                      [cvSpinnerSize]="20"
                                      [cvSpinnerBackground]="true"
                                      cv-button
                                      type="button"
                                      (click)="openPasswordEditor()">
                                <mat-icon *ngIf="mediaQuery.xs || mediaQuery.sm" class="edit">edit</mat-icon>
                                <span *ngIf="!mediaQuery.sm && !mediaQuery.xs">Change</span>
                              </button>
                            </div>


                        </div>

                    </div>

                    <div class="row">

                      <div class="col-xs-12">

                        <div class="input-label">Phone</div>

                        <cv-input-field>
                          <cv-editable-input #phone="ngModel"
                                             name="phone"
                                             [(ngModel)]="accountPhone"
                                             [pattern]="constants.patterns.phone"
                                             trim
                                             (onSave)="changePhoneConfirm($event)">
                            <input cv-input
                                   type="text"
                                   placeholder="Phone number"
                                   inputmode="tel"
                                   phoneMask
                                   [maxlength]="constants.PHONE_MAX_LENGTH"
                                   [pattern]="constants.patterns.phone">
                          </cv-editable-input>
                          <cv-field-error *ngIf="phone.dirty || phone.touched || personalInfoForm.submitted">
                            <span *ngIf="phone.errors?.pattern">
                                    {{messages.errors.phone.pattern}}
                            </span>
                          </cv-field-error>
                        </cv-input-field>

                      </div>

                    </div>

                    <div class="row">

                      <div class="col-xs-12 col-sm-6">

                        <div class="input-label">First name</div>

                        <cv-input-field>
                          <input cv-input type="text"
                                 trim
                                 placeholder="First name"
                                 #firstName="ngModel"
                                 name="firstName"
                                 [(ngModel)]="account.firstName"
                                 [pattern]="constants.patterns.name"
                                 minlength="2"
                                 required>
                          <cv-field-error *ngIf="firstName.dirty || firstName.touched || personalInfoForm.submitted">
                              <span *ngIf="firstName.errors?.required">
                                {{messages.errors.firstName.required}}
                              </span>
                              <span *ngIf="firstName.errors?.minlength">
                                {{messages.errors.firstName.minlength}}
                              </span>
                              <span *ngIf="!firstName.errors?.minlength && firstName.errors?.pattern">
                                {{messages.errors.name.notValid}}
                              </span>
                          </cv-field-error>
                        </cv-input-field>

                      </div>

                      <div class="col-xs-12 col-sm-6">

                        <div class="input-label">Last name</div>

                        <cv-input-field>
                          <input cv-input type="text"
                                 trim
                                 placeholder="Last name"
                                 #lastName="ngModel"
                                 name="lastName"
                                 [(ngModel)]="account.lastName"
                                 [pattern]="constants.patterns.name"
                                 minlength="2"
                                 required>
                          <cv-field-error *ngIf="lastName.dirty || lastName.touched || personalInfoForm.submitted">
                              <span *ngIf="lastName.errors?.required">
                                {{messages.errors.lastName.required}}
                              </span>
                              <span *ngIf="lastName.errors?.minlength">
                                {{messages.errors.lastName.minlength}}
                              </span>
                              <span *ngIf="!lastName.errors?.minlength && lastName.errors?.pattern">
                                {{messages.errors.name.notValid}}
                              </span>
                          </cv-field-error>
                        </cv-input-field>

                      </div>

                    </div>

                    <div class="row" *ngIf="showEmailChangeMessage">

                      <div class="col-xs-12">
                        <response-message [type]="SystemMessageType.SUCCESS"
                                          message="A confirmation link has been sent to your new email address. Please check your email and click on the link provided to verify your new email. A notice has also been sent to your old email address"
                                          [paddingV]="12"
                                          [paddingH]="16"
                                          [marginTop]="0"
                                          [showIcon]="false"
                                          (onHide)="onEmailChangeMessageHide($event)"></response-message>
                      </div>
                    </div>

                  </div>

                  <button cv-button [size]="'small'" class="save-personal-info" type="submit">Save</button>

                </form>
              </div>

            </div>

          </div>

          <div class="social-connection card">
            <h3>Login option</h3>
            <ng-container *ngIf="socialConnections">
              <div class="social" *ngFor="let provider of socialProviders">
                <div class="meta"
                     [title]="socialConnected(provider) ? 'This social account is already connected' : 'Link your social account to your profile'">
                  <mat-icon>link</mat-icon>
                  <div>
                    <span class="social-provider">{{provider | capitalize}}</span>
                    <p *ngIf="!socialConnected(provider)">Add a login option</p>
                    <p *ngIf="socialConnected(provider)">is connected</p>
                  </div>
                </div>
                <ng-container *ngIf="socialConnected(provider); else connect">
                  <button cv-button-empty type="button" class="disconnect-button"
                          (click)="disconnectSocial(provider)">Disconnect
                  </button>
                </ng-container>
                <ng-template #connect>
                  <button class="social-connect-button" cv-button type="button" (click)="connectSocial(provider)">
                    <span>Connect</span>
                  </button>
                </ng-template>
              </div>
            </ng-container>
          </div>

          <div class="action">
            <div class="spacer"></div>
            <a class="delete-account" (click)="deleteAccount($event)">Delete account</a>
          </div>

        </ng-container>
      </div>
    </div>

  </div>

</div>

<layout-footer></layout-footer>
