@import "improver-mixins";

:host {
  display: block;
  min-height: 110px;

  @include response(sm){
    min-height: 120px;
  }
}

.labels {
  display: flex;
  padding: 16px 16px 0 16px;
  align-items: flex-end;
  justify-content: space-between;
  .label {
    color: #757575;
    transition: color .3s ease, transform .3s ease;
    font-size: 16px;
    &:last-child {
      font-size: 12px;
      color: $grey-500;
    }
  }
}
.money-spent-count {
  margin-top: 14px;
  padding: 0 16px 20px;
  @include response(sm) {
    padding-bottom: 23px;
  }
  span {
    color: $black-800;
    font-weight: 600;
    font-size: 24px;
  }
  .deals {
    font-size: 12px;
    line-height: 16px;
    color: $grey-600;
  }
}
