<p-dialog
  header="Cancel project"
  [contentStyle]="{'overflow':'visible'}" [(visible)]="toggle" showEffect="fade"
  [modal]="true">
  <form #form="ngForm" (ngSubmit)="form.valid && cancelProject()">
    <div class="ui-grid ui-grid-responsive ui-fluid">

      <div class="ui-g">
        <div class="ui-grid-col-4">
          <label>Reason</label>
        </div>
        <div class="ui-grid-col-8">
          <p-dropdown #reasonDropdown name="reason" [options]="cancelVariants" [(ngModel)]="reason"
                      placeholder="Select close reason" [showClear]="true" required></p-dropdown>
        </div>
        <div class="ui-grid-col-4"></div>
        <div class="ui-grid-col-8">
          <div class="ui-message ui-messages-error ui-corner-all"
               *ngIf="(form.control.get('reason')?.dirty || form.control.get('reason')?.touched || form.submitted) && !form.control.get('reason')?.valid">
            <span *ngIf="form.control.get('reason')?.errors?.required">Required</span>
          </div>
        </div>
      </div>

      <div class="ui-g" *ngIf="reason == 'OTHER'">
        <div class="ui-grid-col-4">
          <label>Comment</label>
        </div>
        <div class="ui-grid-col-8">
          <textarea pInputTextarea
                 id="comment"
                 name="comment"
                 #commentInput="ngModel"
                 [(ngModel)]="comment"
                 required>
          </textarea>
        </div>
        <div class="ui-grid-col-4"></div>
        <div class="ui-grid-col-8">
          <div class="ui-message ui-messages-error ui-corner-all"
               *ngIf="(commentInput.dirty || commentInput.touched || form.submitted) && !commentInput.valid">
            <span *ngIf="commentInput.errors?.required">Required</span>
          </div>
        </div>
      </div>

    </div>

    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix" align="right">
        <button type="submit" pButton label="Submit" [disabled]="form.invalid"></button>
      </div>
    </p-footer>

  </form>

</p-dialog>
