<div class="backdrop" [ngClass]="(mediaQuery.xs || mediaQuery.sm)? 'dark-background' : ''" (click)="close()" *ngIf="toggle"></div>
<div [@toggleMenu]="animationState"
     [ngClass]="{'mobile-menu': (mediaQuery.xs || mediaQuery.sm),
                 'desktop-menu': !(mediaQuery.xs || mediaQuery.sm),
                 'anonymous': !securityService.isAuthenticated() || securityService.hasRole(Role.ADMIN) || securityService.hasRole(Role.SUPPORT)}">

  <div class="menu-body" [ngClass]="{'anonymous': !securityService.isAuthenticated() || securityService.hasRole(Role.ADMIN) || securityService.hasRole(Role.SUPPORT)}">

    <!--Customers menu-->
    <div class="user-role" *ngIf="securityService.isAuthenticated() && securityService.hasRole(Role.CUSTOMER)">
      <div class="user-role-child md-none lg-none xlg-none">
        <a routerLink="/my/projects" (click)="close()">My projects</a>
      </div>
      <a routerLink="/my/settings/account" (click)="close()">User account</a>
      <a routerLink="/my/settings/notifications" (click)="close()">Email settings</a>
    </div>

    <!--Contractors menu-->
    <div class="user-role" *ngIf="securityService.isAuthenticated() && securityService.hasRole(Role.CONTRACTOR)">
      <div class="user-role-child md-none lg-none xlg-none">
        <a routerLink="/pro/dashboard" (click)="close()">Dashboard</a>
      </div>
      <a routerLink="/pro/settings/account" (click)="close()">User account</a>
      <a [routerLink]="'/companies/' + securityService.getLoginModel().company" (click)="close()">Company Profile</a>
      <a routerLink="/pro/settings/services" (click)="close()">Lead preferences</a>
      <a routerLink="/pro/settings/coverage" (click)="close()">Service area</a>
      <a routerLink="/pro/settings/billing" (click)="close()">Billing</a>
      <a (click)="close(); toggleReferralDialog()">Give {{constants.REFERRAL_BONUS_AMOUNT / 100 | currency:'USD':'symbol':'0.0-0'}}, get {{constants.REFERRAL_BONUS_AMOUNT / 100 | currency:'USD':'symbol':'0.0-0'}}</a>
      <a routerLink="/pro/settings/notifications" (click)="close()">Communication settings</a>
    </div>
    <div class="user-role" *ngIf="securityService.isAuthenticated() && (securityService.hasRole(Role.ADMIN) || securityService.hasRole(Role.SUPPORT) || securityService.hasRole(Role.STAKEHOLDER))">
      <a routerLink="/admin" (click)="close()">Admin panel</a>
    </div>

    <!--Anonymous menu-->
    <div class="user-role unauthorized-menu" *ngIf="!securityService.isAuthenticated() && ( securityService.hasRole(Role.ANONYMOUS) || securityService.hasRole(Role.INCOMPLETE_PRO))">
        <div class="menu-body">
          <a routerLink="/login" (click)="close()">Log in</a>
          <a routerLink="/signup" (click)="close()">Sign up</a>
        </div>
        <div class="menu-footer">
          <a routerLink="/become-pro" (click)="close()">Become a Pro</a>
        </div>
    </div>
  </div>

  <div class="menu-footer" *ngIf="securityService.isAuthenticated()">
    <a (click)="logout()">
      <span>Log out</span>
      <i class="logout-wrapper"></i>
    </a>
  </div>
</div>
