<div class="backdrop" (click)="close()" *ngIf="toggle"></div>
<div [@toggleMenu]="animationState"
     [ngClass]="{'mobile-menu': (mediaQuery.xs || mediaQuery.sm), 'desktop-menu': !(mediaQuery.xs || mediaQuery.sm), 'anonymous': !securityService.isAuthenticated() || securityService.hasRole(Role.ADMIN) || securityService.hasRole(Role.SUPPORT)}">
  <div class="menu-header" *ngIf="(mediaQuery.xs || mediaQuery.sm)">
    <div class="logo" *ngIf="securityService.isAuthenticated()" [ngStyle]="securityService.getLoginModel().iconUrl && securityService.getLoginModel().iconUrl != '' && {'background-image':'url(' + securityService.getLoginModel().iconUrl + ')'} ||
                                            securityService.hasRole(Role.CUSTOMER) && {'background-image':'url(/assets/img/customer-logo-placeholder.png)'} ||
                                            securityService.hasRole(Role.CONTRACTOR) && {'background-image':'url(/assets/img/pro-logo-placeholder.png)'}">
    </div>
    <div *ngIf="securityService.isAuthenticated()"
         [ngClass]="{'user-name' : securityService.hasRole(Role.CUSTOMER) || securityService.hasRole(Role.ADMIN) || securityService.hasRole(Role.SUPPORT),'company-name' : securityService.hasRole(Role.CONTRACTOR)}">
      {{securityService.getLoginModel().name}}
    </div>
    <!--<a *ngIf="!securityService.isAuthenticated()" class="name" routerLink="/">HOME IMPROVE</a>-->

    <img class="menu-logo" src="../../../assets/img/logo.png" *ngIf="!securityService.isAuthenticated()">

    <mat-icon class="close" color="accent" (click)="close()">clear</mat-icon>
  </div>

  <div class="menu-body" [ngClass]="{'anonymous': !securityService.isAuthenticated() || securityService.hasRole(Role.ADMIN) || securityService.hasRole(Role.SUPPORT)}">
    <div class="user-role" *ngIf="securityService.isAuthenticated() && securityService.hasRole(Role.CUSTOMER)">
      <!--<h4 *ngIf="(mediaQuery.xs || mediaQuery.sm)">Private</h4>-->
      <div class="user-role-child md-none lg-none xlg-none">
        <a routerLink="/my/projects" (click)="close()">My Projects</a>
      </div>
      <h4 *ngIf="(mediaQuery.xs || mediaQuery.sm)">Settings</h4>
      <a routerLink="/my/settings/account" (click)="close()">Account</a>
      <a routerLink="/my/settings/notifications" (click)="close()">Notifications</a>
    </div>
    <div class="user-role" *ngIf="securityService.isAuthenticated() && securityService.hasRole(Role.CONTRACTOR)">
      <!--<h4 *ngIf="(mediaQuery.xs || mediaQuery.sm)">Private</h4>-->
      <div class="user-role-child md-none lg-none xlg-none">
        <a routerLink="/pro/dashboard" (click)="close()">Dashboard</a>
        <a [routerLink]="'/companies/' + securityService.getLoginModel().company" (click)="close()">Profile</a>
      </div>
      <h4 *ngIf="(mediaQuery.xs || mediaQuery.sm)">Settings</h4>
      <a routerLink="/my/settings/account" (click)="close()">Account</a>
      <a routerLink="/pro/settings/info" (click)="close()">Company</a>
      <a routerLink="/pro/settings/services" (click)="close()">Services</a>
      <a routerLink="/pro/settings/coverage" (click)="close()">Coverage</a>
      <a routerLink="/pro/settings/billing" (click)="close()">Billing</a>
      <a routerLink="/pro/settings/notifications" (click)="close()">Notifications</a>
      <a routerLink="/pro/settings/quick-reply" (click)="close()">Quick Reply</a>
      <a routerLink="/pro/settings/scheduling-availability" (click)="close()">Scheduling</a>
    </div>
    <div class="user-role" *ngIf="securityService.isAuthenticated() && (securityService.hasRole(Role.ADMIN) || securityService.hasRole(Role.SUPPORT) || securityService.hasRole(Role.STAKEHOLDER))">
      <a routerLink="/admin" (click)="close()" style="padding: 0;">Admin Panel</a>
    </div>

    <div class="user-role" *ngIf="!securityService.isAuthenticated() && securityService.hasRole(Role.ANONYMOUS)">

      <button class="join-as-pro-button" routerLink="/become-pro" (click)="close()">Become a Pro</button>

      <div class="buttons-wrapper">

        <a routerLink="/login" (click)="close()">
          <i class="imp-icon-login"></i>
          <span>LOG IN</span>
        </a>
        <a routerLink="/signup" (click)="close()">
          <i class="imp-icon-signup"></i>
          <span>SIGN UP</span>
        </a>

      </div>



    </div>
  </div>
  <div class="menu-footer" *ngIf="securityService.isAuthenticated()">
    <a (click)="logout()">
      <span>Log out</span>
      <i class="imp-icon-signout"></i>
      <!--<img class="logout-icon -desktop" src="../../../../assets/img/logout-icon.png">-->
    </a>

  </div>
</div>
