<div (swipeleft)="close()" class="backdrop" [ngClass]="(mediaQuery.xs || mediaQuery.sm)? 'dark-background' : ''" (click)="close()" *ngIf="toggle"></div>
<div (swipeleft)="close()" [@toggleMenu]="animationState"
     [ngClass]="{'mobile-menu': (mediaQuery.xs || mediaQuery.sm),
                 'desktop-menu': !(mediaQuery.xs || mediaQuery.sm),
                 'anonymous': !securityService.isAuthenticated() || securityService.hasRole(Role.ADMIN) || securityService.hasRole(Role.SUPPORT)}">

  <div class="menu-body" [ngClass]="{'anonymous': !securityService.isAuthenticated() || securityService.hasRole(Role.ADMIN) || securityService.hasRole(Role.SUPPORT)}">

    <!--Customers menu-->
    <div class="user-role" *ngIf="securityService.isAuthenticated() && securityService.hasRole(Role.CUSTOMER)">
      <div class="user-role-child md-none lg-none xlg-none">
        <a routerLink="/my/projects" (click)="close()">
          <mat-icon>apps</mat-icon>
          <div>My Projects</div>
        </a>
      </div>
      <div class="user-role-child">
      <a routerLink="/my/settings/account" (click)="close()">
        <mat-icon>person</mat-icon>
        <div>User Account</div>
      </a>
      </div>
      <div class="user-role-child">
      <a routerLink="/my/settings/notifications" (click)="close()">
        <cv-icon icon="imp-icon-notification-settings"></cv-icon>
        <div>Notification Settings</div>
      </a>
      </div>
    </div>

    <!--Contractors menu-->
    <div class="user-role" *ngIf="securityService.isAuthenticated() && securityService.hasRole(Role.CONTRACTOR)">
      <div class="user-role-child md-none lg-none xlg-none">
        <a routerLink="/pro/dashboard" (click)="close()">
          <mat-icon>dashboard</mat-icon>
          <div>Dashboard</div>
        </a>
      </div>
      <div class="user-role-child">
        <a routerLink="/pro/settings/account" (click)="close()">
          <mat-icon>person</mat-icon>
          <div>User Account</div>
        </a>
      </div>
      <div class="user-role-child">
        <a [routerLink]="'/companies/' + securityService.getLoginModel().company" (click)="close()">
          <mat-icon>business</mat-icon>
          <div>Company Profile</div>
        </a>
      </div>
      <div class="user-role-child">
        <a routerLink="/pro/settings/services" (click)="close()">
          <mat-icon>settings</mat-icon>
          <div>Lead Preferences</div>
        </a>
      </div>
      <div class="user-role-child">
        <a routerLink="/pro/settings/coverage" (click)="close()">
          <mat-icon>map</mat-icon>
          <div>Service Area</div>
        </a>
      </div>
      <div class="user-role-child">
        <a routerLink="/pro/settings/billing" (click)="close()">
          <mat-icon>payment</mat-icon>
          <div>Billing</div>
        </a>
      </div>
      <div class="user-role-child">
        <a (click)="close(); toggleReferralDialog()">
          <mat-icon>share</mat-icon>
          <div>Give {{constants.REFERRAL_BONUS_AMOUNT / 100 | currency:'USD':'symbol':'0.0-0'}}, get {{constants.REFERRAL_BONUS_AMOUNT / 100 | currency:'USD':'symbol':'0.0-0'}}</div>
        </a>
      </div>
      <div class="user-role-child">
        <a routerLink="/pro/settings/notifications" (click)="close()">
          <cv-icon icon="imp-icon-messagging-settings"></cv-icon>
          <div class="text-wrap-format">Messaging & Notifications</div>
        </a>
      </div>
    </div>

    <!--Admin menu-->
    <div class="user-role" *ngIf="securityService.isAuthenticated() && (securityService.hasRole(Role.ADMIN) || securityService.hasRole(Role.SUPPORT) || securityService.hasRole(Role.STAKEHOLDER))">
      <a routerLink="/admin" (click)="close()">Admin panel</a>
    </div>

    <!--Anonymous menu-->
    <div class="user-role unauthorized-menu"
         *ngIf="!securityService.isAuthenticated() && ( securityService.hasRole(Role.ANONYMOUS) || securityService.hasRole(Role.INCOMPLETE_PRO))">
      <div class="menu-body">
        <div class="unauthorized-link">
          <a routerLink="/login" (click)="close()">Log in</a>
        </div>
        <div class="unauthorized-link">
          <a routerLink="/signup" (click)="close()">Sign up</a>
        </div>
      </div>
      <div class="menu-footer">
        <a routerLink="/become-pro" (click)="close()">Become a Pro</a>
      </div>
    </div>
  </div>

  <div class="menu-footer" *ngIf="securityService.isAuthenticated()">
    <a (click)="logout()">
      <span>Log out</span>
      <i class="logout-wrapper"></i>
    </a>
  </div>
</div>
