@import "improver-mixins.scss";

:host {
}

.backdrop {
  position: fixed;
  top: 0;
  background: transparent;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9998;
}

.dark-background {
  top: $header-height;
  background: rgba(39, 49, 73, 0.2);
}

.mobile-menu {
  position: absolute;
  left: 0;
  top: $header-height;
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 285px;
  height: 100vh;
  z-index: 9999;
  box-shadow: 0px 5px 5px rgba(38, 47, 86, 0.12);
  opacity: 0;
  border-top: 1px solid $grey-300;

  &.anonymous {
    width: 280px;
  }

  .menu-header {
    position: relative;
    padding: 0 25px;
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #f7f7f7;

    .logo {
      background-size: cover;
      background-position: 50%;
      width: 40px;
      height: 40px;
      border: 1px solid #ddd;
      border-radius: 49px;
      margin-right: 15px;
    }

    .company-name {
      font-size: 13px;
      font-weight: 600;
      line-height: 1.04;
      text-align: left;
      color: #000000;
      flex: 1;
      margin-right: 30px;
    }

    .user-name {
      font-size: 18px;
      font-weight: 600;
      line-height: 1.04;
      text-align: left;
      color: #000000;
      flex: 1;
      margin-right: 30px;
    }

    .name {
      padding-top: 3px;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 1.4px;
      color: #363636;
    }

    .close {
      font-size: 22px;
      color: $dark;
      right: 13px;
      position: absolute;
      top: 18px;
      height: 24px;
      cursor: pointer;
    }
  }

  .menu-body {
    padding: 12px 0px 8px;

    &.anonymous {
      padding: 0px;

      .became-a-pro {
        margin: 24px;
        font-size: 14px;
        text-align: center;
        width: 120px;
        height: 33px;
        background: linear-gradient(to bottom, $primary-400, $primary-600 85%);
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0px;
        color: $white;

        &:hover {
          background-image: linear-gradient(to top, $primary-400, $primary-600 85%);
        }

        &:active {
          background: $primary-500 none;
          opacity: 0.64;
        }

      }

      .buttons-wrapper {
        display: flex;
        align-items: center;
        border-top: 1px solid $grey-200;

        a {
          padding: 24px;
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 50%;
          color: $primary-500;

          &:nth-child(1) {
            border-right: 1px solid $grey-200;
          }

          i {
            font-size: 22px;
            color: $primary-500;
            margin-bottom: 8px;
          }

          span {
            font-weight: 400;
          }

        }

      }

    }

    .user-role {
      display: flex;
      flex-direction: column;

      .user-role-child {
        display: flex;
        flex-direction: column;

        h4, a {
          font-size: 18px;
          padding: 15px 16px;
          text-align: center;
          justify-content: left;
          color: $dark
        }

        h4 {
          margin: 0;
          font-weight: 500;
          letter-spacing: 1.2px;
          color: #bbbbbb;
        }

        a {
          font-weight: normal;
          letter-spacing: 0.3px;
          color: #2d2d2d;
          display: flex;
          flex-direction: row;
          align-items: flex-end;

          mat-icon, cv-icon {
            font-size: 24px;
            margin-right: 12px;
            color: $grey-500;
          }
        }
      }
    }
  }

  .menu-footer {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.23);
    position: relative;

    &:hover, &:focus, &:active {
      background-color: #f7f7f7;
    }

    span {
      margin-right: 15px;
      color: $dark;
      opacity: 0.4;
    }

    i {
      font-size: 18px;
    }

    a {
      color: $dark;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 18px;
      letter-spacing: 0.2px;
      padding: 16px;
      cursor: pointer;
      width: 100%;
    }
  }
}

.text-wrap-format {
  white-space: nowrap;
}

.logout-wrapper {
  width: 20px;
  height: 20px;
  opacity: 1;
  background: url("../../../../assets/icons/logout.png");
}

.desktop-menu {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.23);
  border: solid 1px #d8d8d8;
  top: -5px;
  right: 0;
  min-width: 240px;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  opacity: 0;
  z-index: 9999;
  overflow: hidden;

  .menu-body {

    &.anonymous {
      padding: 0;
    }

    .user-role {
      display: flex;
      flex-direction: column;

      .user-role-child {
        display: flex;
        flex-direction: column;

        a {
          &:last-child {
            padding-bottom: 0;
          }
        }
      }

      .title {
        font-size: 12px;
        font-weight: 500;
        padding-top: 15px;
        padding-bottom: 15px;
        letter-spacing: 1.2px;
        text-align: left;
        text-transform: uppercase;
        color: #bbbbbb;
      }

      a {
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        color: $dark;
        padding: 11px 15px !important;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        mat-icon, cv-icon {
          font-size: 24px;
          margin-right: 12px;
          color: $grey-500;
        }

        &:hover, &:focus, &:active {
          background-color: $grey-150;
        }
      }
    }
  }

  .menu-footer {
    display: flex;
    align-items: center;
    border-top: 1px solid #eaeaea;

    i {
      color: #565656;
      font-size: 20px;
      margin-right: -8px;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      color: $dark;
      padding: 11px 15px;
      cursor: pointer;
      width: 100%;

      &:hover, &:focus, &:active {
        background-color: $grey-150;
      }
    }
  }
}

.unauthorized-menu {
  width: 100%;

  .menu-body {
    display: flex;
    flex-direction: column;
    padding: 8px 0px 0px;

    .unauthorized-link {
      display: flex;
      flex-direction: row;

      a {
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        color: $dark;
        padding: 15px 24px;

        &:hover {
          background-color: $grey-100;
        }

        mat-icon, cv-icon {
          font-size: 24px;
          margin-right: 12px;
        }
      }
    }
  }

  .menu-footer {
    a {
      font-weight: 500;
      color: $dark;
      opacity: 0.6;
      padding: 15px 24px;
    }
  }
}

.menu-logo {
  width: 100px;
}




