<div class="panel-header">
  <h1>Project requests</h1>
  <p-button (onClick)="refresh()" icon="pi pi-fw pi-refresh" label="&nbsp;&nbsp;Refresh"></p-button>
</div>

<p-table class="projectRequests-table" [lazy]="true" [loading]="processing" #dt
         dataKey="id"
         [value]="projectRequests.content"
         selectionMode="single"
         [responsive]="true" [contextMenu]="cm" [paginator]="true"
         [tableStyle]="{'table-layout':'auto'}"
         [rows]="rowsPerPage[0]" [totalRecords]="projectRequests.totalElements" [rowsPerPageOptions]="rowsPerPage"
         sortMode="single" sortField="created" [sortOrder]="-1"
         (onRowExpand)="expandRow($event)"
         [(contextMenuSelection)]="selected"
         (onLazyLoad)="onLazyLoad($event)">

  <!--Column selector-->
  <ng-template pTemplate="caption">
    <div style="text-align:left">
      <p-multiSelect [options]="columns" [(ngModel)]="selectedColumns" optionLabel="header"
                     selectedItemsLabel="{0} columns selected" [style]="{minWidth: '300px'}" defaultLabel="Select columns"
                     (onChange)="onColumnSelect($event)"></p-multiSelect>
    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>

    <!--Titles-->

    <tr>
      <th></th>

      <ng-container *ngFor="let col of selectedColumns" [ngSwitch]="col.field">

        <th *ngSwitchDefault [pSortableColumn]="col.field" >
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>

      </ng-container>

    </tr>

    <tr>

      <th></th>
      <th *ngFor="let col of selectedColumns" [ngSwitch]="col.field">

        <input *ngSwitchCase="'id'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'equals')" class="table-filter">
        <input *ngSwitchCase="'contractor'" pInputText type="text" (input)="dt.filter($event.target.value, 'contractorEmail', 'equals')" class="table-filter">
        <input *ngSwitchCase="'customer'" pInputText type="text" (input)="dt.filter($event.target.value, 'customerEmail', 'equals')" class="table-filter">
        <input *ngSwitchCase="'serviceType'" pInputText type="text" (input)="dt.filter($event.target.value, 'serviceType', 'equals')" class="table-filter">
        <p-dropdown *ngSwitchCase="'status'" [options]="projectRequestStatuses" (onChange)="dt.filter($event.value, col.field, 'equals')" styleClass="ui-column-filter"></p-dropdown>
        <p-dropdown *ngSwitchCase="'projectStatus'" [options]="projectStatuses" (onChange)="dt.filter($event.value, col.field, 'equals')" styleClass="ui-column-filter"></p-dropdown>

        <div *ngSwitchCase="'created'">
          <p-calendar
            [(ngModel)]="createdFilters"
            appendTo="body"
            selectionMode="range"
            [readonlyInput]="false"
            dateFormat="dd.mm.yy"
            (onSelect)="dt.filter(createdFilters, col.field, 'zonedDateTimeRange')"
            (onClearClick)="dt.filter(createdFilters, col.field, 'zonedDateTimeRange')"
            [showButtonBar]="true">
          </p-calendar>
        </div>

      </th>

    </tr>

  </ng-template>

  <ng-template pTemplate="body" let-row let-expanded="expanded" let-columns="columns">
    <tr [pContextMenuRow]="row" [pSelectableRow]="row">

      <td class="expander">
        <a [pRowToggler]="row">
          <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
        </a>
      </td>

      <td *ngFor="let col of selectedColumns" [ngSwitch]="col.field">

        <span *ngSwitchDefault>
          {{row[col.field]}}
        </span>

        <span *ngSwitchCase="'contractor'">
          <span>{{row.contractor.email}}</span>
        </span>

        <span *ngSwitchCase="'customer'">
          <span>{{row.customer.email}}</span>
        </span>

        <span *ngSwitchCase="'created'">
          {{row[col.field] | date: 'MMM d, y, h:mm a'}}
        </span>

        <span *ngSwitchCase="'updated'">
          {{row[col.field] | date: 'MMM d, y, h:mm a'}}
        </span>

        <span *ngSwitchCase="'manual'">
          <i class="pi pi-check" *ngIf="row[col.field]"></i>
          <i class="pi pi-ban" *ngIf="!row[col.field]"></i>
        </span>

        <span *ngSwitchCase="'refundRequest'">
          <i class="pi pi-check" *ngIf="row[col.field]"></i>
          <i class="pi pi-ban" *ngIf="!row[col.field]"></i>
        </span>

      </td>
    </tr>
  </ng-template>

  <ng-template let-data pTemplate="rowexpansion">
    <tr>
      <td [attr.colspan]="selectedColumns.length + 1">
            <project-preview [projectInfo]="data.project" ></project-preview>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog class="messanger-dialog" header="Messenger" [(visible)]="displayMessenger" showEffect="fade"
          (onHide)="onModalClose($event)"
          [modal]="true">
  <div class="processing" *ngIf="fetchingMessages">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <div class="messanger" #messenger>
    <ng-container *ngFor="let message of messages">
      <div class="message " [ngClass]="{'align-right': selected.customer.id == message.sender}">
        <h5>
          <ng-container *ngIf="message.sender != 'system'">
            <ng-container *ngIf="message.sender == selected.contractor.id">
              Contractor:
            </ng-container>
            <ng-container *ngIf="message.sender != selected.contractor.id">
              Customer:
            </ng-container>
            <a [routerLink]="['admin', 'users']" [queryParams]="{id:message.sender}"><b>{{messageAuthor(message.sender)}}</b></a>
          </ng-container>
          <ng-container *ngIf="message.sender == 'system'">
            From: <b>{{message.sender}}</b>
          </ng-container>
          at {{message.created | date: 'MMM d, y, h:mm a'}}</h5>
        <div class="message-body" [ngSwitch]="message.type">
          <ng-container *ngSwitchCase="ProjectRequest.MessageType.TEXT">
            {{message.body}}
          </ng-container>
          <ng-container *ngSwitchCase="ProjectRequest.MessageType.EVENT">
            {{message.event}}
          </ng-container>
          <ng-container *ngSwitchCase="ProjectRequest.MessageType.DOCUMENT">
            <a pButton [href]="message.body.url" icon="pi pi-fw pi-paperclip" [label]="message.body.name"></a>
          </ng-container>
          <ng-container *ngSwitchCase="ProjectRequest.MessageType.IMAGE">
            <a pButton [href]="message.body.url" icon="pi pi-fw pi-paperclip" [label]="message.body.name"></a>
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{message.type}}
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" (click)="displayMessenger = false" label="Close"></button>
    </div>
  </p-footer>
</p-dialog>

<p-contextMenu #cm [model]="contextMenuItems"></p-contextMenu>

