<div class="auth-wrapper" [ngClass]="{'-sign' : (step == 1)}">
  <div class="auth-container">
    <div class="left-bar">
      <div class="left-bar-container">
        <div class="copyright-line">© 2019 Home Improve, Inc</div>
      </div>
    </div>

    <div class="main-block">
      <div class="header"></div>
      <div *ngIf="step == 1" class="container">
        <form class="auth-form"
              name="signup-form"
              #signupForm="ngForm"
              (ngSubmit)="signupForm.valid && registerCustomer()"
              novalidate
              [cvSpinner]="registrationProcessing"
              [cvSpinnerSize]="30"
              [cvSpinnerBackground]="true"
              cvSpinnerBackgroundColor="#fafafa">

          <div class="auth-form-title">Sign up to hire Professionals</div>

          <cv-input-field>
            <input cv-input type="text"
                   placeholder="Email"
                   #email="ngModel"
                   name="email"
                   [(ngModel)]="user.email"
                   required
                   trim
                   maxlength="255"
                   pattern="{{constants.patterns.email}}"
                   emailUniqueValidator>
            <cv-field-error *ngIf="email.dirty || email.touched || signupForm.submitted">
               <span *ngIf="email.errors?.required">
                {{messages.errors.email.required}}
              </span>

              <span *ngIf="email.errors?.pattern">
                {{messages.errors.email.pattern}}
              </span>

              <span *ngIf="email.errors?.emailUnique">
                {{messages.errors.email.emailUnique}}
              </span>
            </cv-field-error>
          </cv-input-field>
          <input type="password" style="display: none;">
          <cv-input-field>

            <input cv-input placeholder="Password (at least 8 symbols)"
                   #password="ngModel"
                   name="password"
                   type="password"
                   autocomplete="new-password"
                   [(ngModel)]="user.password"
                   validateEqual="confirmPassword"
                   validationEqualReverse="true"
                   required
                   minlength="8"
                   maxlength="32"
                   pattern="{{constants.patterns.password}}">
            <cv-field-error *ngIf="password.dirty || password.touched || signupForm.submitted">
               <span *ngIf="password.errors?.required">
               {{messages.errors.password.required}}
              </span>
              <span *ngIf="password.errors?.minlength">
                {{messages.errors.password.minlength}}
              </span>
              <span *ngIf="password.errors?.pattern && !password.errors?.minlength">
                {{messages.errors.password.pattern}}
              </span>
            </cv-field-error>
          </cv-input-field>

          <cv-input-field>
            <input cv-input placeholder="Confirm password"
                   #confirmPassword="ngModel"
                   name="confirmPassword"
                   type="password"
                   [(ngModel)]="registerProps.confirmPassword"
                   validateEqual="password"
                   validationEqualReverse="false"
                   required>
            <cv-field-error *ngIf="confirmPassword.dirty || confirmPassword.touched || signupForm.submitted">
               <span *ngIf="confirmPassword.errors?.required">
                {{messages.errors.passwordConfirm.required}}
              </span>
              <span
                *ngIf="confirmPassword.errors?.validateEqual && !confirmPassword.errors?.required">
                {{messages.errors.passwordConfirm.validateEqual}}
              </span>
            </cv-field-error>
          </cv-input-field>

          <cv-input-field>
            <input cv-input placeholder="First name"
                   #firstName="ngModel"
                   name="firstName"
                   type="text"
                   trim
                   [(ngModel)]="user.firstName"
                   minlength="2"
                   maxlength="255"
                   [pattern]="constants.patterns.name"
                   required>
            <cv-field-error *ngIf="firstName.dirty || firstName.touched || signupForm.submitted">
               <span *ngIf="firstName.errors?.required">
                {{messages.errors.firstName.required}}
              </span>
              <span *ngIf="firstName.errors?.minlength">
                {{messages.errors.firstName.minlength}}
              </span>
              <span *ngIf="!firstName.errors?.minlength && firstName.errors?.pattern">
                {{messages.errors.name.notValid}}
              </span>
            </cv-field-error>
          </cv-input-field>

          <cv-input-field>
            <input cv-input placeholder="Last name"
                   #lastName="ngModel"
                   name="lastName"
                   type="text"
                   [(ngModel)]="user.lastName"
                   minlength="2"
                   maxlength="255"
                   [pattern]="constants.patterns.name"
                   trim
                   required>
            <cv-field-error *ngIf="lastName.dirty || lastName.touched || signupForm.submitted">
               <span *ngIf="lastName.errors?.required">
                {{messages.errors.lastName.required}}
              </span>
              <span *ngIf="lastName.errors?.minlength">
                {{messages.errors.lastName.minlength}}
              </span>
              <span *ngIf="!lastName.errors?.minlength && lastName.errors?.pattern">
                {{messages.errors.name.notValid}}
              </span>
            </cv-field-error>
          </cv-input-field>

          <response-message *ngIf="showMessage" [type]="messageType" [message]="messageText"
                            [paddingV]="12" [paddingH]="16"
                            [showIcon]="false" (onHide)="onMessageHide($event)"></response-message>

          <button cv-button class="full-width auth-form-submit-button" type="submit">
            Sign up
          </button>

          <div class="auth-social-hint">
            <span>or</span>
          </div>

          <social-buttons [processing]="registrationProcessing"
                          (responseMessageType)="messageType = $event;"
                          (responseMessage)="messageText = $event;"
                          (showMessage)="showMessage = $event;"
          ></social-buttons>
          <re-captcha [size]="'invisible'"></re-captcha>
        </form>
      </div>

      <div *ngIf="step == 2" class="content">
        <div class="success-card">

          <div class="top-block">

            <img class="image-wrapper" src="/assets/img/round-icons/confirmation-envelope.png">
            <div class="title">Verify your email to proceed</div>
            <div class="explanation">We've just sent an email to your address <span
              class="registered-email">{{user.email}}</span>
              Please check your email and click on the link provided to verify your address.
            </div>
            <div class="resend-confirm-block">Didn't receive a confirmation email?
              <button class="resend-confirm-button" (click)="resendConfirmation()">Resend</button>
            </div>

          </div>

          <div class="bottom-block">
            <div class="change-email-explanation">Entered the wrong email address? Change it here</div>
            <div class="change-email-input-wrapper">
              <cv-input-field>
                <cv-icon icon="imp-icon-at"></cv-icon>
                <input cv-input type="email" placeholder="Correct email"
                       #correctEmail="ngModel"
                       name="correctEmail"
                       [(ngModel)]="correctEmailModel.correctEmail"
                       required
                       pattern="{{constants.patterns.email}}"
                       emailUniqueValidator>
                <cv-field-error *ngIf="correctEmail.dirty || correctEmail.touched">
                  <span *ngIf="correctEmail.errors?.required">
                    {{messages.errors.email.required}}
                  </span>
                  <span *ngIf="correctEmail.errors?.pattern">
                  {{messages.errors.email.pattern}}
                  </span>
                  <span *ngIf="correctEmail.errors?.emailUnique">
                    {{messages.errors.email.emailUnique}}
                  </span>
                </cv-field-error>>
                <button cv-button (click)="correctEmail.valid && changeConfirmationEmail()">Send</button>
              </cv-input-field>
            </div>
          </div>

        </div>
      </div>

      <div class="footer">
        <div class="footer-content">
          <a class="footer-link" href="/privacy-policy" target="_blank">Privacy Policy</a>
          <a class="footer-link" href="/terms-of-use" target="_blank">Terms of Use</a>
        </div>


        <div class="copyright md-none lg-none xlg-none">
          <div class="copyright-line">© 2019 Home Improve, Inc</div>
        </div>
      </div>
    </div>
  </div>
</div>


