<div class="auth-wrapper -sign">
  <div class="auth-container">
    <div class="left-bar">
      <div class="left-bar-container">
        <div class="copyright-line">© 2019 Home Improve, Inc</div>
      </div>
    </div>

    <div class="main-block">
      <div class="header"></div>
      <div class="container">
        <form class="auth-form"
              name="signup-form"
              #signupForm="ngForm"
              (ngSubmit)="signupForm.valid && registerCustomer()"
              novalidate
              [cvSpinner]="registrationProcessing"
              [cvSpinnerSize]="30"
              [cvSpinnerBackground]="true"
              cvSpinnerBackgroundColor="#fafafa">

          <!--prevent email, password autofill-->
          <input type="text" name="email" style="opacity: 0;position: absolute; pointer-events: none">
          <input type="password" style="opacity: 0;position: absolute; pointer-events: none">

          <div class="auth-form-title">Sign up to hire Professionals</div>

          <social-buttons buttonText="Sign up with"
                          [processing]="registrationProcessing"
                          (responseMessageType)="messageType = $event;"
                          (responseMessage)="messageText = $event;"
                          (showMessage)="showMessage = $event;">
          </social-buttons>

          <div class="auth-social-hint">
            <span>or continue with Email</span>
          </div>

          <cv-input-field>
            <input cv-input type="text"
                   inputmode="email"
                   placeholder="Email"
                   #email="ngModel"
                   name="email"
                   [(ngModel)]="user.email"
                   required
                   trim
                   maxlength="255"
                   autocomplete="off"
                   pattern="{{constants.patterns.email}}"
                   emailUniqueValidator>
            <cv-field-error *ngIf="email.dirty || email.touched || signupForm.submitted">
               <span *ngIf="email.errors?.required">
                {{messages.errors.email.required}}
              </span>

              <span *ngIf="email.errors?.pattern">
                {{messages.errors.email.pattern}}
              </span>

              <span *ngIf="email.errors?.emailUnique">
                {{messages.errors.email.emailUnique}}
              </span>
            </cv-field-error>
          </cv-input-field>

          <cv-input-field class="input-with-hints">

            <input cv-input placeholder="Password (at least 8 symbols)"
                   #password="ngModel"
                   #passwordInput
                   name="password"
                   type="password"
                   autocomplete="off"
                   [(ngModel)]="user.password"
                   validateEqual="confirmPassword"
                   validationEqualReverse="true"
                   required
                   minlength="8"
                   maxlength="32"
                   pattern="{{constants.patterns.password}}">
            <cv-field-error>
              <cv-password-hint [checkedInputRef]="passwordInput"></cv-password-hint>
            </cv-field-error>
          </cv-input-field>

          <cv-input-field>
            <input cv-input placeholder="Confirm password"
                   #confirmPassword="ngModel"
                   name="confirmPassword"
                   type="password"
                   autocomplete="off"
                   [(ngModel)]="registerProps.confirmPassword"
                   validateEqual="password"
                   validationEqualReverse="false"
                   required>
            <cv-field-error *ngIf="confirmPassword.dirty || confirmPassword.touched || signupForm.submitted">
               <span *ngIf="confirmPassword.errors?.required">
                {{messages.errors.passwordConfirm.required}}
              </span>
              <span
                *ngIf="confirmPassword.errors?.validateEqual && !confirmPassword.errors?.required">
                {{messages.errors.passwordConfirm.validateEqual}}
              </span>
            </cv-field-error>
          </cv-input-field>

          <cv-input-field>
            <input cv-input placeholder="First name"
                   #firstName="ngModel"
                   name="firstName"
                   type="text"
                   trim
                   [(ngModel)]="user.firstName"
                   minlength="2"
                   maxlength="255"
                   [pattern]="constants.patterns.name"
                   required>
            <cv-field-error *ngIf="firstName.dirty || firstName.touched || signupForm.submitted">
               <span *ngIf="firstName.errors?.required">
                {{messages.errors.firstName.required}}
              </span>
              <span *ngIf="firstName.errors?.minlength">
                {{messages.errors.firstName.minlength}}
              </span>
              <span *ngIf="!firstName.errors?.minlength && firstName.errors?.pattern">
                {{messages.errors.name.notValid}}
              </span>
            </cv-field-error>
          </cv-input-field>

          <cv-input-field>
            <input cv-input placeholder="Last name"
                   #lastName="ngModel"
                   name="lastName"
                   type="text"
                   [(ngModel)]="user.lastName"
                   minlength="2"
                   maxlength="255"
                   [pattern]="constants.patterns.name"
                   trim
                   required>
            <cv-field-error *ngIf="lastName.dirty || lastName.touched || signupForm.submitted">
               <span *ngIf="lastName.errors?.required">
                {{messages.errors.lastName.required}}
              </span>
              <span *ngIf="lastName.errors?.minlength">
                {{messages.errors.lastName.minlength}}
              </span>
              <span *ngIf="!lastName.errors?.minlength && lastName.errors?.pattern">
                {{messages.errors.name.notValid}}
              </span>
            </cv-field-error>
          </cv-input-field>

          <response-message *ngIf="showMessage" [type]="messageType" [message]="messageText"
                            [paddingV]="12" [paddingH]="16"
                            [showIcon]="false" (onHide)="onMessageHide($event)"></response-message>

          <button cv-button class="full-width auth-form-submit-button" type="submit">
            Sign up
          </button>

          <div class="captcha-reminder">This site is protected by reCAPTCHA and the Google
            <a href="https://policies.google.com/privacy">Privacy Policy</a> and
            <a href="https://policies.google.com/terms">Terms of Service</a> apply.
          </div>

          <re-captcha [size]="'invisible'"></re-captcha>
        </form>
      </div>

      <div class="footer">
        <div class="footer-content">
          <a class="footer-link" href="/privacy-policy" target="_blank">Privacy Policy</a>
          <a class="footer-link" href="/terms-of-use" target="_blank">Terms of Use</a>
        </div>

        <div class="copyright md-none lg-none xlg-none">
          <div class="copyright-line">© 2019 Home Improve, Inc</div>
        </div>
      </div>
    </div>
  </div>
</div>


