<div class="panel-header">
  <h1>Services</h1>
  <div class="table-header-buttons">
    <button type="button" pButton icon="fa fa-plus" label="Add" class="ui-button-success" routerLink="new" *ngIf="securityService.hasRole(Role.ADMIN)"></button>
    <button type="button" pButton icon="pi pi-fw pi-refresh" label="&nbsp;&nbsp;Refresh" (click)="refresh()"></button>
  </div>
</div>

<p-table #dt
         [value]="services.content"
         [tableStyle]="{'table-layout':'auto'}"
         dataKey="id"
         selectionMode="single"
         [lazy]="true"
         [loading]="fetching"
         [sortField]="'name'" [sortOrder]="1" sortMode="single"
         [paginator]="true"
         [filters]="filters"
         [contextMenu]="cm" [responsive]="true"
         [rows]="rowsPerPage[0]"
         [totalRecords]="services.totalElements"
         [rowsPerPageOptions]="rowsPerPage"
         (onLazyLoad)="onLazyLoad($event)"
         [(contextMenuSelection)]="selectedService">

  <!--Column selector-->
  <ng-template pTemplate="caption">
    <div style="text-align:left">
      <p-multiSelect [options]="columns" [(ngModel)]="selectedColumns" optionLabel="header"
                     selectedItemsLabel="{0} columns selected" [style]="{minWidth: '300px'}" defaultLabel="Select columns"
                     (onChange)="onColumnSelect($event)"></p-multiSelect>
    </div>
  </ng-template>

  <!--Header-->

  <ng-template pTemplate="header" let-columns>

    <!--Titles-->

    <tr>

      <ng-container *ngFor="let col of selectedColumns" [ngSwitch]="col.field">

        <th *ngSwitchDefault [pSortableColumn]="col.field" >
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>

        <th *ngSwitchCase="'imageUrl'">
          {{col.header}}
        </th>

        <th *ngSwitchCase="'questionaryId'" pSortableColumn="questionary.id" >
          {{col.header}}
          <p-sortIcon field="questionary.id"></p-sortIcon>
        </th>

      </ng-container>

    </tr>

    <!--Filters-->

    <tr>

      <th *ngFor="let col of selectedColumns" [ngSwitch]="col.field">

        <input *ngSwitchCase="'id'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'equals')" class="table-filter">
        <input *ngSwitchCase="'name'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'equals')" class="table-filter">

      </th>

    </tr>

  </ng-template>

  <!--Rows-->

  <ng-template pTemplate="body" let-row let-expanded="expanded" let-columns="columns">
    <tr [pContextMenuRow]="row">

      <td *ngFor="let col of selectedColumns" [ngSwitch]="col.field">

        <span *ngSwitchDefault>
          {{row[col.field]}}
        </span>

        <span *ngSwitchCase="'imageUrl'" class="table-row-image-wrapper">
          <div *ngIf="row[col.field]" class="box-image" (click)="showServiceImage($event, row, op3)" [ngStyle]="row[col.field] && row[col.field] != '' && {'background-image':'url(' + row[col.field] + ')'} || {'background-image':'url(/assets/img/company-logo-placeholder.png)'}"></div>
          <div *ngIf="!row[col.field]">No image</div>
        </span>

        <span *ngSwitchCase="'leadPrice'" >
            {{(row[col.field] / 100 ) | currency: 'USD'}}
        </span>

        <span *ngSwitchCase="'labels'">
          <ng-container *ngFor="let label of row[col.field]">
            <span>{{label}}</span>
          </ng-container>
        </span>

        <span *ngSwitchCase="'trades'">
          <ng-container *ngFor="let trades of row[col.field]">
            <div class="trade-wrapper"><a href="" [routerLink]="['/', 'admin', 'trades', trades.id]">{{trades.name}}</a></div>
          </ng-container>
        </span>

        <span *ngSwitchCase="'questionaryId'">
          <ng-container *ngIf="row[col.field]">
                  <button type="button" pButton
                          [routerLink]="['/', 'admin', 'questionaries', 'edit', row[col.field]]"
                          label="Edit" *ngIf="securityService.hasRole(Role.ADMIN)"></button>
                  <button type="button" pButton
                          [routerLink]="['/', 'admin', 'questionaries', 'view', row[col.field]]"
                          label="View" *ngIf="securityService.hasRole(Role.SUPPORT)"></button>
          </ng-container>
          <ng-container *ngIf="!row[col.field]">
            <button type="button" pButton [routerLink]="['/', 'admin', 'questionaries', 'add']"
                    [queryParams]='{serviceType: "{\"id\":\""+ row.id +"\", \"name\":\""+ row.name +"\"}"}' label="Add" *ngIf="securityService.hasRole(Role.ADMIN)"></button>
            <div *ngIf="securityService.hasRole(Role.SUPPORT)">Not available</div>
          </ng-container>
        </span>

      </td>
    </tr>
  </ng-template>

</p-table>

<p-contextMenu #cm [model]="contextMenuItems"></p-contextMenu>

<p-overlayPanel #op3 class="image-zoomer-overlay">
  <img [src]="selectedService.imageUrl" *ngIf="selectedService"/>
</p-overlayPanel>
