<div class="title-block">
  <div class="container">
    <div class="content">
      <h1>Grow your business with Home Improve is easy!</h1>
      <h3>Get your free account and start getting more work now</h3>

      <div class="buttons">
        <button class="main-action-button" routerLink="/signup-pro" (click)="gTagTrackClick()">Get started</button>
        <button class="secondary-action-button" (click)="scrollService.scrollToElementById('guide')">More info</button>
      </div>
    </div>

    <div class="background">
      <div class="main-banner"></div>

    </div>

  </div>

  <div class="clouds">
    <div class="cloud cloud-1"></div>
    <div class="cloud cloud-2"></div>
    <div class="cloud cloud-3"></div>
  </div>

</div>

<div id="guide" class="guide" *ngIf="!mediaQuery.xs">
  <div class="step step-1">
    <div class="main-block">
      <img src="assets/img/became-pro-guide/step_1.svg" alt="Find more customers">
      <div class="title">Find more customers</div>
    </div>
    <div class="description">Homeowner visit Home Improve from all over the places</div>
  </div>
  <div class="step step-3">
    <div class="main-block">
      <img src="assets/img/became-pro-guide/step_2.svg" alt="Get job you want">
      <div class="title">Get job you want</div>
    </div>
    <div class="description">Configure filter for leads by your preferences</div>
  </div>
  <div class="step step-4">
    <div class="main-block">
      <img src="assets/img/became-pro-guide/step_3.svg" alt="Get hired">
      <div class="title">Get hired</div>
    </div>
    <div class="description">Our services make it easy to work with homeowners to win the job</div>
  </div>
  <div class="step step-5">
    <div class="main-block">
      <img src="assets/img/became-pro-guide/step_4.svg" alt="Grow your business">
      <div class="title">Grow your business</div>
    </div>
    <div class="description">Enhance your business approach using analyze and statistic tools form Home Improve</div>
  </div>
</div>

<div class="benefits" appParallax [onlyMobileScreen]="mediaQuery.xs || mediaQuery.sm" [parallaxRatio]="0.9">
    <div class="benefits-wrapper">
        <div class="benefits-content" >
            <div class="title" *ngIf="mediaQuery.xs">What we offer?</div>
            <div class="benefit-item-parent" *ngFor="let item of benefits">
                <div class="benefit-item">
                    <div class="benefit-item-header"></div>
                    <div class="image"
                         [ngStyle]="{'background-image':'url(' + 'assets/img/became-pro-benefits/desktop/'+ item.desktopImage + ')'}">
                    </div>
                    <div class="benefit-item-footer">
                        <div class="item-title">{{item.title}}</div>
                        <div class="item-text">{{item.text}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div>

        </div>
    </div>
</div>

<div class="configuration-hints">
    <div class="hints-wrapper">

        <div class="title" >Get relevant leads for you</div>
        <div class="hints-content">
            <div class="hints">
                <div class="hints-header"></div>
                <div class="hint-image-wrapper step-1"></div>
                <div class="hints-footer">
                    <div class="hints-title">
                        Choose exactly where you want jobs
                    </div>
                    <div class="hints-text">
                        Select your targeted counties, cities, and ZIP codes so you can get the most relevant leads.
                        As your business changes, you can refine your service area any time.
                    </div>
                </div>
            </div>
            <div class="hints">
                <div class="hints-header"></div>
                <div class="hint-image-wrapper step-2"></div>
                <div class="hints-footer">
                    <div class="hints-title">
                        Customize the kind of work you want
                    </div>
                    <div class="hints-text">
                        Simply check/uncheck services you provide specify exactly what job you
                        do/don’t do so you always receive work you interested in.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="testimonials-wrapper">
  <testimonials [testimonials]="testimonials"></testimonials>
</div>

<div class="pro-banner-content">
    <pro-banner [bannerConfig]="proBannerConfig"></pro-banner>
</div>


<div class="become-pro-footer">
    <layout-footer></layout-footer>
</div>
