@import "improver-mixins.scss";
@import "../../account.component.scss";

.quick-replay-wrapper {
  width: 100%;
}

.account-nav-title {
  font-size: 24px;
  font-weight: 600;
  color: $black-800;
}

.quick-reply-form {

  .title {
    font-size: 16px;
    text-align: left;
    color: $grey-700;
    padding-bottom: 12px;
  }

  cv-checkbox {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    &::ng-deep {
      .checkbox-icon {
        flex: none;
      }
    }
  }

}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
}
