<div class="confirmation-page"
     [cvSpinner]="processing"
     [cvSpinnerSize]="30"
     [cvSpinnerBackground]="true"
     cvSpinnerBackgroundColor="#fafafa">

  <ng-container *ngIf="step == 1" >

    <form class="confirmation-form"
          name="confirmation-form"
          #confirmationForm="ngForm"
          (ngSubmit)="confirmationForm.valid && onSubmit()"
          novalidate>

      <div class="title">Enter password for your account please</div>

      <cv-input-field>
        <input cv-input type="password"
               placeholder="Password (at least 8 symbols)"
               #password="ngModel"
               name="password"
               [(ngModel)]="activationCustomerModel.password"
               validateEqual="confirmPassword"
               validationEqualReverse="true"
               required
               minlength="8"
               maxlength="32"
               pattern="{{constants.patterns.password}}">
        <cv-field-error *ngIf="password.dirty || password.touched || confirmationForm.submitted">
               <span *ngIf="password.errors?.required">
               {{messages.errors.password.required}}
              </span>
          <span *ngIf="password.errors?.minlength">
                {{messages.errors.password.minlength}}
              </span>
          <span *ngIf="password.errors?.pattern && !password.errors?.minlength">
                {{messages.errors.password.pattern}}
              </span>
        </cv-field-error>
      </cv-input-field>

      <cv-input-field>
        <input cv-input placeholder="Confirm password"
               #confirmPassword="ngModel"
               name="confirmPassword"
               type="password"
               [(ngModel)]="password.confirm"
               validateEqual="password"
               validationEqualReverse="false"
               required>
        <cv-field-error *ngIf="confirmPassword.dirty || confirmPassword.touched || confirmationForm.submitted">
               <span *ngIf="confirmPassword.errors?.required">
                {{messages.errors.passwordConfirm.required}}
              </span>
          <span
            *ngIf="confirmPassword.errors?.validateEqual && !confirmPassword.errors?.required">
                {{messages.errors.passwordConfirm.validateEqual}}
              </span>
        </cv-field-error>
      </cv-input-field>

      <button cv-button>
        Submit
      </button>

    </form>

  </ng-container>

  <ng-container *ngIf="step == 2">

    <div class="confirmation-result-wrapper">

      <div class="confirmation-error-card card" *ngIf="isConfirmationError">
        <img src="assets/img/round-icons/email-error.svg" alt="ERROR" class="image">
        <h3>Error!</h3>
        <h3>Confirmation link is invalid</h3>
        <button class="home-button" cv-button-empty routerLink="/">Back to Home</button>
      </div>

    </div>

  </ng-container>

</div>




