<div class="confirmation-page">

  <ng-container *ngIf="step == 1" >

    <form class="confirmation-form"
          name="confirmation-form"
          #confirmationForm="ngForm"
          (ngSubmit)="confirmationForm.valid && onSubmit()"
          novalidate>

      <div class="title">
        <h3>Lets secure your account</h3>
        <p>Create a password</p>
      </div>
      <cv-input-field class="input-with-hints">
        <input cv-input type="password"
               placeholder="Password (at least 8 symbols)"
               #passwordInput="ngModel"
               #passwordInputRef
               name="password"
               autocomplete="off"
               [(ngModel)]="activationCustomerModel.password"
               validateEqual="confirmPassword"
               validationEqualReverse="true"
               required
               minlength="8"
               maxlength="32"
               pattern="{{constants.patterns.password}}">
        <cv-field-error>
          <cv-password-hint [checkedInputRef]="passwordInputRef"></cv-password-hint>
        </cv-field-error>
      </cv-input-field>

      <cv-input-field>
        <input cv-input placeholder="Confirm password"
               #confirmPassword="ngModel"
               name="confirmPassword"
               type="password"
               autocomplete="off"
               [(ngModel)]="password.confirm"
               validateEqual="password"
               validationEqualReverse="false"
               required>
        <cv-field-error *ngIf="confirmPassword.dirty || confirmPassword.touched || confirmationForm.submitted">
               <span *ngIf="confirmPassword.errors?.required">
                {{messages.errors.passwordConfirm.required}}
              </span>
          <span
            *ngIf="confirmPassword.errors?.validateEqual && !confirmPassword.errors?.required">
                {{messages.errors.passwordConfirm.validateEqual}}
              </span>
        </cv-field-error>
      </cv-input-field>

      <button class="confirmation-button" cv-button [loading]="processing">
        Submit
      </button>

    </form>

  </ng-container>

  <ng-container *ngIf="step == 2">

    <div class="confirmation-result-wrapper">

      <div class="confirmation-error-card card" *ngIf="isConfirmationError">
        <img src="assets/img/round-icons/email-error.svg" alt="ERROR" class="image">
        <h3>Error!</h3>
        <h3>Confirmation link is invalid</h3>
        <button class="home-button" cv-button-empty routerLink="/">Back to Home</button>
      </div>

    </div>

  </ng-container>

</div>




