<div class="panel-header">
  <h1>Unassigned Tickets</h1>
  <p-button (onClick)="refresh()" icon="pi pi-fw pi-refresh" label="&nbsp;&nbsp;Refresh"></p-button>
</div>

<p-table class="tickets-table" [lazy]="true" [loading]="processing" #dt
         [tableStyle]="{'table-layout':'auto'}"
         dataKey="id"
         [value]="tickets.content"
         selectionMode="single" sortMode="single"
         [responsive]="true" [contextMenu]="cm" [paginator]="true"
         [rows]="rowsPerPage[0]" [totalRecords]="tickets.totalElements" [rowsPerPageOptions]="rowsPerPage"
         sortField="created" [sortOrder]="-1"
         [(contextMenuSelection)]="selected"
         (onContextMenuSelect)="initContextMenu()"
         (onLazyLoad)="onLazyLoad($event)"
         (onRowExpand)="expandRow($event)">

  <!--Column selector-->
  <ng-template pTemplate="caption">
    <div style="text-align:left">
      <p-multiSelect [options]="columns" [(ngModel)]="selectedColumns" optionLabel="header"
                     selectedItemsLabel="{0} columns selected" [style]="{minWidth: '300px'}" defaultLabel="Select columns"
                     (onChange)="onColumnSelect($event)"></p-multiSelect>
    </div>
  </ng-template>

  <!--Header-->

  <ng-template pTemplate="header" let-columns>

    <!--Titles-->

    <tr>

      <th></th>
      <ng-container *ngFor="let col of selectedColumns" [ngSwitch]="col.field">

        <th *ngSwitchDefault [pSortableColumn]="col.field" >
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>

        <th *ngSwitchCase="'iconUrl'">
          {{col.header}}
        </th>

      </ng-container>

    </tr>

    <tr>

      <th></th>
      <th *ngFor="let col of selectedColumns" [ngSwitch]="col.field">

        <input *ngSwitchCase="'id'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'equals')" class="table-filter">
        <input *ngSwitchCase="'name'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'equals')" class="table-filter">
        <input *ngSwitchCase="'email'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'equals')" class="table-filter">
        <input *ngSwitchCase="'businessName'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'equals')" class="table-filter">
        <input *ngSwitchCase="'assignee'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'equals')" class="table-filter">
        <input *ngSwitchCase="'author'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'equals')" class="table-filter">

      </th>

    </tr>

  </ng-template>

  <!--Rows-->

  <ng-template pTemplate="body" let-row let-expanded="expanded" let-columns="columns">

    <tr [pContextMenuRow]="row">

      <td class="expander">
        <a [pRowToggler]="row">
          <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
        </a>
      </td>

      <td *ngFor="let col of selectedColumns" [ngSwitch]="col.field">

        <span *ngSwitchDefault>
          {{row[col.field]}}
        </span>

        <span *ngSwitchCase="'assignee'" [ngStyle]="{wordWrap: 'break-word'}">
          <span *ngIf="row.assigneeEmail">{{row.assigneeEmail + ' <' + row.assigneeName + '>'}}</span>
        </span>

        <span *ngSwitchCase="'author'" [ngStyle]="{wordWrap: 'break-word'}">
          <span *ngIf="row.authorEmail">{{row.authorEmail + ' <' + row.authorName + '> ' + row.authorRole}}</span>
        </span>

        <span *ngSwitchCase="'created'" [ngStyle]="{wordWrap: 'break-word'}">
          {{row[col.field] | date: 'MMM d, y, h:mm a'}}
        </span>

      </td>
    </tr>

  </ng-template>

  <ng-template let-data pTemplate="rowexpansion">
    <tr>
      <td [attr.colspan]="selectedColumns.length + 1">
        <span *ngIf="data.description && data.description != ''; else noDescription">{{data.description}}</span>
        <ng-template #noDescription>
          No description
        </ng-template>
      </td>
    </tr>
  </ng-template>

</p-table>

<ticket-edit-dialog [ticket]="selected" [(display)]="displayTicketDialog" (onDone)="refresh()"></ticket-edit-dialog>

<p-contextMenu #cm [model]="contextMenuItems"></p-contextMenu>
