<div class="panel-header">
  <h1>Trades</h1>
  <div class="table-header-buttons">
    <button type="button" pButton icon="fa fa-plus" label="Add" class="ui-button-success" routerLink="new" *ngIf="securityService.hasRole(Role.ADMIN)"></button>
    <button type="button" pButton icon="pi pi-fw pi-refresh" label="&nbsp;&nbsp;Refresh" (click)="refresh()"></button>
  </div>
</div>
<p-table #dt
         [value]="trades.content"
         [tableStyle]="{'table-layout':'auto'}"
         sortMode="single"
         selectionMode="single"
         dataKey="id"
         [lazy]="true"
         [loading]="fetching"
         [rows]="rowsPerPage[0]"
         [filters]="filters"
         sortField="name"
         [sortOrder]="1"
         [paginator]="true"
         [contextMenu]="cm"
         [responsive]="true"
         [totalRecords]="trades.totalElements"
         [rowsPerPageOptions]="rowsPerPage"
         (onLazyLoad)="onLazyLoad($event)"
         [(contextMenuSelection)]="selectedTrade"
         (onRowExpand)="expandRow($event)">

  <!--Column selector-->
  <ng-template pTemplate="caption">
    <div style="text-align:left">
      <p-multiSelect [options]="columns" [(ngModel)]="selectedColumns" optionLabel="header"
                     selectedItemsLabel="{0} columns selected" [style]="{minWidth: '300px'}" defaultLabel="Select columns"
                     (onChange)="onColumnSelect($event)"></p-multiSelect>
    </div>
  </ng-template>

  <!--Header-->

  <ng-template pTemplate="header" let-columns>

    <!--Titles-->

    <tr>
      <th></th>

      <ng-container *ngFor="let col of selectedColumns" [ngSwitch]="col.field">

        <th *ngSwitchDefault [pSortableColumn]="col.field" >
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>

      </ng-container>

    </tr>

    <!--Filters-->

    <tr>

      <th></th>
      <th *ngFor="let col of selectedColumns" [ngSwitch]="col.field">

        <input *ngSwitchCase="'id'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'equals')" class="table-filter">
        <input *ngSwitchCase="'name'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'equals')" class="table-filter">

      </th>

    </tr>

  </ng-template>

  <!--Rows-->

  <ng-template pTemplate="body" let-row let-expanded="expanded" let-columns="columns">
    <tr [pContextMenuRow]="row">

      <td class="expander">
        <a [pRowToggler]="row">
          <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
        </a>
      </td>

      <td *ngFor="let col of selectedColumns" [ngSwitch]="col.field">

        <span *ngSwitchDefault>
          {{row[col.field]}}
        </span>

        <span *ngSwitchCase="'imageUrl'" class="table-row-image-wrapper">
          <div *ngIf="row[col.field]" class="box-image" (click)="showTradeImage($event, row, op3)" [ngStyle]="row[col.field] && row[col.field] != '' && {'background-image':'url(' + row[col.field] + ')'} || {'background-image':'url(/assets/img/company-logo-placeholder.png)'}"></div>
          <div *ngIf="!row[col.field]">No image</div>
        </span>

      </td>
    </tr>
  </ng-template>

  <ng-template let-data pTemplate="rowexpansion">
    <tr>
      <td [attr.colspan]="selectedColumns.length + 1">
        <div class="service-types-list">
          <h4>Service types:</h4>
          <ng-container *ngFor="let serviceType of data.serviceTypes">
            <a [routerLink]="['/', 'admin', 'services', serviceType.id]">{{serviceType.name}}</a> <br>
          </ng-container>
        </div>
      </td>
    </tr>
  </ng-template>

</p-table>

<p-contextMenu #cm [model]="contextMenuItems"></p-contextMenu>

<p-overlayPanel #op3 class="image-zoomer-overlay">
  <img [src]="selectedTrade.imageUrl" *ngIf="selectedTrade"/>
</p-overlayPanel>
