<div class="panel-header">
  <h1>Staff Actions</h1>
  <p-button (onClick)="refresh()" icon="pi pi-fw pi-refresh" label="&nbsp;&nbsp;Refresh"></p-button>
</div>

<p-table class="reviews-table" [lazy]="true" [loading]="processing" #dt
         [tableStyle]="{'table-layout':'auto'}"
         [value]="staffActions.content"
         selectionMode="single" sortMode="single"
         [responsive]="true" [contextMenu]="cm" [paginator]="true"
         [rows]="rowsPerPage[0]" [totalRecords]="staffActions.totalElements" [rowsPerPageOptions]="rowsPerPage"
         sortField="id" [sortOrder]="1"
         [(contextMenuSelection)]="selected"
         (onContextMenuSelect)="initContextMenu()"
         (onLazyLoad)="onLazyLoad($event)">

  <!--Column selector-->
  <ng-template pTemplate="caption">
    <div style="text-align:left">
      <p-multiSelect [options]="columns" [(ngModel)]="selectedColumns" optionLabel="header"
                     selectedItemsLabel="{0} columns selected" [style]="{minWidth: '300px'}" defaultLabel="Select columns"
                     (onChange)="onColumnSelect($event)"></p-multiSelect>
    </div>
  </ng-template>

  <!--Header-->

  <ng-template pTemplate="header" let-columns>

    <!--Titles-->

    <tr>

      <ng-container *ngFor="let col of selectedColumns" [ngSwitch]="col.field">

        <th *ngSwitchDefault [pSortableColumn]="col.field" >
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>

      </ng-container>

    </tr>

    <tr>

      <th *ngFor="let col of selectedColumns" [ngSwitch]="col.field">

        <input *ngSwitchCase="'id'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'equals')" class="table-filter">
        <input *ngSwitchCase="'author'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'equals')" class="table-filter">

      </th>

    </tr>

  </ng-template>

  <!--Rows-->

  <ng-template pTemplate="body" let-row let-expanded="expanded" let-columns="columns">
    <tr [pContextMenuRow]="row">

      <td *ngFor="let col of selectedColumns" [ngSwitch]="col.field">

        <span *ngSwitchDefault>
          {{row[col.field]}}
        </span>

        <span *ngSwitchCase="'created'" [ngStyle]="{wordWrap: 'break-word'}">
          {{row[col.field] | date: 'MMM d, y, h:mm a'}}
        </span>

      </td>
    </tr>
  </ng-template>


</p-table>

<p-contextMenu #cm [model]="contextMenuItems"></p-contextMenu>
