@import "improver-mixins.scss";

.auth-wrapper {
  width: 100%;
  background-color: white;
  display: flex;
  max-height: 100%;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 550px;
  height: 100%;
  flex-grow: 1;

  &.-login {
    min-height: 480px;
  }

  &.-sign {
    min-height: 590px;
  }

}

.auth-container {
  width: 100%;
  display: flex;

  .left-bar {
    background: url("/assets/img/left-side-background.jpg") no-repeat;
    background-size: cover;
    flex: 1;
    max-width: 33%;

    @include response-to(sm) {
      display: none;
    }

    .left-bar-container {
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      display: flex;
      max-height: 100%;
      align-items: flex-end;
      justify-content: center;

      .copyright-line {
        margin-bottom: 14px;
        font-size: 14px;
        color: $white;
      }
    }
  }

  .main-block {
    padding: 24px 0;
    flex-direction: column;
    display: flex;
    max-width: 67%;
    justify-content: space-between;
    align-items: stretch;
    flex: 1;

    @include response-to(sm) {
      max-width: 100% !important;
      display: block !important;
      margin: 0 auto;
    }

    .container {
      max-width: 300px;

      .message-email-verification {
        font-size: 18px;
        text-align: center;
        left: 0;
        background: #fff;
        padding: 20px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: -50px;
        min-height: 380px;

        @include response(xs) {
          margin: 0;
        }

        .verification-title {
          margin: 0;
          padding: 0;
          font-size: 20px;
          color: $dark;
        }

        .verification-text {
          font-size: 16px;
          color: $grey-700;
        }

        span {
          color: $primary-500;
        }
      }

      .auth-form {
        &[name="restore-password-form"],&[name="reset-password-form"] {
          .auth-form-title {
            margin-bottom: 8px;
          }
        }


        cv-input-field {
          margin-bottom: 16px;
        }

        .auth-form-title {
          font-weight: 600;
          text-align: left;
          margin-bottom: 16px;
          font-size: 22px;
          color: $black-800;
        }

        .auth-form-subtitle {
          font-size: 14px;
          color: $grey-600;
          margin-bottom: 32px;
        }

        .auth-social-hint {
          font-size: 14px;
          text-align: center;
          color: $grey-500;
          width: 100%;
          margin: 8px 0 24px;
          position: relative;

          &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            height: 1px;
            right: 0;
            background-color: $grey-300;
          }

          span {
            position: relative;
            background: white;
            padding: 0 10px;
          }
        }

        ::ng-deep cv-form-field {
          margin-bottom: 16px;
        }

        .auth-form-submit-button {
          display: block;
          text-align: center;
          margin-top: 8px;
          font-size: 14px;

          &:active {
            background: $primary-500 none;
          }
        }

        .have-account-line {
          display: flex;
          justify-content: center;
          text-align: center;
          margin-top: 12px;
          font-size: 14px;

          .question {
            text-align: center;
            color: rgba(0, 0, 0, 0.54);
          }

          .no-account-button {
            margin-left: 2px;
            cursor: pointer;
            color: $primary-500;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .forgot-password-button {
        cursor: pointer;
        font-size: 14px;
        text-align: center;
        color: rgba(0, 0, 0, 0.54);

        &:hover {
          color: rgba(0, 0, 0, 0.84);
        }
      }

      .no-account-line {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 12px;
        font-size: 14px;

        .question {
          text-align: center;
          color: rgba(0, 0, 0, 0.54);
        }

        .no-account-button {
          margin-left: 2px;
          cursor: pointer;
          color: $primary-500;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .captcha-reminder {
        text-align: left;
        margin-top: 16px;
        margin-bottom: 16px;
        font-size: 10px;
        color: rgba(0, 0, 0, 0.54);

        a {
          cursor: pointer;
          color: inherit;
        }

      }

    }

    .footer {
      font-weight: 700;
      color: #aaaaaa;
      margin-top: 50px;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include response-to(sm) {
        margin-top: 48px;
        margin-bottom: 16px;
      }

      .footer-content {
        width: 224px;
        display: flex;
        justify-content: space-between;

        @include response-to(sm) {
          width: 100%;
          justify-content: center !important;
        }

        .footer-link {
          cursor: pointer;
          font-size: 14px;
          text-align: left;
          color: $grey-500;
          font-weight: 400;

          @include response-to(sm) {
            margin: 0 15px;
            font-size: 14px;
          }

          &:hover {
            color: #333333;
          }
        }
      }
    }

    .copyright {
      text-align: center;
      padding-top: 15px;
      font-size: 14px;
    }
  }
}

.input-with-hints {

  @include response-to(sm) {
    ::ng-deep .error-wrapper {
      padding-top: 0 !important;
      padding-bottom: 12px;
    }
  }

  ::ng-deep .hint-holder {
    padding-right: 0 !important;
  }
}

.message-dialog {
  min-width: 420px;

  @include response(xs) {
    min-width: 100%;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-verification-message {

}

.auth-form response-message ::ng-deep.response-message {
  margin-bottom: 8px;
}
