@import "../../../../improver-mixins.scss";

:host {
  width: 100%;
}

.popular-services {
  max-width: 1170px;
  margin: 72px auto;
  padding: 0 15px;

  @include response-to(sm) {
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 36px;
  }

  .title {
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    color: #333333;
    margin-bottom: 66px;

    @include response-to(md) {
      font-size: 30px;
    }

    @include response-to(sm) {
      font-size: 25px;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

  .popular-services-card-content {
    position: relative;
    padding-bottom: 100%;
    height: 0;

    .popular-services-image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-position: 50%;
      margin-bottom: 36px;
      cursor: pointer;

      &:hover {
        .cover {
          filter: brightness(130%);
        }
      }

      .cover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: 50%;
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.21), rgba(0, 0, 0, 0.6));
        }
      }

      @include response(xs, sm) {
        margin-bottom: 12px;
      }

    }

    .popular-services-text {
      font-size: 16px;
      color: $white;
      bottom: 20px;
      left: 15px;
      position: absolute;

      @include response(xs) {
        font-size: 14px;
      }

    }
  }
}

.see-all-services-button {
  display: flex;
  margin: 48px auto 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 170px;
  height: 48px;
  border-radius: 2px;
  background-color: $white;
  border: 2px solid;
  font-size: 14px;

  @include bordered-link-mixin();

  .see-all-services-button-text {

    @include background-image-gradient();
    font-size: 14px;
    text-align: left;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

  }

  &:hover {
    @include background-image-gradient();

    .see-all-services-button-text {
      -webkit-text-fill-color: $white;
      font-size: 14px;
      color: $white;
    }

  }

  &:active {
    @include background-image-gradient();
    opacity: 0.64;

    .see-all-services-button-text {
      -webkit-text-fill-color: $white;
      font-size: 14px;
      color: $white;
    }

  }

  @include response(xs, sm) {
    margin: 24px auto 0;
  }

}

@include response(xs, sm) {
  .row {
    margin-left: -6px;
    margin-right: -6px;
  }

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xlg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xlg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xlg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xlg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xlg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xlg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xlg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xlg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xlg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xlg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xlg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xlg-12 {
    padding-left: 6px;
    padding-right: 6px;
  }
}
