:host {
  display: block;
  text-align: left;
}

.icon {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  display: block;
  &.-wide {
    width: 200px;
  }
}
table thead tr th span.ui-column-title {
  display: block !important;
}

p-table::ng-deep {
  th .ui-column-title {
    display: inline !important;
  }
  .ui-datatable .ui-datatable-data>tr>td .ui-cell-data {
    word-wrap: break-word;
  }
}

.licenses-wrapper {
   .license {
     margin-bottom: 8px;
     &:after {
       content: '';
       display: block;
       clear: both;
     }
   }
}

.transaction-id-column {
  width: 200px !important;
}
