@import "../../scss/variables";
@import "../../../../improver-mixins";

.collapse {
  display: flex;
  border-radius: 2px;
  border: solid 1px $black-300;
  margin-bottom: 16px;
  flex-direction: column;

  .header {
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    color: $black-primary;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    padding: 0px 16px;

    .header-left {
      display: flex;
      margin-right: 16px;

      @include response-to(sm) {
        margin-right: 8px;
      }

      .title {
        word-break: normal;
        word-break: break-word;
        padding: 10px 0px;
      }

    }

    .header-content {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
    }

    .header-right {
      position: absolute;
      top: 0;
      right: 10px;
      display: flex;
      width: 40px;
      height: 40px;

      .imp-icon-angle-right {
        width: 100%;
        height: 100%;
        padding: 5px 0 0 0;
        display: flex;
        justify-content: center;
        font-size: 28px;
        margin-right: -12px;
        color: $primary-500;

        &:before {
          margin-left: 0 !important;
          margin-right: 0 !important;
        }

        @include response-to(xs) {
          margin-right: -16px;
        }
      }
    }

  }

  .content-wrapper {
    display: flex;
    transform-origin: top;
    overflow: hidden;
    position: relative;

    &:before {
      position: absolute;
      display: block;
      height: 1px;
      background-color: $black-300;
      content: '';
      top: 0;
      left: 0;
      right: 0;
    }

    .content {
      padding: 8px 8px 12px;
      overflow: hidden;
    }

  }

}

