@import "../../../../improver-mixins.scss";

:host {

  @include response-to(sm) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: #fff;
    display: flex;
  }

  .dialog-content-wrapper {

    @include response-to(sm) {
      width: 100%;
    }


    .dialog-content-container {
      @include response-to(sm) {
        width: 100%;
      }
    }

    .header {
      width: 100%;

      .header-content {
        padding: 16px 24px 16px;
        background-color: $black-150;
        font-size: 20px;
        font-weight: 500;
        color: #757575;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {

        }

      }
    }

  }

  .content {
    padding: 24px;
    min-height: 291px;
    display: flex;
    text-align: center;

    .info {
      flex-direction: column;
      justify-content: space-between;
      display: flex;
      flex-grow: 1;

      .wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
      }

    }

    .refund-status-wrapper {
      color: $black-primary;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      margin-bottom: 36px;
    }

    .refund-comment-wrapper {
      color: $black-secondary;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      margin-bottom: 24px;
      margin-left: auto;
      margin-right: auto;
      max-width: 365px;

      a {
        color: $primary-500;
        text-decoration: underline;
      }

    }

    .contact-message {
      font-size: 14px;
      color: #bdbdbd;
    }

    .time-hint {
      font-size: 14px;
      color: $black-400;
      margin-bottom: 24px;
    }

    .buttons-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      button {
        &:first-of-type {
          margin-right: auto;
        }
        &:last-of-type {
          margin-left: auto;
        }
      }

    }

  }

  .mat-dialog-container {
    padding: 0px;
  }

  .close-modal {
    position: relative;
    right: 32px;
    top: 32px;
  }

}



