@import "../../../../improver-mixins.scss";



.dialog-content-wrapper {


  .header {

    .header-content {
      padding: 16px 36px 16px 16px;
      background-color: $grey-150;
      font-size: 20px;
      font-weight: 500;
      color: $grey-600;
    }
  }

}

.content {
  padding: 24px;

  .cancel-project-form {

    .reason-variant {
      padding: 10px 0px;
      color: #757575;
    }

    .comment-wrapper {
      pointer-events: none;
      height: 0px !important;
      opacity: 0;
      overflow: hidden !important;
      margin-top: 10px !important;
      margin-bottom: 10px !important;
      transition: height 0.2s ease-out 0s, opacity 0.3s ease-out 0s;

      &.visible-input {
        pointer-events: auto;
        height: 100px!important;
        opacity: 1;
      }

    }

  }

}

::ng-deep .mat-dialog-container {
  padding: 0px;
}

.close-modal {
  position: relative;
  right: 32px;
  top: 32px;
}

::ng-deep cv-radio-group .input-holder {
  display: block !important;

  cv-radio {
    margin-bottom: 16px;
    .radio-label {
      margin-left: 4px;
    }
  }
}

