@import "improver-mixins";

:host {

  @include response-to(xs) {
    .dialog-content-wrapper {
      display: flex;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      overflow-y: auto;
      background-color: white;
    }
  }

}

.header {
  .header-content {
    padding: 16px 48px 16px 24px;
    background-color: $grey-100;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: $grey-600;
  }
  .title {
    text-align: center;
  }
}

.content {
  margin-bottom: 12px;
  color: rgba(0, 0, 0, 0.92);
  padding: 0px 24px;

  .explanation {
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

}

.copy-url {
  width: 71%;
  margin: 0 auto 4px;
  display: block;
}

.actions {

  display: flex;
  flex-direction: column;
  justify-content: center;

  .mail-block {
    padding-left: 24px;
    padding-right: 24px;
  }

  .share-block {
    border-top: 1px solid $grey-200;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }


  .block-label {
    margin-bottom: 4px;
    margin-left: 8px;
  }

  .input-group {
    display: flex;
    margin-bottom: 24px;

    cv-input-field {
      width: 100%;
    }

    .cv-input {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      height: 39px;
    }

    .cv-button {
      min-width: 100px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 39px;

      ::ng-deep .button-inner{
        align-items: baseline !important;

        cv-icon {
          margin-right: 4px;
        }
      }
    }

  }

  .facebook-share-button {
    background-image: linear-gradient(#3b5998, #3b5998), linear-gradient(to bottom, #3b5998, #293e6b);
    &:hover {
      background-image: linear-gradient(#3b5998, #3b5998), linear-gradient(to top, #293e6b, #3b5998);
    }
    &:active {
      background: #3b5998 none;
    }
  }

}

.close-modal {
  position: relative;
  right: 32px;
  top: 32px;
}
