<div class="panel-header">
  <div class="panel-title">Companies</div>
  <p-button (onClick)="refresh(dt)" icon="pi pi-refresh" label="&nbsp;&nbsp;Refresh"></p-button>
</div>

<p-dataTable #dt [value]="companiesPage?.content"
             sortMode="single"
             selectionMode="single"
             [lazy]="true"
             [loading]="fetching"
             sortField="name" sortOrder="1"
             [rows]="rowsPerPage[0]" [totalRecords]="companiesPage.totalElements"
             [rowsPerPageOptions]="rowsPerPage"
             (onLazyLoad)="loadLazy($event, getCompanies)"
             [paginator]="true"
             (onContextMenuSelect)="selectCompany($event)"
             [contextMenu]="cm"
             [filters]="filters"
             [expandableRows]="true" (onRowSelect)="expandRow($event)"
             [responsive]="true">
  <p-header>
    <div style="text-align:left">
      <p-multiSelect [panelStyle]="{minWidth:'270px'}" [options]="tableColumns" [(ngModel)]="selectedTableCols"></p-multiSelect>
    </div>
  </p-header>
  <p-column field="id" header="ID" [sortable]="true" [filter]="true" *ngIf="selectedTableCols.includes('id')">
    <ng-template pTemplate="filter" let-col>
      <input pInputText type="text" pKeyFilter="pint" [ngModel]="filters?.id?.value" [style]="{'width':'100%'}" (input)="dt.filter($event.target.value,col.field,col.filterMatchMode)">
    </ng-template>
    <ng-template let-col let-data="rowData" pTemplate="body">
      <span class="word-break">{{data[col.field]}}</span>
    </ng-template>
  </p-column>
  <p-column field="email" header="Email" [sortable]="true" *ngIf="selectedTableCols.includes('email')"></p-column>
  <p-column field="uri" header="Uri" [sortable]="true" *ngIf="selectedTableCols.includes('uri')"></p-column>
  <p-column field="founded" header="Founded" [sortable]="true" *ngIf="selectedTableCols.includes('founded')"></p-column>
  <p-column field="iconUrl" header="Icon Url" [sortable]="true" *ngIf="selectedTableCols.includes('iconUrl')">
    <ng-template pTemplate="body" let-col let-data="rowData">
      <div *ngIf="data[col.field]" class="image-preview"
           [ngStyle]="{'background-image': 'url('+data[col.field]+')'}"></div>
      <div *ngIf="!data[col.field]">No image</div>
    </ng-template>
  </p-column>
  <p-column field="backgroundUrl" header="Background url" [sortable]="true" *ngIf="selectedTableCols.includes('backgroundUrl')">
    <ng-template pTemplate="body" let-col let-data="rowData">
      <div *ngIf="data[col.field]" class="image-preview"
           [ngStyle]="{'background-image': 'url('+data[col.field]+')'}"></div>
      <div *ngIf="!data[col.field]">No image</div>
    </ng-template>
  </p-column>
  <p-column field="name" header="Name" [sortable]="true" *ngIf="selectedTableCols.includes('name')"></p-column>
  <p-column field="description" header="Description" [sortable]="true" *ngIf="selectedTableCols.includes('description')">
    <ng-template let-col let-data="rowData" pTemplate="body">
      <span class="word-break">{{data[col.field]}}</span>
    </ng-template>
  </p-column>
  <p-column field="location" header="Location" sortField="location.streetAddress" [sortable]="true" *ngIf="selectedTableCols.includes('location')">
    <ng-template let-col let-data="rowData" pTemplate="body">
      {{data[col.field].streetAddress}}, {{data[col.field].city}}, {{data[col.field].state}}
      {{data[col.field].zip}}
    </ng-template>
  </p-column>
  <p-column field="rating" header="Rating" [sortable]="true" *ngIf="selectedTableCols.includes('rating')"></p-column>
  <p-column field="internalPhone" header="Internal phone" [sortable]="true" *ngIf="selectedTableCols.includes('internalPhone')"></p-column>
  <p-column field="siteUrl" header="Site Url" [sortable]="true" *ngIf="selectedTableCols.includes('siteUrl')"></p-column>
  <p-column field="billing" header="Balance" sortField="billing.balance" [sortable]="true" *ngIf="selectedTableCols.includes('balance')">
    <ng-template let-col let-data="rowData" pTemplate="body">
      {{data[col.field].balance / 100 | currency}}
    </ng-template>
  </p-column>
  <p-column field="created" header="Created" [sortable]="true" *ngIf="selectedTableCols.includes('created')">
    <ng-template let-col let-data="rowData" pTemplate="body">
      {{data[col.field] | date: 'MMM d, y, h:mm a'}}
    </ng-template>
  </p-column>
  <p-column field="updated" header="Updated" [sortable]="true" *ngIf="selectedTableCols.includes('updated')">
    <ng-template let-col let-data="rowData" pTemplate="body">
      {{data[col.field] | date: 'MMM d, y, h:mm a'}}
    </ng-template>
  </p-column>
  <p-column field="approved" header="Approved" sortField="isApproved" [sortable]="true" *ngIf="selectedTableCols.includes('approved')">
    <ng-template let-row="rowData" pTemplate="body">
      <i class="pi pi-check" *ngIf="row.approved"></i>
      <i class="pi pi-ban" *ngIf="!row.approved"></i>
    </ng-template>
  </p-column>
  <ng-template let-data pTemplate="rowexpansion">
    <company-preview [company]="data"></company-preview>
  </ng-template>
</p-dataTable>

<p-dialog [header]="securityService.hasRole(Role.ADMIN) ? 'Edit Company' : 'Company info'" [(visible)]="displayEditDialog"
          [responsive]="true" showEffect="fade" [width]="700"
          [modal]="true" (onHide)="closeDialog()">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="selectedCompany">
    <div class="ui-card-title">General information</div>
    <div class="ui-grid-row ui-grid-field">
      <div class="ui-grid-col-4"><label for="name">Company logo</label></div>
      <div class="ui-grid-col-8">
        <image-cropper confirmTitle="Delete company logo" [image]="selectedCompany.iconUrl" (fileChange)="newIcon = $event"
                       (delete)="deleteCompanyLogo()"
                       [disabled]="!securityService.hasRole(Role.ADMIN)"></image-cropper>
      </div>
    </div>
    <div class="ui-grid-row ui-grid-field">
      <div class="ui-grid-col-4"><label for="name">Cover image</label></div>
      <div class="ui-grid-col-8">
        <image-preview confirmTitle="Delete company cover" (delete)="deleteCompanyCover()" (fileChange)="newCoverImage = $event"
                       [image]="selectedCompany.backgroundUrl"
                       [disabled]="!securityService.hasRole(Role.ADMIN)"></image-preview>
      </div>
    </div>
    <div class="ui-grid-row ui-grid-field">
      <div class="ui-grid-col-4"><label for="name">Name</label></div>
      <div class="ui-grid-col-8"><input pInputText id="name" [(ngModel)]="selectedCompany.name" maxlength="255"
                                        [disabled]="!securityService.hasRole(Role.ADMIN)"/></div>
    </div>
    <div class="ui-grid-row ui-grid-field">
      <div class="ui-grid-col-4"><label for="description">Description</label></div>
      <div class="ui-grid-col-8">
        <textarea pInputTextarea rows="4" id="description" [(ngModel)]="selectedCompany.description"
                  [disabled]="!securityService.hasRole(Role.ADMIN)"
                  maxlength="1024"></textarea>
      </div>
    </div>
    <div class="ui-grid-row ui-grid-field">
      <div class="ui-grid-col-4"><label for="founded">Founded</label></div>
      <div class="ui-grid-col-8"><input pInputText type="number" id="founded" [(ngModel)]="selectedCompany.founded"
                                        [disabled]="!securityService.hasRole(Role.ADMIN)"
                                        min="1940" max="3000"/>
      </div>
    </div>
    <div class="ui-grid-row ui-grid-field">
      <div class="ui-grid-col-4"><label for="uri">Uri</label></div>
      <div class="ui-grid-col-8"><input pInputText type="text" id="uri" [(ngModel)]="selectedCompany.uri"
                                        [disabled]="!securityService.hasRole(Role.ADMIN)"
                                        maxlength="255"/></div>
    </div>
    <div class="ui-grid-row ">
      <div class="ui-grid-col-4"><label for="siteUrl">Site url</label></div>
      <div class="ui-grid-col-8">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">http://&nbsp;</span>
          <input pInputText type="text" id="siteUrl" [(ngModel)]="selectedCompany.siteUrl"
                 [disabled]="!securityService.hasRole(Role.ADMIN)"
                 maxlength="255"/>
        </div>

      </div>
    </div>
    <div class="ui-card-title">Contact information</div>

    <div class="ui-grid-row ui-grid-field">
      <div class="ui-grid-col-4"><label for="internalPhone">Internal phone</label></div>
      <div class="ui-grid-col-8"><input pInputText type="text" id="internalPhone"
                                        [(ngModel)]="selectedCompany.internalPhone" maxlength="255"
                                        [disabled]="!securityService.hasRole(Role.ADMIN)"/></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="email">Email</label></div>
      <div class="ui-grid-col-8"><input pInputText id="email" [(ngModel)]="selectedCompany.email" maxlength="255"
                                        [disabled]="!securityService.hasRole(Role.ADMIN)"/>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button *ngIf="securityService.hasRole(Role.ADMIN)" type="button" pButton icon="pi pi-check" (click)="save()" label="Update"></button>
      <button *ngIf="!securityService.hasRole(Role.ADMIN)"  type="button" pButton icon="pi pi-check" (click)="displayEditDialog = false" label="Ok"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Add bonus" [(visible)]="displayBonusDialog" [responsive]="true" showEffect="fade" [width]="700"
          [modal]="true" [contentStyle]="{'overflow':'visible'}" (onHide)="closeDialog()">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="selectedCompany">
    <div class="ui-card-title">
      <span class="plain">Add bonus for </span>
      <span>{{selectedCompany.name}}</span>
    </div>

    <div class="ui-grid-row ui-grid-field">
      <div class="ui-grid-col-4"><label for="amount">Amount</label></div>
      <div class="ui-grid-col-8">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">$</span>
          <input pInputText type="text" id="amount" [(ngModel)]="bonus" maxlength="3" pKeyFilter="pnum"/>
          <span class="ui-inputgroup-addon">.00</span>
        </div>
      </div>
    </div>

  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" (click)="addBonus()" label="Submit"></button>
    </div>
  </p-footer>
</p-dialog>

<admin-location-validation [(toggle)]="displayLocationDialog" (onValidatedLocation)="updateLocation($event)" [location]="toLocationValidate"></admin-location-validation>

<p-contextMenu #cm [model]="contextMenuItems"></p-contextMenu>
