<div class="panel-header">
  <div class="panel-title">Companies</div>
  <p-button (onClick)="refresh()" icon="pi pi-refresh" label="&nbsp;&nbsp;Refresh"></p-button>
</div>

<p-table #dt [value]="companiesPage?.content"
         [tableStyle]="{'table-layout':'auto'}"
         sortMode="single"
         rowExpandMode="single"
         dataKey="id"
         [lazy]="true"
         [loading]="fetching"
         sortField="name" sortOrder="1"
         [rows]="rowsPerPage[0]"
         [totalRecords]="companiesPage.totalElements"
         [rowsPerPageOptions]="rowsPerPage"
         (onLazyLoad)="onLazyLoad($event)"
         [paginator]="true"
         [(contextMenuSelection)]="selectedCompany"
         (onContextMenuSelect)="initContextMenu()"
         [contextMenu]="cm"
         [filters]="filters"
         [responsive]="true">

  <!--Column selector-->
  <ng-template pTemplate="caption">
    <div style="text-align:left">
      <p-multiSelect [options]="columns" [(ngModel)]="selectedColumns" optionLabel="header"
                     selectedItemsLabel="{0} columns selected" [style]="{minWidth: '300px'}" defaultLabel="Select columns"
                     (onChange)="onColumnSelect($event)"></p-multiSelect>
    </div>
  </ng-template>

  <!--Header-->

  <ng-template pTemplate="header" let-columns>

    <!--Titles-->

    <tr>
      <th></th>

      <ng-container *ngFor="let col of selectedColumns" [ngSwitch]="col.field">

        <th *ngSwitchDefault [pSortableColumn]="col.field" >
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>

      </ng-container>

    </tr>

    <!--Filters-->

    <tr>

      <th></th>
      <th *ngFor="let col of selectedColumns" [ngSwitch]="col.field">

        <input *ngSwitchCase="'id'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'equals')" class="table-filter">

      </th>

    </tr>

  </ng-template>

  <!--Rows-->

  <ng-template pTemplate="body" let-row let-expanded="expanded" let-columns="columns">
    <tr [pContextMenuRow]="row">

      <td class="expander">
        <a [pRowToggler]="row">
          <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
        </a>
      </td>

      <td *ngFor="let col of selectedColumns" [ngSwitch]="col.field">

        <span *ngSwitchDefault>
          {{row[col.field]}}
        </span>

        <span *ngSwitchCase="'iconUrl'" class="table-row-image-wrapper">
          <div class="round-image"  [ngStyle]="row[col.field] && row[col.field] != '' && {'background-image':'url(' + row[col.field] + ')'} || {'background-image':'url(/assets/img/company-logo-placeholder.png)'}"></div>
        </span>

        <span *ngSwitchCase="'backgroundUrl'" class="table-row-image-wrapper">
          <div [ngStyle]="row[col.field] && row[col.field] != '' && {'background-image':'url(' + row[col.field] + ')'}"></div>
        </span>

        <span *ngSwitchCase="'created'">
          {{row[col.field] | date: 'MMM d, y, h:mm a'}}
        </span>

        <span *ngSwitchCase="'updated'">
          {{row[col.field] | date: 'MMM d, y, h:mm a'}}
        </span>

        <span *ngSwitchCase="'balance'">
          {{row.billing.balance / 100 | currency:'USD'}}
        </span>

        <span *ngSwitchCase="'approved'">
          <i class="pi pi-check" *ngIf="row[col.field]"></i>
          <i class="pi pi-ban" *ngIf="!row[col.field]"></i>
        </span>

        <span *ngSwitchCase="'deleted'">
          <i class="pi pi-check" *ngIf="row[col.field]"></i>
          <i class="pi pi-ban" *ngIf="!row[col.field]"></i>
        </span>

        <span *ngSwitchCase="'location'">
          {{row[col.field].streetAddress}}, {{row[col.field].city}}, {{row[col.field].state}}
          {{row[col.field].zip}}
        </span>

      </td>
    </tr>
  </ng-template>

  <ng-template let-data pTemplate="rowexpansion">
    <tr>
      <td [attr.colspan]="selectedColumns.length + 1">
        <company-preview [company]="data"></company-preview>
      </td>
    </tr>
  </ng-template>

</p-table>

<p-dialog [header]="securityService.hasRole(Role.ADMIN) ? 'Edit Company' : 'Company info'" [(visible)]="displayEditDialog"
          showEffect="fade" [modal]="true" (onHide)="closeDialog()">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="selectedCompany">
    <div class="ui-card-title">General information</div>
    <div class="ui-grid-row ui-grid-field">
      <div class="ui-grid-col-4"><label for="name">Company logo</label></div>
      <div class="ui-grid-col-8">
        <image-cropper confirmTitle="Delete company logo" [image]="selectedCompany.iconUrl" (fileChange)="newIcon = $event"
                       (delete)="deleteCompanyLogo()"
                       [disabled]="!securityService.hasRole(Role.ADMIN)"></image-cropper>
      </div>
    </div>
    <div class="ui-grid-row ui-grid-field">
      <div class="ui-grid-col-4"><label for="name">Cover image</label></div>
      <div class="ui-grid-col-8">
        <image-preview confirmTitle="Delete company cover" (delete)="deleteCompanyCover()" (fileChange)="newCoverImage = $event"
                       [image]="selectedCompany.backgroundUrl"
                       [disabled]="!securityService.hasRole(Role.ADMIN)"></image-preview>
      </div>
    </div>
    <div class="ui-grid-row ui-grid-field">
      <div class="ui-grid-col-4"><label for="name">Name</label></div>
      <div class="ui-grid-col-8"><input pInputText id="name" [(ngModel)]="selectedCompany.name" maxlength="255"
                                        [disabled]="!securityService.hasRole(Role.ADMIN)"/></div>
    </div>
    <div class="ui-grid-row ui-grid-field">
      <div class="ui-grid-col-4"><label for="description">Description</label></div>
      <div class="ui-grid-col-8">
        <textarea pInputTextarea rows="4" id="description" [(ngModel)]="selectedCompany.description"
                  [disabled]="!securityService.hasRole(Role.ADMIN)"
                  maxlength="1024"></textarea>
      </div>
    </div>
    <div class="ui-grid-row ui-grid-field">
      <div class="ui-grid-col-4"><label for="founded">Founded</label></div>
      <div class="ui-grid-col-8"><input pInputText type="number" id="founded" [(ngModel)]="selectedCompany.founded"
                                        [disabled]="!securityService.hasRole(Role.ADMIN)"
                                        min="1940" max="3000"/>
      </div>
    </div>
    <div class="ui-grid-row ">
      <div class="ui-grid-col-4"><label for="siteUrl">Site url</label></div>
      <div class="ui-grid-col-8">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">http://&nbsp;</span>
          <input pInputText type="text" id="siteUrl" [(ngModel)]="selectedCompany.siteUrl"
                 [disabled]="!securityService.hasRole(Role.ADMIN)"
                 maxlength="255"/>
        </div>

      </div>
    </div>
    <div class="ui-card-title">Contact information</div>

    <div class="ui-grid-row ui-grid-field">
      <div class="ui-grid-col-4"><label for="internalPhone">Internal phone</label></div>
      <div class="ui-grid-col-8"><input pInputText type="text" id="internalPhone"
                                        [(ngModel)]="selectedCompany.internalPhone" maxlength="255"
                                        [disabled]="!securityService.hasRole(Role.ADMIN)"/></div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button *ngIf="securityService.hasRole(Role.ADMIN)" type="button" pButton icon="pi pi-check" (click)="save()" label="Update"></button>
      <button *ngIf="!securityService.hasRole(Role.ADMIN)"  type="button" pButton icon="pi pi-check" (click)="displayEditDialog = false" label="Ok"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Add bonus" [(visible)]="displayBonusDialog" showEffect="fade"
          [modal]="true" [contentStyle]="{'overflow':'visible'}" (onHide)="closeDialog()">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="selectedCompany">
    <div class="ui-card-title">
      <span class="plain">Add bonus for </span>
      <span>{{selectedCompany.name}}</span>
    </div>

    <div class="ui-grid-row ui-grid-field">
      <div class="ui-grid-col-4"><label for="amount">Amount</label></div>
      <div class="ui-grid-col-8">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">$</span>
          <input pInputText type="text" id="amount" [(ngModel)]="bonus" maxlength="3" pKeyFilter="pnum"/>
          <span class="ui-inputgroup-addon">.00</span>
        </div>
      </div>
    </div>

  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" (click)="addBonus()" label="Submit"></button>
    </div>
  </p-footer>
</p-dialog>

<admin-location-validation [(toggle)]="displayLocationDialog" (onValidatedLocation)="updateLocation($event)" [location]="toLocationValidate"></admin-location-validation>

<p-contextMenu #cm [model]="contextMenuItems"></p-contextMenu>
