p-table::ng-deep {
  .ui-cell-data {
    a {
      display: block;
      margin-bottom: 2px;
      &:hover {
        color: #5a2bdb;
      }
    }
  }
}

.image-preview {
  width: 100px;
  height: 60px;
  background-size: cover;
  display: inline-block;
}


td[ng-reflect-ng-switch="questionaryId"] {
  text-align: center;
}

.trade-wrapper {
  background-color: rgba(230, 230, 230, 0.5);
  padding: 0px 2px;
  &:not(:last-of-type) {
    margin-bottom: 2px;
  }
}
