@import "../../../../improver-mixins.scss";

.contractor-lead-purchase-content {
  @include response-to(xs) {
    flex-direction: column !important;
  }

}

.top-page-header {
  display: flex;
  flex-direction: row;
  @include response-to(xs) {
    .lead-title {
      width: 100%;
      text-align: center;
    }
  }

  &.step-two {
    justify-content: center;
  }

  .lead-title {
    font-size: 24px;
    font-weight: 600;
    color: $black-primary;
    margin: 24px 0;
  }
}

.lead-details-card {

  .lead-map-wrapper {
    .lead-map {
      width: 100%;
      height: 150px;
      display: block;
    }
  }

  .lead-info-block {

    .main-info {
      padding: 24px 24px 16px 16px;
      border-bottom: solid 1px #e8e8e8;

      display: flex;
      flex-direction: row;
      max-height: 100%;
      align-content: flex-start;
      justify-content: space-between;
      align-items: flex-start;

      .client-name {
        font-size: 16px;
        color: $black;
      }

      .address {
        font-size: 14px;
        color: #757575;
        text-transform: capitalize;
      }

      .date {
        font-size: 12px;
        line-height: 1.33;
        color: $black-500;
      }

    }

    .secondary-info {
      padding: 12px 24px 8px 16px;
      border-bottom: solid 1px #e8e8e8;

      .group {
        margin-bottom: 8px;

        .label {
          font-size: 12px;
          line-height: 1.33;
          color: #757575;
        }

        .value {
          font-size: 14px;
          color: $black-primary;
        }

      }

    }

    .questionary-answers {
      padding: 12px 24px 18px 16px;
      border-top: solid 1px #e8e8e8;
      border-bottom: solid 1px #e8e8e8;

      .group {
        margin-bottom: 8px;

        .label {
          font-size: 12px;
          line-height: 1.33;
          color: #757575;
        }

        .results-wrapper {
          display: flex;
          flex-direction: row;
        }

        .value {
          padding: 2px 2px;
          font-size: 12px;
          line-height: 1.33;
          color: $black-primary;
          border-radius: 2px;
          background-color: $black-200;
          margin-right: 8px;
        }

      }
    }

  }

  .lead-error-block {
    text-align: center;
    padding: 24px;
  }

}

.lead-actions-card {
  min-height: 80px;

  .lead-actions-content-wrapper {

    .lead-actions-header {
      font-size: 20px;
      font-weight: 600;
      text-align: left;
      color: $black-primary;
      padding: 16px;
    }

    .lead-actions-content {
      display: flex;
      flex-direction: column;

      .connect-card-message {
        color: $black-secondary;
        padding: 16px 16px 16px;
        font-size: 14px;
      }

      .add-card-button-wrapper {
        display: flex;
        justify-content: center;
        padding: 0px 16px 16px;
        button {
          width: 100%;
        }
      }

      .lead-pricing-payment {

        .lead-price-group {
          padding: 0px 24px 14px 18px;
          flex-direction: row;
          display: flex;
          align-content: flex-end;
          justify-content: space-between;
          align-items: flex-end;

          .label {
            font-size: 14px;
            color: $black-500;
          }
          .value {
            font-size: 16px;
            font-weight: 600;
            color: $black;
          }
        }

        .charge-to-balance-group {
          padding: 16px 24px 14px 18px;
          border-top: solid 1px #e8e8e8;
          flex-direction: row;
          display: flex;
          align-content: flex-end;
          justify-content: space-between;
          align-items: flex-end;

          .label {
            font-size: 14px;
            color: $black-500;
          }
          .value {
            font-size: 14px;
            color: $black;
          }
        }

        .charge-to-card-group {
          padding: 0px 24px 14px 18px;
          border-bottom: solid 1px #e8e8e8;
          flex-direction: row;
          display: flex;
          align-content: flex-end;
          justify-content: space-between;
          align-items: flex-end;

          .label {
            font-size: 14px;
            color: $black-500;
          }
          .value {
            font-size: 14px;
            color: $black;
          }
        }


      }


      .payment-hint-block {
        padding: 16px;
        border-bottom: solid 1px #e8e8e8;
        color: $black-primary;
        background-color: $black-100;
        font-size: 13px;
        .highlight {
          font-weight: 700;
        }
      }

      .payment-method-block {
        padding: 18px 24px 8px;

        .title {
          font-size: 14px;
          color: $black-500;
        }

        .card-info-wrapper {
          margin-top: 16px;
          flex-direction: row;
          display: flex;
          align-content: center;
          justify-content: space-between;
          align-items: center;

          .card-info {
            display: flex;
            flex-direction: row;
          }

          .icon {
            width: 27px;
            height: 19px;
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 4px;
          }

          .change-button {
            font-size: 12px;
            text-align: left;
            color: $primary-500;
            cursor: pointer;
          }

        }

      }

      .purchase-buttons-wrapper {
        padding: 16px 24px 8px;
        flex-direction: column;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;

        button {
          width: 100%;

          @include response(sm) {
            width: 50%;
          }
        }

        .cancel-button-pad {
          margin-top: 16px;
        }

      }

    }

  }

}

.similar-projects-card {
  margin-bottom: 74px;

  .title {
    font-size: 16px;
    padding: 16px;
    color: $black;
  }

  .content {

    .similar-project-info {
      padding: 16px 12px;
      border-top: solid 1px #e8e8e8;
      cursor: pointer;
      display: block;

      .top-line {
        font-size: 14px;
        font-weight: 600;
        color: $black-primary;
        margin-bottom: 4px;

        .price {
          margin-left: 40px;
        }
      }

      .bottom-line {
        font-size: 12px;
        font-weight: 600;
        line-height: 1.33;
        color: $black-500;

        .time-ago {
          margin-left: 24px;
        }
      }

    }

  }

}

.another-projects-card {
  margin-bottom: 24px;

  .title {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #212121;
    padding-bottom: 16px;
  }

  .card {
    padding: 16px 12px;
    border-top: solid 1px #e8e8e8;
    cursor: pointer;

    .top-line {
      font-size: 14px;
      font-weight: 600;
      color: $black-primary;
      margin-bottom: 4px;
      flex-direction: row;
      box-sizing: border-box;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .price {
        margin-left: 40px;
      }
    }

    .bottom-line {
      display: flex;
      font-size: 12px;
      font-weight: 600;
      line-height: 1.33;
      color: $black-500;
      flex-direction: row;
      box-sizing: border-box;
      align-items: flex-start;
      justify-content: space-between;

      .time-ago {
        margin-left: 24px;
      }
    }

  }

}

.contractor-lead-thanks-purchase-content {
  .title {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: $black-primary;
    padding-bottom: 16px;

    @include response-to(xs) {
      margin-left: 15px;
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    margin: 0 -12px;

    @include response-to(xs) {
      flex-direction: column;
      margin: 0;
    }

    .similar-project-info {
      width: 33.333333%;
      margin: 0 12px;

      @include response-to(xs) {
        width: 100%;
        margin: 0;
      }
    }
  }

  .contractor-lead-purchase-success {
    //max-width: 484px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    display: flex;
    max-width: 100%;

    .lead-title {
      margin: 22px 0 40px 0;
    }

    .success-purchase {
      img {
        width: 84px;
        height: 84px;
        vertical-align: bottom;
      }
    }

    .purchase-info {
      margin-top: 24px;
      display: flex;
      flex-direction: column;

      .purchase-info-row {
        display: flex;
        flex-direction: row;
        margin-bottom: 8px;
        justify-content: space-between;

        .label {
          margin-right: 16px;
        }

        .card-info {
          display: flex;

          .icon {
            width: 27px;
            height: 19px;
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
          }

          .ends {
            margin-left: 8px;
          }

        }



      }

    }

    .view-invoice-button {
      margin-top: 24px;
    }

    .header-message {
      font-size: 16px;
      text-align: center;
      color: $black;
      padding: 16px 0 8px 0;

    }

    .lead-name {

      .highlight {
        font-weight: 700;
      }

    }

    .after-bought-lead-actions {
      button {
        width: 140px;
      }

      padding-bottom: 24px;
      display: flex;
      align-content: space-between;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .in-line-text {
        width: 240px;
      }

    }

  }
}

.lead-error {
  .card {
    text-align: center;
    padding: 24px;
    margin-top: 24px;
    margin-bottom: 24px;

    .lead-error-title {
      font-size: 24px;
      font-weight: 600;
      color: $black-primary;
    }

    .buttons-wrapper {

      button {
        margin: 0px 10px;
        width: 150px;
      }

    }

  }
}

.card {
  border-radius: 2px;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 24px;

  &.step-two {
    margin-top: 24px;
    padding: 0 12px;
    .lead-title {
      font-size: 24px;
      font-weight: 600;
      color: $black-primary;
      margin: 24px 0 24px 0;
    }
  }
}

.next-step-advice {
  margin: auto;
  font-size: 16px;
  text-align: center;
  color: $black-400;
  padding-bottom: 40px;
  padding-top: 32px;
  max-width: 484px;
}

.purchase-terms-block {
  margin-bottom: 48px;
  color: $black-500;
  a {
    color: $primary-500;
  }
}

