<div class="services-selector-wrapper">
  <div *ngIf="autocompleteData.length > 0">

    <form class="add-trade-form"
          name="add-trade-form"
          #addTradeForm="ngForm"
          (ngSubmit)="search(addTradeForm)">

      <cv-select #addingItem="ngModel"
                 [(ngModel)]="model.addingItem"
                 [dropdownHeight]="dropdownHeight"
                 typeKey="type"
                 name="addingItem"
                 [dropdownBorder]="false"
                 [allowAnyValue]="true"
                 [propagateEnterEvent]="false"
                 [disableItemsMatch]="true"
                 [autocomplete]="true"
                 [items]="filteredData"
                 (autocompleteSearch)="autocompleteSearch($event)"
                 (onSelect)="search(addTradeForm)"
                 labelKey="name"
                 label="Add Trade or Service, e.g. Plumbing">
      </cv-select>
      <div class="error-holder" *ngIf="addingItem.dirty || addingItem.touched">
        <div *ngIf="errorMessage != ''">
          {{errorMessage}}
        </div>
      </div>

      <mat-icon class="search">search</mat-icon>

    </form>

    <div class="selected-trades-list" *ngIf="tradesAndServiceTypes && tradesAndServiceTypes.services.length > 0">

      <div class="trades-title" *ngIf="securityService.hasRole(Role.INCOMPLETE_PRO)">Trades and Services you provide</div>

        <ng-template ngFor [ngForOf]="tradesAndServiceTypes?.trades" let-trade let-i="index" [ngForTrackBy]="trackById">
          <div class="collapse-content" [ngClass]="{'-highlight': trade.new}">
          <cv-collapse [title]="trade.name" [(collapsed)]="trade.collapsed" (collapsedChange)="showMore(trade, $event)"
                       (toggle)="$event && scrollHolder.scrollTo(collapse.elementRef, 500)" #collapse>

            <div content>

              <div class="hint">Please check any Service that applies to you</div>

              <div class="check-box-wrapper" [formGroup]="tradesControl">

                <cv-checkbox-group [formControlName]="trade.name" #checkbox [items]="trade.services"
                                   valueKey="id" (check)="onServiceCheck($event)">
                  <ng-template  let-item let-i="index" cvTemplate>
                    <div *ngIf="i < getTradeSize(trade)" class="service-type" [ngClass]="{'-highlight': item?.highlight}">
                      <div class="custom-check-box"></div>
                      <span class="service-type-name">{{item.name}}<span>${{item.leadPrice / 100}}</span></span>
                    </div>
                  </ng-template>
                </cv-checkbox-group>

              </div>

              <div class="show-more" (click)="showMore(trade)" *ngIf="trade.new">
                <span>show more</span>
              </div>

              <button *ngIf="!trade.new" cv-button-empty (click)="removeTrade(trade)" type="button">Remove Trade</button>

            </div>

          </cv-collapse>

          </div>
        </ng-template>

      <div class="empty-service-list-message" *ngIf="tradesAndServiceTypes.services.length == 0">You have not selected
        any Trade yet
      </div>

    </div>

  </div>
</div>


