<div class="dialog-content-wrapper">
  <div class="dialog-content-container" [ngClass]="{'fix-height' : questionaryControlService.questionaryIsLoading}">

    <div class="questionary-header" [ngClass]="{'start-screen': !questionaryControlService.showQuestionary}">

      <div class="questionary-progress-bar-wrapper" fxLayoutAlign="center center" *ngIf="!questionaryControlService.questionaryIsLoading">
        <div class="questionary-progress-bar-empty">
          <div class="questionary-progress-bar"
               [ngStyle]="{'width': checkProgressBarWidth()}"></div>
        </div>
      </div>

      <mat-icon class="close-modal" color="accent" (click)="close()">clear</mat-icon>

    </div>

    <questionary-form *ngIf="!questionaryControlService.questionaryIsLoading"></questionary-form>

    <div class="loading-spinner-wrapper" *ngIf="questionaryControlService.questionaryIsLoading">
      <div class="background">
        <mat-progress-spinner
          class="example-margin"
          mode="indeterminate"
          diameter="30">
        </mat-progress-spinner>
      </div>
    </div>

  </div>
</div>

