<form class="questionary-form" [formGroup]="questionaryControlService.mainForm" [ngClass]="questionaryControlService.showQuestionary ? 'bg-white' : 'bg-image'">

  <div *ngIf="questionaryControlService.showQuestionary" class="start-white-screen">
    <ng-container>

      <pre-questionary-block *ngIf="questionaryControlService.currentQuestionIndex < 0">
      </pre-questionary-block>

        <ng-template ngFor let-question [ngForOf]="questionaryControlService.questionary?.questions" let-i="index">
          <questionary-form-question [question]="question" [index]="i" *ngIf="i == questionaryControlService.currentQuestionIndex" ></questionary-form-question>
        </ng-template>

      <default-questionary-block *ngIf="questionaryControlService.currentQuestionIndex >= questionaryControlService.questionaryLength">
      </default-questionary-block>

    </ng-container>
  </div>

</form>
