@import "improver-mixins.scss";
@import "../../account.component.scss";

.billing-content {
  @include response(xs, sm){
    width: 100%;
  }
}

.account-nav-title {
  font-size: 24px;
  font-weight: 600;
  color: $black-800;
}

.card {
  &.payment-method-card, &.transaction-history-card, &.subscriptions-card {
    padding: 0px;
    overflow: auto;
  }
}
