<div class="container">
  <div class="row">

    <div class="col-md-3 sm-none xs-none">
      <div class="account-top-line"></div>
      <account-nav></account-nav>
    </div>

    <div class="col-md-9 col-sm-12">

      <div class="account-top-line">
        <div class="account-nav-title">Billing</div>
      </div>

      <div class="card payment-method-card">
        <payment-method></payment-method>
      </div>

      <div class="card subscription-card">
        <subscription></subscription>
      </div>

      <div class="card transaction-history-card">
        <billing-transactions></billing-transactions>
      </div>

    </div>

  </div>
</div>

<layout-footer></layout-footer>
