<div class="header">
  <h3>Request review revision</h3>
  <div class="close" (click)="close()">
    <cv-icon icon="imp-icon-cancel"></cv-icon>
  </div>
</div>
<div class="content" [cvSpinner]="processing" [cvSpinnerSize]="40" [cvSpinnerBackground]="true"
     cvSpinnerBackgroundColor="white">
  <form action="" #form="ngForm" (ngSubmit)="form.valid && submit()">
    <p>If for any reason you receive low rating review, you can ask customer to revise it. We'll send the customer an email that they have a Review revision request with the message you wrote.</p>
    <p>Up to <b>{{review.publishDate | date:'longDate'}}</b> you can discuss with customer and fix outstanding problems if any.</p>

    <!--<p>You can only submit one request per review.</p>-->
    <cv-input-field>
      <cv-field-label>Message for <b>{{review.customer.name}}</b></cv-field-label>
      <textarea required trim cv-input name="message" id="" cols="30" rows="5" minlength="10" maxlength="255"
                [(ngModel)]="model.message" placeholder="Enter your message for {{review.customer.name}} here" #message="ngModel"></textarea>
      <cv-field-error *ngIf="message.dirty || message.touched || form.submitted">
           <span *ngIf="message.errors?.required">
             {{messages.errors.default.required}}
           </span>
           <span *ngIf="message.errors?.minlength">
             {{messages.errors.default.minlength}}
           </span>
           <span *ngIf="message.errors?.maxlength">
             {{messages.errors.default.maxlength}}
           </span>
      </cv-field-error>
    </cv-input-field>


    <p>Client cannot rate you lower than original review. If the client accepts your request, the revised review will be published on your profile.
      If the client declines your request, or not respond till <b>{{review.publishDate | date:'longDate'}}</b>, the original review will be published.
      We'll let you know the client’s decision immediately by email.</p>

    <p>Regardless of the outcome of your request, please respect the customer decision.</p>

    <div class="actions">
      <button cv-button-flat flatStyle="dark" (click)="close()" type="button">Cancel</button>
      <button cv-button type="submit">Send</button>
    </div>
  </form>
</div>
