@import "improver-mixins";

.dialog-content-wrapper {

  @include response-to(sm) {
    background: #fff;
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: auto;
  }

}

.header {
  position: relative;
  background-color: $grey-150;
}

h3 {
  margin: 0;
  font-size: 18px;
  color: $black-800;
  padding: 17px 24px;
  font-weight: 400;
}
p {
  margin-top: 0;
  font-size: 15px;
}

.close {
  position: absolute;
  right: 22px;
  top: 16px;
  cv-icon {
    color: $grey-400;
    font-size: 14px;
    cursor: pointer;
    transition: color .3s ease;
    &:hover {
      color: $black-800;
    }
  }
}

.content {
  padding: 24px 24px 24px;
}

.actions {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

cv-input-field {
  margin-bottom: 16px;
}
