@import "../../scss/variables";

:host {
  border: 1px solid transparent;
  color: $primary-500;
  background-color: $white;
  &.-dark {
    color: $black-400;
    &:hover {
      color: $black-400;
      background-color: $black-100;
    }
  }
  &:hover {
    color: $primary-600;
    background-color: $primary-100;
  }
  &:active {
  }

  &.-danger {
    background-color: $red-500;
    &:hover {
      background-color: $red-400;
    }
  }

  &:disabled, &[disabled] {
    color: $black-100;
    background-color: transparent;
    box-shadow: none;
    cursor: not-allowed;
    ::ng-deep cv-icon {
      color: #ccc !important;
    }
    &:hover, &:focus, &:active {
      background-color: transparent !important;
    }
  }
}
