<div class="popular-services">
  <div class="header">
    <div class="title-block">
      <div class="title">What type of project are you planning?</div>
    </div>
    <button routerLink="/services" class="see-all-service">See All services</button>
  </div>
  <div class="content" *ngIf="items.length > 0">

    <div class="list-wrapper" (swipeleft)="moveLeft()" (swiperight)="moveRight()">
      <div class="list" @blockInitialRenderAnimation>

        <div *ngFor="let item of items; index as i;" [@animator]="{value: i, params: {transformX: transformX}}" (@animator.done)="animationDone($event)">
          <advertisement-block-element *ngIf="media.xs || media.sm" [item]="item" (click)="showServicesList()" [ngClass]="{'hoverable': mobileHoverActive && (i == 0 || i == 1 && !media.md)}"></advertisement-block-element>
          <advertisement-block-element *ngIf="!media.xs && !media.sm" [item]="item" [ngClass]="{'hoverable': i == 0 || i == 1 && !media.md}"></advertisement-block-element>
        </div>

      </div>
    </div>

    <div class="controls-wrapper">

      <div class="separator"></div>

      <div class="controls noselect">
        <div class="next" (click)="moveLeft()">
          <span class="material-icons">navigate_next</span>
        </div>
        <div class="previous" (click)="moveRight()">
          <span class="material-icons">navigate_before</span>
        </div>
      </div>
    </div>

    <button routerLink="/services" class="see-all-service mobile">See All Services</button>

  </div>



</div>
