@import "improver-mixins.scss";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;

  @include response(md,lg) {
    padding: 0 24px;
  }

  @include response(sm) {
  }
}

.popular-services {
  max-width: $content-grid-max-width;
  width: 100%;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 48px;

    @include response-to(sm) {
      margin-bottom: 20px;
    }

    .title-block {

      @include response-to(sm) {
        padding: 0 24px;
      }

      @include response-to(xs) {
        padding: 0 20px;
      }

      .title {
        font-family: Merriweather;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 140%;
        color: $dark;

        @include response-to(sm) {
          font-size: 22px;
          line-height: 140%;
        }

      }

      .title-hint {
        color: $dark;
        max-width: 460px;
        opacity: 0.4;
        margin-top: 16px;
        margin-bottom: 16px;

        @include response-to(sm) {
          font-size: 14px;
          line-height: 140%;
        }
      }

    }

  }

  .content {
    position: relative;
    margin-bottom: 48px;

    .list-wrapper {
      display: flex;
      flex-direction: row;
      position: relative;


      .list {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        position: relative;
        margin-bottom: 64px;


        @include response-to(sm) {
          margin-left: 24px;
          max-width: calc(100vw - 24px);
          margin-bottom: 48px;
        }

        @include response-to(xs) {
          margin-bottom: 30px;
          margin-left: 20px;
          max-width: calc(100vw - 20px);
        }

      }
    }

    .controls-wrapper {
      position: absolute;
      right: 0;
      top: -10px;
      width: 120px;
      height: 200px;
      padding: 30px 30px;
      background-color: white;
      z-index: 20;

      @include response-to(sm) {
        display: none;
      }

      .controls {
        height: 100%;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .next {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background: rgba($dark, 0.2);
          color: white;
          span.material-icons {
            font-size: 36px;
          }
        }

        .previous {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: 2px solid rgba($dark, 0.2);
          color: rgba($dark, 0.2);
          span.material-icons {
            font-size: 36px;
          }
        }

      }

      .separator {
        position: absolute;
        height: 100%;
        background-color: transparent;
        width: 13px;
        left: 0px;
        top: 0px;
        box-shadow: -6px -1px 4px -3px rgba(38, 47, 86, 0.2);
      }

    }



  }

  button.see-all-service {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    padding: 12px 24px;
    background: $blue-primary;
    border-radius: 8px;
    color: white;
    border-style: none;

    @include response-to(sm) {
      display: none;
    }

    &.mobile {
      display: block;
      width: calc(100% - 48px);

      @include response-from(md) {
        display: none;
      }

      @include response-to(sm) {
        margin: 0 24px;
      }

      @include response-to(xs) {
        margin: 0 20px;
        width: calc(100% - 40px);
      }

    }

    &:hover {
      background-image: linear-gradient(to top, $primary-400, $primary-600 85%);
      box-shadow: 0px 5px 20px rgba(38, 47, 86, 0.12);
    }

    &:active {
      background: $primary-500 none;
    }

  }

}




