@import "../../../../../improver-mixins.scss";

:host {
  display: block;
  padding: 16px;
  @include response(sm, md){
    text-align: center;
  }
}

h3 {
  font-size: 16px;
  margin: 0 0 12px;
  color: #424242;
  font-weight: 600;
}

.num {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
}

.work {
  font-size: 12px;
  line-height: 16px;
  color: $black-400;
}

span {
  display: block;
  color: #757575;
  font-size: 14px;
  margin: 8px 0;
}

button {
  color: $primary-500;
  background-color: $white;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.contact-us-link {
  color: $primary-500;
  &:hover {
    text-decoration: underline;
  }
}
