<div class="wrapper">

<!--  <div class="map-wrapper">-->

<!--    <div class="image-wrapper">-->
<!--      <img src="/assets/img/general-coverage-map.png" alt="map">-->

<!--      <div class="map-legend">-->
<!--        <div class="title">Now here, all over soon</div>-->
<!--        <div class="states">-->
<!--          <div class="state-in-coverage">New York</div>-->
<!--          <div class="state-in-coverage">New Jersey</div>-->
<!--          <div class="state-in-coverage">Connecticut</div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->

<!--  </div>-->

  <div class="testimonials-wrapper">

    <testimonials [testimonials]="testimonials" [title]="testimonialsTitle"></testimonials>

  </div>


</div>
