@import "improver-mixins.scss";

:host {
  background-color: $white;

}

.wrapper {
  max-width: $content-grid-max-width;
  margin: auto;

  .map-wrapper {
    position: relative;
    margin-bottom: 150px;

    @include response-to(lg) {
      padding-right: 24px;
    }

    @include response-to(md) {
      margin-bottom: 80px;
    }

    @include response-to(sm) {
      margin-bottom: 50px;
    }

    @include response-to(xs) {
      padding-left:  20px;
      padding-right: 20px;
    }

    .image-wrapper {
      padding-right: 150px;
      position: relative;

      @include response-to(lg) {
        padding-left: 24px;
      }

      @include response-to(xs) {
        padding-right: 0px;
        padding-left: 0px;
      }

      img {
        max-width: calc(#{$content-grid-max-width} - 100px);
        width: 100%;


        @include response-to(xs) {

        }
      }

      .map-legend {
        position: absolute;
        display: flex;
        flex-direction: column;
        bottom: 136px;
        right: 0px;

        @include response-to(md) {
          bottom: 80px;
        }


        @include response-to(sm) {
          bottom: 40px;
        }


        @include response-to(xs) {
          position: initial;
          margin-top: 24px;
          align-items: center;
        }

        .title {
          font-size: 16px;
          line-height: 140%;
          text-align: center;
          color: rgba($dark, 0.6);
          margin-bottom: 15px;

          @include response-to(md) {
            font-size: 14px;
          }


          @include response-to(sm) {
            font-size: 12px;
          }
        }

        .states {
          display: flex;
          flex-direction: column;

          @include response-to(xs) {
            flex-direction: row;
            margin-bottom: 12px;
          }

          .state-in-coverage {
            font-weight: bold;
            font-size: 18px;
            line-height: 140%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            padding: 12px 24px;
            margin-bottom: 20px;
            white-space: nowrap;

            @include response-to(md) {
              font-size: 14px;
              padding: 10px 20px;
              margin-bottom: 16px;
            }


            @include response-to(sm) {
              font-size: 12px;
              padding: 8px 16px;
              margin-bottom: 12px;
            }

            @include response-to(xs) {
              max-width: 90px;
              margin-right: 6px;
              margin-left: 6px;
            }


            &:nth-child(1) {
              border-radius: 12px;
              background: rgba(#6EC9F7, 0.2);
              color: #6EC9F7;
            }

            &:nth-child(2) {
              border-radius: 12px;
              background: rgba(#F17776, 0.2);
              color: #F17776;
            }

            &:nth-child(3) {
              border-radius: 12px;
              background: rgba(#14B8B8, 0.2);
              color: #14B8B8;
            }

          }

        }



      }

    }



  }

  .testimonials-wrapper {
    margin-bottom: 150px;
    position: relative;

    @include response-to(lg) {
      padding-left: 24px;
    }

    @include response-to(md) {
      margin-bottom: 80px;
    }

    @include response-to(sm) {
      margin-bottom: 50px;
    }

    @include response-to(xs) {
      padding-left: 20px;
    }

    .block-title {
      font-family: Merriweather;
      font-weight: bold;
      font-size: 36px;
      line-height: 140%;
      color: $dark;
      margin-bottom: 38px;

      @include response-to(sm) {
        font-size: 22px;
        margin-bottom: 24px;
      }
    }

  }

}


