<div class="pro-banner-wrapper" *ngIf="!securityService.hasRole(Role.CUSTOMER)">

  <div class="pro-banner-container">

    <div class="pro-banner-content">

      <div class="pro-banner-blocks">

      <div class="pro-banner-main-block">
        <div class="title">
          {{bannerConfig.title}}
        </div>
      </div>

      <div class="pro-banner-secondary-block">
        <div class="text" >
          {{bannerConfig.text}}
        </div>
      </div>

      <a class="button" [routerLink]="bannerConfig.routerLink" *ngIf="!securityService.hasRole(Role.CONTRACTOR)">
        <div class="become-a-pro-button">{{bannerConfig.button}}</div>
      </a>
      </div>

      <div class="pro-banner-image">
        <img src="../../../../assets/img/{{bannerConfig.image}}" alt="pro">
      </div>

    </div>

  </div>

</div>




