<div class="wrapper" [cvSpinner]="loading" [cvSpinnerSize]="24" [cvSpinnerBackground]="true">

  <div class="message">
    We sent verification code to your phone
    <span class="editable-phone-wrapper">
    <span class="phone-number">{{removePhoneMask(phoneNumber)}}</span><span *ngIf="showEditButton" class="edit-phone-number" (click)="onPhoneNumberChangeClick.emit($event)"> (edit)</span>
    </span>
  </div>

  <form class="validate-phone-form"
        name="validate-phone-form"
        #validatePhoneForm="ngForm"
        novalidate>

    <div class="row">

      <div class="col-xs-12">

        <cv-input-field>
          <input cv-input class="code" minlength="4" maxlength="4"
                 #code="ngModel"
                 name="code"
                 [(ngModel)]="phoneValidationConfirm.code"
                 (ngModelChange)="onInput()"
                 placeholder="xxxx"
                 positiveNumeric
                 required/>
          <cv-field-error *ngIf="verificationCodeIsIncorrect">
            <span>Verification code is incorrect</span>
          </cv-field-error>
        </cv-input-field>
      </div>

    </div>

  </form>

  <div class="actions" >
    <span class="no-message">Did not received message?</span>
    <button class="send-again-button" [disabled]="resendDisabledSeconds > 0 || loading" (click)="numberValidationRequest()">Send again<span *ngIf="resendDisabledSeconds > 0">{{' (' + resendDisabledSeconds + ')'}}</span></button>
  </div>

</div>


