@import "../../scss/variables";

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $black-primary;
  font-size: 10px;
  position: absolute;
  top: 2px;
  right: 0;
}
