<div class="auth-wrapper">
  <div class="auth-container">
    <div class="left-bar">
      <div class="left-bar-container">
        <div class="copyright-line">© 2019 Home Improve, Inc</div>
      </div>

    </div>

    <div class="main-block">

      <div class="header"></div>

      <div class="container">

        <form class="auth-form"
              name="restore-password-form"
              #restorePasswordForm="ngForm"
              (ngSubmit)="restorePasswordForm.valid && restorePasswordRequest(restorePasswordForm)"
              novalidate
              *ngIf="step == 1">


          <div class="auth-form-title">Forgot password?</div>
          <div class="auth-form-subtitle">We’ll send you instructions by mail</div>

          <cv-input-field>
            <input cv-input placeholder="Email"
                   #email="ngModel"
                   name="email"
                   type="text"
                   inputmode="email"
                   [(ngModel)]="credentials.email"
                   required
                   pattern="{{constants.patterns.email}}">
            <cv-field-error *ngIf="email.dirty || email.touched || restorePasswordForm.submitted">
              <span *ngIf="email.errors?.required">
                {{messages.errors.email.required}}
              </span>
              <span *ngIf="email.errors?.pattern">
                {{messages.errors.email.pattern}}
              </span>
            </cv-field-error>
          </cv-input-field>

          <button cv-button class="full-width auth-form-submit-button" type="submit">Reset password</button>

          <!--<div class="have-account-line">-->
            <!--<div class="question">Don’t recieve a message?</div>-->
            <!--<a class="no-account-button" routerLink="/resend">Resend</a>-->
          <!--</div>-->
        </form>


        <div class="message-email-verification" *ngIf="step == 2">

          <h3>We've just sent the password recovery email</h3>

          <p>Check your inbox for next steps. If you didn't receive an email and your spam folder is empty as well, this could mean you signed up with a different email.</p>


        </div>

        <form class="auth-form"
              name="reset-password-form"
              #resetPasswordForm="ngForm"
              (ngSubmit)="resetPasswordForm.valid && restorePassword(resetPasswordForm)"
              novalidate
              *ngIf="step == 3">

          <div class="auth-form-title">Reset your password</div>
          <div class="auth-form-subtitle">Type your new password and confirm it</div>

          <cv-input-field class="input-with-hints">
            <input cv-input placeholder="New password"
                   #password="ngModel"
                   #passwordInput
                   name="password"
                   type="password"
                   [(ngModel)]="credentials.password"
                   (ngModelChange)="showMessage = false"
                   validateEqual="confirmPassword"
                   validationEqualReverse="true"
                   required
                   minlength="8"
                   maxlength="32"
                   pattern="{{constants.patterns.password}}">
            <cv-field-error>
              <cv-password-hint [checkedInputRef]="passwordInput"></cv-password-hint>
            </cv-field-error>
          </cv-input-field>
          <cv-input-field>
            <input cv-input placeholder="Confirm password"
                   #confirmPassword="ngModel"
                   name="confirmPassword"
                   type="password"
                   [(ngModel)]="credentials.confirmPassword"
                   (ngModelChange)="showMessage = false"
                   validateEqual="password"
                   validationEqualReverse="false"
                   required>
            <cv-field-error *ngIf="confirmPassword.dirty || confirmPassword.touched || resetPasswordForm.submitted">
              <span *ngIf="confirmPassword.errors?.required">
                {{messages.errors.passwordConfirm.required}}
              </span>
              <span *ngIf="confirmPassword.errors?.validateEqual && !confirmPassword.errors?.required">
                {{messages.errors.passwordConfirm.validateEqual}}
              </span>
            </cv-field-error>
          </cv-input-field>

          <response-message *ngIf="showMessage" [type]="SystemMessageType.ERROR" [message]="messageText"
                            [paddingV]="12" [paddingH]="16"
                            [showIcon]="false" (onHide)="onMessageHide($event)"></response-message>


          <button cv-button class="full-width reset-password-form-submit-button"
                  type="submit">Change password
          </button>
        </form>

        <div class="message-email-verification" *ngIf="step == 4">
          Password changed successfully
        </div>

      </div>

      <div class="footer">
        <div class="footer-content">
          <a class="footer-link" href="/privacy-policy" target="_blank" >Privacy Policy</a>
          <a class="footer-link" href="/terms-of-use" target="_blank" >Terms of use</a>
        </div>

        <div class="copyright md-none lg-none xlg-none">
          <div class="copyright-line">© 2019 Home Improve, Inc</div>
        </div>
      </div>
    </div>
  </div>
</div>
