@import "improver-mixins.scss";

:host {

}

.container {
  width: 100%;
  max-width: 568px;
  position: relative;
  box-sizing: border-box;

  .invoice-content {

    .invoice-details-card {
      padding: 24px;
      display: flex;
      flex-direction: column;

      .header-block {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $grey-300;
        padding-bottom: 12px;

        @include response-to(xs) {
          flex-direction: column-reverse;
        }

        .general-info {
          .property {
            display: flex;
            align-items: baseline;
            margin-bottom: 1px;

            .label {
              font-weight: 600;
              font-size: 16px;
              color: $black-800;
              margin-right: 8px;
            }
            .value {
              color: $grey-500;
              font-size: 14px;
            }
          }
        }

        .price-block {
          display: flex;

          @include response-to(xs) {
            padding-bottom: 12px;
            margin-bottom: 12px;
            border-bottom: 1px solid $grey-300;
          }

          .property {
            display: flex;
            align-items: baseline;
            align-self: flex-end;
            .label {
              color: $black-800;
              margin-right: 4px;
              font-size: 16px;
              font-weight: 600;
            }
            .value {
              color: $primary-500;
              font-size: 20px;
              font-weight: 600;
            }
          }

        }

      }

      .mid-block {
        display: flex;
        border-bottom: 1px solid $grey-300;
        padding: 12px 0px;

        .additional-info {

          &:not(:last-child) {
            margin-right: 24px;
          }

          .label {
            font-weight: 600;
            font-size: 16px;
            color: $black-800;
            margin-bottom: 8px;
          }
          .value {
            color: $grey-500;
            font-size: 14px;
            margin-bottom: 8px;
          }

        }

      }

      .footer-block {
        padding-top: 12px;
        padding-bottom: 12px;

        .payment-info {

          &:not(:last-child) {
            margin-right: 24px;
          }

          .title {
            font-weight: 600;
            font-size: 16px;
            color: $black-800;
            margin-bottom: 8px;
          }

          .property {
            display: flex;
            .label {
              color: $grey-500;
              font-size: 14px;
              margin-bottom: 8px;
              margin-right: 8px;
              white-space: nowrap;
            }
            .value {
              color: $grey-500;
              font-size: 14px;
              margin-bottom: 8px;
              word-break: break-all;
            }
          }

        }

        .comments {
          .label {
            font-weight: 600;
            font-size: 16px;
            color: $black-800;
            margin-bottom: 8px;
          }
          .value {
            color: $grey-500;
            font-size: 14px;
            margin-bottom: 8px;
          }
        }

      }

      .view-project-btn {
        margin-left: auto;

        @include response-to(xs) {
          margin: auto;
        }

      }

    }

  }

}

.top-page-header {
  display: flex;
  flex-direction: row;
  @include response-to(xs) {
    .invoice-title {
      width: 100%;
      text-align: center;
    }
  }

  .invoice-title {
    font-size: 22px;
    font-weight: 600;
    color: $black-800;
    margin: 24px 0;
    @include response-to(xs) {
      font-size: 20px;
      margin: 16px 0;
    }
  }
}

.card {
  border-radius: 8px;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 24px;
  overflow: hidden;
  @include response-to(xs) {
    margin-bottom: 12px;
  }
}

.invoice-records-card {
  .invoice-records-table {
    font-size: 14px;

    .table-row {
      height: 48px;
      display: flex;
      padding: 0px 21px;
      flex: 1;
      align-items: center;

      &.even {
        background-color: white;
      }

      &.odd {
        background-color: $grey-100;
      }

      div {
        display: flex;
      }

      .date {
        width: 28%;
      }

      .type {
        width: 28%;
      }

      .description {
        flex: 1;
      }

      .amount {
        width: 10%;
        justify-content: flex-end;

        span {
          margin-right: 3px;
        }
      }

      .total {
        justify-content: flex-end;
        width: 100%;
        font-weight: 700;
      }

    }

    .table-header {
      display: flex;
      background: linear-gradient(to top, #0092ff, #52b4fe);
      color: white;
      opacity: 0.6;
    }

    .table-color {

    }
  ;

  }
}
