@import "improver-mixins";

:host {
  position: absolute;
  top: $header-height;
  left: 0;
  right: 0;
  bottom: 0;

}

.scroll-holder {
  flex-grow: 1;
  overflow-y: auto;
  /*height: 100%;*/
}

router-outlet ::ng-deep + * {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - #{$header-height});

}

router-outlet ::ng-deep + * > .container {
  flex-grow: 1;
}
