<div class="find-professionals">
  <div class="find-professionals-container">
    <div class="find-professionals-button"
         [class.opened]="findProfessionalService.visibilityState | async"
         (click)="findProfessionalService.toggle();">
      <span class="desktop-button xs-none sm-none">
        <i class="material-icons">search</i>
        <span >Find Professionals</span>
      </span>
      <button class="mobile-header-button mat-button md-none lg-none xlg-none">
        <span>
          <i class="material-icons" *ngIf="!(findProfessionalService.visibilityState | async)">search</i>
          <i class="material-icons" *ngIf="findProfessionalService.visibilityState | async">close</i>
        </span>
      </button>
    </div>

    <div class="dropdown-content-wrapper" *ngIf="findProfessionalService.visibilityState | async">
      <div class="dropdown-content">
        <!--TODO: move to shared search component-->
        <form class="search-form"
              #form
              [formGroup]="mainSearchFormGroup"
              (ngSubmit)="searchServiceType(mainSearchFormGroup)"
              (mouseleave)="mouseleave($event)">
          <div class="search-inputs-content">
          <div class="service-type-form-group">
            <cv-select class="main-search-service-input"
                       label="Pipe, carpet, paint, etc."
                       [formControl]="selectionCtrl"
                       [items]="filteredServiceTypes"
                       [disableItemsMatch]="true"
                       [autocomplete]="true"
                       [allowAnyValue]="true"
                       labelKey="name"
                       valueKey="name"
                       [trackBy]="selectTrackBy"
                       [propagateEnterEvent]="true"
                       [dropdownBorder]="false"
                       (autocompleteSearch)="autocompleteSearch($event)"
                       (onClose)="mouseleave($event)"></cv-select>

            <div class="error-holder service-type-error" *ngIf="mainSearchFormGroup.get('selectionCtrl').errors && (mainSearchFormGroup.get('selectionCtrl').dirty || mainSearchFormGroup.get('selectionCtrl').touched)">
              <div *ngIf="mainSearchFormGroup.get('selectionCtrl').errors?.required">
                Please tell us what do you need
              </div>
            </div>
          </div>

          <div class="zip-code-form-group">

            <div class="main-search-zip-input-wrapper">
              <mat-icon class="location-icon">room</mat-icon>

              <input type="text"
                     class="main-search-zip-input"
                     placeholder="Zip code"
                     numericMask
                     [formControlName]="'zipCodeCtrl'"
                     maxlength="5"/>

            </div>

            <div class="error-holder zipcode-eroor" *ngIf="mainSearchFormGroup.get('zipCodeCtrl') && (mainSearchFormGroup.get('zipCodeCtrl').dirty || mainSearchFormGroup.get('zipCodeCtrl').touched)">
              <div *ngIf="mainSearchFormGroup.get('zipCodeCtrl').errors?.required">
                Zip code is required
              </div>
              <div *ngIf="mainSearchFormGroup.get('zipCodeCtrl').errors?.pattern">
                Please enter a valid ZIP code
              </div>
            </div>
          </div>
          </div>
          <div class="submit-button-form-group">
            <button type="submit">Search</button>
          </div>
        </form>

        <div class="categories-wrapper" *ngIf="!mediaQuery.xs || !mediaQuery.sm">
          <div class="category-wrapper">
            <div class="header">
              <span class="name">Popular Categories</span>
            </div>

            <div class="swiper-container find-professional-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let trade of popularTrades" (click)="findProfessionalService.toggle()" [routerLink]="['category', trade.id]">
                  <div class="trade-content">
                    <div class="text-content">
                      <div class="trade-title">{{trade.name}}</div>
                    </div>

                    <div class="image-content" [ngStyle]="{'background-image':'url(' + trade.image + ')'}"></div>
                  </div>
                </div>
              </div>

              <div class="controls">
                <div class="previous" (click)="swiper.slidePrev()">
                  <img src="../../../assets/img/find-professionals/previous-action.svg" alt="Arrow left">
                </div>
                <div class="next" (click)="swiper.slideNext()">
                  <img src="../../../assets/img/find-professionals/next-action.svg" alt="Arrow right">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="categories-wrapper noselect">
          <div class="category-wrapper">
            <div class="header">
              <span class="name">Popular Services</span>
              <a class="action" *ngIf="!mediaQuery.xs" routerLink="/services" (click)="findProfessionalService.toggle()">See All Services</a>
            </div>

            <div class="items row" [ngClass]="showMoreActivated? 'show-more-actions': ''">
              <div *ngFor="let serviceType of popularServiceTypes | cutarraylength:popularServiceSize">
                <div class="item"
                     (click)="findProfessionalService.close(); projectActionService.openQuestionaryWithLastZipCode(serviceType)">
                  {{serviceType.name}}
                </div>
              </div>
              <div *ngIf="mediaQuery.xs && !showMoreActivated" class="show-more-button" (click)="showMore()">See All</div>
            </div>
          </div>
        </div>

        <div class="categories-wrapper noselect" *ngIf="false">
          <div class="category-wrapper">
            <div class="header">
              <span class="name">Recent Searches</span>
            </div>

            <div class="items">
              <div *ngFor="let recentSearch of recentSearches">
                <div class="item">
                  <a (click)="searchServiceTypeByRecentSearch(recentSearch)">{{recentSearch}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="dropdown-overlay"
         *ngIf="findProfessionalService.visibilityState | async"
         (click)="findProfessionalService.close();">
    </div>
  </div>
</div>
