<mat-sidenav-container>
  <mat-sidenav #sidenav [opened]="isSidebarOpen" [disableClose]="true" [mode]="'over'" [autoFocus]="false">
    <div class="loading-backdrop" [ngClass]="{'loading': mapContentIsLoading}"></div>

    <div class="leads-panel" #leadsPanel>
      <div class="search-field-holder">
        <div class="search-row">
          <div class="field">
            <mat-icon class="search-icon" color="primary" *ngIf="!searchTerm || searchTerm == ''">search</mat-icon>
            <mat-icon class="search-icon clear" color="primary" *ngIf="searchTerm && searchTerm != ''" (click)="searchTerm = undefined;">close</mat-icon>
            <input type="text" placeholder="Type to search..." [(ngModel)]="searchTerm" [disabled]="!gMap"/>
          </div>
          <ng-container *ngIf="mediaQuery?.xs || mediaQuery?.sm || mediaQuery?.md">
            <mat-icon class="close-sidenav" (click)="sidenav.close()" *ngIf="sidenav.opened" title="Hide">
              keyboard_arrow_left
            </mat-icon>
          </ng-container>
        </div>
        <div class="config-row">
          <cv-checkbox name="inCoverageOnly" [(ngModel)]="inCoverageOnly" [disabled]="!gMap">
            <div class="label noselect">Only in my area</div>
          </cv-checkbox>
        </div>
      </div>
      <perfect-scrollbar class="leads-list" *ngIf="sortedLeads">
        <h4 *ngIf="!mapContentIsLoading && sortedLeads.length == 0" class="no-leads-found-message">No new leads found according to your configuration. You can use map tool to find more leads in the neighbor areas or <button (click)="resetFilters()">remove filters</button> to see more results.</h4>
        <div class="lead"
             *ngFor="let lead of sortedLeads; let index = index"
             (click)="getLead(lead, index)"
             [ngClass]="{'-selected': (selectedLeadId == lead.id) && selectedLead, 'in-coverage' : areas.includes(lead.location.zip)}">
          <div class="description">
            <div class="top-line">
              <div class="service-type">{{lead.serviceType}}</div>
              <div class="price">{{lead.price/100 | currency:'USD':'symbol'}}</div>
            </div>
            <div class="location">
              <span>
              {{lead.location.city}},
                {{lead.location.state}}
                {{lead.location.zip}}
              </span>
              <div class="timestamp" *ngIf="!lead.inCoverage">{{lead.created | timeAgo | async}}</div>
            </div>
            <div class="bottom-line" *ngIf="lead.inCoverage">
              <div class="in-area">In your area</div>
              <div class="timestamp">{{lead.created | timeAgo | async}}</div>
            </div>
          </div>
        </div>
      </perfect-scrollbar>
    </div>

    <div class="lead-panel" [ngClass]="{'-opened': selectedLead}">
      <ng-container *ngIf="selectedLead">
        <div class="lead-header -border -spacing">
          <mat-icon class="close-panel" (click)="selectedLead = null">close</mat-icon>
          <h2>{{selectedLead.serviceType}}</h2>
          <button cv-button
                  [routerLink]="'/pro/leads-purchase/' + selectedLead.id">
            Purchase lead for {{selectedLead.price/100 | currency:'USD':'symbol'}}
          </button>
        </div>
        <div class="scroll-wrapper">
          <div class="lead-location -border -spacing">
            <div class="location-detail">
              <ul>
                <li>
                  <mat-icon class="icon">person</mat-icon>
                  <span>{{selectedLead.clientName}}</span>
                </li>
                <li>
                  <mat-icon class="icon">place</mat-icon>
                  <span>
                      {{selectedLead.location.city}},
                    {{selectedLead.location.state}}
                      {{selectedLead.location.zip}}
                </span>
                  <span class="see-on-map" (click)="moveMapToLead(selectedLead)">See on map</span>
                </li>
                <li>
                  <i class="imp-icon-property-time"></i>
                  <span>{{selectedLead.created | date:'medium' }}</span>
                </li>
                <li>
                  <mat-icon class="mat-18">insert_invitation</mat-icon>
                  <span>{{selectedLead.startDate}}</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="lead-detail -spacing -descr" *ngIf="selectedLead.notes && selectedLead.notes != ''">
            <h4>Notes</h4>
            <p class="-coments">{{selectedLead.notes}}</p>
            <ng-container *ngIf="selectedLead.details">
              <ng-container *ngFor="let detail of selectedLead.details">
                <h4>{{detail.name}}</h4>
                <p *ngIf="detail.results"><span *ngFor="let res of detail.results">{{res}}</span></p>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-sidenav>

  <agm-map class="sidenav-content map-wrapper"
           [zoom]="defaultZoom"
           [maxZoom]="mapOptions.maxZoom"
           [minZoom]="mapOptions.minZoom"
           [styles]="mapStyles"
           [streetViewControl]="false"
           [disableDefaultUI]="true"
           [zoomControl]="false"
           (mapReady)="onMapReady($event)">
    <imp-leads-search-map [searchTerm]="searchTerm" [inCoverageOnly]="inCoverageOnly"
                      (showInfoWindow)="onShowInfoWindow($event)"
                      (updateLeads)="onLeadsUpdate($event)"
                      (companyCoverageConfig)="onCompanyCoverageConfig($event)"
                      [(mapIsLoading)]="mapContentIsLoading"
                      [(areas)]="areas">
    </imp-leads-search-map>
    <agm-snazzy-info-window [isOpen]="infoWindowOpenTrig"
                            [latitude]="infoWindowData.latLng ? infoWindowData.latLng.lat : 40.730610"
                            [longitude]="infoWindowData.latLng ? infoWindowData.latLng.lng : -73.935242"
                            [maxWidth]="174"
                            [maxHeight]="133"
                            [wrapperClass]="'-snazzy-animate'"
                            [backgroundColor]="'transparent'"
                            [panOnOpen]="false"
                            (afterClose)="onCloseInfoWindow()">
      <ng-template>
        <div class="si-animation-holder" (mouseleave)="onCloseInfoWindow()"
             [ngClass]="{'-content-animate': infoWindowContentAnim }">
          <div class="list" *ngIf="infoWindowData.leads" [style.height.px]="(infoWindowData.leads.length * 22) + 12">
            <perfect-scrollbar>
              <div>
                <div class="item" *ngFor="let lead of infoWindowData.leads; let i = index" [title]="lead.serviceType">
                  <a href="" (click)="onShowLeadData($event, lead, i)">
                    {{lead.serviceType}}
                  </a>
                </div>
              </div>
            </perfect-scrollbar>
          </div>
          <div class="si-footer">
            <i></i><span [ngClass]="{'-not-in-coverage': !infoWindowData.inCoverage}" [ngPlural]="infoWindowData.leadsAmount">
            available
            <ng-template ngPluralCase="=1">lead</ng-template>
            <ng-template ngPluralCase="other">leads</ng-template>
            in {{infoWindowData.zip}}
          </span>
          </div>
        </div>
      </ng-template>
    </agm-snazzy-info-window>
  </agm-map>

  <imp-gmap-sidebar [gMap]="gMap"
                    [mapMinZoom]="mapOptions.minZoom"
                    [mapMaxZoom]="mapOptions.maxZoom"
                    [center]="companyLocationsLatLng"></imp-gmap-sidebar>
</mat-sidenav-container>

<ng-container *ngIf="mediaQuery?.xs || mediaQuery?.sm || mediaQuery?.md">
  <mat-icon class="open-sidenav" color="primary" (click)="sidenav.open()" title="Search leads">
    keyboard_arrow_right
  </mat-icon>
</ng-container>

<div class="service-area-button" routerLink="/pro/settings/coverage" *ngIf="mediaQuery.md || mediaQuery.lg || mediaQuery.xlg">
  <mat-icon>settings</mat-icon>
  <a class="link">Change Service Area</a>
</div>

<div class="service-area-button" routerLink="/pro/settings/coverage" *ngIf="(mediaQuery.xs || mediaQuery.sm) && !sidenav.opened">
  <mat-icon>settings</mat-icon>
  <a class="link">Change Service Area</a>
</div>

<mat-progress-bar mode="indeterminate" *ngIf="mapContentIsLoading"></mat-progress-bar>






