<div class="container">
  <div class="row">
    <div class="col-md-3 sm-none xs-none">
      <div class="account-top-line"></div>
      <account-nav></account-nav>
    </div>
    <div class="col-md-9 col-sm-12 account-content-wrapper">

      <div class="account-nav-wrapper">

        <div [cvSpinner]="!notificationSettings" [cvSpinnerSize]="24">
          <div class="notification-settings-card card" *ngIf="notificationSettings">
            <div class="account-title-wrapper">
              <div class="account-title">Email Settings</div>
              <div class="account-subtitle">Choose the emails you want to receive from Home Improve:</div>
            </div>

            <div class="notification-methods-wrapper" fxLayout="column" fxLayoutAlign="start end">

              <div class="notification-settings-form-content">

                <cv-checkbox name="projectLifecycle" [(ngModel)]="notificationSettings.receiveMessages">
                  <div class="notification-label">
                    <div class="label">Messages</div>
                    <div class="hint">Receive emails about new chat messages</div>
                  </div>
                </cv-checkbox>

                <cv-checkbox name="marketing" [(ngModel)]="notificationSettings.receiveMarketing">
                  <div class="notification-label">
                    <div class="label">Marketing</div>
                    <div class="hint">Receive emails regarding updates and special offers from Home Improve</div>
                  </div>
                </cv-checkbox>

              </div>

              <button cv-button type="button"
                      class="notification-settings-submit-button"
                      (click)="updateNotificationSettings()">
                Save
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<layout-footer></layout-footer>
