<div class="header">
  <div class="title" *ngIf="title">{{title}}</div>
  <div class="subtitle" *ngIf="subtitle">{{subtitle}}</div>
</div>
<div class="row content">
  <ng-template ngFor let-photo let-index="index" let-last="last" [ngForOf]="projectImages">
    <div class="col-xs-6 col-sm-4 col-md-3 photo" (click)="openGallery('image-viewer',index);">
      <div class="photo-inner" [ngStyle]="{'background-image': 'url(' + photo + ')'}">
        <div class="remove" *ngIf="!isArchived" (click)="deleteImage($event,index, photo)">
          <mat-icon>delete</mat-icon>
        </div>
        <div class="hover-text">View</div>
      </div>
    </div>
  </ng-template>
  <div class="col-xs-6 col-sm-4 col-md-3 toggle-drop-zone" *ngIf="!isArchived" [ngClass]="{'-opened': dropZoneTrigger}">
    <div class="add-image-button" (click)="showDropZone($event)">
      <div class="inner">
        <mat-icon>add_circle</mat-icon>
        <div class="add-photo-button-text">Add photo</div>
      </div>
    </div>
    <input type="file" id="file-uploader" ng2FileSelect [uploader]="uploader" multiple/>
    <label for="file-uploader"
           ng2FileDrop
           [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
           (fileOver)="fileOverBase($event)"
           [uploader]="uploader"
           class="drop-zone-holder">
      <div class="drop-zone-label" *ngIf="!uploader?.queue?.length">
        <h3>Drop pictures to attach, or click here</h3>
      </div>
      <div class="images-list" *ngIf="uploader?.queue?.length">
        <div class="col" *ngFor="let item of uploader.queue; let index = index" (click)="$event.preventDefault()">
          <div class="image-holder" [ngClass]="{'-processing': item?.processing}">
            <div class="actions">
              <div class="rotate-image" title="Rotate photo 90 degrees"
                   (click)="rotateImage($event, item)"></div>
              <mat-icon class="md-18" title="Remove photo from query"
                        (click)="removeImageFromQuery($event,index);">delete
              </mat-icon>
            </div>
            <img src="" imgPreview [image]="item?._file" (processDone)="onProcessDone($event, item)"
                 alt="Loading...">
            <div class="progress-holder" *ngIf="item.progress || item.isError">
              <div class="state" [ngClass]="{'-error': item.isError, '-done': item.isSuccess}"></div>
              <div class="progress-bar" role="progressbar"
                   [ngStyle]="{ 'width': item.progress + '%' }"></div>
            </div>
          </div>
        </div>
      </div>
      <label  *ngIf="uploader?.queue?.length" cv-button size="small" for="file-uploader">Add another photo</label>
    </label>

  </div>
  <div class="image-spacer" [ngClass]="{'project-view': projectView}" *ngIf="!isArchived"></div>
</div>
<div class="drop-zone-actions" *ngIf="dropZoneTrigger && showActionButtons">
  <button cv-button-flat
          title="Cancel upload"
          size="small"
          flatStyle="dark"
          type="button"
          (click)="closeDropZone($event)">
    Cancel
  </button>
  <button cv-button
          title="Upload photos"
          type="button"
          size="small"
          (click)="uploadAllImages()"
          [disabled]="!uploader?.queue?.length">
    Upload
  </button>
</div>

