<div class="mobile-search-content-wrapper">
  <div class="mobile-search-content-container">

    <form class="main-search-form" [formGroup]="mainSearchFormGroup" (ngSubmit)="searchServiceType()">

      <div class="search-inputs-content">
      <div class="service-type-form-group"
           [ngClass]="(mainSearchFormGroup.get('selectionCtrl').errors && (mainSearchFormGroup.get('selectionCtrl').dirty || mainSearchFormGroup.get('selectionCtrl').touched))? 'service-type-error-holder': '' ">
        <cv-select #serviceType class="main-search-service-input"
                   [highlightErrors]="false"
                   [dropdownHeight]="dropdownHeight"
                   label="Pipe, carpet, paint, etc."
                   [formControl]="selectionCtrl"
                   [items]="filteredServiceTypes"
                   [disableItemsMatch]="true"
                   [autocomplete]="true"
                   [allowAnyValue]="true"
                   [propagateEnterEvent]="true"
                   labelKey="name"
                   valueKey="name"
                   [dropdownBorder]="false"
                   [trackBy]="selectTrackBy"
                   (autocompleteSearch)="autocompleteSearch($event)"
                   (focusout)="focusout()"
                   (onSelect)="searchServiceType($event.service)"
                   (onClose)="mouseleave($event)">
        </cv-select>
        <div class="error-holder"
             *ngIf="mainSearchFormGroup.get('selectionCtrl').errors && (mainSearchFormGroup.get('selectionCtrl').dirty || mainSearchFormGroup.get('selectionCtrl').touched)">
          <div *ngIf="mainSearchFormGroup.get('selectionCtrl').errors?.required">
            Please tell us what do you need
          </div>
        </div>

      </div>

      <div class="zip-code-form-group">
        <div class="main-search-zip-input-wrapper">
          <mat-icon class="location-icon">room</mat-icon>
          <input #zipCode [formControl]='zipCodeCtrl' class="main-search-zip-input" numericMask type="text"
                 placeholder="Zip code" maxlength="5">
        </div>
        <div class="error-holder"
             *ngIf="mainSearchFormGroup.get('zipCodeCtrl').errors && (mainSearchFormGroup.get('zipCodeCtrl').dirty || mainSearchFormGroup.get('zipCodeCtrl').touched || mainSearchFormGroup.get('selectionCtrl').valid)">
          <div *ngIf="mainSearchFormGroup.get('zipCodeCtrl').errors?.required">
            Zip code is required
          </div>
          <div *ngIf="mainSearchFormGroup.get('zipCodeCtrl').errors?.pattern">
            Please enter a valid ZIP code
          </div>
        </div>

      </div>
        </div>

      <div class="submit-button-form-group">
        <button type="submit">SEARCH</button>
      </div>

    </form>

    <div class="search-result-container">
      <div class="popular-service-title" *ngIf="!hasSearchResults">Popular services</div>

      <div class="autocomplete-content">
        <div *ngFor="let serviceType of searchResults">
          <div class="autocomplete-item" (click)="searchServiceType(serviceType.name)">
            {{serviceType.name}}
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
