<div class="mobile-search-content-wrapper">
  <div class="mobile-search-content-container">
    <div class="mobile-search-header">
      <p class="header-text">What service do you need?</p>
      <mat-icon class="close-modal" color="accent" (click)="close()">clear</mat-icon>
    </div>

    <form class="main-search-form" [formGroup]="mainSearchFormGroup" (ngSubmit)="searchServiceType()">

      <div class="service-type-form-group">
        <cv-select #serviceType class="main-search-service-input"
                   [highlightErrors]="false"
                   [dropdownHeight]="dropdownHeight"
                   label="Pipe, carpet, paint, etc."
                   [formControl]="selectionCtrl"
                   [items]="filteredServiceTypes"
                   [disableItemsMatch]="true"
                   [autocomplete]="true"
                   [allowAnyValue]="true"
                   [propagateEnterEvent]="true"
                   labelKey="name"
                   valueKey="name"
                   [dropdownBorder]="false"
                   [trackBy]="selectTrackBy"
                   (autocompleteSearch)="autocompleteSearch($event)"
                   (focusout)="focusout()"
                   (onSelect)="searchServiceType($event.service)"
                   (onClose)="mouseleave($event)">
        </cv-select>
        <div class="error-holder"
             *ngIf="mainSearchFormGroup.get('selectionCtrl').dirty || mainSearchFormGroup.get('selectionCtrl').touched">
          <div *ngIf="mainSearchFormGroup.get('selectionCtrl').errors?.required">
            Please tell us what do you need
          </div>
        </div>

      </div>

      <div class="zip-code-form-group">
        <div class="main-search-zip-input-wrapper">
          <mat-icon class="location-icon">room</mat-icon>
          <input #zipCode [formControl]='zipCodeCtrl' class="main-search-zip-input" numericMask type="text"
                 placeholder="Zip code" maxlength="5">
        </div>
        <div class="error-holder"
             *ngIf="mainSearchFormGroup.get('zipCodeCtrl').dirty || mainSearchFormGroup.get('zipCodeCtrl').touched">
          <div *ngIf="mainSearchFormGroup.get('zipCodeCtrl').errors?.required">
            Zip code is required
          </div>
          <div *ngIf="mainSearchFormGroup.get('zipCodeCtrl').errors?.pattern">
            Please enter a valid ZIP code
          </div>
        </div>

      </div>

      <div class="submit-button-form-group">
        <button type="submit">GET STARTED</button>
      </div>

    </form>

    <div class="no-result-text">
      {{searchResultMessageText}}
    </div>

    <div class="autocomplete-content">
      <div *ngFor="let serviceType of searchResults">
        <div class="autocomplete-item" (click)="searchServiceType(serviceType.name)">
          {{serviceType.name}}
        </div>
      </div>
    </div>

  </div>
</div>
