<div class="form-row" [formGroup]="questionaryControlService.mainForm">

  <div #defaultQuestion class="form-element-wrapper radio-button-wrapper" [formGroupName]="'defaultQuestionaryGroup'"
       *ngIf="questionaryControlService.currentQuestionIndex == questionaryControlService.questionaryLength">
    <h2 class="question-title">When do you need your project started?</h2>
    <div class="radio-button-group">

      <cv-radio-group formControlName="startExpectation" required>
        <cv-radio *ngFor="let option of startExpectationOptions" [value]="option" [checked]="defaultQuestionaryForm.get('startExpectation').value == option">{{option}}</cv-radio>
      </cv-radio-group>

      <div class="question-general-error"
           *ngIf="defaultQuestionaryForm.get('startExpectation').dirty || defaultQuestionaryForm.get('startExpectation').touched">
          <span class="mat-error"
                *ngIf="defaultQuestionaryForm.get('startExpectation').errors?.required">Is required</span>
      </div>

    </div>

    <div class="questionary-dialog-footer">
      <button class="questionary-previous-button" (click)="previousQuestion(eraseSelectedServiceType)" *ngIf="!questionaryControlService.withZip || questionaryControlService.trade || questionaryControlService.currentQuestionIndex >= 1" type="button">Back</button>
      <button class="questionary-next-button" (click)="nextQuestion('startExpectation')" type="button">Next</button>
    </div>

  </div>

  <div #defaultQuestion class="form-element-wrapper radio-button-wrapper" [formGroupName]="'defaultQuestionaryGroup'"
       *ngIf="questionaryControlService.currentQuestionIndex == questionaryControlService.questionaryLength + 1">
    <h2 class="question-title" *ngIf="questionaryControlService.questionaryLength == 0">Please provide some project
      details for Professional</h2>
    <h2 class="question-title" *ngIf="questionaryControlService.questionaryLength != 0">Anything else Professional
      should know about your project</h2>
    <div class="text-input-group">
      <cv-input-field>
        <cv-field-label>Project details</cv-field-label>
        <textarea cv-input placeholder="Describe your project for professional"
                  formControlName="notes"
                  rows="4"
                  trim
                  type="text"
                  maxlength="1500"
                  [required]="questionaryControlService.questionaryLength == 0"></textarea>
        <cv-field-hint>{{defaultQuestionaryForm.get('notes').value.length}}/1500</cv-field-hint>
        <cv-field-error
          *ngIf="defaultQuestionaryForm.get('notes').dirty || defaultQuestionaryForm.get('notes').touched ">
          <span *ngIf="defaultQuestionaryForm.get('notes').errors?.required">Required</span>
        </cv-field-error>
      </cv-input-field>
    </div>

    <div class="questionary-dialog-footer">
      <button class="questionary-previous-button" (click)="previousQuestion()" type="button">Back</button>
      <button class="questionary-next-button" (click)="nextQuestion('notes')" type="button">Next</button>
    </div>

  </div>

  <div #defaultQuestion class="form-element-wrapper text-input-wrapper" [formGroupName]="'defaultQuestionaryGroup'"
       *ngIf="questionaryControlService.currentQuestionIndex == questionaryControlService.questionaryLength + 2">
    <h2 class="question-title">Where do you need a Professional?</h2>
    <div class="text-input-group" [formGroupName]="'projectLocation'"
         [cvSpinner]="processingAddressValidation"
         [cvSpinnerSize]="50"
         [cvSpinnerBackground]="true">
      <cv-input-field>
        <cv-field-label>Address</cv-field-label>
        <input cv-input type="text"
               name="streetAddress"
               placeholder="Address"
               [formControlName]="'streetAddress'"
               [id]="'streetAddress'"
               required>
        <cv-field-error
          *ngIf="defaultQuestionaryForm.get('projectLocation.streetAddress').dirty || defaultQuestionaryForm.get('projectLocation.streetAddress').touched">
            <span
              *ngIf="defaultQuestionaryForm.get('projectLocation.streetAddress').errors?.required">Is required</span>
        </cv-field-error>
      </cv-input-field>
      <cv-input-field>
        <cv-field-label>City</cv-field-label>
        <input type="text"
               cv-input
               name="city"
               placeholder="City"
               [id]="'city'"
               [formControlName]="'city'"
               required>
        <cv-field-error
          *ngIf="defaultQuestionaryForm.get('projectLocation.city').dirty || defaultQuestionaryForm.get('projectLocation.city').touched">
          <span *ngIf="defaultQuestionaryForm.get('projectLocation.city').errors?.required">Is required</span>
        </cv-field-error>
      </cv-input-field>
      <cv-input-field>
        <cv-field-label>State</cv-field-label>
        <cv-select [multiple]="false" [tags]="false" [autocomplete]="true"
                   (autocompleteSearch)="autocompleteStateSearch($event)" [items]="filteredStates"
                   valueKey="value"
                   labelKey="label"
                   name="state"
                   [formControlName]="'state'"
                   [id]="'state'"
                   required
                   label="Choose state">
        </cv-select>
        <cv-field-error
          *ngIf="defaultQuestionaryForm.get('projectLocation.state').dirty || defaultQuestionaryForm.get('projectLocation.state').touched">
          <span *ngIf="defaultQuestionaryForm.get('projectLocation.state').errors?.required">Is required</span>
        </cv-field-error>
      </cv-input-field>
      <cv-input-field>
        <cv-field-label>Zip</cv-field-label>
        <input cv-input type="text"
               placeholder="Zip"
               name="zip"
               maxlength="5"
               [formControlName]="'zip'"
               numericMask
               pattern="{{constants.patterns.zipcode}}"
               required>
        <cv-field-error
          *ngIf="defaultQuestionaryForm.get('projectLocation.zip').dirty || defaultQuestionaryForm.get('projectLocation.zip').touched">
          <span *ngIf="defaultQuestionaryForm.get('projectLocation.zip').errors?.required">Is required</span>
          <span
            *ngIf="defaultQuestionaryForm.get('projectLocation.zip').errors?.pattern">{{messages.errors.zip.pattern}}</span>
        </cv-field-error>
      </cv-input-field>
      <cv-field-error class="location-error">{{locationValidation | lowercase}}</cv-field-error>
      <div class="address-validation" [ngClass]="{'-invalid': locationInvalid}">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="address">
              <h4>Original address</h4>
              <p>
                {{originalAddress?.streetAddress}}<br>
                {{originalAddress?.city}},
                {{originalAddress?.state}}
                {{originalAddress?.zip}}
              </p>
            </div>
            <button cv-button-empty type="button" (click)="resetLocationQuestion()">Use another address</button>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="address apply" (click)="chooseAddress(suggestedAddress)">
              <div class="overlay"><i></i></div>
              <h4>Suggested address</h4>
              <p>
                {{suggestedAddress?.streetAddress}}<br>
                {{suggestedAddress?.city}},
                {{suggestedAddress?.state}}
                {{suggestedAddress?.zip}}
              </p>
            </div>
            <button cv-button type="button" (click)="chooseAddress(suggestedAddress)">Use suggested</button>
          </div>
        </div>
        <span *ngIf="validationMessage">{{validationMessage}}</span>
      </div>
    </div>

    <div class="questionary-dialog-footer" [cvSpinner]="postOrderProcessing"
         [cvSpinnerSize]="20">
      <button class="questionary-previous-button" (click)="previousQuestion()" type="button"
              *ngIf="!hideNextAction && !postOrderProcessing">Back
      </button>
      <button *ngIf="(securityService.hasRole(Role.ANONYMOUS) && !hideNextAction && !postOrderProcessing) ||
                     (securityService.hasRole(Role.CUSTOMER) && !hideNextAction && !postOrderProcessing && !questionaryControlService.customerHasPhone)"
              class="questionary-next-button"
              (click)="nextQuestion('projectLocation', validateLocation)" type="button"
              [disabled]="disabledNextAction">
        Next
      </button>
      <button *ngIf="securityService.hasRole(Role.CUSTOMER) && !hideNextAction && !postOrderProcessing && questionaryControlService.customerHasPhone"
              class="questionary-next-button"
              (click)="onSubmit('projectLocation', validateLocation)" type="button" [disabled]="disabledNextAction">
        Submit
      </button>
    </div>


  </div>

  <div #defaultQuestion class="form-element-wrapper text-input-wrapper" [formGroupName]="'defaultQuestionaryGroup'"
       *ngIf="(securityService.hasRole(Role.ANONYMOUS) && (questionaryControlService.currentQuestionIndex == questionaryControlService.questionaryLength + 3))
              || (securityService.hasRole(Role.CUSTOMER) && (questionaryControlService.currentQuestionIndex == questionaryControlService.questionaryLength + 3))">
    <h2 class="question-title" *ngIf="securityService.hasRole(Role.ANONYMOUS)">Let's get acquainted</h2>
    <h2 class="question-title" *ngIf="securityService.hasRole(Role.CUSTOMER)">Please add your phone number</h2>
    <div class="text-input-group" [formGroupName]="'customerPersonalInfo'" *ngIf="!processingPhoneValidation">

      <cv-input-field *ngIf="securityService.hasRole(Role.ANONYMOUS)">
        <cv-field-label>First name</cv-field-label>
        <input cv-input type="text"
               placeholder="First name"
               formControlName="firstName"
               name="firstName"
               trim
               minlength="2"
               [pattern]="constants.patterns.name"
               required>
        <cv-field-error
          *ngIf="defaultQuestionaryForm.get('customerPersonalInfo.firstName').dirty || defaultQuestionaryForm.get('customerPersonalInfo.firstName').touched">
          <span *ngIf="defaultQuestionaryForm.get('customerPersonalInfo.firstName').errors?.required">{{messages.errors.firstName.required}}</span>
          <span *ngIf="defaultQuestionaryForm.get('customerPersonalInfo.firstName').errors?.minlength">{{messages.errors.firstName.minlength}}</span>
          <span *ngIf="!defaultQuestionaryForm.get('customerPersonalInfo.firstName').errors?.minlength && defaultQuestionaryForm.get('customerPersonalInfo.firstName').errors?.pattern">{{messages.errors.name.notValid}}</span>
        </cv-field-error>
      </cv-input-field>

      <cv-input-field *ngIf="securityService.hasRole(Role.ANONYMOUS)">
        <cv-field-label>Last name</cv-field-label>
        <input cv-input type="text"
               placeholder="Last name"
               formControlName="lastName"
               name="lastName"
               trim
               minlength="2"
               [pattern]="constants.patterns.name"
               required>
        <cv-field-error
          *ngIf="defaultQuestionaryForm.get('customerPersonalInfo.lastName').dirty || defaultQuestionaryForm.get('customerPersonalInfo.lastName').touched">
          <span *ngIf="defaultQuestionaryForm.get('customerPersonalInfo.lastName').errors?.required">{{messages.errors.lastName.required}}</span>
          <span *ngIf="defaultQuestionaryForm.get('customerPersonalInfo.lastName').errors?.minlength">{{messages.errors.lastName.minlength}}</span>
          <span *ngIf="!defaultQuestionaryForm.get('customerPersonalInfo.lastName').errors?.minlength && defaultQuestionaryForm.get('customerPersonalInfo.lastName').errors?.pattern">{{messages.errors.name.notValid}}</span>
        </cv-field-error>
      </cv-input-field>

      <cv-input-field *ngIf="securityService.hasRole(Role.ANONYMOUS)">
        <cv-field-label>Email</cv-field-label>
        <input cv-input type="text"
               placeholder="Email"
               formControlName="email"
               name="email"
               required
               trim
               [pattern]="constants.patterns.email">
        <cv-field-error
          *ngIf="defaultQuestionaryForm.get('customerPersonalInfo.email').dirty || defaultQuestionaryForm.get('customerPersonalInfo.email').touched">
          <span *ngIf="defaultQuestionaryForm.get('customerPersonalInfo.email').errors?.required">{{messages.errors.email.required}}</span>
          <span
            *ngIf="defaultQuestionaryForm.get('customerPersonalInfo.email').errors?.pattern">{{messages.errors.email.pattern}}</span>
        </cv-field-error>
      </cv-input-field>

      <cv-input-field>
        <cv-field-label>Phone number</cv-field-label>
        <input cv-input type="text"
               placeholder="Phone number"
               formControlName="phone"
               name="phone"
               phoneMask
               maxlength="14"
               [pattern]="constants.patterns.phone"
               required>
        <cv-field-error
          *ngIf="defaultQuestionaryForm.get('customerPersonalInfo.phone').dirty || defaultQuestionaryForm.get('customerPersonalInfo.phone').touched">
          <span *ngIf="defaultQuestionaryForm.get('customerPersonalInfo.phone').errors?.required">{{messages.errors.phone.required}}</span>
          <span *ngIf="defaultQuestionaryForm.get('customerPersonalInfo.phone').errors?.pattern">{{messages.errors.phone.pattern}}</span>
          <span *ngIf="defaultQuestionaryForm.get('customerPersonalInfo.phone').errors?.allZeros">{{messages.errors.phone.pattern}}</span>
        </cv-field-error>
      </cv-input-field>

    </div>

    <phone-validation *ngIf="processingPhoneValidation" [phoneNumber]="defaultQuestionaryForm.get('customerPersonalInfo.phone').value" (onSuccess)="onPhoneValidated()"></phone-validation>

    <div class="questionary-dialog-footer" *ngIf="!processingPhoneValidation" [cvSpinner]="postOrderProcessing" [cvSpinnerSize]="20">
      <button class="questionary-previous-button" (click)="previousQuestion()" type="button">Back</button>
      <button *ngIf="securityService.hasRole(Role.ANONYMOUS)" class="questionary-next-button"
              (click)="nextQuestion('customerPersonalInfo', validatePhone); checkEmail(defaultQuestionaryForm.get('customerPersonalInfo.email').value)"
              type="button">Next
      </button>

      <button *ngIf="securityService.hasRole(Role.CUSTOMER) && !questionaryControlService.customerHasPhone"
              class="questionary-next-button"
              (click)="onSubmit('customerPersonalInfo', validatePhone)" type="button" [disabled]="disabledNextAction">
        Submit
      </button>
    </div>

  </div>

  <div #defaultQuestion class="form-element-wrapper text-input-wrapper" [formGroupName]="'defaultQuestionaryGroup'"
       *ngIf="securityService.hasRole(Role.ANONYMOUS) && (questionaryControlService.currentQuestionIndex == questionaryControlService.questionaryLength + 4)">
    <h2 class="question-title">One more step to go</h2>

    <div class="text-input-group customer-explanation">

      <div class="new-customer-explanation" *ngIf="emailIsUnique && emailIsChecked">
        <div>Please verify your email, so we can start searching the right Pros for you.</div>
        <div>We will send you a confirmation mail after submission.</div>
        <br>
        <br>
        <div class="terms-line">By proceeding you are accepting <a target="_blank" href="/terms-of-use">Terms of Use</a> and <a
          target="_blank" href="/privacy-policy">Privacy Policy</a></div>
      </div>

      <div class="existing-customer-explanation" *ngIf="!emailIsUnique && emailIsChecked">
        <div>Account with email <span class="existing-customer-email">{{defaultQuestionaryForm.get('customerPersonalInfo.email').value}}</span>
          already exist
        </div>
        <div> If you are the owner of this account just <a routerLink="/login" (click)="dialog.closeAll()">Log in </a>
          and we will submit your project request.
        </div>
      </div>

      <div class="loading-spinner-wrapper" *ngIf="!emailIsChecked">
        <mat-progress-spinner
          class="example-margin"
          mode="indeterminate"
          diameter="30">
        </mat-progress-spinner>
      </div>

    </div>

    <div class="questionary-dialog-footer" fxLayoutAlign="end center" [cvSpinner]="postOrderProcessing"
         [cvSpinnerSize]="20">
      <button class="questionary-previous-button" (click)="previousQuestion()" type="button"
              *ngIf="((emailIsChecked && emailIsUnique) || emailIsUnique == undefined) && !postOrderProcessing">Back
      </button>
      <div fxFlex=""></div>
      <!--<button class="questionary-next-button" (click)="nextQuestion('customerContacts')" type="button">Submit</button>-->
      <button class="questionary-next-button" (click)="close()" type="button"
              *ngIf="emailIsChecked && !emailIsUnique && !postOrderProcessing">
        Ok
      </button>
      <button class="questionary-next-button" (click)="onSubmit()" type="button"
              *ngIf="emailIsChecked && emailIsUnique && !postOrderProcessing">Submit
      </button>
    </div>

  </div>

</div>

