<div class="form-row" [formGroup]="questionaryControlService.mainForm">

  <div #defaultQuestion class="form-element-wrapper radio-button-wrapper" [formGroupName]="'defaultQuestionaryGroup'"
       *ngIf="questionaryControlService.currentQuestionIndex == questionaryControlService.questionaryLength">
    <h2 class="question-title">When do you need your project started?</h2>
    <div class="radio-button-group fill-flex-space">

      <cv-radio-group formControlName="startExpectation" required>
        <cv-radio *ngFor="let option of startExpectationOptions"
                  [value]="option"
                  [selected]="defaultQuestionaryForm.get('startExpectation').value == option">
          {{option}}
        </cv-radio>
      </cv-radio-group>

      <div class="question-general-error"
           *ngIf="defaultQuestionaryForm.get('startExpectation').dirty || defaultQuestionaryForm.get('startExpectation').touched">
          <span class="mat-error"
                *ngIf="defaultQuestionaryForm.get('startExpectation').errors?.required">Is required</span>
      </div>

    </div>

    <div class="questionary-dialog-footer">
      <button cv-button-empty class="questionary-previous-button" (click)="questionaryControlService.previousQuestion()" *ngIf="!questionaryControlService.withZip || questionaryControlService.trade || questionaryControlService.currentQuestionIndex >= 1" type="button">Back</button>
      <button cv-button class="questionary-next-button" (click)="nextQuestion('startExpectation')" type="button">Next</button>
    </div>

  </div>

  <div #defaultQuestion class="form-element-wrapper radio-button-wrapper" [formGroupName]="'defaultQuestionaryGroup'"
       *ngIf="questionaryControlService.currentQuestionIndex == questionaryControlService.questionaryLength + 1">
    <h2 class="question-title" *ngIf="questionaryControlService.questionaryLength == 0">Add more project details for Professional</h2>
    <h2 class="question-title" *ngIf="questionaryControlService.questionaryLength != 0">Anything else Professional should know about your project</h2>
    <div class="text-input-group fill-flex-space">
      <cv-input-field>
        <cv-field-label>Project details</cv-field-label>
        <textarea cv-input
                  (blur)="deviceControlService.isIOS() && nextQuestion('notes')"
                  placeholder="Describe your project for professional"
                  formControlName="notes"
                  [cv_trim]="defaultQuestionaryForm.get('notes').value"
                  (cv_trimChange)="defaultQuestionaryForm.get('notes').setValue($event)"
                  rows="6"
                  type="text"
                  [minlength]="questionaryControlService.questionaryLength == 0 ? constants.PROJECT_DESCRIPTION_MIN_LENGTH : undefined"
                  maxlength="1500"
                  [required]="questionaryControlService.questionaryLength == 0 ? 'required' : undefined"></textarea>
        <cv-field-hint>{{defaultQuestionaryForm.get('notes').value.length}}/1500</cv-field-hint>
        <cv-field-error
          *ngIf="defaultQuestionaryForm.get('notes').dirty || defaultQuestionaryForm.get('notes').touched ">
          <span *ngIf="defaultQuestionaryForm.get('notes').errors?.required">Required</span>
          <span *ngIf="defaultQuestionaryForm.get('notes').errors?.minlength">{{constants.PROJECT_DESCRIPTION_MIN_LENGTH}} characters minimum</span>
        </cv-field-error>
      </cv-input-field>
    </div>

    <div class="questionary-dialog-footer">
      <button cv-button-empty class="questionary-previous-button" (click)="questionaryControlService.previousQuestion()" type="button">Back</button>
      <button cv-button class="questionary-next-button" (click)="nextQuestion('notes')" type="button">Next</button>
    </div>

  </div>

  <div #defaultQuestion class="form-element-wrapper text-input-wrapper" [formGroupName]="'defaultQuestionaryGroup'"
       *ngIf="(securityService.hasRole(Role.ANONYMOUS) || personalInfoRequired()) && (questionaryControlService.currentQuestionIndex == questionaryControlService.questionaryLength + 2)">
    <h2 class="question-title" *ngIf="securityService.hasRole(Role.ANONYMOUS) && !emailIsChecked && !waitingPhoneConfirmation">Let's get acquainted</h2>
    <h2 class="question-title" *ngIf="waitingPhoneConfirmation">Verify your phone</h2>
    <h2 class="question-title" *ngIf="securityService.hasRole(Role.CUSTOMER) && !questionaryControlService.customerAccountIsLoading && !waitingPhoneConfirmation">Add your phone for professionals to contact you</h2>
    <h2 class="question-title" *ngIf="securityService.hasRole(Role.ANONYMOUS) && emailIsChecked && !emailIsUnique">Please login to your account</h2>
    <div class="text-input-group fill-flex-space" [formGroupName]="'customerPersonalInfo'" [cvSpinner]="registrationProcessing" [cvSpinnerSize]="50" [cvSpinnerBackground]="true">

      <div class="auth-block" *ngIf="!emailIsChecked && securityService.hasRole(Role.ANONYMOUS)">

        <div class="auth-social-title">
          <span>One click to continue with Facebook or Google</span>
        </div>

        <social-buttons [inQuestionary]="true"
                        [(disabled)]="loginProcessing"
                        (responseMessageType)="socialButtonsMessageType = $event;"
                        (responseMessage)="socialButtonsMessageText = $event;"
                        (showMessage)="socialButtonsShowMessage = $event;">
        </social-buttons>

        <response-message *ngIf="socialButtonsShowMessage" [type]="socialButtonsMessageType" [message]="socialButtonsMessageText"
                          [paddingV]="12" [paddingH]="24"
                          marginTop="0"
                          [showIcon]="false" (onHide)="onSocialButtonsMessageHide($event)"></response-message>

        <div class="email-auth-hint" *ngIf="securityService.hasRole(Role.ANONYMOUS)">
          <span>or continue with email</span>
        </div>

      </div>

      <cv-input-field *ngIf="securityService.hasRole(Role.ANONYMOUS) && !waitingPhoneConfirmation">
        <cv-field-label>Email</cv-field-label>
        <input cv-input
               (blur)="deviceControlService.isIOS() && submitUserInfo()"
               (keypress)="deviceControlService.isAndroid($event) && submitUserInfo()"
               type="text"
               inputmode="email"
               placeholder="Email"
               formControlName="email"
               name="email"
               required
               trim
               [pattern]="constants.patterns.email"
               [disabled]="emailIsChecked"
               (ngModelChange)="socialButtonsShowMessage = false">
        <cv-field-error
          *ngIf="defaultQuestionaryForm.get('customerPersonalInfo.email').dirty || defaultQuestionaryForm.get('customerPersonalInfo.email').touched">
          <span *ngIf="defaultQuestionaryForm.get('customerPersonalInfo.email').errors?.required">{{messages.errors.email.required}}</span>
          <span
            *ngIf="defaultQuestionaryForm.get('customerPersonalInfo.email').errors?.pattern">{{messages.errors.email.pattern}}</span>
        </cv-field-error>
      </cv-input-field>

      <cv-input-field *ngIf="securityService.hasRole(Role.ANONYMOUS) && emailIsChecked && !emailIsUnique">
        <cv-field-label>Password</cv-field-label>
        <input cv-input
               (blur)="deviceControlService.isIOS() && submitUserInfo()"
               (keypress)="deviceControlService.isAndroid($event) && submitUserInfo()"
               type="password"
               placeholder="Password"
               name="password"
               formControlName="password"
               (ngModelChange)="showLoginMessage = false"
               required>
      </cv-input-field>

      <div class="captcha-reminder" *ngIf="securityService.hasRole(Role.ANONYMOUS) && emailIsChecked && !emailIsUnique">This site is protected by reCAPTCHA and the Google
        <a href="https://policies.google.com/privacy">Privacy Policy</a> and
        <a href="https://policies.google.com/terms">Terms of Service</a> apply.
      </div>

      <response-message *ngIf="showLoginMessage && emailIsChecked" [type]="loginMessageType" [message]="loginMessageText"
                        [paddingV]="12" [paddingH]="24"
                        marginTop="0"
                        [showIcon]="false" (onHide)="onLoginMessageHide($event)"></response-message>

      <div class="personal-data-info" *ngIf="!waitingPhoneConfirmation && (emailIsChecked && emailIsUnique || securityService.isAuthenticated()) && !questionaryControlService.customerAccountIsLoading && personalInfoRequired()"
           [cvSpinner]="registrationProcessing" [cvSpinnerSize]="50" [cvSpinnerBackground]="true">

        <cv-input-field *ngIf="securityService.hasRole(Role.ANONYMOUS)">
          <cv-field-label>First name</cv-field-label>
          <input cv-input type="text"
                 placeholder="First name"
                 formControlName="firstName"
                 name="firstName"
                 trim
                 minlength="2"
                 [pattern]="constants.patterns.name"
                 required>
          <cv-field-error
            *ngIf="defaultQuestionaryForm.get('customerPersonalInfo.firstName').dirty || defaultQuestionaryForm.get('customerPersonalInfo.firstName').touched">
            <span *ngIf="defaultQuestionaryForm.get('customerPersonalInfo.firstName').errors?.required">{{messages.errors.firstName.required}}</span>
            <span *ngIf="defaultQuestionaryForm.get('customerPersonalInfo.firstName').errors?.minlength">{{messages.errors.firstName.minlength}}</span>
            <span *ngIf="!defaultQuestionaryForm.get('customerPersonalInfo.firstName').errors?.minlength && defaultQuestionaryForm.get('customerPersonalInfo.firstName').errors?.pattern">{{messages.errors.name.notValid}}</span>
          </cv-field-error>
        </cv-input-field>

        <cv-input-field *ngIf="securityService.hasRole(Role.ANONYMOUS)">
          <cv-field-label>Last name</cv-field-label>
          <input cv-input type="text"
                 placeholder="Last name"
                 formControlName="lastName"
                 name="lastName"
                 trim
                 minlength="2"
                 [pattern]="constants.patterns.name"
                 required>
          <cv-field-error
            *ngIf="defaultQuestionaryForm.get('customerPersonalInfo.lastName').dirty || defaultQuestionaryForm.get('customerPersonalInfo.lastName').touched">
            <span *ngIf="defaultQuestionaryForm.get('customerPersonalInfo.lastName').errors?.required">{{messages.errors.lastName.required}}</span>
            <span *ngIf="defaultQuestionaryForm.get('customerPersonalInfo.lastName').errors?.minlength">{{messages.errors.lastName.minlength}}</span>
            <span *ngIf="!defaultQuestionaryForm.get('customerPersonalInfo.lastName').errors?.minlength && defaultQuestionaryForm.get('customerPersonalInfo.lastName').errors?.pattern">{{messages.errors.name.notValid}}</span>
          </cv-field-error>
        </cv-input-field>

        <cv-input-field *ngIf="!questionaryControlService.customerHasPhone" [cvSpinner]="questionaryControlService.customerAccountIsLoading"
                        [cvSpinnerSize]="20" [cvSpinnerBackground]="true">
          <cv-field-label>Phone number</cv-field-label>
          <input cv-input
                 type="text"
                 inputmode="tel"
                 placeholder="Phone number"
                 (blur)="deviceControlService.isIOS() && submitUserInfo()"
                 (keypress)="deviceControlService.isAndroid($event) && submitUserInfo()"
                 formControlName="phone"
                 name="phone"
                 phoneMask
                 [maxlength]="constants.PHONE_MAX_LENGTH"
                 [pattern]="constants.patterns.phone"
                 required>
          <cv-field-error
            *ngIf="defaultQuestionaryForm.get('customerPersonalInfo.phone').dirty || defaultQuestionaryForm.get('customerPersonalInfo.phone').touched">
            <span *ngIf="defaultQuestionaryForm.get('customerPersonalInfo.phone').errors?.required">{{messages.errors.phone.required}}</span>
            <span *ngIf="defaultQuestionaryForm.get('customerPersonalInfo.phone').errors?.pattern">{{messages.errors.phone.pattern}}</span>
            <span *ngIf="defaultQuestionaryForm.get('customerPersonalInfo.phone').errors?.allZeros">{{messages.errors.phone.pattern}}</span>
          </cv-field-error>
        </cv-input-field>

        <div class="terms-line" *ngIf="!securityService.isAuthenticated()">By proceeding you are accepting our <a target="_blank" href="/terms-of-use">Terms of Use</a> and <a
          target="_blank" href="/privacy-policy">Privacy Policy</a></div>

      </div>

      <phone-validation *ngIf="waitingPhoneConfirmation" [showEditButton]="true" [phoneNumber]="defaultQuestionaryForm.get('customerPersonalInfo.phone').value" (onSuccess)="onPhoneValidated()" (onPhoneNumberChangeClick)="editPhoneAgain()"></phone-validation>

    </div>

    <re-captcha #captchaRef *ngIf="securityService.captchaEnabled && securityService.hasRole(Role.ANONYMOUS)" [size]="'invisible'" (resolved)="resolveCaptcha($event)"></re-captcha>

    <div class="questionary-dialog-footer" *ngIf="!registrationProcessing" [cvSpinner]="emailIsChecking || loginProcessing || registrationProcessing || questionaryControlService.customerAccountIsLoading" [cvSpinnerSize]="20" [cvSpinnerBackground]="true">

      <button cv-button-empty class="questionary-previous-button" *ngIf="!emailIsChecked && !waitingPhoneConfirmation" (click)="questionaryControlService.previousQuestion(); socialButtonsShowMessage = false" type="button" [disabled]="questionaryControlService.customerAccountIsLoading">Back</button>

      <button cv-button-empty class="questionary-previous-button" *ngIf="emailIsChecked && !waitingPhoneConfirmation" (click)="emailIsChecked = false; emailIsUnique = undefined; showLoginMessage = false; editPhoneAgain(); resetCaptcha()" type="button" [disabled]="questionaryControlService.customerAccountIsLoading" >Back</button>

      <button *ngIf="securityService.hasRole(Role.ANONYMOUS) && !emailIsChecked"
              cv-button class="questionary-next-button"
              (click)="checkEmail(defaultQuestionaryForm.get('customerPersonalInfo.email').value)"
              type="button" [disabled]="disabledNextAction">
        Next
      </button>

      <button *ngIf="securityService.hasRole(Role.ANONYMOUS) && emailIsChecked && !emailIsUnique"
              cv-button class="questionary-next-button"
              (click)="authorize()" type="button" [disabled]="disabledNextAction">
        Next
      </button>

      <button *ngIf="(securityService.hasRole(Role.CUSTOMER) || emailIsChecked && emailIsUnique) && personalInfoRequired()"
              cv-button class="questionary-next-button"
              (click)="nextQuestion('customerPersonalInfo', !questionaryControlService.customerHasPhone && !phoneValid ? validatePhone : undefined)" type="button" [disabled]="disabledNextAction">
        Next
      </button>

    </div>

  </div>

  <div #defaultQuestion class="form-element-wrapper text-input-wrapper"
       [formGroupName]="'defaultQuestionaryGroup'"
       *ngIf="questionaryControlService.currentQuestionIndex == questionaryControlService.questionaryLength + 2 + (personalInfoRequired() ? 1 : 0) && !loadingUserAddresses">
    <h2 class="question-title">Where do you need a Professional?</h2>

    <div class="user-address-wrapper" *ngIf="userAddresses.length > 0 && !canEnterManualAddress">

      <perfect-scrollbar>
        <cv-radio-group formGroupName="projectLocation"  required>
          <cv-radio class="address-item-wrapper" *ngFor="let address of userAddresses; let i=index"
                    [value]="address"
                    [selected]="hasAddressMatches(address)"
                    (onSelect)="selectAddress($event, false)">
            {{address.streetAddress}}<br>
            {{address.city}} {{address.state}} {{address.zip}}
          </cv-radio>
        </cv-radio-group>
      </perfect-scrollbar>

      <button class="new-address-button" (click)="clearUserAddressForm()" cv-button-empty>Enter new address</button>

      <div class="location-error-wrapper">
        <span *ngIf="locationValidation">{{locationValidation}}</span>
        <span class="mat-error" *ngIf="defaultQuestionaryForm.get('projectLocation').errors?.required">Is required</span>
      </div>

    </div>

    <div *ngIf="userAddresses.length == 0 || canEnterManualAddress" class="text-input-group fill-flex-space"
         [formGroupName]="'projectLocation'"
         [cvSpinner]="processingAddressValidation"
         [cvSpinnerSize]="40"
         [cvSpinnerBackground]="true">
      <cv-input-field>
        <cv-field-label>Address</cv-field-label>
        <input cv-input type="text"
               name="streetAddress"
               placeholder="Address"
               [formControlName]="'streetAddress'"
               [(cv_trim)]="defaultQuestionaryForm.get('projectLocation.streetAddress').value"
               (cv_trimChange)="defaultQuestionaryForm.get('projectLocation.streetAddress').setValue($event)"
               [id]="'streetAddress'"
               required>
        <cv-field-error
          *ngIf="defaultQuestionaryForm.get('projectLocation.streetAddress').dirty || defaultQuestionaryForm.get('projectLocation.streetAddress').touched">
            <span
              *ngIf="defaultQuestionaryForm.get('projectLocation.streetAddress').errors?.required">Is required</span>
        </cv-field-error>
      </cv-input-field>
      <cv-input-field>
        <cv-field-label>City</cv-field-label>
        <input type="text"
               cv-input
               name="city"
               placeholder="City"
               [id]="'city'"
               [(cv_trim)]="defaultQuestionaryForm.get('projectLocation.city').value"
               (cv_trimChange)="defaultQuestionaryForm.get('projectLocation.city').setValue($event)"
               [formControlName]="'city'"
               required>
        <cv-field-error
          *ngIf="defaultQuestionaryForm.get('projectLocation.city').dirty || defaultQuestionaryForm.get('projectLocation.city').touched">
          <span *ngIf="defaultQuestionaryForm.get('projectLocation.city').errors?.required">Is required</span>
        </cv-field-error>
      </cv-input-field>
      <cv-input-field>
        <cv-field-label>State</cv-field-label>
        <cv-select [multiple]="false"
                   [tags]="false"
                   [autocomplete]="true"
                   (autocompleteSearch)="autocompleteStateSearch($event)"
                   [items]="filteredStates"
                   [disableItemsMatch]="false"
                   valueKey="value"
                   labelKey="value"
                   name="state"
                   [formControlName]="'state'"
                   [id]="'state'"
                   required
                   label="Choose state">
        </cv-select>
        <cv-field-error
          *ngIf="defaultQuestionaryForm.get('projectLocation.state').dirty || defaultQuestionaryForm.get('projectLocation.state').touched">
          <span *ngIf="defaultQuestionaryForm.get('projectLocation.state').errors?.required">Is required</span>
        </cv-field-error>
      </cv-input-field>
      <cv-input-field>
        <cv-field-label>Zip</cv-field-label>
        <input cv-input
               type="text"
               (blur)="deviceControlService.isIOS() && nextQuestion('projectLocation', validateLocation)"
               (keypress)="deviceControlService.isAndroid($event) && nextQuestion('projectLocation', validateLocation)"
               inputmode="numeric"
               placeholder="Zip"
               name="zip"
               maxlength="5"
               [formControlName]="'zip'"
               numericMask
               pattern="{{constants.patterns.zipcode}}"
               required>
        <cv-field-error
          *ngIf="defaultQuestionaryForm.get('projectLocation.zip').dirty || defaultQuestionaryForm.get('projectLocation.zip').touched">
          <span *ngIf="defaultQuestionaryForm.get('projectLocation.zip').errors?.required">Is required</span>
          <span
            *ngIf="defaultQuestionaryForm.get('projectLocation.zip').errors?.pattern">{{messages.errors.zip.pattern}}
          </span>
        </cv-field-error>
      </cv-input-field>
      <cv-field-error class="location-error">{{locationValidation | lowercase}}</cv-field-error>
      <div *ngIf="originalAddress?.streetAddress && suggestedAddress?.streetAddress" class="address-validation"
           [ngClass]="{'-invalid': hasLocationInvalidMessage}">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="address">
              <h4>You entered</h4>
              <p>
                {{originalAddress?.streetAddress}}<br>
                {{originalAddress?.city}},
                {{originalAddress?.state}}
                {{originalAddress?.zip}}
              </p>
            </div>
            <button *ngIf="originalAddress?.canUseManual" cv-button-empty type="button"
                    (click)="chooseAddress(originalAddress, true)">Use this address
            </button>
            <button *ngIf="!originalAddress?.canUseManual" cv-button-empty type="button"
                    (click)="resetLocationQuestion()">Edit address
            </button>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="address apply" (click)="chooseAddress(suggestedAddress, false)">
              <div class="overlay"><i></i></div>
              <h4>Suggested address</h4>
              <p>
                <mark [ngClass]="{'-success': originalAddress?.streetAddress?.trim().toLowerCase() != suggestedAddress?.streetAddress?.trim().toLowerCase()}">{{suggestedAddress?.streetAddress}}</mark><br>
                <mark [ngClass]="{'-success': originalAddress?.city?.trim().toLowerCase() != suggestedAddress?.city?.trim().toLowerCase()}">{{suggestedAddress?.city}}</mark>,
                <mark [ngClass]="{'-success': originalAddress?.state?.trim().toLowerCase() != suggestedAddress?.state?.trim().toLowerCase()}">{{suggestedAddress?.state}}</mark>
                <mark [ngClass]="{'-success': originalAddress?.zip?.trim().toLowerCase() != suggestedAddress?.zip?.trim().toLowerCase()}">{{suggestedAddress?.zip}}</mark>
              </p>
            </div>
            <button cv-button type="button" (click)="chooseAddress(suggestedAddress, false)">Use suggested</button>
          </div>
        </div>
        <span *ngIf="validationMessage">{{validationMessage}}</span>
        <button class="grey-button" *ngIf="originalAddress?.canUseManual" cv-button-empty type="button"
                (click)="resetLocationQuestion()">Enter another address
        </button>
      </div>
    </div>

    <div *ngIf="!processingAddressValidation" class="questionary-dialog-footer" [cvSpinner]="postOrderProcessing"
         [cvSpinnerSize]="20">
      <button cv-button-empty
              class="questionary-previous-button"
              (click)="questionaryControlService.previousQuestion(); userAddresses.length > 0 && !isAddressSelected && selectAddress(userAddresses[0], false); canEnterManualAddress = false"
              type="button"
              *ngIf="!hideNextAction && !postOrderProcessing">Back
      </button>
      <button *ngIf="!hideNextAction"
              cv-button class="questionary-next-button"
              (click)="isAddressManual = false; nextQuestion('projectLocation', validateLocation)" type="button"
              [disabled]="disabledNextAction">
        Next
      </button>
    </div>
  </div>

  <div #defaultQuestion class="form-element-wrapper text-input-wrapper" [formGroupName]="'defaultQuestionaryGroup'"
       *ngIf="questionaryControlService.currentQuestionIndex == questionaryControlService.questionaryLength + 3 + (personalInfoRequired() ? 1 : 0)">
    <h2 class="question-title">Add pictures of your project to share with Professionals</h2>

    <div class="image-uploader-wrapper fill-flex-space">
      <questionary-image-uploader #imageUploader [projectId]="questionaryControlService.projectId"></questionary-image-uploader>
    </div>

    <div class="questionary-dialog-footer" fxLayoutAlign="end center">
      <button cv-button-empty class="questionary-previous-button" (click)="questionaryControlService.previousQuestion()" type="button">Back</button>
      <div fxFlex=""></div>
      <button cv-button class="questionary-next-button" (click)="nextQuestion('projectImages')" type="button" [disabled]="imageUploader.processing | async">{{(imageUploader.hasElements | async) ? 'Next' : 'Skip'}}</button>
    </div>

  </div>

  <div #defaultQuestion class="form-element-wrapper text-input-wrapper" [formGroupName]="'defaultQuestionaryGroup'"
       *ngIf="questionaryControlService.currentQuestionIndex == questionaryControlService.questionaryLength + 4 + (personalInfoRequired() ? 1 : 0)">
    <h2 class="question-title">You are requesting {{questionaryControlService.serviceType.name}}</h2>

    <project-summary
    [phone]="defaultQuestionaryForm.get('customerPersonalInfo.phone').value"
    [projectLocation]="defaultQuestionaryForm.get('projectLocation').value"
    [startExpectation]="defaultQuestionaryForm.get('startExpectation').value"
    [notes]="defaultQuestionaryForm.get('notes').value"
    [questionaryAnswers]="questionaryAnswers">
    </project-summary>

    <div class="questionary-dialog-footer" fxLayoutAlign="end center">
      <button cv-button-empty class="questionary-previous-button" (click)="questionaryControlService.previousQuestion()" type="button">Back</button>
      <div fxFlex=""></div>
      <button cv-button class="questionary-next-button" (click)="onSubmit()" type="button" [loading]="postOrderProcessing">Confirm</button>
    </div>

</div>

</div>
