<div class="holder" [cvSpinner]="!leads" [cvSpinnerSize]="32" [cvSpinnerBackground]="true">
  <div class="available-leads" *ngIf="leads && leads.content.length > 0">
    <h3>
      <i>{{leads?.totalElements}} </i>
      <ng-container [ngPlural]="leads.numberOfElements">
        <ng-template ngPluralCase="=0"></ng-template>
        <ng-template ngPluralCase="=1">new lead</ng-template>
        <ng-template ngPluralCase="few">new leads</ng-template>
        <ng-template ngPluralCase="other">new leads</ng-template>
      </ng-container>
      for you
    </h3>
    <ul>
      <li *ngFor="let lead of leads.content">
        <div class="meta">
          <h4>{{lead.serviceType}}</h4>
          <span>{{lead.location.city}}, {{lead.location.state}} {{lead.location.zip}}</span>
          <span>{{lead.created | timeAgo}}</span>
        </div>
        <div class="action">
          <span>{{lead.price/100 | currency:'USD':'symbol' }}</span>
          <button [routerLink]="'/pro/leads-purchase/' + lead.id">Buy <i class="imp-icon-cart"></i></button>
        </div>
      </li>
    </ul>
    <div class="footer" [ngClass]="{'-white': leads.numberOfElements % 2 == 0}">
      <button cv-button [routerLink]="['/pro/leads-search']">See all leads</button>
    </div>
  </div>
  <div class="no-available-leads" *ngIf="leads && leads.numberOfElements == 0">
    <div class="img-holder"></div>
    <div class="footer">
      <button cv-button [routerLink]="['/pro/leads-search']">Find more projects</button>
    </div>
  </div>
</div>
