<ng-content select="cv-field-label"></ng-content>
<div class="input-holder">
  <ng-content select="cv-icon"></ng-content>
  <ng-content select="cv-select"></ng-content>
  <ng-content select="cv-date-picker"></ng-content>
  <ng-content select="cv-editable-input"></ng-content>
  <ng-content select="[cv-input]"></ng-content>
  <ng-content select="cv-field-hint"></ng-content>
  <ng-content select="[cv-button]"></ng-content>
  <ng-content select="cv-button"></ng-content>
  <ng-content select="[cv-button-empty]"></ng-content>
  <ng-content select="cv-button-empty"></ng-content>
  <ng-content select="cv-date-range-picker"></ng-content>
  <ng-content select="input[type=range]"></ng-content>
</div>
<div class="hint-holder">
  <ng-content select="cv-field-error"></ng-content>
  <div class="spacer"></div>
  <ng-content select="cv-field-hint"></ng-content>
</div>

