@import "../../../../../../improver-mixins.scss";

.dialog-content-wrapper {

  .header {
    position: relative;
    height: 112px;
    border-radius: 2px;
    background-image: linear-gradient(to bottom, $primary-400, $primary-500), linear-gradient(257deg, #7f7fef, #4c5edf), linear-gradient(#f7f7f7, #f7f7f7);
  }

  .review-posted-message {
    padding: 80px 30px;
    font-size: 25px;
    color: #777;
    line-height: 40px;
    text-align: center;
  }

  .content {
    padding: 0 31px 24px 33px;
    margin-top: -50px;
    position: relative;

    .review-post-photo {
      width: 96px;
      height: 96px;
      border-radius: 50%;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
      border: solid 3px $white;
      margin: 0 auto;
      background-size: cover !important;
      background-position: 50% !important;
      z-index: 99;
      background: $white;
    }

    ::ng-deep .mat-error {
      font-size: 80%;
    }

    .review-post-name {
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      color: $black-800;
      margin: 40px 0 32px 0;
    }

    .review-post-rating {

      ::ng-deep .numeric-rating {
        display: none !important;
      }
    }

    .review-post-message {
      width: 100%;
      resize: none;
      align-items: center;
      border: solid 1px rgba(0, 0, 0, 0.16);
      height: 104.4px;
      font-size: 14px;
      line-height: 1.33;
      text-align: left;
      color: $grey-500;
      &::placeholder {
        color: $grey-450;
      }
    }

    .review-post-message-container {
      margin-top: 32px;

      .review-post-button {
        width: 100%;
        height: 45px;
      }
    }

    .review-post-button-container {
      padding-top: 32px;

      .review-button {
        width: 120px;
        height: 35px;
        border-radius: 2px;
        background-color: $primary-500;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
        font-size: 14px;
        text-align: left;
        color: $white;
        margin: 0 auto;
      }
    }

    .review-post-accept-message {
      padding-top: 20px;
      font-size: 12px;
      text-align: center;

      &::placeholder {
        font-size: 12px !important;
        line-height: 1.33 !important;
        text-align: left !important;
        color: #9e9e9e !important;
      }
    }

  }

  .footer-content {
    padding: 0 25px;

    .change-button {
      cursor: pointer;

      input {
        display: none;
      }

      label {
        cursor: pointer;
      }

    }

    .buttons {
      padding: 25px 0;

      button {
        border: none;
        background-color: transparent;
        padding-top: 9px;
        padding-bottom: 9px;

      }

    }
  }

}

::ng-deep .mat-dialog-container {
  padding: 0px;
}

.close-modal {
  position: absolute;
  right: 16px;
  top: 16px;
  float: none;
  margin: 0;
  color: $white !important;
  width: 20px !important;
  height: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unauthorized {
  position: absolute;
  background-color: rgba(#fff, 1);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 16px;
  h3 {
    color: $black-800;
    text-align: center;
  }
  button {
    width: 200px;
    margin-bottom: 8px;
  }

  a {
    color: $link;
    cursor: pointer;
    &:hover {
      color: $link-dark;
    }
  }
}
