@import 'improver-mixins';

.title-block {
  background: linear-gradient(180deg, #9ADDFF 0%, #E6F6FF 100%);
  overflow: hidden;

  @include response-to(sm) {
    z-index: 0;
  }

  .container {
    position: relative;
    z-index: 2;
    max-width: 1170px;
    min-height: 310px;
    height: 100%;
    display: flex;
    align-items: center;

    @include response-to(lg) {
    }

    @include response-to(md) {
      align-items: flex-start;
      justify-content: center;
      min-height: 320px;
    }

    @include response-to(sm) {
      min-height: 220px;
    }

    .content {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;

      @include response-to(md) {
        align-items: center;
        text-align: center;
      }

      h1 {
        font-family: Merriweather;
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 141%;
        color: $dark;
        margin-top: 0px;
        margin-bottom: 24px;
        max-width: 700px;
        padding-left: 200px;

        @include response-to(md) {
          max-width: 580px;
          font-size: 36px;
          padding-left: 0px;
          margin-top: 48px
        }

        @include response-to(sm) {
          margin-top: 36px;
          font-size: 24px;
        }
      }

      h3 {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 140%;
        color: $dark;
        opacity: 0.6;
        margin-top: 0px;
        margin-bottom: 40px;
        max-width: 655px;

        @include response-to(md) {
          font-size: 20px;
          margin-bottom: 30px;
        }

        @include response-to(sm) {
          font-size: 16px;
          margin-bottom: 20px;
          max-width: 320px;
        }
      }

      .buttons {
        display: flex;
        flex-direction: row;

        @include response-to(md) {

        }

        @include response-to(xs) {
          width: 100%;
          flex-direction: column;
          align-items: center;
        }

        button {
          color: white;
          width: 210px;
          height: 70px;
          border-radius: 20px;
          font-weight: bold;
          font-size: 24px;
          line-height: 140%;

          @include response-to(md) {
            font-size: 20px;
            max-width: 200px;
            height: 60px;
            border-radius: 12px;
          }

          @include response-to(sm) {
            font-size: 18px;
            max-width: 200px;
            height: 50px;
            border-radius: 12px;
          }

          @include response-to(xs) {
            font-size: 18px;
            width: 100%;
            max-width: 200px;
            height: 50px;
            border-radius: 12px;
          }

          &.main-action-button {
            color: white;
            border: 3px solid $blue-primary;
            background: $blue-primary;
            margin-right: 30px;
            margin-bottom: 30px;

            @include response-to(xs) {
              margin-right: 0px;
              margin-bottom: 20px;
            }
          }

          &.secondary-action-button {
            color: $blue-primary;;
            border: 3px solid $blue-primary;
            background: transparent;
          }

        }

      }

    }

    .background {
      position: absolute;
      height: 100%;
      width: 100%;
      bottom: 0px;
      z-index: 1;

      .main-banner {
        background-size: contain;
        position: absolute;
        width: 450px;
        height: 270px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('/assets/img/become_a_pro_main_banner.png');
        bottom: 0px;
        right: 200px;
        z-index: 2;

        @include response-to(md) {
          width: 292px;
          height: 180px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%)
        }

        @include response-to(sm) {
          width: 207px;
          height: 126px;
        }
      }

    }

  }

  .clouds {
    position: relative;
    z-index: 1;

    .cloud {
      position: absolute;
      background-size: contain;
      z-index: 1;

      &.cloud-1 {
        width: 530px;
        height: 334px;
        left: 0;
        bottom: 0;
        background-image: url('/assets/img/became_a_pro_banner_cloud_1.png');

      }

      &.cloud-2 {
        width: 680px;
        height: 200px;
        left: 400px;
        bottom: 0;
        background-image: url('/assets/img/became_a_pro_banner_cloud_2.png');

      }

      &.cloud-3 {
        width: 330px;
        height: 154px;
        right: 0;
        bottom: 0;
        background-image: url('/assets/img/became_a_pro_banner_cloud_3.png');

      }
    }
  }

}

.content-block {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 80px auto 90px;
  max-width: 1170px;

  @include response-to(lg) {
    padding-left: 48px;
    padding-right: 48px;
  }

  @include response-to(sm) {
    margin: 36px auto 48px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .paragraph {
    .title {
      font-size: 36px;
      margin-bottom: 12px;

      @include response-to(sm) {
        font-size: 26px;
      }
    }

    .description {
      font-size: 16px;
      color: $grey-700;
    }

    &:not(:last-child) {
      margin-bottom: 48px;
      @include response-to(sm) {
        margin-bottom: 36px;
      }
    }

  }


}
