<div class="company-gallery-project-viewer-wrapper">

  <a class="back-link noselect" [routerLink]="['/companies', companyId]">
    <mat-icon>keyboard_arrow_left</mat-icon>
    <div fxFlexOffset="5px">Back to Company profile</div>
  </a>

  <div class="container" *ngIf="demoProject">

    <div class="top-line">{{demoProject.name}}</div>

    <div class="card header-card" *ngIf="companyProfile" [routerLink]="['/companies', companyId]">
      <div class="container">
        <div class="row">
          <div class="logo"
           [ngStyle]="companyProfile.iconUrl && companyProfile.iconUrl != ''
                      && {'background-image':'url(' + companyProfile.iconUrl + ')'}
                      || {'background-image':'url(assets/img/pro_avatar.svg'}">
          </div>
          <div class="main-block">
            <div class="company-name">{{companyProfile.name}}</div>
            <div class="company-rating">
              <rating-component starSize="24" [rating]="companyProfile.rating"></rating-component>
              <div class="reviews-count">({{companyProfile.reviewCount}})</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card photos-card" *ngIf="demoProject.coverUrl">
      <div class="container">
        <div class="row">
          <div *ngIf="demoProject.coverUrl && demoProject.coverUrl != ''" class="project-main-photo col-xs-12"
               [ngStyle]="demoProject.coverUrl != '' && {'background-image':'url(' + demoProject.coverUrl + ')'}"
               (click)="openGallery(0)"></div>
          <div class="project-photos-wrapper container">
            <div class="row">
              <ng-template ngFor [ngForOf]="projectImages | tail" let-image let-index="index">
                <div class="col-xs-2 project-image-wrapper">
                  <div class="project-image"  [ngStyle]="{'background-image':'url(' + image + ')'}" (click)="openGallery(index + 1)"></div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card about-card">
        <div class="about-header">
            <div class="title">About the project</div>
            <div class="about-header-content">
              <div class="info-group">
                <div class="label">Location:</div>
                <div class="value">
                  <span *ngIf="demoProject.location.city != ''">{{demoProject.location.city}}, </span>
                  <span *ngIf="demoProject.location.state != ''">{{demoProject.location.state}} </span>
                  <span *ngIf="demoProject.location.zip != ''">{{demoProject.location.zip}}</span>
                  <span
                    *ngIf="demoProject.location.city == '' && demoProject.location.state == '' && demoProject.location.zip == ''"
                    class="unknown">none</span>
                </div>
              </div>
              <div class="info-group">
                <div class="label">Date:</div>
                <div class="value">{{demoProject.date | date:'MMM y'}}</div>
              </div>
              <div class="info-group">
                <div class="label">Cost:</div>
                <div class="value">
                  <span *ngIf="demoProject.price > 0">{{demoProject.price | currency:'USD':'symbol'}}</span>
                  <span *ngIf="demoProject.price == 0" class="unknown">none</span>
                </div>
              </div>
            </div>
        </div>
        <div class="about-body">
          <div class="sub-title">About</div>
          <div class="project-description">
            {{demoProject.description}}
          </div>
          <div class="services-list" *ngIf="demoProject.serviceTypes.length > 0">
            <div class="sub-title">Services</div>
            <ng-template ngFor let-service [ngForOf]="demoProject.serviceTypes">
              <div class="project-service-type">{{service}}</div>
            </ng-template>
          </div>
        </div>
    </div>

    <div class="reviews-wrapper" *ngIf="companyProfile">
      <company-reviews [companyProfile]="companyProfile" reviewsTitle="Company reviews"></company-reviews>
    </div>

  </div>

</div>

