@import "../../../../../../improver-mixins.scss";

:host {
  height: 100%;
  display: flex;
  flex: 1;
}

.question-title {
  text-align: center;
  color: $primary-500;
  margin-bottom: 26px;
  margin-top: 0;
  padding-top: 24px;
  font-weight: 400;
}

.left-footer-button {
  float: left;
}

.right-footer-button {
  float: right;
}

.questionary-radio-button {
  //padding: 10px 0px;
  width: 100%;
  //border-top: 1px solid #e0e0e0;
}

.questionary-radio-button:last-of-type {
  //border-bottom: 1px solid #e0e0e0;
}

.radio-button-group, .check-box-group {
  padding-bottom: 30px;
}

.text-input-wrapper, .text-area-wrapper {
  padding-bottom: 20px;
}

.question-general-error {
  pointer-events: none;
  display: block;
  text-align: center;
  color: #f44336;
  height: 0px;
}

.question-general-error span {
  top: 38px;
  position: relative;
}


.text-input-group {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
  min-height: 130px;

  &.zip-check-group {
    max-width: 200px;
    margin: auto;
  }

  cv-input-field, .cv-input-field {
    margin-bottom: 8px;
  }
}

.form-element-wrapper {
  padding: 0px 24px;
  //justify-content: space-between;
  display: flex;
  flex-direction: column;
  min-height: 280px;
  height: 100%;

  .unsupported-zip-message {
    display: flex;
    flex: 1;
    padding: 0px 16px;
    font-size: 18px;
    color: $grey-600;
    margin-top: -16px;
    text-align: center;
    justify-content: center;
  }

}

.questionary-dialog-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  min-height: 33px;

  .questionary-previous-button {
  }

  .questionary-next-button {
    margin-left: auto;
  }

}

cv-radio-group {
  margin-bottom: 0px;

  ::ng-deep {
    .input-holder {
      margin-bottom: 0px;
      flex-direction: column;

      cv-radio {
        margin-bottom: 16px;

        .radio-label {
          margin-left: 8px;
          margin-top: 2px;
        }
      }
    }
  }
}

.filtered-services-wrapper {
  .no-results-message-block {
    width: 100%;
    font-size: 22px;
    color: $grey-600;

    @include response-to(sm) {
      font-size: 18px;
    }
  }

  display: flex;
  overflow-y: hidden;
  perfect-scrollbar {
    @include response-from(sm) {
      max-height: 188px;
      min-height: 188px;
    }
    margin-top: 16px;
    margin-bottom: 8px;
    padding: 8px 0;
  }

  //border: 1px solid #d8d8d8;
  border-radius: 2px;

  .service-selection-option {
    cursor: pointer;
    padding: 8px 16px;
  }

  ::ng-deep .ps {
    .ps__rail-y {
      opacity: 0.6;
    }

    .ps__thumb-y {
      opacity: 0.6;
    }

  }

}

.form-row {
  width: 100%;
}

.filtered-services-wrapper perfect-scrollbar {
  .ps__rail-x, .ps__rail-y {
    opacity: 0 ;
    transition: all .3s ease;
  }
}
