<p-dialog
  header="Project validation"
  [contentStyle]="{'overflow':'visible'}" [(visible)]="toggle" [responsive]="true" showEffect="fade"
  [width]="700"
  [modal]="true">
  <form #form="ngForm" (ngSubmit)="form.valid && requestValidation(form)">
    <div class="ui-grid ui-grid-responsive ui-fluid">

      <div class="ui-g">
        <div class="ui-grid-col-4">
          <label for="status">New status</label>
        </div>
        <div class="ui-grid-col-8">
          <input pInputText
                 id="status"
                 name="status"
                 #status="ngModel"
                 [(ngModel)]="validation.resolution"
                 disabled/>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-grid-col-4">
          <label for="status">Reason</label>
        </div>
        <div class="ui-grid-col-8">

          <p-dropdown [options]="projectReasons"
                      name="reason"
                      #status="ngModel"
                      [(ngModel)]="validation.reason"
                      [disabled]="validation.resolution == Project.Status.ACTIVE"></p-dropdown>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-grid-col-4">
          <label for="comment">Validation comment</label>
        </div>
        <div class="ui-grid-col-8">
        <textarea [rows]="5" [cols]="30" pInputTextarea
                  id="comment"
                  name="comment"
                  #comment="ngModel"
                  [(ngModel)]="validation.comment"
                  [minlength]="constants.ADMIN_PROJECT_VALIDATION_COMMENT_MIN_SIZE"
                  [maxlength]="constants.ADMIN_PROJECT_VALIDATION_COMMENT_MAX_SIZE"
                  required>

        </textarea>
        </div>
        <div class="ui-grid-col-4"></div>
        <div class="ui-grid-col-8">
          <ng-container *ngIf="comment.dirty || comment.touched || form.submitted">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="comment.errors?.required">
              <span>Required</span>
            </div>
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="comment.errors?.minlength">
              <span>At least {{constants.ADMIN_PROJECT_VALIDATION_COMMENT_MIN_SIZE}} letters required</span>
            </div>
          </ng-container>
        </div>
      </div>

    </div>

    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix" align="right">
        <button type="submit" pButton label="Submit" [disabled]="form.invalid"></button>
      </div>
    </p-footer>

  </form>

</p-dialog>
