@import "../../../improver-mixins.scss";

.phone-help-content {
  z-index: 1000;
  position: fixed;
  bottom: -282px;
  right: 0;
  width: 230px;
  background-color: $white;
  box-shadow: 0 2px 16px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-out 0s;

  &.hidden {
    bottom: -282px;
    transition: all 0.3s ease-out 0s;
  }

  &.visible {
    bottom: 0;
    right: 0;
    transition: all 0.4s ease-out 0s;
  }

  &.partial {
    bottom: -220px;
    transition: all 0.3s ease-out 0s;
  }

  .header {
    background-color: $white;
    box-shadow: 0 2px 16px 2px rgba(0, 0, 0, 0.15);

    cursor: pointer;
    height: 35px;
    width: 262px;
    position: relative;
    left: -32px;
    bottom: 21px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;

    .phone-image-wrapper {
      color: $white;
      margin-left: 3px;
      width: 29px;
      height: 29px;
      border-radius: 100px;
      background-image: linear-gradient(to bottom, $primary-500, $primary-600), linear-gradient($primary-500, $primary-500);
    }

    .close-popup {

      &:hover {
        color: #585858;
      }
    }

    .full-popup {
      &:hover {
        color: #585858;
      }
    }

    .title {
      font-size: 12px;
      font-weight: 600;
      text-align: left;
      color: #585858;
    }

    .mat-icon {
      cursor: pointer;
      margin-right: 6px;
      font-size: 18px;
    }

  }

  //.image-wrapper {
  //  margin-top: 8px;
  //  margin-bottom: 13px;
  //
  //  .top-circle {
  //    height: 56px;
  //    width: 56px;
  //    border-radius: 100px;
  //    background-color: mat-color($primary, 100);
  //    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
  //
  //    .middle-circle {
  //      height: 46px;
  //      width: 46px;
  //      border-radius: 100px;
  //      background-color: mat-color($primary, 300);
  //      box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.15);
  //
  //      .inner-circle {
  //        height: 36px;
  //        width: 36px;
  //        border-radius: 100px;
  //        background-color: $primary;
  //        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  //
  //        .mat-icon {
  //          font-size: 24px;
  //          color: $white;
  //        }
  //
  //      }
  //
  //    }
  //
  //  }
  //
  //}

  .description {
    background-color: $white;
    position: relative;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    color: #a6a6a6;
    padding: 6px 8px 0px;
  }

  .call-request-form {
    margin: 14px 16px 14px;

    ::ng-deep .mat-input-container-wrapper {
      margin-bottom: 6px;

      .mat-input-container {
        width: 100%;
        font-size: 12px;

        .mat-input-element {
          font-size: 12px;
        }

        .mat-input-placeholder-wrapper {
          font-size: 12px;
        }


      }


    }


    .call-request-submit-button {
      width: 100%;
      margin-top: 16px;

      font-size: 14px;
      background-image: linear-gradient(to bottom, $primary-500, $primary-600);
      border: none;
      padding: 8px 16px;
      color: $white;
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);

      &:hover {
        background-image: linear-gradient(to top, $primary-500, $primary-600);
      }

      &:active {
        background: $primary-500 none;
      }
    }

  }

}








