<div class="container">
  <div class="card">
    <div class="step-wizard">
      <div class="step-icon -one -active">
        <span>Account <br>Creation</span>
      </div>
      <div class="step-icon -two">
        <span>Company <br>Profile</span>
      </div>
      <div class="step-icon -tree">
        <span>Coverage</span>
      </div>
      <div class="step-icon -four">
        <span>Offered <br>Services</span>
      </div>
    </div>
    <div class="step -one -account">
      <form class="account-form"
            name="account-form"
            #accountForm="ngForm"
            (ngSubmit)="accountForm.valid && registerContractor(accountForm)"
            novalidate>

        <h3>User Details</h3>
        <div class="row">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <cv-input-field>
                  <input cv-input type="text"
                         placeholder="First name"
                         #firstName="ngModel"
                         name="firstName"
                         [(ngModel)]="user.firstName"
                         minlength="2"
                         [pattern]="constants.patterns.name"
                         trim
                         required>
                  <cv-field-error *ngIf="firstName.dirty || firstName.touched || accountForm.submitted">
                      <span *ngIf="firstName.errors?.required">
                        {{messages.errors.firstName.required}}
                      </span>
                    <span *ngIf="firstName.errors?.minlength">
                        {{messages.errors.firstName.minlength}}
                      </span>
                    <span *ngIf="!firstName.errors?.minlength && firstName.errors?.pattern">
                        {{messages.errors.name.notValid}}
                      </span>
                  </cv-field-error>
                </cv-input-field>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <cv-input-field>
                  <input cv-input type="text"
                         placeholder="Last name"
                         #lastName="ngModel"
                         name="lastName"
                         [(ngModel)]="user.lastName"
                         minlength="2"
                         trim
                         [pattern]="constants.patterns.name"
                         required>
                  <cv-field-error *ngIf="lastName.dirty || lastName.touched || accountForm.submitted">
                      <span *ngIf="lastName.errors?.required">
                        {{messages.errors.lastName.required}}
                      </span>
                    <span *ngIf="lastName.errors?.minlength">
                        {{messages.errors.lastName.minlength}}
                      </span>
                    <span *ngIf="!lastName.errors?.minlength && lastName.errors?.pattern">
                        {{messages.errors.name.notValid}}
                      </span>
                  </cv-field-error>
                </cv-input-field>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <cv-input-field>
                  <input cv-input type="email"
                         placeholder="Email"
                         name="email"
                         #email="ngModel"
                         [(ngModel)]="user.email"
                         required
                         trim
                         pattern="{{constants.patterns.email}}"
                         emailUniqueValidator>
                  <cv-field-error *ngIf="email.dirty || email.touched || accountForm.submitted">
                      <span *ngIf="email.errors?.required">
                        {{messages.errors.email.required}}
                      </span>
                    <span *ngIf="email.errors?.pattern">
                        {{messages.errors.email.pattern}}
                      </span>
                    <span *ngIf="email.errors?.emailUnique">
                        {{messages.errors.email.emailUnique}}
                      </span>
                  </cv-field-error>
                </cv-input-field>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <cv-input-field>
                  <input cv-input type="text"
                         placeholder="Phone"
                         #phone="ngModel"
                         name="phone"
                         [(ngModel)]="user.phone"
                         phoneMask
                         maxlength="14"
                         [pattern]="constants.patterns.phone"
                         required>
                  <cv-field-error *ngIf="phone.dirty || phone.touched || accountForm.submitted">
                      <span *ngIf="phone.errors?.required">
                        {{messages.errors.phone.required}}
                      </span>
                    <span *ngIf="phone.errors?.pattern">
                        {{messages.errors.phone.pattern}}
                      </span>
                    <span *ngIf="phone.errors?.allZeros">
                        {{messages.errors.phone.pattern}}
                      </span>
                  </cv-field-error>
                </cv-input-field>
              </div>
              <input type="password" style="display: none;">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <cv-input-field>
                  <input cv-input autocomplete="new-password" placeholder="Password (at least 8 symbols)"
                         #passwordEl="ngModel"
                         name="password"
                         type="password"
                         [(ngModel)]="user.password"
                         validateEqual="confirmPassword"
                         validationEqualReverse="true"
                         minlength="8"
                         maxlength="32"
                         trim
                         pattern="{{constants.patterns.password}}"
                         required>
                  <cv-field-error *ngIf="passwordEl.dirty || passwordEl.touched || accountForm.submitted">
                      <span *ngIf="passwordEl.errors?.required">
                       {{messages.errors.password.required}}
                      </span>
                    <span *ngIf="passwordEl.errors?.minlength">
                          {{messages.errors.password.minlength}}
                      </span>
                    <span *ngIf="passwordEl.errors?.pattern && !passwordEl.errors?.minlength">
                        {{messages.errors.password.pattern}}
                      </span>
                  </cv-field-error>
                </cv-input-field>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <cv-input-field>
                  <input cv-input placeholder="Confirm password"
                         #confirmPassword="ngModel"
                         name="confirmPassword"
                         type="password"
                         [(ngModel)]="registerProps.confirmPassword"
                         validateEqual="password"
                         validationEqualReverse="false"
                         required>
                  <cv-field-error *ngIf="confirmPassword.dirty || confirmPassword.touched || accountForm.submitted">
                      <span *ngIf="confirmPassword.errors?.required">
                        {{messages.errors.passwordConfirm.required}}
                      </span>
                    <span *ngIf="confirmPassword.errors?.validateEqual && !confirmPassword.errors?.required">
                        {{messages.errors.passwordConfirm.validateEqual}}
                      </span>
                  </cv-field-error>
                </cv-input-field>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="hint account-hint">
              <span>Create a PRO account and continue company registration whenever suits you.</span>
            </div>
            <div class="row" *ngIf="mediaQuery.xs || mediaQuery.sm">
              <div class="col-md-8 col-sm-12 col-xs-12">
                <cv-checkbox #agreeEl="ngModel" name="agree"
                             [(ngModel)]="registerProps.agree"
                             class="agree"
                             required>
                  <div>I agree with Home Improve <a routerLink="/terms-of-use" target="_blank">Terms of Use</a> and <a
                    routerLink="/privacy-policy" target="_blank">Privacy policy</a></div>
                </cv-checkbox>
                <cv-field-error
                  *ngIf="agreeEl.dirty || agreeEl.touched || accountForm.submitted || agreeForSocialLogin">
                  <span *ngIf="agreeEl.errors?.required">Please agree to all the terms and conditions</span>
                </cv-field-error>
              </div>
            </div>
            <response-message *ngIf="showMessage" [type]="messageType" [message]="messageText"
                              [paddingV]="12" [paddingH]="24"
                              [marginTop]="16"
                              [showIcon]="false" (onHide)="onMessageHide($event)"></response-message>
            <social-buttons [preventLogin]="!registerProps.agree"
                            [processing]="processing"
                            [contractorRegistrationFlow]="true"
                            [referralCode]="user.referralCode"
                            (responseMessageType)="messageType = $event;"
                            (responseMessage)="messageText = $event;"
                            (showMessage)="showMessage = $event;"
                            (click)="agreeForSocialLogin = !registerProps.agree"
            ></social-buttons>
          </div>
        </div>
        <div class="row" *ngIf="!(mediaQuery.xs || mediaQuery.sm)">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <cv-checkbox #agreeEl="ngModel" name="agree"
                         [(ngModel)]="registerProps.agree"
                         class="agree"
                         required>
              <div>I agree with Home Improve <a routerLink="/terms-of-use" target="_blank">Terms of Use</a> and <a
                routerLink="/privacy-policy" target="_blank">Privacy policy</a></div>
            </cv-checkbox>
            <cv-field-error
              *ngIf="agreeEl.dirty || agreeEl.touched || accountForm.submitted || agreeForSocialLogin">
              <span *ngIf="agreeEl.errors?.required">Please agree to all the terms and conditions</span>
            </cv-field-error>
          </div>
        </div>
        <div class="footer">
          <button cv-button type="submit" class="button-next" [loading]="processing">Create Account
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
