<div class="dialog-content-wrapper">
  <div class="dialog-content-container">

    <div class="header">

      <mat-icon class="close-modal" (click)="close()">clear</mat-icon>

      <div class="header-content" fxLayout="row" fxLayoutAlign="start end">
        Phone Confirmation
      </div>

    </div>

    <div class="content">

      <phone-validation *ngIf="validating" [phoneNumber]="phone" (onSuccess)="registerUser()"></phone-validation>

      <form name="account-form"
            #phoneUpdateForm="ngForm"
            (ngSubmit)="phoneUpdateForm.valid && validatePhone()"
            *ngIf="!validating"
            novalidate>
        Dear <b>{{socialUser.name}}</b>, we can't get your phone number from the {{socialPlatform}}<br>
        Please enter a phone number for continue registration.
        <br>
        <br>
        <cv-input-field>
          <input cv-input type="text"
                 placeholder="Phone"
                 #phoneEl="ngModel"
                 name="phone"
                 [(ngModel)]="phone"
                 phoneMask
                 maxlength="14"
                 [pattern]="constants.patterns.phone"
                 required>
          <cv-field-error *ngIf="phoneEl.dirty || phoneEl.touched || phoneUpdateForm.submitted">
                      <span *ngIf="phoneEl.errors?.required">
                        {{messages.errors.phone.required}}
                      </span>
            <span *ngIf="phoneEl.errors?.pattern">
                        {{messages.errors.phone.pattern}}
                      </span>
            <span *ngIf="phoneEl.errors?.allZeros">
                        {{messages.errors.phone.pattern}}
                      </span>
          </cv-field-error>
        </cv-input-field>
        <response-message *ngIf="showMessage" [type]="messageType" [message]="messageText"
                          [paddingV]="12" [paddingH]="24"
                          [marginTop]="16"
                          [showIcon]="false" (onHide)="onMessageHide($event)"></response-message>
        <div class="buttons-wrapper">
          <div class="spacer"></div>
          <button cv-button type="submit" class="button-next" [loading]="processing">Continue</button>
        </div>
      </form>
    </div>
  </div>
</div>
