<mat-progress-bar mode="indeterminate" *ngIf="fetching"></mat-progress-bar>

<imp-coverage-configuration
  [companyCoverageConfig]="companyCoverageConfig"
  [servedZipCodes]="servedZipCodes"
  (showTutorial)="onShowCoverageTutorial()"
  (onCirclePropsChanged)="onCompanyCirclePropsChanged($event)"
  (onZipCodeFound)="onZipCodeFound($event)"
  (modeChange)="onModeChanged($event)"
></imp-coverage-configuration>

<imp-gmap-sidebar
  [gMap]="gMap"
  [mapMinZoom]="mapMinZoom"
  [mapMaxZoom]="mapOptions.maxZoom"
  [isDetailMode]="isDetailMode"
  [zipHistory]="zipsHistory"
  [isUnsavedChanges]="unsavedChanges$ | async"
  [center]="companyCoverageConfig?.getCompanyLocationCenter()"
  (undoHistory)="undo($event)"
></imp-gmap-sidebar>

<imp-coverage-tutorial></imp-coverage-tutorial>

<agm-map class="map-wrapper"
         [zoom]="mapMinZoom"
         (mapReady)="onMapReady($event)"
         [maxZoom]="mapOptions.maxZoom"
         [minZoom]="mapMinZoom"
         [styles]="mapStyles"
         [streetViewControl]="false"
         [disableDefaultUI]="true"
         [zoomControl]="false">
  <agm-snazzy-info-window [isOpen]="infoWindow?.trigger"
                          [latitude]="infoWindow ? infoWindow.position.lat : 0"
                          [longitude]="infoWindow ? infoWindow.position.lng : 0"
                          [maxWidth]="40"
                          [maxHeight]="30"
                          [closeOnMapClick]="true"
                          [panOnOpen]="false">
    <ng-template>
      <div class="si-zip-content">{{ infoWindow?.content }}</div>
    </ng-template>
  </agm-snazzy-info-window>
</agm-map>

<div class="action-bar" [ngClass]="{'-showed': unsavedChanges}">
  <div class="container-wide">
    <div class="row -no-mar">
      <button cv-button-empty flatStyle="dark" (click)="reset()">Cancel</button>
      <div class="spacer"></div>
      <button cv-button-empty (click)="saveChanges()" [loading]="isSavingChanges" [spinnerColor]="'#14ABE3'"
              [disabled]="!unsavedChanges || fetching">Save
      </button>
    </div>
  </div>
</div>
