@import "../../../../../improver-mixins.scss";

:host {
  height: 100%;
  overflow: hidden;
  position: relative;
}

agm-map::ng-deep {
  .agm-map-container-inner {
    height: 100%;
    //height: calc(100% - 88px);
  }
}

.map-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

.action-bar {
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px 0;
  background-color: $white;
  transform: translateY(100%);
  transition: transform .3s ease;
  .row {
    @include response-to(sm) {
      justify-content: center;
    }
  }
  .container-wide {
    padding: 0 16px;
  }
  &.-showed {
    transform: translateY(0);
  }
  .spacer {
    flex-grow: 1;
  }
  button {
    &::ng-deep {
      padding: 8px 31px;
    }
  }
}

::ng-deep .si-wrapper-top {
  pointer-events: none;
}

mat-progress-bar {
  position: absolute;
  width: 100%;
  z-index: 9999;
}
