<div class="level-block-title">You are now on <strong>level {{currentLevel}}</strong></div>

<div class="level-block-content">
  <div class="level-block-wrapper">
    <span>{{currentLevelAmount | currency:'USD':'symbol'}}</span>
    <span>{{nextLevelAmount | currency:'USD':'symbol'}}</span>
  </div>

  <div class="level-line-wrapper">
    <div class="level-progress">
      <div class="progress" (mouseover)="showTooltip($event)" (mouseleave)="hideTooltip($event)" [ngStyle]="{'width': progressPercentage + '%'}"></div>
      <div class="tooltip" [ngClass]="{'show': tooltipShow}" [ngStyle]="{'left': tooltipPositionLeft}">{{levelProgressAmount | currency:'USD':'symbol'}}</div>
    </div>
  </div>

  <div class="level-block-wrapper">
    <span class="-percent">{{currentLevelFee}}%</span>
    <span class="-percent">{{nextLevelFee}}%</span>
  </div>

  <button class="secondary-button">
    Find out more about cashback
  </button>

</div>
