<div class="wrapper" [ngClass]="{'new-message': !message.read}" fxLayoutAlign="start start" *ngIf="!(securityService.hasRole(Role.CUSTOMER) && (message.event == ProjectRequest.MessageEvent.REFUND_APPROVED || message.event == ProjectRequest.MessageEvent.REFUND_REJECTED))">


  <div class="icon-wrapper" fxFlexOffset="8px" *ngIf="message.sender != securityService.getLoginModel().id">

    <div class="icon"
         [ngStyle]="userIcon && userIcon != '' && {'background-image':'url(' + userIcon + ')'} || securityService.getLoginModel().company == null && {'background-image':'url(/assets/img/pro_avatar.svg)'} || {'background-image':'url(/assets/img/customer_avatar.svg)'}"
         *ngIf="message.sender != 'system'; else systemImage">
    </div>

    <ng-template #systemImage>
      <div class="icon system-icon"
           [ngStyle]="message.event == ProjectRequest.MessageEvent.CUSTOMER_CLOSE && {'background-image':'url(' + 'assets/img/round-icons/closed-project.svg' + ')'} ||
                      message.event == ProjectRequest.MessageEvent.CANCEL && {'background-image':'url(' + 'assets/img/round-icons/closed-project.svg' + ')'} ||
                      message.event == ProjectRequest.MessageEvent.REQUEST && {'background-image':'url(' + 'assets/img/round-icons/contractor-sent-request.svg' + ')'} ||
                      message.event == ProjectRequest.MessageEvent.HIRE && {'background-image':'url(' + 'assets/img/round-icons/contractor-hired.svg' + ')'} ||
                      message.event == ProjectRequest.MessageEvent.DECLINE && {'background-image':'url(' + 'assets/img/round-icons/contractor-declined.svg' + ')'} ||
                      message.event == ProjectRequest.MessageEvent.HIRE_OTHER && {'background-image':'url(' + 'assets/img/round-icons/contractor-declined.svg' + ')'} ||
                      message.event == ProjectRequest.MessageEvent.LEAVE && {'background-image':'url(' + 'assets/img/round-icons/contractor-leaved-project.svg' + ')'} ||
                      message.event == ProjectRequest.MessageEvent.PRO_COMPLETE && {'background-image':'url(' + 'assets/img/round-icons/project-completed.png' + ')'} ||
                      message.event == ProjectRequest.MessageEvent.PRO_CLOSE && securityService.hasRole(Role.CUSTOMER) && {'background-image':'url(' + 'assets/img/round-icons/contractor-leaved-project.svg' + ')'} ||
                      message.event == ProjectRequest.MessageEvent.PRO_CLOSE && securityService.hasRole(Role.CONTRACTOR) && {'background-image':'url(' + 'assets/img/round-icons/closed-project.svg' + ')'} ||
                      message.event == ProjectRequest.MessageEvent.CALL && {'background-image':'url(' + 'assets/img/round-icons/call.png' + ')'} ||
                      message.event == ProjectRequest.MessageEvent.REFUND_REQUEST && securityService.hasRole(Role.CUSTOMER) && {'background-image':'url(' + 'assets/img/round-icons/contractor-leaved-project.svg' + ')'} ||
                      message.event == ProjectRequest.MessageEvent.REFUND_REQUEST && securityService.hasRole(Role.CONTRACTOR) && {'background-image':'url(' + 'assets/img/round-icons/refund-request.svg' + ')'} ||
                      message.event == ProjectRequest.MessageEvent.REFUND_APPROVED && {'background-image':'url(' + 'assets/img/round-icons/refund-approved.svg' + ')'} ||
                      message.event == ProjectRequest.MessageEvent.REFUND_REJECTED && {'background-image':'url(' + 'assets/img/round-icons/refund-rejected.svg' + ')'} ||
                      message.event == ProjectRequest.MessageEvent.INVALIDATED && {'background-image':'url(' + 'assets/img/round-icons/closed-project.svg' + ')'}"
           *ngIf=" message.sender != securityService.getLoginModel().id">
      </div>
    </ng-template>

  </div>

  <div class="message-wrapper" [ngClass]="{'owner' : message.sender == securityService.getLoginModel().id}">
    <div class="message-container {{message.type | toclassname}} {{message.event | toclassname}}"
         [ngClass]="{'owner' : message.sender == securityService.getLoginModel().id , 'system' : message.sender == 'system'}">

      <div class="message" [ngSwitch]="message.type"
           [ngClass]="{ 'owner' : message.sender == securityService.getLoginModel().id }">

        <!--Conversation-->
        <div class="message-content" *ngSwitchCase="ProjectRequest.MessageType.TEXT">{{message.body}}</div>

        <div class="message-content" *ngSwitchCase="ProjectRequest.MessageType.DOCUMENT"><a [href]="$any(message.body).url">
          <mat-icon class="mat-icon material-icons">attach_file</mat-icon>
          {{$any(message.body).name}}</a></div>

        <div class="message-content" *ngSwitchCase="ProjectRequest.MessageType.IMAGE"><a [href]="$any(message.body).url"><span
          [ngStyle]="{'background-image': 'url('+ $any(message.body).url +')'}" title="{{$any(message.body).name}}"></span></a>
        </div>

        <div class="message-content" *ngSwitchCase="ProjectRequest.MessageType.EVENT">

          <!--System messages-->

          <ng-container [ngSwitch]="message.event">

            <ng-container *ngSwitchCase="ProjectRequest.MessageEvent.REQUEST">
              <ng-container *ngIf="securityService.hasRole(Role.CUSTOMER)">
                <span class="name">{{companyName}}</span>
                <span> sent you a project request</span>
              </ng-container>
              <ng-container *ngIf="securityService.hasRole(Role.CONTRACTOR)">
                <span>You sent a project request to </span>
                <span class="name">{{customerName}}</span>
              </ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="ProjectRequest.MessageEvent.HIRE_OTHER">
              <ng-container *ngIf="securityService.hasRole(Role.CUSTOMER)">
                <span>You closed this project request</span>
              </ng-container>
              <ng-container *ngIf="securityService.hasRole(Role.CONTRACTOR)">
                <span class="name">{{customerName}}</span>
                <span> hired other PRO</span>
              </ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="ProjectRequest.MessageEvent.CANCEL">
              <ng-container *ngIf="securityService.hasRole(Role.CUSTOMER)">
                <span>You canceled the project</span>
              </ng-container>
              <ng-container *ngIf="securityService.hasRole(Role.CONTRACTOR)">
                <span class="name">{{customerName}}</span>
                <span> closed the project</span>
              </ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="ProjectRequest.MessageEvent.CUSTOMER_CLOSE">
              <ng-container *ngIf="securityService.hasRole(Role.CUSTOMER)">
                <span>You closed the project</span>
              </ng-container>
              <ng-container *ngIf="securityService.hasRole(Role.CONTRACTOR)">
                <span class="name">{{customerName}}</span>
                <span> closed the project</span>
              </ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="ProjectRequest.MessageEvent.PRO_CLOSE">
              <ng-container *ngIf="securityService.hasRole(Role.CUSTOMER)">
                <span class="name">{{companyName}}</span>
                <span> left the project</span>
              </ng-container>
              <ng-container *ngIf="securityService.hasRole(Role.CONTRACTOR)">
                <span>You closed this project request</span>
              </ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="ProjectRequest.MessageEvent.AUTO_CLOSE">
              <span>Project has been closed</span>
            </ng-container>

            <ng-container *ngSwitchCase="ProjectRequest.MessageEvent.CALL">
              <ng-container *ngIf="securityService.hasRole(Role.CUSTOMER)">
                <span>You had a phone call with </span>
                <span class="name">{{companyName}}</span>
              </ng-container>
              <ng-container *ngIf="securityService.hasRole(Role.CONTRACTOR)">
                <span>You had a phone call with </span>
                <span class="name">{{customerName}}</span>
              </ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="ProjectRequest.MessageEvent.HIRE">
              <ng-container *ngIf="securityService.hasRole(Role.CUSTOMER)">
                <span>You accepted the offer by </span>
                <span class="name">{{companyName}}</span>
              </ng-container>
              <ng-container *ngIf="securityService.hasRole(Role.CONTRACTOR)">
                <span class="name">{{customerName}}</span>
                <span> accepted your offer</span>
              </ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="ProjectRequest.MessageEvent.DECLINE">
              <ng-container *ngIf="securityService.hasRole(Role.CUSTOMER)">
                <span>You declined </span>
                <span class="name">{{companyName}}</span>
              </ng-container>
              <ng-container *ngIf="securityService.hasRole(Role.CONTRACTOR)">
                <span class="name">{{customerName}}</span>
                <span> removed you from the project</span>
              </ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="ProjectRequest.MessageEvent.LEAVE">
              <ng-container *ngIf="securityService.hasRole(Role.CUSTOMER)">
                <span class="name">{{companyName}}</span>
                <span> left the project</span>
              </ng-container>
              <ng-container *ngIf="securityService.hasRole(Role.CONTRACTOR)">
                <span>You left the project</span>
              </ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="ProjectRequest.MessageEvent.REFUND_REQUEST">
              <ng-container *ngIf="securityService.hasRole(Role.CUSTOMER)">
                <span class="name">{{companyName}}</span>
                <span> left the project</span>
              </ng-container>
              <ng-container *ngIf="securityService.hasRole(Role.CONTRACTOR)">
                <span>You requested a credit return</span>
              </ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="ProjectRequest.MessageEvent.REFUND_APPROVED">
              <ng-container *ngIf="securityService.hasRole(Role.CONTRACTOR)">
                <span>Return credit approved</span>
              </ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="ProjectRequest.MessageEvent.REFUND_REJECTED">
              <ng-container *ngIf="securityService.hasRole(Role.CONTRACTOR)">
                <span>Return credit rejected</span>
              </ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="ProjectRequest.MessageEvent.PRO_COMPLETE">
              <ng-container *ngIf="securityService.hasRole(Role.CUSTOMER)">
                <span>Project completed</span>
              </ng-container>
              <ng-container *ngIf="securityService.hasRole(Role.CONTRACTOR)">
                <span>Project completed</span>
              </ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="ProjectRequest.MessageEvent.INVALIDATED">
              <ng-container *ngIf="securityService.hasRole(Role.CUSTOMER)">
                <span>Project invalidated and closed</span>
              </ng-container>
              <ng-container *ngIf="securityService.hasRole(Role.CONTRACTOR)">
                <span>Project invalidated and closed</span>
              </ng-container>
            </ng-container>

          </ng-container>
        </div>


      </div>

      <div class="date">{{message.created | date :'shortTime'}}</div>
    </div>
  </div>

</div>







