<div class="project-summary fill-flex-space">
  <div class="project-details-group" *ngIf="!securityService.isAuthenticated()">
    <div class="label">Phone:</div>
    <div class="value main">{{phone}}</div>
  </div>
  <div class="project-details-group">
    <div class="label">Location:</div>
    <div class="value main">
      {{projectLocation?.streetAddress}},
      {{projectLocation?.city}},
      {{projectLocation?.state}}
      {{projectLocation?.zip}}
    </div>
  </div>
  <div class="project-details-group start-expectation">
    <div class="label">When do you need your project started:</div>
    <div class="value main">{{startExpectation}}</div>
  </div>

  <div class="project-details-group notes">
    <div class="label">Notes:</div>
    <div class="value main">{{notes}}</div>
  </div>
  <ng-template ngFor let-question [ngForOf]="questionaryAnswers">
    <div class="project-details-group {{question.title | toclassname}}">
      <div class="label">{{question.title}}</div>
      <div class="value">
        <ng-template ngFor let-value [ngForOf]="question.results">
          <span>{{value}}</span>
        </ng-template>
      </div>
    </div>
  </ng-template>
</div>
