@import "improver-mixins.scss";

.project-summary {
  margin-bottom: 24px;
  .project-details-group {
    display: flex;
    flex-direction: column;

    &:not(:first-child) {
      margin-top: 8px;
    }

    .label {
      margin: 0;
      font-size: 14px;
      line-height: 16px;
      color: $grey-600;
      font-weight: 400;
    }

    .value {
      margin: 0;
      font-size: 16px;
      color: $black-800;

      &.main {
        font-size: 14px;
        margin-top: 3px;
      }

      span {
        background-color: $grey-200;
        display: inline-block;
        font-size: 13px;
        color: $black-800;
        border-radius: 2px;
        padding: 4px 3px 2px;
        margin-top: 3px;

        &:not(:last-child) {
          margin-right: 8px;
        }

      }

    }

  }
}
