.image-preview {
  width: 100px;
  height: 60px;
  background-size: cover;
  display: inline-block;
}

.ui-card-title {
  span.plain {
    font-weight: 400;
  }
}



.add-invitation-from {
  .ui-dialog-buttonpane.ui-helper-clearfix {
    text-align: right;
  }
}

p-chips {
  width: 100%;

  ::ng-deep.ui-inputtext {
    height: 100px;
    max-height: initial;
  }

  ::ng-deep.ui-chips-token {
    margin-bottom: 2px !important;
  }

}

.ui-chips > ul.ui-inputtext .ui-chips-token {
  margin-bottom: 2px;
}

.email-chips-input {
  width: 100%;
}
