<div class="messenger" (click)="isMessengerEnabled() && sendReadEvent()"
     (mouseenter)="isMessengerEnabled() && sendReadEvent()">
  <div class="messenger-container" (dragenter)="dragOver=true" [ngClass]="">

    <div [ngClass]="[contentClass]" class="content" #messengerContent [cvSpinner]="!(messages && messages.length > 0)"
         [cvSpinnerSize]="24">
      <div class="message-list">
        <perfect-scrollbar #messageListScrollBar [autoPropagation]="true" [disabled]="mediaQuery.sm || mediaQuery.xs">
          <ng-template ngFor let-item let-first="first" [ngForOf]="messages" let-i="index">

            <div class="date-separator-wrapper"
                 *ngIf="first || ((item.created | date :'longDate') != (messages[i-1].created | date :'longDate'))">
              <span class="date-separator">{{item.created | date :'longDate'}}</span>
            </div>

            <message [message]="item" (afterViewInit)="scrollMessengerToBottom()" [customerName]="customerName"
                     [userIcon]="targetUserIcon" [contractorName]="contractorName"
                     [companyName]="companyName"></message>

          </ng-template>

          <!--<div class="info-line"></div>-->
        </perfect-scrollbar>
      </div>
    </div>

    <div *ngIf="projectRequestStatus == ProjectRequest.Status.COMPLETED" class="conversation-closed-message">
      Conversation closed due to project completion
    </div>
    <div *ngIf="projectRequestStatus != ProjectRequest.Status.COMPLETED
    && projectRequestStatus != ProjectRequest.Status.ACTIVE
    && projectRequestStatus != ProjectRequest.Status.HIRED"
         class="conversation-closed-message">Conversation closed
    </div>

    <form #chatInputForm="ngForm" class="chat-input-form" *ngIf="isMessengerEnabled()"
          (ngSubmit)="chatInputForm.valid && submitForm(chatInputForm)"
          (keydown.enter)="$event.preventDefault(); chatInputForm.valid && submitForm(chatInputForm)"
          novalidate>
      <div *ngIf="!(files && files.length > 0) && isTyping" class="is-typing"><i
        class="imp-icon-pencil-2"></i> {{contractorName}}{{customerName}} typing...
      </div>
      <div class="processing" *ngIf="files && files.length > 0">
        <span>{{files.length}} files left</span>
        <div class="progress" [style.width.%]="fileUploadProgress"></div>
      </div>
      <input
        id="file-input"
        class="file-input"
        type="file"
        accept=".jpg, .png, .gif, .bmp, .txt, .doc, .docx, .xls, .xlsx, .pdf, .rar, .zip"
        name="files"
        #fileInput
        multiple
        (change)="onFileChange($event)">
      <label for="file-input" class="file-input-button" fxLayoutAlign="center center">
        <mat-icon>attach_file</mat-icon>
      </label>
      <div class="scrollbar-holder">
        <div perfectScrollbar #textAreaScrollBar>
        <textarea autosize minHeight="20" maxlength="500" [(ngModel)]="message"
                  (keydown)="onKeyDown()"
                  (ngModelChange)="onScrollBarShow()" name="input_message" rows="1" placeholder="Type your message"
                  (focus)="isMessengerEnabled() && sendReadEvent()"></textarea>
        </div>
      </div>
      <button class="send-button" fxLayoutAlign="center center" type="submit" [style.right.px]="sendButtonOffset">
        <mat-icon>send</mat-icon>
      </button>
    </form>
    <div class="drop-zone" (dragleave)="dragOver=false" *ngIf="dragOver" cv-dropzone
         (filesChange)="onFileChange($event)">
      <h3>Drop your files here</h3>
    </div>
  </div>
</div>










