@import "improver-mixins";
@import '../../../../node_modules/perfect-scrollbar/css/perfect-scrollbar.css';

:host {
  display: block;
  height: 100%;
  &.disabled {
    .messenger .messenger-container {
      @include response-to(sm) {
        padding-bottom: 0;
      }
    }
  }
}

.messenger {
  height: 100%;

  .messenger-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    @include response-to(sm) {
      padding-bottom: 50px;
    }
    .message-list {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .message-list-scrollbar {
      position: relative;
    }

    .content {
      position: relative;
      background-color: $grey-100;
      flex-grow: 1;

      perfect-scrollbar {
        ::ng-deep > div {
          @include response-to(sm) {
            overflow: auto !important;
            height: 100%;
          }
        }
      }

      .date-separator-wrapper {
        font-size: 12px;
        text-align: center;
        color: rgba(0, 0, 0, 0.38);
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        line-height: 0.1em;
        margin-bottom: 18px;
        margin-top: 18px;

        .date-separator {
          background: $grey-100;
          padding: 0 10px;
        }

      }

      .info-line {
        height: 24px;
      }

    }

    .conversation-closed-message {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;
      color: $red;
      background-color: white;
    }

    .chat-input-form {
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: row;
      box-sizing: border-box;
      background-color: $white;
      align-items: flex-end;
      position: relative;
      border-top: 1px solid #d8d8d8;

      @include response-to(sm) {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        box-shadow: 0px -2px 10px -3px #ccc;
      }

      .scrollbar-holder {
        padding: 16px 0;
        width: 100%;
      }
      .ps {
        max-height: 80px;
        width: 100%;
        position: relative;
      }

      .file-input {
        display: none;
      }

      .mat-icon {
        color: rgba(0, 0, 0, 0.36);
        font-size: 20px;
        height: 20px;
        width: 20px;
      }

      .file-input-button {
        display: flex;
        align-content: center;
        justify-content: center;
        align-self: center;
        padding: 16px 10px;
        background-color: $white;
        border: 1px solid transparent;
        cursor: pointer;
        position: relative;
      }

      textarea {
        display: block;
        border: 1px solid transparent;
        width: 100%;
        font-size: 14px;
        resize: none;
        @include response(xs) {
          font-size: 16px;
        }
      }

      .send-button {
        display: flex;
        align-content: center;
        justify-content: center;
        align-self: flex-end;
        padding: 16px 10px;
        background-color: transparent;
        border: 1px solid transparent;
        right: 0;
        bottom: 0;
        margin: 0;
      }

      .processing {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(#fff, .6);
        padding: 4px 8px;
        transform: translateY(-100%);
        span {
          display: block;
          width: 100%;
          color: $black-800;
          font-size: 14px;
          margin-bottom: 4px;
        }
        .progress {
          height: 8px;
          border-radius: 4px;
          width: 0;
          transition: width .3s ease;
          background-color: $primary-500;
        }
      }
      .is-typing {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(#fff, .6);
        padding: 4px 8px;
        transform: translateY(-100%);
        color: $grey-400;
        font-style: italic;
        font-size: 13px;
      }
    }

  }
}

.unread-messages-line {
  font-size: 12px;
  text-align: center;
  color: $blue-primary;
  width: 85%;
  border-bottom: 1px solid $blue-primary;
  line-height: 0.1em;
  margin: 18px auto;

  .unread-message {
    background: $grey-100;
    padding: 0 10px;
  }
}

.drop-zone {
  background-color: rgba(#000, .4);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  color: $white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
