
<div class="holder">
  <ng-container *ngIf="companyCoverageConfig">

    <div class="header">
      <h4>Service Area</h4>

      <div class="switch">
        <div class="prevent" (click)="preventSwitch($event)" *ngIf="isUnsavedChanges"></div>

        <cv-switch *ngIf="media.sm || media.md || media.lg || media.xlg"
          [ngModel]="!isManualMode" onLabel="By Radius" offLabel="Manual"
                   name="state" (changeState)="modeStateChange($event)" [disabled]="fetching"></cv-switch>

        <mat-form-field *ngIf="media.xs" [ngClass]="{'short': isManualMode}">
          <mat-select [(value)]="isManualMode" panelClass="custom-select-panel" [disabled]="fetching">
            <mat-option [value]="false">By Radius</mat-option>
            <mat-option [value]="true">Manual</mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <span class="icon"><i class="imp-icon-info" (click)="openTutorial()"></i></span>

    </div>

    <div class="body">

      <ng-container *ngIf="isManualMode; else basicMode">
        <imp-manual-mode
          (zipCodeFound)="zipCodeFound($event)"
          [loading]="fetching"
          [servedZipCodes]="servedZipCodes">
        </imp-manual-mode>
      </ng-container>

      <ng-template #basicMode>
        <imp-basic-mode (circlePropsUpdated)="circlePropsUpdated($event)"
                        [servedZipCodes]="servedZipCodes"
                        [radius]="companyCoverageConfig.coverageConfig.radius"
                        [center]="companyCoverageConfig.getCompanyCoverageCenter()"
                        [loading]="fetching">

        </imp-basic-mode>
      </ng-template>

    </div>


  </ng-container>
</div>
