@import "improver-mixins.scss";

.dialog-content-wrapper {
  position: relative;
  min-height: 300px;

  @include response-to(sm) {
    background: #fff;
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: auto;
    width: 100%;
  }

  .dialog-content-container {
    width: 100%;

    .header {

      .header-content {
        padding: 16px 48px 16px 24px;
        background-color: $grey-100;
        font-size: 20px;
        font-weight: 600;
        text-align: left;
        color: $grey-600;

      }

    }

    .content {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.92);
      padding: 24px;

      @include response-to(sm) {
        padding: 20px;
      }
    }

  }

}

.group-wrapper {
  margin-bottom: 24px;
}

.buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.close-modal {
  position: relative;
  right: 32px;
  top: 32px;
}

.change-password-form {
  display: flex;
  flex-direction: column;
}

.password-inputs-content {
  display: flex;
  flex-direction: column;
}

.password-input {
  margin-bottom: 24px;

  ::ng-deep .hint-holder {
    padding-right: 0 !important;
  }
}
