<div class="dialog-content-wrapper">
    <div class="dialog-content-container">

        <div class="header">
            <mat-icon class="close-modal" color="accent" (click)="close()">clear</mat-icon>
            <div class="header-content">{{properties.title}}</div>
        </div>


        <div class="content">
            <form class="change-password-form"
                  name="change-password-form"
                  #changePasswordForm="ngForm"
                  (ngSubmit)="changePasswordForm.valid"
                  novalidate
                  autocomplete="off">
                <input type="password" style="display: none;">

                <div class="password-inputs-content">
                    <div class="password-input">
                        <cv-input-field>
                            <input cv-input
                                   [disabled]="properties.passwordUpdateProcessing"
                                   placeholder="Old password"
                                   #password="ngModel"
                                   name="oldPassword"
                                   type="password"
                                   [(ngModel)]="properties.oldNewPassword.oldPassword"
                                   required>
                            <cv-field-error *ngIf="password.dirty || password.touched || changePasswordForm.submitted">
                                <span *ngIf="password.errors?.required">
                                    {{messages.errors.password.required}}
                                </span>
                            </cv-field-error>
                        </cv-input-field>
                    </div>

                    <div class="password-input">
                        <cv-input-field>
                            <input cv-input
                                   [disabled]="properties.passwordUpdateProcessing"
                                   placeholder="New password"
                                   #newPassword="ngModel"
                                   #passwordInput
                                   name="newPassword"
                                   type="password"
                                   [(ngModel)]="properties.oldNewPassword.newPassword"
                                   validateEqual="confirmNewPassword"
                                   validationEqualReverse="true"
                                   required
                                   minlength="8"
                                   maxlength="32"
                                   pattern="{{constants.patterns.password}}">
                            <cv-field-error>
                                <cv-password-hint [checkedInputRef]="passwordInput">
                                </cv-password-hint>
                            </cv-field-error>
                        </cv-input-field>
                    </div>

                    <div class="password-input">
                        <cv-input-field>
                            <input cv-input
                                   [disabled]="properties.passwordUpdateProcessing"
                                   placeholder="Confirm password"
                                   #confirmNewPassword="ngModel"
                                   name="confirmNewPassword"
                                   type="password"
                                   [(ngModel)]="properties.oldNewPassword.confirmNewPassword"
                                   validateEqual="newPassword"
                                   validationEqualReverse="false"
                                   required>
                            <cv-field-error *ngIf="confirmNewPassword.dirty || confirmNewPassword.touched || changePasswordForm.submitted">
                                <span *ngIf="confirmNewPassword.errors?.required">
                                    {{messages.errors.passwordConfirm.required}}
                                </span>
                                <span *ngIf="confirmNewPassword.errors?.validateEqual && !confirmNewPassword.errors?.required">
                                    {{messages.errors.passwordConfirm.validateEqual}}
                                </span>
                            </cv-field-error>
                        </cv-input-field>
                    </div>
                </div>

                <div class="buttons-wrapper">
                    <button cv-button-flat flatStyle="dark" type="button" (click)="close(changePasswordForm)">Cancel</button>
                    <button [loading]="properties.passwordUpdateProcessing"
                            cv-button
                            type="submit"
                            (click)="saveChanges(changePasswordForm)">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>
