@import "../../../../improver-mixins.scss";

:host {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  background-image: url("https://images.pexels.com/photos/290595/pexels-photo-290595.jpeg?w=940&h=650&auto=compress&cs=tinysrgb 1x, https://images.pexels.com/photos/290595/pexels-photo-290595.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb 2x");
  background-position: 50%;
  background-size: cover;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: rgba(0,0,0,0.16);
    z-index: 0;
  }
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #33454d;
  padding: 40px;
  box-shadow: 0 0 14px 1px #33454d;
  border-radius: 2px;
  z-index: 1;

}

h1 {
  color: #fff;
  font-size: 33px;
  padding-bottom: 30px;
}

form {
  max-width: 320px;
  width: 100%;
}

h3 {
  text-align: center;
}

.input-field {
  margin-bottom: 24px;
}

.error {
  color: red;
  font-size: 12px;
}
input {
  width: 100%;
  border: 0;
  height: 36px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;

  button {
    background-image: -webkit-gradient(linear, left top, left bottom, from($primary-500), to($primary-600));
    background-image: linear-gradient(to bottom, $primary-500, $primary-600);
    border: none;
    padding: 10px 15px;
    color: #ffffff;
    min-width: 95px;
    height: 35px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.back-link {
      background: #fff;
      color: #33454d;
    }
  }
}
