<div class="container-wide container">
  <div class="main-guide-container">
    <div class="main-guide-card">
      <div class="guide-header-block">
        <img src="assets/img/main-guide/guide-step-1.svg">
        <div class="guide-card-title">Professionals You Can Trust</div>
      </div>
      <div class="guide-text-block">
        <div class="guide-card-text">Post the details of your job and wait while we work our magic. We’ll match you to a qualified Home Improve Pro in your area</div>
      </div>
    </div>

    <div class="main-guide-card">
      <div class="guide-header-block">
        <img src="assets/img/main-guide/guide-step-2.svg">
        <div class="guide-card-title">Schedule That Works For You</div>
      </div>
      <div class="guide-text-block">
        <div class="guide-card-text">Your time is valuable. That’s why we make it simple to post your own project timeline and expectations</div>
      </div>
    </div>
    <div class="main-guide-card">
      <div class="guide-header-block">
        <img src="assets/img/main-guide/guide-step-3.svg">
        <div class="guide-card-title">No Hassle Hiring</div>
      </div>
      <div class="guide-text-block">
        <div class="guide-card-text">You’ll save both time and money working with us. Trust our skilled team to provide you with reliable home services experts</div>
      </div>
    </div>
  </div>
</div>

