@import "improver-mixins.scss";

.header-content {
  padding: 16px 24px 16px;
  background-color: $grey-100;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: $black-800;
}

.content {
  padding: 24px;

  @include response-to(sm) {
    padding: 12px;
  }

}

.mat-dialog-container {
  padding: 0px;
}

.close-modal {
  position: relative;
  right: 32px;
  top: 32px;
  color: $grey-600;;
}

.buttons-wrapper {
  display: flex;
  margin-top: 16px;
}

.spacer {
  flex-grow: 1;
}

.group-wrapper {
  margin-bottom: 24px;
}

.additional-info-form {
  cv-input-field {
    margin-top: 16px;
  }
}
