.admin-info {
  display: flex;
  margin-bottom: 24px;
  border-bottom: 1px dotted #e67700;

  .logo {
    background-size: cover;
    background-position: 50%;
    border-radius: 49px;
  }

  .info {
    flex: 1;
    padding-left: 24px;
    flex-direction: column;

    .name {
      color: #e0e8eb;
      font-size: 16px;
      font-weight: 600;
    }

    .role {
      color: #e0e8eb;
      font-size: 12px;
      padding-top: 3px;
      text-transform: lowercase;

      &:first-letter {
        text-transform: uppercase;
      }
    }
  }
}
