<div class="account-menu-wrapper" fxLayout="column">

  <ng-container *ngIf="securityService.hasRole(Role.CUSTOMER)">

    <button routerLink="/my/settings/account" routerLinkActive="active" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon class="md-none">person</mat-icon>
      <div>User Account</div>
    </button>

    <button routerLink="/my/settings/notifications" routerLinkActive="active" fxLayout="row" fxLayoutAlign="start center">
      <cv-icon icon="imp-icon-notification-settings"></cv-icon>
      <div>Notification Settings</div>
    </button>

  </ng-container>

  <ng-container *ngIf="securityService.hasRole(Role.CONTRACTOR)">

    <button routerLink="/pro/settings/account" routerLinkActive="active" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon class="md-none">person</mat-icon>
      <div>User Account</div>
    </button>

    <button [routerLink]="'/companies/' + securityService.getLoginModel().company" routerLinkActive="active" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon class="md-none">business</mat-icon>
      <div>Company Profile</div>
    </button>

    <button routerLink="/pro/settings/services" routerLinkActive="active" fxLayout="row"
            fxLayoutAlign="start center">
      <mat-icon class="md-none">settings</mat-icon>
      <div>Lead Preferences</div>
    </button>
    <button routerLink="/pro/settings/coverage" routerLinkActive="active" fxLayout="row"
            fxLayoutAlign="start center">
      <mat-icon class="md-none">map</mat-icon>
      <div>Service Area</div>
    </button>
    <button routerLink="/pro/settings/billing" routerLinkActive="active" fxLayout="row"
            fxLayoutAlign="start center">
      <mat-icon class="md-none">payment</mat-icon>
      <div>Billing</div>
    </button>
    <button routerLink="/pro/settings/notifications" routerLinkActive="active" fxLayout="row" fxLayoutAlign="start center">
      <cv-icon icon="imp-icon-messagging-settings"></cv-icon>
      <div>Messaging settings</div>
    </button>

  </ng-container>

</div>




