<div class="account-menu-wrapper" fxLayout="column">

  <ng-container *ngIf="securityService.isAuthenticated()">

    <button routerLink="/my/settings/account" routerLinkActive="active" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon class="md-none">person</mat-icon>
      <div>Account</div>
    </button>

  </ng-container>

  <ng-container *ngIf="securityService.hasRole(Role.CUSTOMER)">

    <button routerLink="/my/settings/notifications" routerLinkActive="active" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon class="md-none">notifications</mat-icon>
      <div>Notifications</div>
    </button>

  </ng-container>

  <ng-container *ngIf="securityService.hasRole(Role.CONTRACTOR)">

    <button routerLink="/pro/settings/info" routerLinkActive="active" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon class="md-none">business</mat-icon>
      <div>Company</div>
    </button>
    <button routerLink="/pro/settings/services" routerLinkActive="active" fxLayout="row"
            fxLayoutAlign="start center">
      <mat-icon class="md-none">local_mall</mat-icon>
      <div>Services</div>
    </button>
    <button routerLink="/pro/settings/coverage" routerLinkActive="active" fxLayout="row"
            fxLayoutAlign="start center">
      <mat-icon class="md-none">map</mat-icon>
      <div>Coverage</div>
    </button>
    <button routerLink="/pro/settings/billing" routerLinkActive="active" fxLayout="row"
            fxLayoutAlign="start center">
      <mat-icon class="md-none">payment</mat-icon>
      <div>Billing</div>
    </button>
    <button routerLink="/pro/settings/notifications" routerLinkActive="active" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon class="md-none">notifications</mat-icon>
      <div>Notifications</div>
    </button>
    <button routerLink="/pro/settings/quick-reply" routerLinkActive="active" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon class="md-none">message</mat-icon>
      <div>Quick Reply</div>
    </button>
    <button routerLink="/pro/settings/scheduling-availability" routerLinkActive="active" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon class="md-none">date_range</mat-icon>
      <div>Scheduling</div>
    </button>

  </ng-container>

</div>




