@import "../../../improver-mixins.scss";

.account-menu-wrapper {
    margin-bottom: 24px;

    button {
      border: none;
      border-left: 3px solid transparent;
      background-color: transparent;
      padding: 12px 10px;
      color: $grey-600;
      font-size: 16px;

      @include response(md) {
        font-size: 14px;
      }

      > div {
        align-self: center;
      }
      &.active {
        color: $primary-500;
        border-left: 3px solid $primary-500;
        background-color: rgba($grey-300, 0.16);

        .mat-icon {
          color: $primary-500;
        }
      }

      &:hover:not(.active) {
        background-color: rgba($grey-300, 0.5);
      }

      .mat-icon {
        margin-right: 12px;
        color: $grey-400;
      }

    }

}
