@import "improver-mixins.scss";
@import "../../account.component.scss";

.account-nav-title {
  font-size: 24px;
  font-weight: 600;
  color: $black-800;
}

.trades-and-services-card {
  padding: 24px;
  color: #616161;
  font-size: 14px;

  .card-content {
  }

  .buttons-block {
    display: flex;
    flex-direction: row;
    margin-top: 20px;

    .save-button {
      margin-left: auto;
    }
  }

}

.card {
  &.subscription-card {
    padding: 0px;

    ::ng-deep .subscription-wrapper {
      .header {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
    }

  }
}

.content-wrapper {
@include response-to(sm) {
width: 100%;
}

::ng-deep {
.cv-spinner-holder.-background {
  border-radius: 10px;
}
}

}

