@import "improver-mixins";

.card{
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: elevation(1);
  margin-bottom: 24px;
  overflow: hidden;

  &.map,&.money {
    height: calc(100% - 24px);

    @include response-to(sm) {
      height: calc(100% - 16px);
    }

    @include response-to(xs) {
      height: calc(100% - 12px);
    }

  }

  &.money {
    overflow: unset;
  }

  @include response-to(sm) {
    margin-bottom: 16px;
  }

  @include response-to(xs) {
    margin-bottom: 12px;
  }

}

.reverse {
  @include response(xs, md){
    flex-wrap: wrap-reverse;
  }
}

