<div class="header-background">
  <h1>PRIVACY POLICY</h1>
</div>
<div class="container-wide">
  <p>
    This Privacy Policy applies to the Personal Information that
    <span>HOME IMPROVE LLC and its affiliates (“HOME IMPROVE”)</span> may
    collect
    about you in the course of providing you with our products and services through our website
    <a href="https://www.homeimprove.com" target="_blank">www.homeimprove.com</a>.
  </p>
  <h3>Personal Information We May Collect</h3>
  <p>“Personal Information” is any information that can be used to identify an individual, and may include, but is not
    limited to:
  </p>
  <p>
    <i class="imp-icon-dot-circled"></i> registration-related information (such as name, addresses, e-mail addresses,
    telephone numbers, birth date, or
    gender);<br>
    <i class="imp-icon-dot-circled"></i> information about the products and services or other features made available
    on
    <a href="https://www.homeimprove.com" target="_blank">www.homeimprove.com</a> that you use
    and how frequently you use them;<br>
    <i class="imp-icon-dot-circled"></i> personal financial and transaction-related information (such as credit or
    debit
    card numbers or other preferred
    means of payment, billing or shipping information, or a history of products and services purchased through
    <a href="https://www.homeimprove.com" target="_blank">www.homeimprove.com</a>);<br>
    <i class="imp-icon-dot-circled"></i> customer service information about you as a <a href="/" target="_blank">www.homeimprove.com</a>
    user;
    location data and other information about mobile devices used to access and interact with <a href="/"
                                                                                                 target="_blank">www.homeimprove.com</a>;
    or<br>
    <i class="imp-icon-dot-circled"></i>other information specifically related to your use of particular
    <a href="https://www.homeimprove.com" target="_blank">www.homeimprove.com</a>
    services or products.
  </p>

  <p>
    From time to time we may supplement Personal Information collected on our website with information from other
    commercially available sources that we deem credible, such as business contact databases. This is to help us
    maintain the accuracy of the information we collect and help us provide a better service.
  </p>
  <p>
    <span>HOME IMPROVE</span> may also receive or collect certain technical information when you use our services. This
    may
    include: the
    type of browser or operating system you are using, your manner of connecting to the Internet and the name of your
    Internet service provider; your Internet protocol address; and data relating to computer malfunctions or problems
    occurring when you access <a href="https://www.homeimprove.com" target="_blank">homeimprove.com</a> or use our
    products or services. Additionally, we may collect
    information about other software on your computer for the limited purpose of protecting your security or improving
    your online experience.
  </p>
  <h3>Uses of Your Personal Information</h3>
  <p>
    <i class="imp-icon-bookmark-empty"></i> We are very committed to protecting the privacy of your Personal
    Information. HOME IMPROVE wants you to know that:
  </p>
  <p>
    <i class="imp-icon-bookmark-empty"></i> We do not sell, rent or license your Personal Information to anyone unless
    you have granted us permission to do so.
    We use your Personal Information to provide services or products you may have requested, to respond to
    communications from you, and to help you use our products and services.
  </p>
  <p>
    <i class="imp-icon-bookmark-empty"></i>
    We may share your Personal Information within HOME IMPROVE, or any of our affiliates or subsidiaries for purposes of
    data
    processing or storage.
  </p>
  <p>
    <i class="imp-icon-bookmark-empty"></i>
    We may also share your Personal Information with business partners, service vendors, authorized third-party agents
    or contractors in order to provide a requested service, product or transaction, including processing and shipping
    orders, processing credit card transactions, and providing customer support, among other reasons. We only provide
    these third parties with the minimum amount of Personal Information necessary to complete/provide the requested
    service, product or transaction, and the third parties are not permitted to use your Personal Information except
    for
    the limited purpose of completing/providing the requested service, product or transaction.
  </p>
  <p>
    <i class="imp-icon-bookmark-empty"></i>
    We may respond to subpoenas, court orders, or legal process by disclosing your Personal Information and other
    related information, if necessary. We also may choose to establish or exercise our legal rights or defend against
    legal claims and use your Personal Information in this regard as appropriate.
  </p>
  <p>
    <i class="imp-icon-bookmark-empty"></i>
    We may collect and possibly share Personal Information and any other additional information available to us in
    order
    to investigate, prevent, or take action regarding illegal activities, suspected or potential fraud, brand
    protection
    matters (such as gray market sales or use of HOME IMPROVE’S trademark without a license), situations involving
    potential
    threats to the physical safety of any person, violations of our <a href="/terms-of-use" target="_blank">Terms of
    Service</a>, or as otherwise required by law.
  </p>
  <p>
    <i class="imp-icon-bookmark-empty"></i>
    We will ask for your consent before we use or share your Personal Information for any purpose other than the
    reason
    you provided it or as otherwise provided by this Privacy Policy. To let us know your preferences, we will require
    an
    action on your part, such as checking the appropriate option, to indicate your consent.
  </p>
  <h3>How to Delete Your Account</h3>
  <p>
    To delete your account you need first to select an option from the dropdown menu in the header "User account". Then
    find and click "Delete account" at the bottom of main content. To confirm the deletion you will need to type your
    password.
  </p>
  <h3>Our Commitment to Security</h3>
  <p>
    HOME IMPROVE has established safeguards to help prevent unauthorized access to or misuse of your Personal
    Information,
    but cannot guarantee that your information will never be disclosed in a manner inconsistent with this Privacy
    Policy
    (for example, as a result of unauthorized acts by third parties that violate applicable law or the policies of
    HOME IMPROVE and its affiliated providers). To protect your privacy and security, we may use passwords and other
    protections and features to help verify your identity before granting access or making corrections to your
    Personal
    Information.
  </p>
  <p>
    These safeguards are reviewed and may be adjusted in response to advances in technology and the latest security
    threats.
  </p>
  <h3>How We Use Cookies</h3>
  <p>
    HOME IMPROVE uses first-party and third-party cookies. Cookies are small text files sent by a website server to your
    web
    browser and stored on your computer. The use of cookies helps us understand how you are using our website. They
    allow us to improve the security, content, navigation and functionality of the website. Additionally, we use
    cookies
    on our website and the sites on which we advertise to track advertising performance and to collect aggregate data
    on
    web page viewing. Cookies are not used to collect or disseminate any Personal Information.
  </p>
  <p>
    You can manage the placement of cookies on your computer through the features found in most Internet browsers. You
    can also delete cookies that have already been placed on your computer. Consult the "Help" function of your
    browser
    to explore your options.
  </p>
  <h3>
    Links to Other Web Sites
  </h3>
  <p>
    Our website may provide links to other third-party websites and services which are outside our control and not
    covered by this Privacy Policy. Please be aware that we are not responsible for the privacy practices of such
    other
    sites. We encourage you to review the privacy statements posted on these (and all) sites you visit.
  </p>
  <h3>Children’s Privacy</h3>
  <p>
    HOME IMPROVE does not knowingly collect Personal Information from children under the age of 13. If we learn that we
    have
    collected Personal Information on a child under the age of 13, we will delete that data from our systems. HOME
    IMPROVE
    encourages parents and guardians to go online with their children. Here are a few tips to help make a child’s
    online
    experience safer:
  </p>
  <p>
    <i class="imp-icon-dot-circled"></i> Teach children never to give Personal Information (such as name, address,
    phone number, school, etc.) unless
    supervised by a parent or responsible adult.<br>
    <i class="imp-icon-dot-circled"></i> Know the sites your children are visiting and which sites are
    appropriate.<br>
    <i class="imp-icon-dot-circled"></i> Look for website privacy policies and know how your child’s information is
    treated.<br><br>
    Please visit the FTC’s website for more tips on protecting children’s privacy online.
  </p>
  <h3>Questions or comments?</h3>
  <p>
    We value your opinions. Should you have any privacy-related questions or comments related to this Privacy Policy,
    please send an email to <a href="mailto:support@homeimprove.com">support@homeimprove.com</a>.
  </p>
  <h3>
    Updates to this Privacy Policy
  </h3>
  <p>
    HOME IMPROVE may update this Privacy Policy at any time, so please review it frequently. We will post a notice to
    this
    policy and the home page link whenever this Privacy Policy is materially changed so that you are aware of what
    information we collect, how we use it, and under what circumstances, if any, we disclose it. Your continued use of
    the <a href="https://www.homeimprove.com" target="_blank">homeimprove.com</a> website after any change will
    signify and confirm your assent to those changes.
  </p>
</div>

<layout-footer></layout-footer>
