<div class="container-wide">
  <div class="main-guide-container">
    <div class="main-guide-card">
      <div class="main-guide-card-content">
        <div class="guide-image-block" fxLayoutAlign="center center" >
          <img src="assets/img/main-guide/guide-step-1.svg">
        </div>
        <div class="guide-text-block">
          <div class="guide-card-title">Get your job done with Pros</div>
          <div class="guide-card-text">Post a job and tell us about your project. We will quickly match you with the
            right Pro in your area
          </div>
        </div>
      </div>
    </div>
    <div class="main-guide-card">
      <div class="main-guide-card-content">
        <div class="guide-image-block" fxLayoutAlign="center center" >
          <img src="assets/img/main-guide/guide-step-2.svg">
        </div>
        <div class="guide-text-block">
          <div class="guide-card-title">Create your own schedule convenient for you</div>
          <div class="guide-card-text">Create own schedule, clarify the conditions with professionals and enjoy the best solutions</div>
        </div>
      </div>
    </div>
    <div class="main-guide-card">
      <div class="main-guide-card-content">
        <div class="guide-image-block" fxLayoutAlign="center center" >
          <img src="assets/img/main-guide/guide-step-3.svg">
        </div>
        <div class="guide-text-block">
          <div class="guide-card-title">Save money and time</div>
          <div class="guide-card-text">We make it easy for you to compare and choose your Pro</div>
        </div>
      </div>
    </div>
  </div>
</div>

