@import "../../../../improver-mixins.scss";

:host {
  background-color: white;
  padding-bottom: 112px;

  @include response-to(md) {
    padding-top: 0px;
    padding-bottom: 40px;
  }

  @include response-to(sm) {
    padding-top: 40px;
    padding-bottom: 35px;
  }
}

.container-wide {
  width: 100%;

  @include response-to(lg) {
    padding: 0;
  }
}

.main-guide-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: $content-grid-max-width;
  margin: 0 auto;
  padding-top: 70px;

  @include response-to(lg) {
    padding: 50px 0 0 24px;
  }

  @include response-to(md) {
    padding: 35px 0 0 24px;
  }

  @include response-to(sm) {
    padding: 0 24px;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  @include response(xs) {
    padding: 0 20px;
  }
}

.main-guide-card {
  width: 33.3333333%;
  max-width: 300px;
  border-radius: 2px;
  padding-right: 20px;

  @include response-to(sm) {
    width: 100%;
    padding-bottom: 24px;
  }

    .guide-image-block {
      width: 60px;
      background-color: $white;
      border-radius: 100px;
      padding-bottom: 24px;

      @include response-to(md) {
        width: 50px;
      }

      @include response(xs) {
        width: 40px;
      }

      img {
        width: 60px;
        height: 60px;

        @include response-to(md) {
          width: 50px;
          height: 50px;
        }

        @include response(xs) {
          width: 40px;
          height: 40px;
        }
      }

      i {
        display: flex;
        font-size: 45px;
        color: $primary-500;

        &:before {
          line-height: inherit;
          margin: 0;
          width: auto;
        }
      }
    }
}

.guide-text-block {

  .guide-card-title {
    font-size: 24px;
    text-align: left;
    color: $black-800;
    font-weight: 600;
    padding-bottom: 15px;

    @include response-to(md) {
      font-size: 20px;
    }

    @include response(xs) {
      font-size: 16px;
    }
  }

  .guide-card-text {
    font-size: 16px;
    text-align: left;
    color: #808080;
    line-height: 1.47;
    letter-spacing: 0.3px;

    @include response-to(md) {
      font-size: 14px;
    }
  }
}
