@import "../../../../improver-mixins.scss";

:host {
  margin-top: -110px;

  @include response-to(sm) {
    margin-top: 12px;
  }
}

.main-guide-wrapper {
  height: 231px;
  padding: 0 15px;
  width: 1200px;

  @include response-to(sm) {
    width: 100%;
    height: auto;
  }
}

@include response-to(xs) {
  flex-direction: column !important;
}

.main-guide-container {
  display: flex;
  justify-content: space-between;

  @include response(sm){
    flex-wrap: wrap;
  }

  @include response(xs){
    flex-direction: column;
  }

  .main-guide-card {
    width: 370px;
    height: 221px;
    border-radius: 2px;
    background-color: $white;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);

    @include response(md,lg){
      width: 33.3333333%;
      margin: 0 12px;
      height: 280px;
    }

    @include response(sm) {
      width: 100%;
      margin-bottom: 12px;
    }

    @include response-to(xs) {
      width: 100%;
      height: auto;
      margin-bottom: 15px;
    }

    .main-guide-card-content {
      padding: 24px;

      .guide-image-block {
        width: 58px;
        height: 58px;
        background-color: $white;
        //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
        border-radius: 100px;
        margin-bottom: 15px;

        img {
          width: 58px;
          height: 58px;
        }

        i {
          display: flex;
          font-size: 45px;
          color: $primary-500;

          &:before {
            line-height: inherit;
            margin: 0;
            width: auto;
          }
        }
      }

      .guide-text-block {
        .guide-card-title {
          font-size: 18px;
          text-align: left;
          color: $black-primary;
          margin-bottom: 16px;
          font-weight: 600;
        }
        .guide-card-text {
          font-size: 15px;
          text-align: left;
          color: #808080;
          line-height: 1.47;
          letter-spacing: 0.3px;
        }
      }
    }
  }
}
