@import "improver-mixins.scss";

.address-validation-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: $header-height;
  background-color: #fff;
}

.spinner-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.address-validation {
  flex-direction: column;
  justify-content: center;
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #fff;

  button {
    display: block;
    max-width: 170px;
    width: 100%;
    margin: 17px auto 0;
  }
  span {
    margin-top: 26px;
    display: block;
    font-size: 12px;
    text-align: center;
    @include response(xs) {
      margin-top: 24px;
    }
  }
  .row {
    > div {
      &:first-child {
        position: relative;
        @include response(xs) {
          padding-bottom: 24px;
          margin-bottom: 24px;
          border-bottom: 1px solid $grey-300;
        }
        &:before {
          content: '';
          display: block;
          width: 1px;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          background-color: $grey-300;
          @include response(xs) {
            display: none;
          }
        }
      }
    }
  }
  .overlay {
    cursor: pointer;
    transition: background-color .3s ease;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    i {
      display: block;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-image: url('../../../assets/img/check.svg');
      background-position: center;
      background-size: 0;
      background-repeat: no-repeat;
    }
    &:after, &:before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      position: absolute;
    }
    &:after {
      border-top: 2px solid transparent;
      border-right: 2px solid transparent;
      right: 0;
      top: 0;
    }
    &:before {
      border-left: 2px solid transparent;
      border-bottom: 2px solid transparent;;
      bottom: 0;
      left: 0;
    }
    &:hover {
      background-color: rgba(#fff, .6);
      &:after, &:before {
        border-color: $primary-500;
      }
      i {
        background-size: 45px;
      }
    }
  }
}

.address {
  position: relative;
  text-align: center;
  max-width: 170px;
  margin: auto;
  h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 18px;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    color: $black-800
  }
  p {
    font-size: 14px;
    color: $grey-500;
    margin: 0;
  }
}
