<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">

<div layout:fragment="content" style="background-color: #fafafa; font-family: 'Trebuchet MS', sans-serif;">
  <table border="0"
         cellpadding="0"
         cellspacing="0"
         width="100%"
         style="max-width: 600px;">
    <tr>
      <td align="center" style="font-family: 'Trebuchet MS', sans-serif">
        <div
          style="background-color: #ffffff; width: 600px; color: #3d3d3d; box-shadow: 2px 4px 21px -8px rgba(0,0,0,0.8);
          font-size: 14px;">

          <div style="border: 1px solid #dedede; padding: 24px; margin-top: 36px; margin-bottom: 36px;">

            <div style="font-size: 20px; margin-bottom: 24px">
              <span th:if="${userName != null}">Hi</span>
              <b th:if="${userName != null}" th:text="${userName + '.'}"></b>
              <span th:utext="${title}"></span>
            </div>
            <div th:utext="${body}" th:style="${'font-size: 14px; margin-bottom: 24px; white-space: pre-line; text-align: ' + contentAlign}"></div>

            <table style="margin-bottom: 24px; font-size: 14px">
              <tr>
                <td width="70px;" valign="top" style="font-weight: bold;">Location:</td>
                <td th:text="${projectDetails.streetAddress + ', ' + projectDetails.city + ' ' + projectDetails.state}"></td>
              </tr>
              <tr>
                <td valign="top" style="font-weight: bold;">Start date:</td>
                <td th:text="${projectDetails.startExpectation}"></td>
              </tr>
              <tr>
                <td valign="top" style="font-weight: bold;">Notes:</td>
                <td th:text="${projectDetails.notes}"></td>
              </tr>
            </table>

            <div th:if="${message != null}" th:text="${message}" style="margin-bottom: 24px;"></div>

            <a
              style="display: block; background: #009ede; padding: 12px; text-align: center; border-radius: 2px;
            color: white; font-size: 14px; font-weight: 500; width: 180px; text-decoration: none; margin: 0 auto;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1); cursor: pointer;"
              th:href="${confirmUrl}"
              th:text="${confirmBtnText}"></a>

          </div>

        </div>
      </td>
    </tr>
  </table>
</div>

</html>
