@import "improver-mixins.scss";
@import "../../account.component.scss";

.scheduling-wrapper {
  width: 100%;
}

.account-nav-title {
  font-size: 24px;
  font-weight: 600;
  color: $black-800;
}

p {
  margin: 0;
  font-size: 14px;
  color: $grey-700;
}

.periods {
  box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.15);
  margin-top: 18px;
  border-radius: 8px;
  overflow: auto;
}

button {
  display: block;
  margin-left: auto;
  margin-top: 20px;
}

.period {
  background-color: $white;
  padding: 20px 24px;
  position: relative;
  transition: transform .2s ease, box-shadow .2s ease;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0);
  transform: scale(1);
  display: flex;
  @include response(xs) {
    flex-direction: column;
  }
  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: transparent;
    display: block;
    left: -2px;
    top: 0;
    transition: background-color .2s ease;
  }
  &:hover {
    transform: scale(1.01);
    z-index: 1;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.14);
    &:before {
      background-color: $primary-600;
    }
    &:after {
      background-color: transparent;
    }
  }
  &:not(:last-child) {
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $grey-200;
    }
  }
  span {
    color: $grey-500;
    font-size: 14px;
    &.range {
      width: 40%;
      color: $black-800;
      font-weight: 600;
      @include response(xs) {
        width: 100%;
      }
    }
    &.days {
      width: 22%;
      @include response(xs) {
        width: 100%;
      }
    }
    &.reason {
      width: 22%;
      overflow: hidden;
      text-overflow: ellipsis;
      @include response(xs) {
        width: 100%;
      }
    }
    &.actions {
      margin-left: auto;
      @include response(xs) {
        position: absolute;
        top: 20px;
        right: 5px;
        width: 20px;
      }
      i {
        cursor: pointer;
        font-size: 16px;
        color: $grey-400;
        transition: color .3s ease;
        &.delete {
          color: $red;
          &:hover {
            color: $red;
          }
        }

        @include response(xs) {
          display: inline-block;
        }
        &:hover {
          color: $black-800
        }
        &:before {
          margin: 0;
        }
        &:first-child {
          margin-right: 12px;
          @include response(xs) {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
