<div class="container">
  <div class="row">
    <div class="scheduling-wrapper">
      <div [cvSpinner]="fetching" [cvSpinnerSize]="24">
        <div class="card scheduling-card" *ngIf="!fetching">

          <div class="account-title-wrapper">
            <div class="account-title">Vacation Schedule</div>
          </div>

          <p>Setup vacation, day-offs, or other blackout periods when you don't want Home Improve to send you new leads.</p>
          <div class="periods">
            <div class="period" *ngFor="let period of periods" (click)="addEdit(period)">
            <span class="range">
              {{period.fromDate | date:'MMM d, y'}} - {{period.tillDate | date:'MMM d, y'}}
            </span>
              <span class="days">{{unavailableDays(period)}}
              <ng-container [ngPlural]="unavailableDays(period)">
                <ng-template ngPluralCase="=0">Days</ng-template>
                <ng-template ngPluralCase="=1">Day</ng-template>
                <ng-template ngPluralCase="few">Days</ng-template>
                <ng-template ngPluralCase="other">Days</ng-template>
              </ng-container>
            </span>
              <span class="reason" [title]="period.reason">{{Reason[period.reason]}}</span>
              <span class="actions">
              <i class="imp-icon-pencil-2"></i>
              <i class="imp-icon-bin delete" (click)="delete($event, period)"></i>
            </span>
            </div>
          </div>
          <button cv-button-empty (click)="addEdit()">Schedule new period</button>
        </div>
      </div>
    </div>
  </div>
</div>
