@import "improver-mixins";

.payment-method-wrapper {
}

.payment-method-container {

  .balance-part {
    padding: 16px 24px 8px 24px;
    border-bottom: 1px solid $grey-200;

    @include response(sm) {
      padding: 24px;
    }

    @include response(xs) {
      padding: 24px 16px;
    }

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include response(xs) {
        flex-direction: column;
        justify-content: normal;
        align-items: flex-end;
      }

      .balance-value-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 360px;

        @include response-to(xs) {
          justify-content: normal;
          flex-direction: column;
          max-width: none;
          margin-bottom: 12px;
        }

        .only-balance-value {
          flex-direction: row !important;
          align-items: baseline !important;
          margin: 16px 0 !important;

          .title {
            margin-right: 16px;
          }

          .value {
            margin: 0 !important;
          }
        }

      .balance-value {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 18px;

        @include response-to(xs) {
          flex-direction: row;
          margin-right: 0;
          justify-content: space-between;
          align-items: flex-end;
        }

        .title {
          font-size: 16px;
          color: $black-800;
          font-weight: 500;
        }

        .value {
          font-size: 24px;
          margin-top: 8px;
          font-weight: 500;

          @include response(xs) {
            font-size: 20px;
            margin-left: 0;
          }
        }
      }
      }

      .add-money-button {

        @include response-to(xs){
          width: 126px;
        }
      }

    }

  }

  .payment-method-part {
    padding: 24px 24px;

    @include response(xs) {
      padding: 24px 16px;
    }

    @include response-to(xs) {
      min-height: inherit;
    }

    .header {
      font-size: 16px;
      color: rgba(33, 33, 33, 0.87);
      margin-bottom: 8px;

      .no-cards-row {
        color: $grey-600;
      }

    }

    .content {

      .card-line {
        border-bottom: 1px solid $grey-200;

        &:not(.default) {
          color: $grey-500;
          .card-image {
            opacity: .5;
          }

        }

        .card-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          @include response-to(xs) {
            font-size: 13px;
          }

          .left-side {
            display: flex;
            flex-direction: row;
            align-items: center;

            .card-image {
              width: 27px;
              height: 19px;
              margin-right: 16px;
              background-position: center center;
              background-size: contain;
              background-repeat: no-repeat;
            }
            .card-line-title {
              padding: 8px 0px;
              .card-name {
                white-space: nowrap;
                font-size: 14px;
              }
            }

          }

          .right-side {
            display: flex;
            flex-direction: row;
            align-items: center;

            .default-card {
              font-size: 14px;
              color: $green-500;
              background-color: transparent;
              padding: 4px 16px 2px;
              margin-right: 16px;

              @include response(xs) {
                display: none;
              }

            }
            .card-button {
              height: 100%;
              border: 1px solid transparent;
              color: $primary-500;
              border-radius: 2px;
              background-color: transparent;
              padding: 8px 16px;

              &.remove {
                color: $red-500;
                padding: 0;
                transition: color .3s ease;
                &:hover {
                  color: $grey-700;
                }
              }

            }

          }

        }

      }

      .buttons-wrapper {
        margin-top: 24px;
        display: flex;
      }
      .spacer {
        flex-grow: 1;
      }

      .add-card-button {
        width: 126px;
      }

    }

  }
}
