<div [@showHide]=""  class="response-message"  [ngStyle]="mainStyle"
     [ngClass]="[type | toclassname]">
  <div class="wrapper"  [ngStyle]="showIcon && {'padding-left.px': 24}">
    <div class="icon" *ngIf="showIcon">
      <mat-icon>info</mat-icon>
    </div>
    <div class="text" [ngStyle]="{'padding-top.px': paddingV, 'padding-bottom.px': paddingV, 'padding-left.px': paddingH, 'padding-right.px': paddingH}">{{message}}</div>
    <div class="close-button-wrapper" [ngStyle]="{'margin-right.px': 12}">
      <mat-icon (click)="destroy()">close</mat-icon>
    </div>
  </div>
</div>



