@import "improver-mixins.scss";

::ng-deep .customer-project-request-dialog {
  padding: 16px 0;
  height: 100%;

  @include response-to(sm) {
    padding: 0;
    width: 100% !important;
    max-width: 100% !important;
    bottom: 0 !important;
  }

  .mat-dialog-container {
    margin: 0 auto 16px auto;
    max-height: 800px;
    min-height: 600px;
    height: auto;

    @include response(md) {
      height: 100%;
    }

    @include response-to(sm) {
      margin: auto;
      max-width: 100%;
      height: 100% !important;
      max-height: none;
      min-height: 400px;
    }

    @include response-h(810) {
      height: 100%;
    }
  }
}

.dialog-content-wrapper {
  height: 100%;
  display: flex;

  @include response-to(md) {
    flex-direction: column;
  }

  @include response-to(sm) {
    max-height: none;
    background: $white;
    overflow-y: auto;
  }

}

.reviews-not-hired-message {
  margin-bottom: 24px;
  text-align: left;
  padding-top: 24px;
}

.header {
  position: relative;

  .header-content-wrapper {
    min-height: 68px;

    @include response(xs) {
      min-height: 58px;
    }

    .header-content {
      display: flex;
      max-height: 100%;
      align-items: center;
      padding: 24px 24px 16px;

      @include response-to(md) {
        flex-direction: row;
        padding: 16px 12px 12px;
      }

      @include response(xs) {
        padding: 16px 12px;
        align-items: flex-end;
      }

      .logo {
        width: 56px;
        height: 56px;
        border-radius: 56px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);

        &.-archived {
          pointer-events: none;
        }

        @include response(xs) {
          width: 56px;
          height: 56px;
        }

      }

      .info-block {
        flex-direction: column;
        display: flex;
        max-width: 100%;
        justify-content: space-between;
        align-items: stretch;
        margin-left: 23px;

        @include response(xs) {
          margin-left: 8px;
        }

        .rating {
          margin-top: 8px;
          display: flex;
          max-height: 100%;
        }

        .mobile-company-name {
          margin-right: 32px;
          margin-bottom: -8px;
          font-size: 18px;
          text-align: left;
          color: $dark;

          @include response-to(sm) {
            padding: 0;
            font-size: 16px;
          }

          @include response(xs) {
            margin: 0;
          }
        }

        .company-rating {
          font-weight: 700;
          color: rgba(0, 0, 0, 0.55);
          padding-right: 3px;
          display: flex;
          align-items: center;
          font-size: 12px;
          line-height: 1.5;
          text-align: left;
          color: #626262;

          ::ng-deep rating-component {
            display: flex;
          }
        }

        .company-reviews-count {
          display: flex;
          align-items: center;
          font-size: 12px;
          text-align: center;
          color: #626262;
          margin-left: 5px;
        }

      }

    }
  }


  .buttons-block {
    display: flex;
    position: relative;
    max-height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 16px;
    z-index: 999;

    @include response(md) {
      position: absolute;
      right: 24px;
    }

    @include response(sm) {
      position: absolute;
      right: 24px;
    }

    @include response(xs) {
      justify-content: space-between;
      padding: 0 12px 0;
      margin-bottom: 12px;
    }

    .info-icon {
      cursor: pointer;
      width: 23px;
      height: 23px;
      opacity: 0.28;
      color: #ffffff;
      background-color: #000000;
      display: none;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: absolute;
      top: -30px;
      font-weight: 600;
      font-family: serif;

      @include response-to(md) {
        position: static;
        margin-right: 10px;
        display: flex;
      }
    }

    button {
      margin: 0;

      @include response(xs) {
        width: 50%;
      }
    }
  }

  .state-block {
    font-size: 14px;
    display: flex;
    max-height: 100%;
    align-items: center;
    margin-bottom: 16px;

    @include response(sm, md) {
      position: absolute;
      right: 30px;
      top: 60px;
    }
  }
}

.phone-group {

  .label {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.24);
  }

  .value {
    font-size: 14px;
    color: $dark !important;

    &:hover {
      text-decoration: underline !important;
    }

    @include response(xs) {
      text-decoration: underline !important;
    }
  }
}


.content {
  display: flex;
  height: 100%;
  width: 100%;

  @include response(xs) {
    overflow: hidden;
  }

  .content-tabs {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .tab-controls {
    border-bottom: 1px solid $grey-300;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
    height: 47px;
    flex: none;

    @include response-to(xs) {
      height: 34px;
    }

    .tab-name {
      cursor: pointer;
      display: flex;
      align-items: center;
      height: 47px;
      padding: 3px 15px 0;
      font-size: 14px;
      font-weight: 500;
      border-bottom: solid 3px transparent;
      color: #626262;

      @include response-to(xs) {
        width: 33.333333%;
        justify-content: center;
        height: 34px;
      }

      &.active {
        line-height: 1.29;
        color: $primary-500;
        border-bottom: solid 3px $primary-500;
        z-index: 9;
        position: relative;
      }
    }
  }

  .tab-panels {
    height: calc(100% - 48px);
    position: relative;

    .tab-panel {
      display: none;
      background: $white;
      position: relative;
      height: 100%;

      &.-about {
        position: static !important;
        display: flex;
        @include response(xs) {
          display: none;
        }
      }

      &.active {
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1;
      }

      .messenger-wrapper {
        position: relative;
        height: 100%;
        flex: 1;

        @include response(md) {
          min-height: 400px;
        }

      }

      .company-reviews-wrapper {
        flex: 1;
        background: #fafafa;
      }

    }
  }

}

.tab-controls {
  border-bottom: 1px solid $grey-300;

  .tab-name {
    cursor: pointer;
    padding: 16px 7px 13px;
    font-size: 14px;
    color: $black-800;
    border-bottom: solid 3px transparent;
    z-index: 1;

    &.active {
      color: $primary-500;
      border-bottom: solid 3px $primary-500;
    }

  }

}

::ng-deep .mat-dialog-container {
  padding: 0;
}

.close-modal {
  position: absolute;
  right: 22px;
  top: 27px;
  font-size: 19px;
  font-weight: 400;
  color: $grey-600;
  z-index: 1;
}

.back-to-project {
  padding: 16px 0 0 12px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
  color: $grey-600;
}

.sidebar {
  position: relative;
  width: 312px;
  border-left: 1px solid $grey-300;
  display: flex;
  flex-direction: column;

  .sidebar-information {
    flex-direction: column !important;
    padding: 27px 23px 0 23px;
    flex: 1;
    position: relative;

    .logo {
      cursor: pointer;
      display: block;
      margin: 0 auto;
      width: 96px;
      height: 96px;
      border-radius: 96px;
      background-position: 50%;
      background-size: cover;
      background-color: $grey-200;

      &.-archived {
        pointer-events: none;
      }
    }

    .info-block {
      display: flex;
      justify-content: center;
      flex-direction: column;

      .rating {
        display: flex;
        justify-content: center;
        align-items: center;

        ::ng-deep .star {
          line-height: 1;
        }

        .company-rating {
          margin-right: 10px;
          text-align: left;
          font-weight: 600;
          font-size: 12px;
          line-height: 1.5;
          color: #626262;
        }

        .company-reviews-count {
          font-size: 12px;
          text-align: left;
          margin-left: 10px;
          line-height: 1.33;
          color: #626262;
        }
      }

      .phone-block {
        display: flex;
        justify-content: center;
        padding: 22px 0;
        align-items: baseline;

        .phone-group {
          &:last-child {
            margin-left: 35px;
          }

          .label {
            font-size: 12px;
            line-height: 1.33;
            text-align: left;
            color: $grey-600;
            margin-bottom: 3px;
          }

          .value {
            font-size: 14px;
            line-height: 1.29;
            text-align: left;
            color: $black-800;

            &[href^="tel:"] {
              color: $primary-500;
            }

          }
        }
      }
    }

    .buttons-block {
      margin-top: 16px;
    }
  }
}

.buttons-block, .state-block {
  display: flex;
  flex-direction: column;

  button {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;

    &:last-child {
      margin-bottom: 0;
    }

    &.-medium {
      @include response(xs, md) {
        padding: 8px 16px !important;
      }
    }

    &.hire-company-button {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);

      @include response-to(md) {
        min-width: 107px;
        height: 35px;
        margin-right: 12px !important;
      }

      @include response(xs) {
        margin-left: 52px !important;
        width: 255px !important;
      }

      &:hover {
        background: $blue-primary;
        color: #FFFFFF;
      }

      &:active {
        background: $blue-primary;
        color: $white;
      }
    }

    &.decline-company-button {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.43;
      text-align: center;
      color: $grey-500;
      background-color: transparent;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
      border: solid 1px $grey-500;
      position: relative;

      @include response-to(md) {
        position: static;
        width: 107px;
        height: 35px;
        padding: 0;
      }


      &:hover {
        background: $grey-400;
        color: $white;
      }

      &:active {
        background: $grey-400;
        color: $white;
      }
    }
  }
}

.header-actions {
  position: absolute;
  top: 6px;
  right: 12px;
  width: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .close {
    font-size: 22px;
    font-weight: 400;
    z-index: 1;
    color: $grey-600;
    width: 22px;
    height: 22px;
  }

  .more-button-wrapper {

    .project-menu-button {
      color: $grey-600;
      font-size: 20px;
    }

  }

  .mobile-actions-content {
    min-width: 20px;

    .mobile-hire-company-button {
      min-width: 40px;
      height: 40px;
      cursor: pointer;
      margin: 0;
      padding: 0;

      cv-icon {
        font-size: 22px;
        color: $grey-600;
      }

    }

    .mobile-reviewed-company-button {
      min-width: 40px;
      height: 40px;
      cursor: pointer;
      margin: 0;
      padding: 0;

      mat-icon {
        font-size: 22px;
        width: 22px;
        height: 22px;
        color: $grey-600;
      }
    }
  }
}



.message {
  position: relative;
  pointer-events: none;
  left: 0;
  right: 0;
  background-color: $grey-150;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  text-align: center;
  color: #717171;
  z-index: 124;
  padding: 23px 15px 14px 17px;
  margin-bottom: 20px;
  border-radius: 8px;

  @include response-to(md) {
    left: 0;
    right: 0;
    position: absolute;
    top: 55px;
  }

  @include response-to(xs) {
    left: 12px;
    right: 12px;
    top: 70px;
  }

  &:after {
    content: '';
    height: 0;
    position: absolute;
    left: 0;
    right: 0;
    width: 0;
    top: -10px;
    margin: auto;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent $grey-150 transparent;

    @include response-to(md) {
      left: 21%;
      margin: inherit;
    }

    @include response-to(xs) {
      left: 45%;
      margin: inherit;
    }
  }
}

.company-name {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 16px 0;
  color: $black;

  &.-archived {
    pointer-events: none;
  }

  @include response-to(md) {
    padding: 0;
  }

  .name {
    margin-right: 5px;
  }
}

.hired, .declined {
  text-align: center;
  color: $white;
  text-transform: uppercase;
  border-radius: 2px;
  padding: 5px;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.4px;
  position: relative;
  display: inline-block;
  top: -2px;
  @include response-from(lg) {
    top: -4px;
  }
}

.hired {
  background-color: #63be8d;
}

.declined {
  background-color: $red;
}


.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 123;
  display: none;

  &.active {
    display: block;
  }
}

.message-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  text-align: center;
  color: #717171;
  z-index: 124;
  margin-top: 23px;
  padding: 14px 15px 14px 17px;
  background-color: $grey-150;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}

.add-review-button-container {
  padding: 14px 23px;
  display: flex;
  justify-content: center;

  @include response(sm, md) {
    position: absolute;
    right: 24px;
    top: 64px;
    padding: 0;
    z-index: 129;
  }

  @include response-to(xs) {
    padding: 14px 23px 0;
  }

  button {
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  }
}

.approve-mark {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  align-items: center;

  @include response(sm, md) {
    justify-content: flex-start;
  }

  .approve-icon {
    margin-right: 8px;
  }

  .approve-text {
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
}

::ng-deep .mat-menu-panel {
  min-height: max-content !important;
}
