<div class="dialog-content-wrapper">
  <!--HEADER-->
  <div class="header lg-none xlg-none" *ngIf="showAddReviewForm == false">
    <mat-icon class="close-modal" color="accent" (click)="close()" *ngIf="!mediaQuery.xs">clear</mat-icon>

    <div class="header-content-wrapper">
      <div class="header-content" *ngIf="companyProfile">
        <div class="logo" [ngClass]="{'-archived': companyProfile.deleted}"
              [ngStyle]="companyProfile.iconUrl && companyProfile.iconUrl != '' && !companyProfile.deleted ? {'background-image':'url(' + companyProfile.iconUrl + ')'} : {'background-image':'url(assets/img/pro_avatar.svg)'}">
        </div>

        <div class="info-block">

          <div class="header-actions" *ngIf="mediaQuery.xs">
            <div class="mobile-actions-content">
              <button mat-button *ngIf="projectRequest && projectRequest.status == ProjectRequest.Status.ACTIVE && !Project.isArchived(projectRequest.projectStatus) && mediaQuery.xs"
                      class="mobile-hire-company-button"
                      (click)="hireCompany(projectRequest)">
                <cv-icon [icon]="'imp-icon-pro-hired-avatar'"></cv-icon>
              </button>
              <button mat-button *ngIf="mediaQuery.xs && companyProfile && ((projectRequest && projectRequest.status == ProjectRequest.Status.HIRED) || (projectRequest && projectRequest.status == ProjectRequest.Status.COMPLETED)) && !projectRequest.reviewed"
                      class="mobile-reviewed-company-button"
                      (click)="openAddReviewForm()">
                <mat-icon>thumb_up</mat-icon>
              </button>
            </div>

            <div class="more-button-wrapper" *ngIf="mediaQuery.xs">
              <button class="project-menu-button"
                      mat-icon-button
                      [matMenuTriggerFor]="projectRequestMenu"
                      (click)="$event.stopPropagation()">
                <mat-icon>more_vert</mat-icon>
              </button>

              <mat-menu class="project-menu" #projectRequestMenu="matMenu" yPosition="below" xPosition="before">
                <button mat-menu-item [routerLink]="['/companies', projectRequest.company.id]" routerLinkActive="active">View profile</button>
                <button *ngIf="mediaQuery.xs && companyProfile && ((projectRequest && projectRequest.status == ProjectRequest.Status.HIRED) || (projectRequest && projectRequest.status == ProjectRequest.Status.COMPLETED)) && !projectRequest.reviewed"
                        mat-menu-item (click)="openAddReviewForm()">Leave review</button>
                <button *ngIf="projectRequest && projectRequest.status == ProjectRequest.Status.ACTIVE && !Project.isArchived(projectRequest.projectStatus) && mediaQuery.xs"
                        mat-menu-item (click)="hireCompany(projectRequest)">Hire</button>
                <button *ngIf="projectRequest && projectRequest.status == ProjectRequest.Status.ACTIVE && !Project.isArchived(projectRequest.projectStatus) && mediaQuery.xs"
                        mat-menu-item (click)="declineCompany(projectRequest)">Decline</button>
              </mat-menu>

            </div>
            <mat-icon class="close" color="accent" (click)="close()">clear</mat-icon>
          </div>

          <div *ngIf="mediaQuery.xs">
            <div [ngClass]="{'-archived': companyProfile.deleted}" class="mobile-company-name" [title]="companyProfile.name">
              {{companyProfile.name | truncate:companyNameTruncate: '...'}}
            </div>
          </div>

          <div *ngIf="!mediaQuery.xs" [ngClass]="{'-archived': companyProfile.deleted}" class="company-name" [title]="companyProfile.name">
            {{companyProfile.name | truncate:companyNameTruncate: '...'}}
            <span class="declined" *ngIf="projectRequest && projectRequest.status == ProjectRequest.Status.DECLINED">Declined</span>
            <span class="hired" *ngIf="projectRequest && projectRequest.status == ProjectRequest.Status.HIRED">Hired</span>
          </div>
          <div class="rating" *ngIf="!mediaQuery.xs">
            <div class="company-rating">{{companyProfile.rating | number: '1.0-1'}}
            </div>
            <rating-component [rating]="companyProfile.rating" [starSize]="14" [readOnly]="true"></rating-component>
            <div class="company-reviews-count">({{companyProfile.reviewCount}})</div>
          </div>
        </div>

        <div class="add-review-button-container xs-none"
             *ngIf="companyProfile && ((projectRequest && projectRequest.status == ProjectRequest.Status.HIRED) || (projectRequest && projectRequest.status == ProjectRequest.Status.COMPLETED)) && !projectRequest.reviewed">
          <button cv-button (click)="openAddReviewForm()" [disabled]="isLeaveReviewButtonDisabled" class="add-review">
            Leave review
          </button>
        </div>
      </div>
    </div>

      <div class="buttons-block"
           *ngIf="projectRequest && projectRequest.status == ProjectRequest.Status.ACTIVE && !Project.isArchived(projectRequest.projectStatus) && !mediaQuery.xs">
          <div class="info-icon" (click)="openMessage = !openMessage">i</div>
          <button cv-button-empty class="hire-company-button" (click)="hireCompany(projectRequest)">
              Hire
          </button>
          <button cv-button class="decline-company-button" (click)="declineCompany(projectRequest)">
              <span>Decline</span>
              <span class="message" *ngIf="openMessage">
                  Don't want to receive request and messages from other professionals? Hire one and let others know.
              </span>
          </button>

          <span class="back-drop" [ngClass]="{'active': openMessage}" (click)="openMessage = false"></span>
      </div>

    <!--<div class="buttons-block" *ngIf="mediaQuery.xs && ((projectRequest && projectRequest.status == ProjectRequest.Status.HIRED) || (projectRequest && projectRequest.status == ProjectRequest.Status.COMPLETED)) && !projectRequest.reviewed">-->
      <!--<button cv-button (click)="openAddReviewForm()" [disabled]="isLeaveReviewButtonDisabled" class="add-review">-->
        <!--Leave review-->
      <!--</button>-->
    <!--</div>-->

  </div>

  <div class="content">
    <div class="content-tabs">
      <div class="tab-controls">
        <div class="tab-name" [ngClass]="{'active' : activeTab == 'MESSAGES'}"
             (click)=" activeTab = 'MESSAGES'">Chat
        </div>
        <div class="tab-name" [ngClass]="{'active' : activeTab == 'OVERVIEW'}"
             (click)=" activeTab = 'OVERVIEW';">Company
        </div>
        <div class="tab-name" [ngClass]="{'active' : activeTab == 'REVIEWS'}"
             (click)=" activeTab = 'REVIEWS';">Reviews
        </div>
      </div>

      <div class="tab-panels">

        <!--CHAT-->
        <div class="tab-panel" [ngClass]="{'active' : activeTab == 'MESSAGES'}">
          <div class="messenger-wrapper" *ngIf="projectRequest">

            <messenger [projectStatus]="projectRequest.projectStatus"
                       [projectRequestId]="projectRequest.id"
                       [targetUserId]="projectRequest.contractor?.id"
                       [projectRequestStatus]="projectRequest.status"
                       [targetUserIcon]="projectRequest.company?.iconUrl"
                       [companyName]="projectRequest.company?.name"
                       [contractorName]="projectRequest.contractor?.name"
                       (onSystemMessage)="updateProjectRequestStatus($event)"
            >
            </messenger>

          </div>
        </div>

        <!--ABOUT-->
        <div class="tab-panel -about" [ngClass]="{'active' : activeTab == 'OVERVIEW'}">
          <div class="company-overview-wrapper" *ngIf="companyProfile">
            <customer-project-request-dialog-about [companyProfile]="companyProfile"></customer-project-request-dialog-about>
          </div>
        </div>


        <!--REVIEWS-->
        <div class="tab-panel" [ngClass]="{'active' : activeTab == 'REVIEWS'}">
          <div class="company-reviews-wrapper">
            <customer-project-request-dialog-reviews [(projectRequest)]="projectRequest" [(newReviewStatus)]="isReviewSend" (showAddReviewForm)="openAddReviewForm()"></customer-project-request-dialog-reviews>
          </div>
        </div>
      </div>

      <!--ADD REVIEW FOR DESKTOP-->
      <div *ngIf="showAddReviewForm">
        <customer-add-review-form [projectRequest]="projectRequest" (onLoadReviews)="reviewSend($event)"></customer-add-review-form>
      </div>
    </div>


    <!--SIDEBAR-->
    <div class="sidebar xs-none sm-none md-none" [cvSpinner]="!companyProfile" [cvSpinnerSize]="24">
        <mat-icon class="close-modal" color="accent" (click)="close()">clear</mat-icon>
      <div class="sidebar-information" *ngIf="companyProfile">
        <div class="logo" [ngClass]="{'-archived': companyProfile.deleted}"
           [ngStyle]="companyProfile.iconUrl && companyProfile.iconUrl != '' && !companyProfile.deleted ? {'background-image':'url(' + companyProfile.iconUrl + ')'} : {'background-image':'url(assets/img/pro_avatar.svg)'}"></div>
        <div class="info-block">
          <div [ngClass]="{'-archived': companyProfile.deleted}" class="company-name">
            <span class="name">{{companyProfile.name}}</span>
            <span class="declined" *ngIf="projectRequest && projectRequest.status == ProjectRequest.Status.DECLINED">Declined</span>
            <span class="hired" *ngIf="projectRequest && projectRequest.status == ProjectRequest.Status.HIRED">Hired</span>
          </div>

          <div class="rating">
            <div class="company-rating">{{companyProfile.rating | number:'1.0-1'}}</div>
            <rating-component [rating]="companyProfile.rating" [starSize]="16"
                              [readOnly]="true"></rating-component>
            <div class="company-reviews-count">({{companyProfile.reviewCount}})
            </div>
          </div>

          <div class="approve-mark" *ngIf="companyProfile.approved">
            <img class="approve-icon" src="assets/icons/approve.svg">
            <div class="approve-text">Approved by Home Improve</div>
          </div>

          <div class="phone-block" *ngIf="companyProfile.phone">
            <div class="phone-group">
              <div class="label">Phone number:</div>
            </div>
            <div class="phone-group">
              <a class="value" [href]="'tel:'+companyProfile.phone">{{companyProfile.phone}}</a>
            </div>
          </div>
        </div>
        <div class="buttons-block"
             *ngIf="projectRequest && projectRequest.status == ProjectRequest.Status.ACTIVE && !Project.isArchived(projectRequest.projectStatus)">
          <button cv-button-empty class="hire-company-button" (click)="hireCompany(projectRequest)">Hire</button>
          <span class="message" (click)="$event.preventDefault()">
              Don't want to receive requests and messages from other professionals about this project? Hire one and let others know.
          </span>
          <button cv-button class="decline-company-button" (click)="declineCompany(projectRequest)">Decline</button>
        </div>
        <div class="add-review-button-container"
             *ngIf="((projectRequest && projectRequest.status == ProjectRequest.Status.HIRED) || (projectRequest && projectRequest.status == ProjectRequest.Status.COMPLETED)) && !projectRequest.reviewed">
          <button cv-button (click)="openAddReviewForm()" class="add-review" [disabled]="isLeaveReviewButtonDisabled">
            Leave review
          </button>
        </div>
      </div>


    </div>
  </div>
</div>
