@import "../../../../improver-mixins.scss";

:host {
  width: 100%;
  height: 700px;
  display: flex;
  background-color: $black-500;
  background-image: url(../../../../assets/img/background_1.jpg);
  background-size: cover;
  background-position: 50%;
  position: relative;
  flex-direction: column;
  align-items: center;

  @include response-to(sm) {
    justify-content: center;
    padding: 100px 24px;
    height: auto;
  }

  @include response(xs) {
    padding: 50px 12px;
  }

  &:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
h1, p {
  position: relative;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  color: $white;
  text-align: center;
}

h1 {
  font-size: 42px;
  margin: 177px 0 0 0;
  font-weight: 400;
  @include response-to(sm) {
    font-size: 35px;
    margin: 0;
  }
  @include response(xs){
    font-size: 27px;
  }
}

p {
  max-width: 674px;
  font-size: 24px;
  margin: 39px 0 0 0;
  @include response-to(sm) {
    font-size: 18px;
  }
  @include response(xs){
    font-size: 15px;
    line-height: 1.5;
  }
}

main-search-bar {
  margin-top: 53px;

  @include response-to(md) {
    width: 100%;
    padding: 0 24px;
  }

  @include response(sm) {
    padding: 0;
  }

  @include response(xs) {
    padding: 0 12px;
  }
}
