@import "improver-mixins.scss";

:host {
  height: 100%;
  display: block;
}

agm-map::ng-deep {
  .agm-map-container-inner {
    height: 100%;
  }
}

.open-sidenav {
  position: absolute;
  z-index: 1;
  box-shadow: elevation(2);
  top: 12px;
  left: 0;
  background-color: #ffffff;
  border: 1px solid whitesmoke;
  border-radius: 0 8px 8px 0;
  padding: 10px 16px;
  cursor: pointer;
  color: $grey-500;
  width: auto;
  height: auto;
}

.mat-sidenav-container {
  height: 100%;
  flex-grow: 1;
  font-weight: normal;
  z-index: auto;

  @include response-to(xs) {}
  @include response(sm) {}

  ::ng-deep .mat-drawer-inner-container {
    overflow: hidden;
  }

  ::ng-deep .mat-drawer-backdrop {
    visibility: hidden;
  }

  .mat-sidenav {
    z-index: 2;
    padding: 0px 0px 2px 0px;
    width: 320px;
    overflow-y: visible;
    visibility: visible !important;

    .close-sidenav {
      display: flex;
      align-items: center;
      margin-left: 8px;
      cursor: pointer;
      color: $grey-500;
    }

    .loading-backdrop {
      pointer-events: none;
      background-color: rgba(0, 0, 0, 0);
      height: 100%;
      position: absolute;
      z-index: 1;
      width: 100%;
      transition: all 0.3s ease-in 0s;

      &.loading {
        pointer-events: all;
        background-color: rgba(0, 0, 0, 0.15);
        display: block;
        transition: all 0.2s ease-out 0s;
      }

    }
  }

  ::ng-deep mat-sidenav-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .map-wrapper {
    position: absolute;
    left: 320px;
    bottom: 0;
    top: 0px;
    right: 0;
    z-index: 1;
    @include response(xs, md) {
      left: 0;
    }
  }

}

.service-area-button {
  padding: 10px 24px 10px 12px;
  position: absolute;
  top: 12px;
  right: 0;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 8px 0 0 8px;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
  cursor: pointer;

  @include response-to(md) {
    padding: 10px 28px 10px 22px;
    border-radius: 8px 0 0 8px;
  }

  &:hover {
    background-color: $grey-100;
  }

  &:active {
    transform: scale(0.975);
  }

  mat-icon {
    font-size: 24px;
    color: $grey-500;
  }

  .link {
    width: max-content;
    font-size: 16px;
    text-decoration: none;
    margin-left: 12px;
    color: $dark;
  }
}

mat-progress-bar {
  position: absolute;
  width: 100%;
  z-index: 9999;
}

::ng-deep .si-wrapper-top {
  pointer-events: all;
}
