<div class="block-title">{{title}}</div>

<div class="testimonials-content">
  <div class="list-wrapper" (swipeleft)="moveLeft()" (swiperight)="moveRight()">
    <div class="list" @blockInitialRenderAnimation>

      <div *ngFor="let testimonial of testimonials; index as i;" [@animator]="{value: i, params: {transformX: transformX}}" (@animator.done)="animationDone($event)">
        <div class="testimonial" [style.minHeight.px]="minHeight">

          <div class="body">{{testimonial.text}}</div>
          <div class="author">
            <div class="logo">
              <img [src]="testimonial.avatar" alt="" class="avatar" *ngIf="testimonial.avatar">
              <mat-icon *ngIf="!testimonial.avatar">account_box</mat-icon>
            </div>
            <div class="info">
              <div class="name">{{testimonial.fullName}}</div>
              <div class="additional-info">
                {{testimonial.description}}, {{testimonial.state}}
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="controls-wrapper">

    <div class="separator"></div>

    <div class="controls noselect">
      <div class="next" (click)="moveLeft()">
        <span class="material-icons">navigate_next</span>
      </div>
      <div class="previous" (click)="moveRight()">
        <span class="material-icons">navigate_before</span>
      </div>
    </div>
  </div>
</div>
