@import "../../scss/variables";

:host {
  display: block;
  vertical-align: middle;
  cursor: pointer;
  box-sizing: border-box;
  &:not(:last-child) {
    margin-right: 8px;
  }
  &.-checked {
    .checkbox-icon {
      border-color: $primary-500;
      background-color: $primary-500;
      &:after {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAc1gAAHNYBTCInoQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEtSURBVGiB7di/LgRRFMDhi8hWFN7AExAFNY8gWy4vhU6BUusZlDTeQLkkNBo2+RRmkrFm/2LnTnK+fu6eX87szGZTCiGEEEIIs8AhzrHS9CxzQw8DX27QaXqmmRWbePfdNVZHXbO8yAGngV5K6TqlNDx0P6U0WPxEc8BR5XaqOsVS0/NNJSJyERG5iIhcNBqBHaz/wTldP9/YcIH/fTnjAG+4x8YvzjluchP7RURprpgxEWeLiOjgsebDb7E2wzldfDRyO1WG2MZzzRBTbabRTdQMM1dMVhGVoWaKyTKiMtyomLtqTNYRpUkxrYgoYQ+vNcM+qH86Xcr1z4Mxm8l/E8OKmKdWR5SwNSKmPREl7OKlEnGV7XdikmIzfZy0bhPDsGlRv51CCCGEENrhE2qM47US0sSJAAAAAElFTkSuQmCC');
      }
    }
  }
  &.-disabled {
    cursor: not-allowed;
    .checkbox-icon {
      border-color: $black-200;
    }
    .checkbox-label {
      color: $black-200;
    }
  }
  &:not(.-disabled):hover {
    .checkbox-icon {
      border-color: $primary-500;
    }
  }
}

input[type=checkbox] {
  display: none;
}

.checkbox-icon {
  width: 19px;
  height: 19px;
  border-radius: 2px;
  border: 1px solid $black-400;
  background-color: $white;
  display: inline-flex;
  vertical-align: middle;
  transition: background-color .3s ease;
  flex: none;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}

.checkbox-label {
  font-weight: 500;
  color: $black-primary;
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
}
