@import "improver-mixins";
@import "../../account.component";

.account-nav-title {
  font-size: 24px;
  font-weight: 600;
  color: $black-800;
}

.card {
  background-color: $white;
  border-radius: 2px;
  padding: 24px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  h3 {
    font-size: 20px;
    text-align: left;
    font-weight: 500;
    padding: 0;
    color: $black-800;
    margin-top: 0px;
    margin-bottom: 18px;
    @include response-to(xs) {
      margin: 8px 8px 16px 8px;
    }
  }
}

.notification-settings-card {
  padding: 24px;
  margin-bottom: 24px;
  margin-top: 24px;

  @include response-to(xs) {
    padding: 12px;
    margin-top: 0px;
  }

  .notification-settings-title {
    font-size: 18px;
    color: $black-800;
    margin-bottom: 27px;
    font-weight: 600;
  }

  .notification-methods-wrapper {

    .notification-settings-form-content {
      width: 100%;

      .notifications-row {
        display: flex;
        flex-direction: row;
        padding-top: 12px;
        padding-bottom: 12px;
        border-bottom: solid 1px $grey-200;

        .title-block {
          flex-grow: 1;

          .label {
            color: $black-800;
            margin: 2px 0px;
            font-weight: 600;

          }

          .hint {
            color: $grey-500;
            @include response-to(xs) {
              font-size: 12px;
            }
          }

        }

        .values {
          display: flex;
          flex-direction: row;

          ::ng-deep cv-checkbox {
            .checkbox-label {
              margin-left: 0px;
            }
          }

          .email-value {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
          }

          .sms-value {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
          }

        }

      }

    }

    .notification-settings-submit-button {
      margin-top: 10px;
    }

  }

}
