<div class="header">
  <div class="header-content">
    <!--TODO: rework menu items with separate components?-->
    <div class="header-left">
      <!--Mobile menu button-->
      <button class="mobile-menu-button md-none lg-none xlg-none" mat-button color="primary" (click)="isMobMenuOpened = !isMobMenuOpened">
        <mat-icon class="mobile-menu-icon">menu</mat-icon>
      </button>

      <div class="nav navbar-nav navbar-left">
        <div class="find-professionals-wrapper" *ngIf="securityService.hasRole(Role.CUSTOMER) || !securityService.isAuthenticated() && (!mediaQuery.xs && !mediaQuery.sm)">
          <find-professionals></find-professionals>
        </div>

        <button class="menu-button lead-search-icon md-none lg-none xlg-none" mat-button color="accent" *ngIf="(mediaQuery.xs || mediaQuery.sm) && securityService.hasRole(Role.CONTRACTOR)" routerLink="/pro/leads-search">
          <mat-icon class="mobile-menu-icon">search</mat-icon>
        </button>

        <!--Desktop left links-->
        <div class="links-wrapper xs-none sm-none"
             *ngIf="securityService.isAuthenticated() && securityService.hasRole(Role.CUSTOMER)">
          <a class="link" routerLink="/my/projects" routerLinkActive="active">My Projects</a>
        </div>
        <div class="links-wrapper xs-none sm-none"
             *ngIf="securityService.isAuthenticated() && securityService.hasRole(Role.CONTRACTOR)">
          <a class="link" routerLink="/pro/dashboard" routerLinkActive="active">Dashboard</a>
          <a class="link" [routerLink]="'/pro/leads-search'" routerLinkActive="active">Find Projects</a>
        </div>
      </div>
      <!--Logo-->
      <a class="logo xs-none sm-none" routerLink="/"></a>
    </div>
    <div class="logo-mobile-container md-none lg-none xlg-none">
      <a class="logo" routerLink="/"></a>
    </div>

    <div class="header-right">

      <div class="find-professionals-wrapper" *ngIf="(mediaQuery.xs || mediaQuery.sm) && !securityService.isAuthenticated()">
        <find-professionals></find-professionals>
      </div>

      <!--Notification icon-->
      <div class="notification-bar navbar-right" *ngIf="securityService.isAuthenticated()">
        <button class="menu-button" mat-button color="accent" (click)="isNotificationsPopupOpened = !isNotificationsPopupOpened">
          <mat-icon class="mobile-menu-icon">notifications</mat-icon>
          <div class="counter" *ngIf="notificationResource.unreadNotificationsCounter + (notificationResource.unreadMessagesCount$ | async ) > 0"><span>{{notificationResource.unreadNotificationsCounter + (notificationResource.unreadMessagesCount$ | async )}}</span></div>
        </button>
        <div class="holder">
          <notifications-popup [(toggle)]="isNotificationsPopupOpened"></notifications-popup>
        </div>
      </div>



      <!--Balance information-->
      <a class="balance-bar xs-none sm-none"
         *ngIf="securityService.isAuthenticated() && securityService.hasRole(Role.CONTRACTOR)"
         routerLink="/pro/settings/billing">
        <div>
          <div class="balance-header-label">Balance:</div>
          <div class="balance-header-value">{{ billingService.billing.balance /100 | currency:'USD':'symbol'}}</div>
        </div>
      </a>

      <div class="nav navbar-nav">
        <a class="app-menu-button account-menu" title="{{securityService.getLoginModel().name}}"
           *ngIf="securityService.isAuthenticated()" (click)="isMobMenuOpened = !isMobMenuOpened">
          <div class="account-icon" [ngClass]="{'mobile': mediaQuery.xs || mediaQuery.sm}"
               [ngStyle]="securityService.getLoginModel().iconUrl && securityService.getLoginModel().iconUrl != '' && {'background-image':'url(' + securityService.getLoginModel().iconUrl + ')'} || securityService.getLoginModel().company && {'background-image':'url(/assets/img/company-logo-placeholder.png)'} || {'background-image':'url(/assets/img/user-logo-placeholder.png)'}"></div>
          <div class="user-name xs-none sm-none md-none" *ngIf="securityService.isAuthenticated()">
            {{securityService.getLoginModel().name | truncate:18: '...'}}
          </div>
        </a>
        <div class="holder">
          <main-menu [(toggle)]="isMobMenuOpened"></main-menu>
        </div>
      </div>

      <!--Right menu on desktop for ANONYMOUS-->
      <div class="navbar-right xs-none sm-none"
           *ngIf="!securityService.isAuthenticated() && ( securityService.hasRole(Role.ANONYMOUS) || securityService.hasRole(Role.INCOMPLETE_PRO))">
        <a routerLink="/login">Log in</a>
        <a routerLink="/signup">Sign up</a>
        <a class="join-as-pro-button" routerLink="/become-pro">
          <div class="join-as-pro-button-text">Become a Pro</div>
        </a>
      </div>
    </div>
  </div>
</div>

<phone-help></phone-help>
