@import "improver-mixins.scss";

:host {
  display: block;
  z-index: 900;
}

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  height: $header-height;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
  z-index: 80;
  width: 100%;
}

.header {
  position: fixed;
  user-select: none;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  height: $header-height;
  background-color: $white;
  display: flex;
  justify-content: center;
  z-index: 100;

  .header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    padding: 0 12px;

    @include response-to(sm) {
      padding: 0;
    }

    @include response(md,lg) {
      padding: 0 24px;
    }

    @include response-from(xlg) {
      max-width: $content-grid-max-width;
      padding: 0;
    }

    .header-left, .header-right {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
    }

    .lead-search-button {
      display: flex;
      width: 40px;
      min-width: 40px;
      height: 40px;

      align-items: center;
      justify-content: center;
      color: $dark;
      padding: 0px;
    }

    .header-left {
      @include response-to(sm) {
        flex-direction: row;
      }

      .logo {
        cursor: pointer;
        font-weight: 600;
        letter-spacing: 1.4px;
        text-align: left;
        color: #363636;
        font-size: 21px;
        background: url(../../../assets/img/logo.png) no-repeat center center;
        background-size: contain;
        width: 100px;
        height: 60px;
        margin-right: 20px;
      }

      .navbar-left {
        display: flex;
        align-items: center;
      }

    }

    .header-right {
      flex-direction: row;

      @include response-to(sm) {
        flex-direction: row;
        position: static;
        z-index: 1;
      }

      //Notifications
      .notification-bar {
        cursor: pointer;
        color: $dark;
        font-size: 26px;
        width: 60px;
        height: 60px;
        display: flex;
        max-height: 100%;
        align-items: center;
        justify-content: center;

        @include response-to(md) {
          width: 40px;
          height: 40px;
          margin-right: 10px;
        }

        .counter {
          position: absolute;
          top: 11px;
          right: 13px;
          border-radius: 50%;
          background-color: $primary-500;
          height: 16px;
          width: 16px;
          color: white;
          box-shadow: 0px 0px 0px 2px rgba(255,255,255,1);

          @include response-to(md) {
            top: 4px;
            right: 4px;
          }

          span {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            font-size: 10px;
            line-height: 16px;
          }
        }

        .mat-button {
          width: 60px;
          height: 60px;
          padding: 0px;
          min-width: unset;

          @include response-to(md) {
            width: 40px;
            height: 40px;
          }
        }

        .mat-icon {
          font-size: 28px;
          color: $dark;
        }
      }

      // Only for Safari 10+
      @media not all and (min-resolution: .001dpcm) {
        @media all {
          .notification-bar {
            .counter {
              span {
                margin-top: -1px;
              }
            }
          }
        }
      }

      //Balance
      .balance-bar {
        margin-left: -8px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        color: $dark;

        @include response(md) {
          margin-right: 4px;
        }

        .balance-header-label {
          font-size: 12px;
        }

        .balance-header-value {
          font-size: 14px;
        }

        &:hover {
          color: $primary-500;
        }
      }

      //Desktop links in menu
      a {
        padding: 8px 12px;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        color: $grey-600;
        cursor: pointer;

        &:hover {
          color: $primary-500;
        }
      }

      .navbar-right {
        display: flex;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          color: $dark;
          font-size: 16px;

          &.auth-button {
            opacity: 0.4;
            margin-left: 6px;

            &:hover {
              color: $dark;
            }

          }

          &.became-a-pro {
            padding: 8px 16px;
            font-weight: 600;
            border-radius: 8px;
            font-size: 16px;
            color: $blue-primary;
            margin-left: 16px;
            border: 2px solid $blue-primary;

            @include response-to(md) {
              font-size: 16px;
              padding: 8px 20px;
              margin-left: 28px;
            }

          }
        }
      }

      .app-menu-button {
        color: $dark;
        font-weight: 500;
        cursor: pointer;
        padding: 0 5px;
        max-height: 100%;
        display: flex;
        align-items: center;

        @include response-to(md) {
          padding: 0px;
          width: 50px;
          height: 50px;
        }

        &.account-menu {
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;

          @include response-to(md) {
            width: 50px;
            height: 50px;
          }

          @include response-to(sm) {
            width: 40px;
            height: 40px;
            margin-right: 10px;
          }
        }

        .account-icon {
          width: 35px;
          height: 35px;
          border-radius: 36px;
          background-size: cover;
          background-position: center;
          background-color: $grey-200;

          &.present {
            border: 1px solid $grey-300;
          }

          &.mobile {
            width: 40px;
            height: 40px;

          }

        }

        .user-name {
          font-size: 14px;
          white-space: nowrap;
          padding-left: 6px;
          color: $dark;
          margin-right: 8px;
        }

        .imp-icon-angle-right {
          color: #696969;

          &.active {
            transform: rotate(90deg);
            color: #696969;
          }
        }
      }
    }

    .logo-mobile-container {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90px;
      height: 32px;

      .logo {
        font-weight: 600;
        letter-spacing: 1.4px;
        color: #363636;
        background: url(../../../assets/img/logo.png) no-repeat center center;
        background-size: contain;
        width: 100%;
        height: 100%;
        padding: 0;
        font-size: 19px;
      }
    }
  }

  .mobile-header-button {
    padding: 0;
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;

    &.menu-button {
      margin-left: 10px;
    }

    .mobile-menu-icon {
      display: inline-block;
      cursor: pointer;
      font-size: 24px;
      color: $dark;

      i {
        color: $dark;
      }

    }
    span {
      color: $dark;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 0;
    }
  }

  .navbar-nav {

    .links-wrapper {
      .link {
        display: inline-block;
        font-weight: 500;
        cursor: pointer;
        color: $dark;
        padding: 21px 12px;
        font-size: 16px;
        text-decoration: none;

        &.active, &:hover {
          -webkit-background-clip: text;
          background-clip: text; //TODO: find out why it is highlighted
          -webkit-text-fill-color: transparent;
          background-image: linear-gradient(to bottom, $primary-500, $primary-600);
        }
      }
    }
  }
}

.holder {
  @include response-from(md) {
    position: relative;
  }
}

.find-professionals-wrapper {
  z-index: 1;
  margin-right: 10px;
  margin-left: 0px;

  @include response-to(md) {
    margin-left: 7px;
  }
}

