@import "../../../improver-mixins.scss";

:host {
  display: block;
}
main-search-bar {
  display: flex;

  .mobile-service-type-form-group {
    border: none !important;
  }
}

.search-wrapper {
  width: 100%;
  justify-content: center;

  .container {
    max-width: $content-grid-max-width;
    margin: 0 auto;
    padding: 0;

    @include response-to(lg) {
      padding: 0 24px;
    }

    @include response(xs) {
      padding: 0 20px;
    }
  }
}

.title {
  text-align: center;
  margin-top: 48px;
  @include response(xs, sm){
    font-size: 24px;
    margin: 24px 0px;
  }
}

.search-bar {
  text-align: left;
  margin-top: 54px;

  @include response(xs, sm){
    margin-top: 24px;
  }
}

.no-result-text {
  margin-top: 24px;
  color: #7f7f7f;
  font-size: 16px;

  @include response(md){
    width: max-content;
  }
}

.results {
  margin-top: 24px;
  margin-bottom: 36px;

  @include response(xs, sm){
    display: flex;
    flex-direction: column;
  }

  @include response(md){
    width: 527px;
    align-self: center;
    display: flex;
    justify-self: center;
    flex-direction: column;
  }

  @include response(sm){
    width: 543px;
  }

  a {
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;

    &:hover {
      color: $link;
    }

    @include response(xs){
      width: 100%;
    }

  }
}

.load-more {
  margin-top: 18px;
  margin-bottom: 18px;
  background-color: #fafafa;
}

main-search-bar {
  @include response(xs){
    display: block;
  }
}
