@import "../../../improver-mixins.scss";

:host {
  display: block;
}

.container {
  max-width: 794px;
}

.title {
  text-align: center;
  margin-top: 48px;
  @include response(xs, sm){
    font-size: 24px;
    margin: 24px 0px;
  }
}

.search-bar {
  text-align: center;
  margin-top: 54px;
  @include response(xs, sm){
    margin-top: 24px;
  }
}

.results {
  margin-top: 36px;
  margin-left: 16px;

  a {
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
    &:hover {
      color: $link;
    }
    @include response(xs){
      width: 100%;
    }
  }

  @include response(xs, sm){
    align-items: center;
    align-self: center;
    display: flex;
    justify-self: center;
    flex-direction: column;
    margin: 24px auto;
  }

  @include response(md){
    width: 527px;
    align-items: center;
    align-self: center;
    display: flex;
    justify-self: center;
    flex-direction: column;
    margin: 24px auto;
  }

}

.load-more {
  margin-bottom: 18px;
}

main-search-bar {
  @include response(xs){
    display: block;
  }
}
