@import "../../../../../../../../improver-mixins";

cv-input-field {
  &::ng-deep {
    cv-field-label {
      display: inline-block;
      @include response-to(xs) {
        background-color: $white;
        padding: 1px 3px;
        margin-left: 4px;
        margin-bottom: 0;
        border-top-right-radius: 2px;
        border-top-left-radius: 2px;
      }
    }
  }
  &:not(:last-child) {
    margin-bottom: 12px;
    @include response-to(xs) {
      margin-bottom: 0px;
    }
  }
}
form {
  @include response-to(xs) {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  cv-input-field {
    cv-select {
      background-color: $white;
    }
    @include response-to(xs) {
      width: 50%;
      max-width: 200px;
      padding: 0 9px 24px;
    }
    @include response(xs) {
      width: 205px;
      .cv-input {
        font-size: 13px;
      }
    }
    &::ng-deep {
      cv-field-error {
        @include response-to(xs) {
          background-color: $white;
        }
      }
    }
  }
}

.cv-slider {
  margin-bottom: 0;
  margin-top: 0px;
  @include response-to(xs) {
    margin-top: 16px;
  }
}

.find-zip {
  width: 0;
}

