<form *ngIf="!media.xs && !media.sm" class="main-search-form" [formGroup]="mainSearchFormGroup" (ngSubmit)="searchServiceType(mainSearchFormGroup)" (mouseleave)="mouseleave($event)">
  <div class="service-type-form-group">
    <cv-select class="main-search-service-input"
               [highlightErrors]="false"
               label="Pipe, carpet, paint, etc."
               [formControl]="serviceTypeCtrl"
               [items]="filteredServiceTypes"
               [disableItemsMatch]="true"
               [autocomplete]="true"
               [allowAnyValue]="true"
               [propagateEnterEvent]="false"
               labelKey="name"
               valueKey="name"
               [dropdownBorder]="false"
               [trackBy]="selectTrackBy"
               (autocompleteSearch)="autocompleteSearch($event)"
               (onClose)="mouseleave($event)">
    </cv-select>
    <div class="error-holder" *ngIf="mainSearchFormGroup.get('serviceTypeCtrl').dirty || mainSearchFormGroup.get('serviceTypeCtrl').touched">
      <div *ngIf="mainSearchFormGroup.get('serviceTypeCtrl').errors?.required">
        Please tell us what do you need
      </div>
    </div>

  </div>
  <div class="zip-code-form-group">
    <div class="main-search-zip-input-wrapper">
      <mat-icon class="location-icon">room</mat-icon>
      <input [formControlName]="'zipCodeCtrl'" class="main-search-zip-input" numericMask  type="text" placeholder="Zip code" maxlength="5">
    </div>
    <div class="error-holder" *ngIf="mainSearchFormGroup.get('zipCodeCtrl').dirty || mainSearchFormGroup.get('zipCodeCtrl').touched">
      <div *ngIf="mainSearchFormGroup.get('zipCodeCtrl').errors?.required">
        Zip code is required
      </div>
      <div *ngIf="mainSearchFormGroup.get('zipCodeCtrl').errors?.pattern">
        Please enter a valid ZIP code
      </div>
    </div>

  </div>
  <div class="submit-button-form-group">
    <button type="submit">{{mainButtonText}}</button>
  </div>

</form>


    <!--Mobile ( xs, sm ) version-->
<form *ngIf="media.xs || media.sm" class="mobile-main-search-form" [formGroup]="mainSearchFormGroup"
      (ngSubmit)="searchServiceType(mainSearchFormGroup)" (mouseleave)="mouseleave($event)">

  <div class="mobile-service-type-form-group">
    <input #serviceType class="mobile-main-search-service-input"
           [formControl]="serviceTypeCtrl"
           type="text"
           placeholder="Pipe, carpet, paint, etc."
           (click)="openMobileSearchBar()">
  </div>

  <div class="mobile-submit-button-form-group" (click)="openMobileSearchBar()">
    <button type="submit">{{mainButtonText}}</button>
  </div>

</form>
