@import "../../../improver-mixins";
:host {
  display: inline-block;
}

.main-search-form {
  position: relative;
  font-size: 16px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  width: 770px;
  margin: 0 auto;

  @include response-to(md) {
    width: 100%;
  }

  @include response(xs){
    flex-direction: column;
    max-width: 100%;
  }
}

.service-type-form-group {
  width: 57%;
  z-index: 30;
  position: relative;

  @include response-to(sm) {
    width: 100%;
  }
  @include response(xs){
    border-bottom: 1px solid $grey-300;
  }

  cv-select ::ng-deep {
    .cv-input {
      border-color: $white;
      height: 59px;
      font-size: 16px;
      border-radius: 0;
      @include response(xs){
        border: 0;
        font-size: 16px;
        height: 45px;
      }
    }
  }
}

.mobile-main-search-form {
  position: relative;
  font-size: 16px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 45px;
  padding: 0;
  margin: 0 auto;
}

.mobile-submit-button-form-group {
  width: 25%;
  z-index: 30;
  position: relative;

  button {
    font-size: 13px;
    background-image: linear-gradient(to bottom, $primary-400, $primary-600 85%);
    border: none;
    height: 100%;
    color: $white;
    width: 100%;

    &:hover {
      background-image: linear-gradient(to top, $primary-400, $primary-600 85%);
    }

    &:active {
      background: $primary-500 none;
    }
  }
}

.mobile-service-type-form-group {
  width: 75%;
  z-index: 30;
  position: relative;
  border-bottom: 1px solid $grey-300;

  .mobile-main-search-service-input {
    border: 0;
    font-size: 16px;
    padding: 0;
    padding-left: 16px;
    width: 100%;
    height: 100%;
  }
}

.zip-code-form-group {
  min-width: 106px;
  width: 20%;
  position: relative;

  @include response-to(sm) {
  }

  @include response(xs){
    width: 100%;
    border-bottom: 1px solid $grey-300;
  }

  .main-search-zip-input-wrapper {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    padding: 0 15px;
    background-color: white;
    border-left: solid 1px $grey-250;

    mat-icon {
      margin-top: -5px;
      font-size: 20px;
      color: $grey-250;
      margin-right: 4px;
    }

    .main-search-zip-input {
      width: 100%;
      border: none;
      height: 59px;
      font-size: 16px;
      border-radius: 0;

      @include response-to(sm) {
      }

      @include response(xs){
        width: 100%;
        font-size: 16px;
        height: 45px;
      }
    }

  }
}

.submit-button-form-group {
  width: 24%;
  z-index: 30;
  position: relative;
  min-width: 130px;

  @include response(xs) {
    width: 100%;
  }

  button {
    font-size: 16px;
    background-image: linear-gradient(to bottom, $primary-400, $primary-600 85%);
    border: none;
    height: 59px;
    color: $white;
    width: 100%;

    @include response(xs){
      height: 45px;
      font-size: 13px;
    }

    &:hover {
      background-image: linear-gradient(to top, $primary-400, $primary-600 85%);
    }

    &:active {
      background: $primary-500 none;
    }

  }

}

.error-holder {
  z-index: 10;
  font-size: 10px;
  background-color: $grey-100;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  >div {
    padding: 5px;
    color: $red;
    &:last-child {
      border-left: 1px solid $grey-250;
    }
  }
}
