<div class="billing-transactions-wrapper" *ngIf="transactions">
  <div class="billing-transactions-container">

    <div class="header">
      Balance History
    </div>

    <div class="content">
      <div class="transactions-table">
        <div class="table-header" fxLayout="row">
          <div class="icon" fxFlex="10"></div>
          <div class="action xs-none sm-none md-none" fxFlex="13">Type</div>
          <div class="date" fxFlex="15">Date</div>
          <div class="description" fxFlex="">Description</div>
          <div class="amount" fxFlex="15">Amount</div>
          <div class="balance" fxFlex="15">Balance</div>
        </div>
        <div class="table-content">
          <ng-template ngFor let-transaction [ngForOf]="transactions" let-i="index" let-isEven="even" [ngForTrackBy]="trackByFn">
            <a class="transaction" fxLayout="row" fxLayoutAlign="center center"
                 [ngClass]="[isEven ? 'even-row' : 'odd-row', transaction.type | toclassname]" [routerLink] = "transaction.type != TransactionType.BONUS ? ['/pro/receipt/trans', transaction.id] : []">
              <div class="icon" fxFlex="10" fxLayoutAlign="center center">
                <img title="Pay & Go lead" alt="Purchase" *ngIf="transaction.type == TransactionType.PURCHASE && transaction.manualLead && !transaction.charge" src="/assets/img/transaction-types/purchase.svg">
                <img title="Card purchase" alt="Purchase" *ngIf="transaction.type == TransactionType.PURCHASE && transaction.manualLead && transaction.charge" src="assets/img/dashboard-project-purchase.blue.svg">
                <img title="Subscription lead" alt="Subscription" *ngIf="transaction.type == TransactionType.PURCHASE && !transaction.manualLead" src="assets/img/dashboard-project-subscription.blue.svg">
                <img src="/assets/img/transaction-types/bonus.svg" *ngIf="transaction.type == TransactionType.BONUS">
                <img src="/assets/img/transaction-types/refund.svg" *ngIf="transaction.type == TransactionType.RETURN">
                <img src="/assets/img/transaction-types/replenishment.svg" *ngIf="transaction.type == TransactionType.REPLENISHMENT">
                <img src="/assets/img/transaction-types/subscription.svg" *ngIf="transaction.type == TransactionType.SUBSCRIPTION">
              </div>
              <div class="action xs-none sm-none md-none" fxFlex="13"  [ngClass]="transaction.type | toclassname">{{transaction.type}}</div>
              <div class="date" fxFlex="15" [style.padding-right.px]="5">
                <div>{{transaction.created | date:'MM/dd/yy' }}</div>
                <div>{{transaction.created | date:'shortTime' }}</div>
              </div>

              <div class="description" fxFlex="" fxLayout="column">
                <div>{{transaction.description}}</div>
                <div>{{transaction.details}}</div>
              </div>
              <div class="amount" fxFlex="15">
                <span *ngIf="transaction.outcome">-</span>
                <span>{{transaction.amount / 100 | currency:'USD':'symbol'}}</span>
              </div>
              <div class="balance" fxFlex="15">{{transaction.balance / 100 | currency:'USD':'symbol'}}</div>
            </a>
          </ng-template>

          <div class="no-data-row" *ngIf="!transactionsProcessing && transactions.length == 0">You have no transactions yet</div>

        </div>
        <div class="table-footer" *ngIf="!transactionsPage.last"
             [cvSpinner]="transactionsProcessing"
             [cvSpinnerSize]="20"
             [cvSpinnerBackground]="true">
          <div class="show-more-button" (click)="getTransactions()">Show more</div>
        </div>
      </div>
    </div>
  </div>

</div>
