@import "improver-mixins.scss";

:host {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 32px;
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  @include response(sm, md) {
    font-size: 24px;
  }
  @include response(xs) {
    font-size: 18px;
  }
}
p {
  font-size: 18px;
  margin: 0;
  margin-bottom: 12px;
}

img {
  max-width: 400px;
  width: 100%;
  height: auto;
}
