<table class="list-wrapper" cellpadding="0" cellspacing="0">
  <ng-template let-project let-last="last" ngFor [ngForOf]="list">
    <tr class="item">
      <td class="item-icon" [ngStyle]="project.customer.iconUrl && project.customer.iconUrl != '' && {'background-image':'url(' + project.customer.iconUrl + ')'} || {'background-image':'url(/assets/img/user-logo-placeholder.png)'}">
        <i class="notifications" *ngIf="project.unreadMessages > 0" title="{{unreadMessagesTittle(project.unreadMessages)}}">{{project.unreadMessages}}</i>
      </td>
      <td width="50%" class="item-name" [routerLink]="['/pro/projects', project.id]">
        <div>{{project.customer.name}}</div>
        <div class="item-service">{{project.serviceType}}</div>
        <div class="item-date xs-visible">{{project.created | date}}</div>
        <div class="item-status xs-visible status {{project.status | toclassname }}">{{project.status | statustostring }}</div>
      </td>
      <td width="20%" class="item-date xs-none" [routerLink]="['/pro/projects', project.id]">
        <span>{{project.created | date}}</span>
      </td>
      <td width="25%" class="item-status xs-none" [routerLink]="['/pro/projects', project.id]">
        <div class="status {{project.status | toclassname }}">{{project.status |
          statustostring }}
        </div>
      </td>
      <td width="10%" class="item-actions">
        <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
        <mat-menu #menu="matMenu" class="dashboard-menu">
          <button mat-menu-item [routerLink]="['/pro/projects', project.id]">View Lead</button>
          <button mat-menu-item [routerLink]="['/pro/receipt/conn', project.id]">View Receipt</button>
          <button mat-menu-item (click)="openRequestRefundDialog(project)" *ngIf="project.refundable">Return Credit</button>
          <button mat-menu-item (click)="openRefundStatusDialog(project)" *ngIf="project.refundRequested">Return Status</button>
          <button mat-menu-item (click)="projectActionService.sendRequestProjectReview(project)"
                  *ngIf="ProjectRequest.isHiredOrCompleted(project.status) && !project.reviewed && !project.reviewRequested ">Request Review</button>
          <button mat-menu-item (click)="projectActionService.leaveProject(project)" *ngIf="ProjectRequest.canBeLeft(project.status)">Leave</button>
          <button mat-menu-item (click)="projectActionService.closeProject(project)" *ngIf="ProjectRequest.canBeClosed(project.status)">Close</button>
        </mat-menu>
      </td>
    </tr>
  </ng-template>
</table>
