@import "../../../../../../improver-mixins.scss";

.list-wrapper {
  width: 100%;
  position: relative;

  tr {
    width: 100%;
    padding: 11px 0 11px 16px;
    display: flex;
    align-items: center;
    position: relative;
    border-top: 1px solid #eee;
    cursor: pointer;
    &:last-child {
      border-bottom: 1px solid #eee;
    }

    @include response(xs){
      flex-direction: row;
      padding-left: 0;
      align-items: flex-start;
    }

    &:nth-child(even) {
      background-color: rgba(245, 245, 245, 0.58);
    }
    td {
      font-size: 14px;
      text-align: left;
      color: $black;

      &.item-icon {
        min-width: 32px;
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-right: 16px;
        border-radius: 50%;
        background-color: $grey-200;

        @include response(xs){
          margin-left: 12px;
          margin-right: 12px;
        }

        .mat-icon {
          color: $white;
          background: $grey-600;
          border-radius: 50px;
          padding: 4px;
          font-size: 14px;
        }
        .notifications {
          position: absolute;
          top: 4px;
          left: 4px;
          background-color: $red;
          width: 22px;
          height: 22px;
          border-radius: 50%;
          color: $white;
          font-size: 12px;
          line-height: 22px;
          text-align: center;
          font-style: normal;
        }
      }

      &.item-actions {
        color: rgba(0, 0, 0, 0.54);
        text-align: center;

        @include response-from(sm) {
          border-left: 1px solid $grey-300;
          width: 45px;
          display: flex;
          justify-content: center;
        }
      }

      &.item-name, &.item-service {
        @include response(xs){
          display: flex;
          justify-content: center;
          align-items: flex-start;
          text-align: start;
        }
      }

      &.item-service {
        span {
          padding-right: 5px;
        }
      }

      .item-service {
        font-size: 14px;
      }

      &.item-name {
          div {
            &:first-child {
              font-weight: 600;
              font-size: 16px;
            }
          }
      }

      &.item-status {
        @include response-from(sm) {
          text-align: right;
          margin-right: 16px;
        }
        @include response(xs){
          display: flex;
          justify-content: flex-end;
          margin-right: 46px;
          width: 60px;
          min-width: 60px;
          margin-top: 10px;
        }
        .status {
          &.declined {
            color: $red;
          }

        }
      }

      .item-status {
        font-size: 14px;
        &.status {
          font-weight: 400;
          &.declined {
            color: $red;
          }
        }
      }

      @include response(xs) {
        display: block;
        width: 100%;
        text-align: center;

        .icon {
          margin: 0 auto 16px;
        }

        &:before {
          content: attr(data-label);
          float: left;
          font-weight: bold;
          text-transform: uppercase;
        }
        &:last-child {
          border-bottom: 0;
        }

        &.item-actions {
          position: absolute;
          right: 10px;
          top: 15px;
          width: auto;
        }

        &.item-name {
          flex-direction: column;
          font-size: 16px;
          font-weight: 600;
        }

        &.item-date {
          padding-top: 15px;
          font-size: 12px;
          color: $grey-600;
          @include response(xs){
          }
        }

        .item-date {
          font-size: 12px;
          color: $label;
          position: absolute;
          bottom: 14px;
          right: 18px;
        }


      }
    }
  }

  @include response(xs) {
    border: 0;
  }

  .icon {
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 36px;
    height: 36px;
  }
  mat-list {
    padding-top: 0;
    mat-icon {
      color: rgba(#212121, .54);
    }
  }
  ::ng-deep .item .mat-list-item-content {
    padding: 0px;
    color: $black-800;
    font-size: 14px;
    cursor: pointer;

    &:hover, &:active, &:focus {
      background-color: $grey-150;
    }
  }
}

::ng-deep .mat-menu-panel.dashboard-menu {
  position: relative;
  overflow: visible !important;
  box-shadow: none;

  .mat-menu-content {
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.23);

    .mat-menu-item {
      color: #aaaaaa;
      line-height: initial;
      height: auto;
      font-size: 14px;
      padding: 10px 16px;

      &:hover {
        color: #777777;
      }
    }

  }
}

.xs-visible {
  @include response(sm, xlg){
    display: none;
  }
}
