<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templateStaff.html}">

<div layout:fragment="content" style="background-color: #fafafa; font-family: 'Trebuchet MS', sans-serif;">
  <table border="0"
         cellpadding="0"
         cellspacing="0"
         width="100%"
         style="max-width: 600px;">
    <tr>
      <td align="left" width="100%" style="font-family: 'Trebuchet MS', sans-serif">

            <div style="margin-bottom: 24px; font-size: 20px;">
              <span th:if="${userName != null}">Hi</span>
              <b th:if="${userName != null}" th:text="${userName + '.'}"></b>
              <span th:utext="${title}"></span>
            </div>
            <div th:utext="${body}" th:style="${'font-size: 14px; margin-bottom: 24px; white-space: pre-line; text-align: left'}"></div>
            <a
              style="display: block; background: #009ede; padding: 12px; text-align: center; border-radius: 2px;
            color: white; font-size: 14px; font-weight: 500; width: max-content; min-width: 180px; text-decoration: none; margin: 0 auto;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1); cursor: pointer;"
              th:href="${confirmUrl}"
              th:text="${confirmBtnText}"></a>

            <div style="margin-top: 36px; margin-bottom: 8px; font-size: 12px;">If the button does not work for you, please copy and paste this following URL into your browser:</div>
            <div style="word-break: break-all; font-size: 12px;" th:text="${confirmUrl}"></div>

      </td>
    </tr>
  </table>
</div>

</html>
